# Add
## Home / Away Rank

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cfb_wk9.csv')

In [3]:
df

,Rk,Wk,Winner,Pts,Unnamed: 4,Loser,Pts.1,Notes
0,1,1,Florida Atlantic,43,NaN,Charlotte,13,NaN
1,2,1,Florida State,47,NaN,Duquesne,7,NaN
2,3,1,Illinois,38,NaN,Wyoming,6,NaN
3,4,1,Nevada,23,@,New Mexico State,12,NaN
4,5,1,Nevada-Las Vegas,52,NaN,Idaho State,21,NaN
...,...,...,...,...,...,...,...,...
495,496,9,Boise State,19,@,Air Force,14,NaN
496,497,9,Bowling Green,34,@,Central Michigan,18,NaN
497,498,9,Buffalo,34,NaN,Toledo,27,NaN
498,499,9,(21) Cincinnati,29,@,Southern Methodist,27,NaN
499,500,9,(5) Clemson,27,NaN,(14) Syracuse,21,NaN

In [4]:
df = df.drop(columns=['Rk', 'Notes'])

In [5]:
df.shape

(500, 6)

In [6]:
location = df['Unnamed: 4']

In [7]:
# home = []

# for index, row in df.iterrows():
#     location = (row['Unnamed: 4'])
#     if (location == 'N'):
#         home.append(0)
#     elif (location == '@'):
#         home.append(row['Loser'])
#     else:
#         home.append(row['Winner'])

In [8]:
# df['home_team'] = home

In [9]:
df

     Wk            Winner  Pts Unnamed: 4               Loser  Pts.1
0     1  Florida Atlantic   43        NaN           Charlotte     13
1     1     Florida State   47        NaN            Duquesne      7
2     1          Illinois   38        NaN             Wyoming      6
3     1            Nevada   23          @    New Mexico State     12
4     1  Nevada-Las Vegas   52        NaN         Idaho State     21
..   ..               ...  ...        ...                 ...    ...
495   9       Boise State   19          @           Air Force     14
496   9     Bowling Green   34          @    Central Michigan     18
497   9           Buffalo   34        NaN              Toledo     27
498   9   (21) Cincinnati   29          @  Southern Methodist     27
499   9       (5) Clemson   27        NaN       (14) Syracuse     21

[500 rows x 6 columns]

In [10]:
# away = []
# for index, row in df.iterrows():
#     if (row['home_team'] == row['Winner']):
#         away.append(row['Loser'])
#     elif (row['home_team'] == row['Loser']):
#         away.append(row['Winner'])
#     else:
#         away.append(3)

In [11]:
# df['away'] = away

In [12]:
# df

In [13]:
df.shape

(500, 6)

In [14]:
# homes = df['home_team']

In [15]:
# homes.value_counts()

In [16]:
# home_rank = []
# for i in homes:
# #     if(i[1] == "("):
#         print(i[0])

In [17]:
df = df.drop(columns=['Unnamed: 4'])

In [18]:
df

     Wk            Winner  Pts               Loser  Pts.1
0     1  Florida Atlantic   43           Charlotte     13
1     1     Florida State   47            Duquesne      7
2     1          Illinois   38             Wyoming      6
3     1            Nevada   23    New Mexico State     12
4     1  Nevada-Las Vegas   52         Idaho State     21
..   ..               ...  ...                 ...    ...
495   9       Boise State   19           Air Force     14
496   9     Bowling Green   34    Central Michigan     18
497   9           Buffalo   34              Toledo     27
498   9   (21) Cincinnati   29  Southern Methodist     27
499   9       (5) Clemson   27       (14) Syracuse     21

[500 rows x 5 columns]

In [19]:
new_df = df.copy()

In [20]:
home_results = []
for index, row in new_df.iterrows():
    if (row['home_team'] == row['Winner']):
        home_results.append(0)
    elif (row['home_team'] == row['Loser']):
        home_results.append(1)
    else:
        home_results.append(3)

KeyError: 'home_team'

In [ ]:
new_df.shape

In [ ]:
new_df['home_results'] = home_results

In [ ]:
new_df

In [ ]:
wins = new_df['Winner']

In [ ]:
winners = []
for i in wins:
    if (i[2] == ")"):
        winners.append(i[1:2])
        if(i[1] == "("):
            winners.append(i[1:3])
    else:
        winners.append(99)

In [ ]:
len(winners)

In [ ]:
new_df['win_rank'] = winners

In [ ]:
lose = new_df['Loser']

In [ ]:
losers = []
for i in lose:
    if (i[2] == ")"):
        losers.append(i[1:2])
        if(i[1] == "("):
            losers.append(i[1:3])
    else:
        losers.append(99)

In [ ]:
len(losers)

In [ ]:
new_df['lose_rank'] = losers

In [ ]:
new_df = new_df.drop(columns=['Winner', 'Loser', 'home_team'])

In [ ]:
new_df

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor

In [ ]:
df3 = new_df

In [ ]:
df3.info()

In [ ]:
wins = df3['win_rank']

winners = pd.to_numeric(wins)

In [ ]:
df3['win_rank'] = winners

In [ ]:
lose = df3['lose_rank']

losers = pd.to_numeric(lose)

In [ ]:
df3['lose_rank'] = losers

In [ ]:
df3.info()

In [ ]:
# oh = [[10, 0, 13, 2]]
# osu = pd.DataFrame(oh, columns=['Wk', 'home_results', 'win_rank', 'lose_rank'])
# osu

pn = [[10, 30, 0, 13, 2]]
pen = pd.DataFrame(pn, columns=['Wk', 'Pts', 'home_results', 'win_rank', 'lose_rank'])
pen

In [ ]:
# ut = [[10, 0, 3, 19]]
# tenn = pd.DataFrame(ut, columns=['Wk', 'home_results', 'win_rank', 'lose_rank'])
# tenn

# ky = [[10, 37, 0, 3, 19]]
# ken = pd.DataFrame(ky, columns=['Wk', 'Pts', 'home_results', 'win_rank', 'lose_rank'])
# ken

In [ ]:
df3

In [ ]:
df3.corr()

In [ ]:
y = df3['Pts']
X = df3.drop(columns=['Pts', 'Pts.1'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.01, random_state=2)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

fig = plt.figure(figsize=(25, 20))
sns.heatmap(df3.corr(), annot=True)
plt.savefig("Heatmap.png")

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

X_train = pd.DataFrame(scaler.fit_transform(X_train), columns = X.columns)

X_test = pd.DataFrame(scaler.transform(X_test), columns = X.columns)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)

print('Logistic Regression accuracy score with all the features: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

In [ ]:
regr_1 = DecisionTreeRegressor(max_depth=4)

regr_2 = AdaBoostRegressor(
    DecisionTreeRegressor(max_depth=5), n_estimators=299, random_state=42
)

In [ ]:
regr_1.fit(X_train, y_train)
regr_2.fit(X_train, y_train)

y_1 = regr_1.predict(X_train)
y_2 = regr_2.predict(X_train)

In [ ]:
y_pred = regr_2.predict(pen)

In [ ]:
y_pred

In [ ]:
# Ohio State University: 34
# Penn State: 18.373
# 34+18 = 52
# 34-18 = 16

# Spread: Ohio State -15.5
# Over/under: 61

In [6]:
# ohio state 44
# penn state 31

# 45 points scored in 4th quarter.
# 44 - 34 = 10
# 31 - 18 = 13

# 44 - 31 = 13
# 44+ 31 = 75

# tennessee 36.57
# kentucky 26

In [ ]:
# tennessee 36.57
# kentucky 26

# 37 + 26 = 63

In [ ]:
# Kentucky	+12.5 -105
# Tennessee	-12.5 -115
# over under 63.5 -110

## vw picks:
## tenn 30
## ken 16

rt picks:
tenn 45
ken 10