In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Telco-Customer-Churn.csv')

In [3]:
len(df)

7043

In [4]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [6]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

TotalCharges isn't correctly identified as a numeric type.
we can force thi scolumn to be numeric by converting it to numbers using a special function in pandas: to_numeric. By default, thi sfunction raises an exception when it sees nonnumeric data (such as spaces), but we can make it skip these cases by specifying the errors='coerce' option. Thi sway pandas will replace all nonnumeric values iwht NaN

then we will set the missing values to zero

In [7]:
total_charges = pd.to_numeric(df.TotalCharges, errors='coerce')
df[total_charges.isnull()][['customerID', 'TotalCharges']]
df.TotalCharges = df.TotalCharges.fillna(0)

The column names don't follow ther same naming convention. Some of them start with a lower letter, whereas others start with a capital letter, and there are also spaces in the vlaues. 

we will make it uniform by lowercasing everything and replacing spaces with underscores.

In [8]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
string_columns = list(df.dtypes[df.dtypes == 'object'].index)

for col in string_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')

Target variable is churn.

its categorical with two values 'yes' and 'no'. we need to convert these values for binary classification.

In [9]:
df.churn = (df.churn == 'yes').astype(int)

In [10]:
from sklearn.model_selection import train_test_split

the function train_test_split takes a dataframe df and creates two new dataframes: df_train_full and df_test

In [11]:
df_train_full, df_test = train_test_split(df,test_size=0.2, 
                                          random_state=1)

In [12]:
df_train_full.head()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
1814,5442-pptjy,male,0,yes,yes,12,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,19.70,258.35,0
5946,6261-rcvns,female,0,no,no,42,yes,no,dsl,yes,...,yes,yes,no,yes,one_year,no,credit_card_(automatic),73.90,3160.55,1
3881,2176-osjuv,male,0,yes,no,71,yes,yes,dsl,yes,...,no,yes,no,no,two_year,no,bank_transfer_(automatic),65.15,4681.75,0
2389,6161-erdgd,male,0,yes,yes,71,yes,yes,dsl,yes,...,yes,yes,yes,yes,one_year,no,electronic_check,85.45,6300.85,0
3676,2364-ufrom,male,0,no,no,30,yes,no,dsl,yes,...,no,yes,yes,no,one_year,no,electronic_check,70.40,2044.75,0

we want to split the data into three parts:
* train
* validation
* test

since train_test_split splits the data into only two parts: train and test, we will take the df_train_full dataframe and split it one more time into train and validation.

In [13]:
df_train, df_val = train_test_split(df_train_full, test_size=0.33, 
                                    random_state=11)

y_train = df_train.churn.values
y_val = df_val.churn.values

del df_train['churn']
del df_val['churn']

The dataframes are now prepared and we can use the training dataset for performing initial exploritory data analysis (EDA).

In [14]:
df_train_full.isnull().sum()

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

we get all zeros so we know we have no missing values

we also need to check the distribution of values in the target variable. We can do that with the value_counts() method.

In [15]:
df_train_full.churn.value_counts()

0    4113
1    1521
Name: churn, dtype: int64

The first column is the value of the target variable, and the second is the count. we can see the majority of the customers didn't churn.

In [16]:
1521/5634

0.26996805111821087

We can also calculate the churn rate thats more convenient  with the mean() method.

In [17]:
global_mean = df_train_full.churn.mean()
global_mean

0.26996805111821087

In [18]:
categorical = ['gender', 'seniorcitizen', 'partner', 'dependents', 'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod']
numerical = ['tenure', 'monthlycharges', 'totalcharges']

In [19]:
df_train_full[categorical].nunique()

gender              2
seniorcitizen       2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

In [20]:
female_mean = df_train_full[df_train_full.gender == 'female'].churn.mean()

In [21]:
male_mean = df_train_full[df_train_full.gender == 'male'].churn.mean()

In [22]:
female_mean

0.27682403433476394

In [23]:
male_mean

0.2632135306553911

In [24]:
female_mean - male_mean

0.013610503679372832

In [25]:
partner_yes = df_train_full[df_train_full.partner == 'yes'].churn.mean()
print('partner == yes:', round(partner_yes, 3))

partner_no = df_train_full[df_train_full.partner == 'no'].churn.mean()
print('partner == no:', round(partner_no, 3))

partner == yes: 0.205
partner == no: 0.33

risk ratio

risk = group rate / global rate

ex. for gender == female
risk = 27.2% / 27% = 1.02

To check all the values a variable has and compute the churn rate for each of these valeus we will use a rough pandas translation of the below sql

SELECT
    gender, AVG(churn),
    AVG(churn) - global_churn, 
    AVG(churn) / global_churn
FROM 
    data
GROUP BY
    gender

In [26]:
global_mean = df_train_full.churn.mean()

df_group = df_train_full.groupby(by='gender').churn.agg(['mean'])
df_group['diff'] = df_group['mean']- global_mean
df_group['risk'] = df_group['mean'] / global_mean

df_group

            mean      diff      risk
gender
female  0.276824  0.006856  1.025396
male    0.263214 -0.006755  0.974980

now do the same thing for categorical variables.

In [27]:
from IPython.display import display

for col in categorical:
    df_group = df_train_full.groupby(by=col).churn.agg(['mean'])
    df_group['diff'] = df_group['mean'] - global_mean
    df_group['rate'] = df_group['mean'] / global_mean
    display(df_group)

            mean      diff      rate
gender
female  0.276824  0.006856  1.025396
male    0.263214 -0.006755  0.974980

                   mean      diff      rate
seniorcitizen
0              0.242270 -0.027698  0.897403
1              0.413377  0.143409  1.531208

             mean      diff      rate
partner
no       0.329809  0.059841  1.221659
yes      0.205033 -0.064935  0.759472

                mean      diff      rate
dependents
no          0.313760  0.043792  1.162212
yes         0.165666 -0.104302  0.613651

                  mean      diff      rate
phoneservice
no            0.241316 -0.028652  0.893870
yes           0.273049  0.003081  1.011412

                      mean      diff      rate
multiplelines
no                0.257407 -0.012561  0.953474
no_phone_service  0.241316 -0.028652  0.893870
yes               0.290742  0.020773  1.076948

                     mean      diff      rate
internetservice
dsl              0.192347 -0.077621  0.712482
fiber_optic      0.425171  0.155203  1.574895
no               0.077805 -0.192163  0.288201

                         mean      diff      rate
onlinesecurity
no                   0.420921  0.150953  1.559152
no_internet_service  0.077805 -0.192163  0.288201
yes                  0.153226 -0.116742  0.567570

                         mean      diff      rate
onlinebackup
no                   0.404323  0.134355  1.497672
no_internet_service  0.077805 -0.192163  0.288201
yes                  0.217232 -0.052736  0.804660

                         mean      diff      rate
deviceprotection
no                   0.395875  0.125907  1.466379
no_internet_service  0.077805 -0.192163  0.288201
yes                  0.230412 -0.039556  0.853480

                         mean      diff      rate
techsupport
no                   0.418914  0.148946  1.551717
no_internet_service  0.077805 -0.192163  0.288201
yes                  0.159926 -0.110042  0.592390

                         mean      diff      rate
streamingtv
no                   0.342832  0.072864  1.269897
no_internet_service  0.077805 -0.192163  0.288201
yes                  0.302723  0.032755  1.121328

                         mean      diff      rate
streamingmovies
no                   0.338906  0.068938  1.255358
no_internet_service  0.077805 -0.192163  0.288201
yes                  0.307273  0.037305  1.138182

                    mean      diff      rate
contract
month-to-month  0.431701  0.161733  1.599082
one_year        0.120573 -0.149395  0.446621
two_year        0.028274 -0.241694  0.104730

                      mean      diff      rate
paperlessbilling
no                0.172071 -0.097897  0.637375
yes               0.338151  0.068183  1.252560

                               mean      diff      rate
paymentmethod
bank_transfer_(automatic)  0.168171 -0.101797  0.622928
credit_card_(automatic)    0.164339 -0.105630  0.608733
electronic_check           0.455890  0.185922  1.688682
mailed_check               0.193870 -0.076098  0.718121

In [28]:
from sklearn.metrics import mutual_info_score

def calculate_mi(series):
    return mutual_info_score(series, df_train_full.churn)

df_mi = df_train_full[categorical].apply(calculate_mi)
df_mi = df_mi.sort_values(ascending=False).to_frame(name='MI')
df_mi

                        MI
contract          0.098320
onlinesecurity    0.063085
techsupport       0.061032
internetservice   0.055868
onlinebackup      0.046923
deviceprotection  0.043453
paymentmethod     0.043210
streamingtv       0.031853
streamingmovies   0.031581
paperlessbilling  0.017589
dependents        0.012346
partner           0.009968
seniorcitizen     0.009410
multiplelines     0.000857
phoneservice      0.000229
gender            0.000117

In [29]:
df_train_full[numerical].corrwith(df_train_full.churn)

tenure           -0.351885
monthlycharges    0.196805
dtype: float64

In [30]:
train_dict = df_train[categorical + numerical].to_dict(orient='records')

In [31]:
from sklearn.feature_extraction import DictVectorizer

dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

DictVectorizer(sparse=False)

In [32]:
X_train = dv.transform(train_dict)

In [33]:
X_train[0]

array([0., 0., 1., ..., 0., 0., 0.])

In [34]:
dv.get_feature_names_out()

array(['contract=month-to-month', 'contract=one_year',
       'contract=two_year', ..., 'totalcharges=999.45',
       'totalcharges=999.9', 'totalcharges=_'], dtype=object)

In [35]:
def logistic_regression(xi):
    score = bias
    for j in range(n):
        score = score +xi[j] * w[j]
    prob = sigmoid(score)

In [36]:
import math
def sigmoid(score):
    return 1 / (1 + math.exp(-score))

In [37]:
from sklearn.linear_model import LogisticRegression

In [38]:
model = LogisticRegression(solver='liblinear', random_state=1)
model.fit(X_train, y_train)

LogisticRegression(random_state=1, solver='liblinear')

In [39]:
val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [40]:
y_pred = model.predict_proba(X_val)

In [41]:
y_pred = model.predict_proba(X_val)[:, 1]

In [42]:
churn = y_pred >= 0.5

In [43]:
(y_val == churn).mean()

0.8064516129032258

To see which feature is associated with each weight, use the get_feature_names method of the DictVectorizer. Then zip the feature names together with the coefficients before looking at them

In [44]:
dict(zip(dv.get_feature_names_out(), model.coef_[0].round(3)))

{'contract=month-to-month': 0.59,
 'contract=one_year': 0.006,
 'contract=two_year': -0.735,
 'dependents=no': -0.021,
 'dependents=yes': -0.119,
 'deviceprotection=no': 0.077,
 'deviceprotection=no_internet_service': -0.18,
 'deviceprotection=yes': -0.037,
 'gender=female': -0.034,
 'gender=male': -0.105,
 'internetservice=dsl': -0.43,
 'internetservice=fiber_optic': 0.471,
 'internetservice=no': -0.18,
 'monthlycharges': -0.001,
 'multiplelines=no': -0.191,
 'multiplelines=no_phone_service': 0.018,
 'multiplelines=yes': 0.034,
 'onlinebackup=no': 0.103,
 'onlinebackup=no_internet_service': -0.18,
 'onlinebackup=yes': -0.062,
 'onlinesecurity=no': 0.24,
 'onlinesecurity=no_internet_service': -0.18,
 'onlinesecurity=yes': -0.199,
 'paperlessbilling=no': -0.227,
 'paperlessbilling=yes': 0.087,
 'partner=no': -0.055,
 'partner=yes': -0.084,
 'paymentmethod=bank_transfer_(automatic)': -0.046,
 'paymentmethod=credit_card_(automatic)': -0.148,
 'paymentmethod=electronic_check': 0.19,
 'paymentmethod=mailed_check': -0.136,
 'phoneservice=no': 0.018,
 'phoneservice=yes': -0.157,
 'seniorcitizen': 0.278,
 'streamingmovies=no': -0.133,
 'streamingmovies=no_internet_service': -0.18,
 'streamingmovies=yes': 0.173,
 'streamingtv=no': -0.146,
 'streamingtv=no_internet_service': -0.18,
 'streamingtv=yes': 0.187,
 'techsupport=no': 0.17,
 'techsupport=no_internet_service': -0.18,
 'techsupport=yes': -0.129,
 'tenure': -0.034,
 'totalcharges=100.25': 0.191,
 'totalcharges=100.4': 0.356,
 'totalcharges=100.9': -0.105,
 'totalcharges=1001.5': -0.015,
 'totalcharges=1004.5': -0.02,
 'totalcharges=1004.75': -0.18,
 'totalcharges=1006.9': -0.013,
 'totalcharges=1007.8': -0.023,
 'totalcharges=1007.9': -0.016,
 'totalcharges=1008.55': 0.286,
 'totalcharges=1008.7': 0.258,
 'totalcharges=1009.25': -0.243,
 'totalcharges=101.1': -0.214,
 'totalcharges=101.9': -0.143,
 'totalcharges=1011.05': -0.254,
 'totalcharges=1011.5': -0.222,
 'totalcharges=1011.8': -0.564,
 'totalcharges=1012.4': -0.015,
 'totalcharges=1013.2': -0.011,
 'totalcharges=1013.6': -0.032,
 'totalcharges=1016.7': -0.009,
 'totalcharges=1017.35': -0.537,
 'totalcharges=102.45': 0.216,
 'totalcharges=102.75': 0.557,
 'totalcharges=1020.2': -0.539,
 'totalcharges=1021.55': -0.556,
 'totalcharges=1021.75': -0.582,
 'totalcharges=1022.5': -0.2,
 'totalcharges=1022.6': -0.012,
 'totalcharges=1022.95': -0.018,
 'totalcharges=1023.75': -0.196,
 'totalcharges=1023.9': 0.493,
 'totalcharges=1024': -0.052,
 'totalcharges=1024.65': -0.008,
 'totalcharges=1025.15': -0.235,
 'totalcharges=1025.95': 0.39,
 'totalcharges=1026.35': -0.013,
 'totalcharges=1028.75': -0.008,
 'totalcharges=1029.35': -0.394,
 'totalcharges=1029.8': -0.01,
 'totalcharges=103.7': -0.261,
 'totalcharges=1032': 0.498,
 'totalcharges=1032.05': -0.019,
 'totalcharges=1036': -0.012,
 'totalcharges=1036.75': 0.239,
 'totalcharges=1041.8': -0.013,
 'totalcharges=1042.65': -0.008,
 'totalcharges=1043.3': 0.377,
 'totalcharges=1043.35': 0.479,
 'totalcharges=1043.8': -0.371,
 'totalcharges=1045.25': -0.186,
 'totalcharges=1046.1': 0.173,
 'totalcharges=1046.2': -0.01,
 'totalcharges=1046.5': 0.202,
 'totalcharges=1047.7': 0.237,
 'totalcharges=1049.05': -0.213,
 'totalcharges=1051.9': -0.008,
 'totalcharges=1052.35': 0.968,
 'totalcharges=1054.75': -0.007,
 'totalcharges=1055.9': -0.081,
 'totalcharges=1057.85': -0.007,
 'totalcharges=1058.1': -0.141,
 'totalcharges=1058.6': 0.316,
 'totalcharges=1059.55': 0.222,
 'totalcharges=106.2': -0.245,
 'totalcharges=106.8': -0.16,
 'totalcharges=106.9': -0.033,
 'totalcharges=1060.2': 0.353,
 'totalcharges=1061.6': -0.012,
 'totalcharges=1064.65': 0.244,
 'totalcharges=1066.15': -0.037,
 'totalcharges=1066.9': -0.613,
 'totalcharges=1067.15': 0.706,
 'totalcharges=1067.65': -0.008,
 'totalcharges=107.05': -0.117,
 'totalcharges=107.1': -0.304,
 'totalcharges=107.6': -0.042,
 'totalcharges=1070.15': -0.024,
 'totalcharges=1070.25': -0.008,
 'totalcharges=1070.5': -0.007,
 'totalcharges=1070.7': -0.135,
 'totalcharges=1071.4': -0.193,
 'totalcharges=1072': 0.293,
 'totalcharges=1072.6': -0.069,
 'totalcharges=1073.3': -0.451,
 'totalcharges=1077.5': 0.642,
 'totalcharges=1078.9': 0.172,
 'totalcharges=1079.45': -0.008,
 'totalcharges=1079.65': -0.006,
 'totalcharges=108.15': 0.596,
 'totalcharges=1083.7': -0.272,
 'totalcharges=1086.75': -0.007,
 'totalcharges=1087.25': -0.024,
 'totalcharges=1087.7': -0.009,
 'totalcharges=1088.25': -0.011,
 'totalcharges=109.2': -0.121,
 'totalcharges=109.25': -0.276,
 'totalcharges=109.5': -0.154,
 'totalcharges=109.8': -0.117,
 'totalcharges=1090.65': -0.029,
 'totalcharges=1093': -0.006,
 'totalcharges=1093.1': 0.458,
 'totalcharges=1093.2': -0.235,
 'totalcharges=1095.3': 0.428,
 'totalcharges=1095.65': 0.321,
 'totalcharges=1096.25': 0.228,
 'totalcharges=1096.65': -0.098,
 'totalcharges=1098.85': -0.441,
 'totalcharges=110.15': -0.114,
 'totalcharges=1101.85': 0.255,
 'totalcharges=1103.25': -0.008,
 'totalcharges=1107.2': -0.009,
 'totalcharges=1107.25': 0.355,
 'totalcharges=1108': -0.276,
 'totalcharges=1108.6': -0.426,
 'totalcharges=111.05': -0.292,
 'totalcharges=1110.05': -0.007,
 'totalcharges=1110.35': -0.009,
 'totalcharges=1110.5': -0.023,
 'totalcharges=1111.2': -0.222,
 'totalcharges=1112.3': -0.34,
 'totalcharges=1114.55': -0.346,
 'totalcharges=1114.85': -0.042,
 'totalcharges=1115.15': 0.435,
 'totalcharges=1119.35': -0.141,
 'totalcharges=112.3': 0.716,
 'totalcharges=112.75': -0.121,
 'totalcharges=1120.3': 0.183,
 'totalcharges=1120.95': 0.365,
 'totalcharges=1121.05': -0.013,
 'totalcharges=1122.4': -0.552,
 'totalcharges=1123.15': -0.006,
 'totalcharges=1123.65': -0.008,
 'totalcharges=1125.6': -0.007,
 'totalcharges=1126.75': -0.014,
 'totalcharges=1129.35': -0.461,
 'totalcharges=1129.75': 0.184,
 'totalcharges=113.1': -0.312,
 'totalcharges=113.35': 0.587,
 'totalcharges=113.85': 0.758,
 'totalcharges=1130.85': 0.348,
 'totalcharges=1131.2': 0.153,
 'totalcharges=1132.35': 0.434,
 'totalcharges=1132.75': 0.276,
 'totalcharges=1133.7': -0.027,
 'totalcharges=1134.25': -0.01,
 'totalcharges=1135.7': 0.217,
 'totalcharges=1137.05': -0.258,
 'totalcharges=1138.8': -0.017,
 'totalcharges=114.1': 0.464,
 'totalcharges=1144.5': 0.328,
 'totalcharges=1144.6': -0.207,
 'totalcharges=1145.35': 0.195,
 'totalcharges=1145.7': 0.286,
 'totalcharges=1146.05': -0.007,
 'totalcharges=1146.65': 0.296,
 'totalcharges=1149.65': -0.007,
 'totalcharges=115.1': 0.509,
 'totalcharges=1151.05': -0.099,
 'totalcharges=1151.55': -0.254,
 'totalcharges=1155.6': -0.217,
 'totalcharges=1156.35': -0.2,
 'totalcharges=1157.05': 0.574,
 'totalcharges=1158.85': -0.008,
 'totalcharges=116.85': -0.038,
 'totalcharges=1160.45': -0.01,
 'totalcharges=1161.75': -0.063,
 'totalcharges=1164.05': -0.315,
 'totalcharges=1164.3': 0.221,
 'totalcharges=1165.6': -0.371,
 'totalcharges=1165.9': -0.023,
 'totalcharges=1166.7': -0.249,
 'totalcharges=1169.35': 0.347,
 'totalcharges=117.8': -0.074,
 'totalcharges=1171.3': -0.016,
 'totalcharges=1171.5': -0.024,
 'totalcharges=1173.35': -0.01,
 'totalcharges=1174.35': 0.425,
 'totalcharges=1174.8': -0.03,
 'totalcharges=1175.85': -0.168,
 'totalcharges=1177.05': -0.007,
 'totalcharges=1177.95': -0.006,
 'totalcharges=1178.25': 0.383,
 'totalcharges=1178.4': 0.282,
 'totalcharges=118.3': 0.417,
 'totalcharges=118.5': 0.367,
 'totalcharges=1180.95': 0.289,
 'totalcharges=1182.55': 0.924,
 'totalcharges=1183.05': -0.612,
 'totalcharges=1183.8': -0.255,
 'totalcharges=1184': -0.418,
 'totalcharges=1188.25': -0.006,
 'totalcharges=1189.9': -0.006,
 'totalcharges=119.75': 0.293,
 'totalcharges=1191.4': -0.006,
 'totalcharges=1192.3': -0.009,
 'totalcharges=1192.7': -0.005,
 'totalcharges=1193.05': 0.789,
 'totalcharges=1195.25': -0.011,
 'totalcharges=1195.95': -0.014,
 'totalcharges=1199.4': -0.191,
 'totalcharges=120.25': -0.574,
 'totalcharges=1200.15': 0.162,
 'totalcharges=1201.65': -0.157,
 'totalcharges=1203.9': -0.581,
 'totalcharges=1203.95': -0.027,
 'totalcharges=1205.05': -0.005,
 'totalcharges=1207': -0.464,
 'totalcharges=1208.15': -0.053,
 'totalcharges=1208.6': -0.005,
 'totalcharges=1209.25': -0.005,
 'totalcharges=121.25': -0.058,
 'totalcharges=1210.3': -0.007,
 'totalcharges=1210.4': 0.686,
 'totalcharges=1215.45': -0.158,
 'totalcharges=1215.65': -0.607,
 'totalcharges=1216.35': -0.025,
 'totalcharges=1218.25': -0.187,
 'totalcharges=1218.55': 0.172,
 'totalcharges=1218.65': -0.007,
 'totalcharges=122': -0.107,
 'totalcharges=122.9': -0.103,
 'totalcharges=1221.65': -0.472,
 'totalcharges=1222.05': 0.399,
 'totalcharges=1222.25': -0.012,
 'totalcharges=1222.65': -0.006,
 'totalcharges=1225.65': -0.005,
 'totalcharges=123.65': 0.416,
 'totalcharges=1230.25': 0.362,
 'totalcharges=1233.4': 0.327,
 'totalcharges=1234.8': -0.008,
 'totalcharges=1235.55': -0.357,
 'totalcharges=1236.15': 0.489,
 'totalcharges=1237.3': -0.136,
 'totalcharges=124.4': -0.07,
 'totalcharges=124.45': -0.038,
 'totalcharges=1240.15': -0.005,
 'totalcharges=1242.2': -0.45,
 'totalcharges=1244.8': -0.011,
 'totalcharges=1245.05': -0.011,
 'totalcharges=1248.9': -0.416,
 'totalcharges=1249.25': -0.195,
 'totalcharges=125.95': -0.298,
 'totalcharges=1252.85': -0.007,
 'totalcharges=1253.5': -0.159,
 'totalcharges=1253.9': 0.222,
 'totalcharges=1258.3': 0.308,
 'totalcharges=1259': 0.314,
 'totalcharges=1259.35': -0.362,
 'totalcharges=126.05': 0.762,
 'totalcharges=1261.7': -0.025,
 'totalcharges=1263.9': -0.005,
 'totalcharges=1264.2': -0.277,
 'totalcharges=1265.65': -0.228,
 'totalcharges=1266.1': 0.281,
 'totalcharges=1266.35': -0.088,
 'totalcharges=1266.4': -0.031,
 'totalcharges=1267': -0.014,
 'totalcharges=1267.95': -0.403,
 'totalcharges=1268.85': -0.006,
 'totalcharges=127.1': 0.409,
 'totalcharges=1270.55': -0.008,
 'totalcharges=1271.8': -0.1,
 'totalcharges=1274.45': -0.104,
 'totalcharges=1275.6': -0.013,
 'totalcharges=1275.7': -0.193,
 'totalcharges=1277.75': -0.005,
 'totalcharges=128.6': -0.068,
 'totalcharges=1281': 0.202,
 'totalcharges=1282.85': -0.063,
 'totalcharges=1284.2': 0.18,
 'totalcharges=1285.05': -0.628,
 'totalcharges=1288.3': -0.491,
 'totalcharges=1288.75': -0.209,
 'totalcharges=129.55': -0.119,
 'totalcharges=129.6': -0.382,
 'totalcharges=1291.35': -0.183,
 'totalcharges=1292.6': -0.005,
 'totalcharges=1295.4': -0.153,
 'totalcharges=1296.15': -0.006,
 'totalcharges=1297.35': -0.005,
 'totalcharges=1297.8': -0.174,
 'totalcharges=1298.7': -0.008,
 'totalcharges=130.5': -0.122,
 'totalcharges=130.55': -0.142,
 'totalcharges=1301': 0.292,
 'totalcharges=1301.1': -0.004,
 'totalcharges=1301.7': 0.281,
 'totalcharges=1303.5': -0.005,
 'totalcharges=1304.8': -0.004,
 'totalcharges=1304.85': -0.108,
 'totalcharges=1305.95': -0.005,
 'totalcharges=1306.3': -0.04,
 'totalcharges=1308.1': 0.199,
 'totalcharges=1309': -0.21,
 'totalcharges=131.05': 0.272,
 'totalcharges=131.65': 0.201,
 'totalcharges=1311.6': -0.005,
 'totalcharges=1311.75': -0.005,
 'totalcharges=1312.45': -0.144,
 'totalcharges=1313.55': 0.364,
 'totalcharges=1316.9': -0.072,
 'totalcharges=1319.85': -0.116,
 'totalcharges=132.4': -0.392,
 'totalcharges=1322.55': -0.385,
 'totalcharges=1323.7': -0.145,
 'totalcharges=1326.35': -0.004,
 'totalcharges=1327.85': -0.099,
 'totalcharges=1329.2': 0.343,
 'totalcharges=1331.05': -0.009,
 'totalcharges=1332.4': -0.408,
 'totalcharges=1336.1': -0.008,
 'totalcharges=1336.15': -0.131,
 'totalcharges=1336.35': -0.014,
 'totalcharges=1336.9': -0.421,
 'totalcharges=1337.45': -0.605,
 'totalcharges=1337.5': -0.005,
 'totalcharges=1339.8': -0.228,
 'totalcharges=134.05': -0.676,
 'totalcharges=134.35': 0.426,
 'totalcharges=134.5': 0.555,
 'totalcharges=1340.1': -0.51,
 'totalcharges=1344.5': -0.006,
 'totalcharges=1345.55': 0.24,
 'totalcharges=1345.85': -0.009,
 'totalcharges=1346.9': -0.115,
 'totalcharges=1348.95': -0.367,
 'totalcharges=135.75': -0.695,
 'totalcharges=1355.45': -0.073,
 'totalcharges=1356.3': -0.006,
 'totalcharges=1357.1': -0.005,
 'totalcharges=1362.85': -0.125,
 'totalcharges=1364.3': 0.188,
 'totalcharges=1367.75': -0.166,
 'totalcharges=137.1': -0.467,
 'totalcharges=137.25': -0.325,
 'totalcharges=137.6': 0.532,
 'totalcharges=137.85': 0.449,
 'totalcharges=1370.35': -0.245,
 'totalcharges=1372.45': -0.004,
 'totalcharges=1372.9': -0.007,
 'totalcharges=1373.05': -0.352,
 'totalcharges=1374.2': -0.004,
 'totalcharges=1374.9': -0.32,
 'totalcharges=1375.4': -0.005,
 'totalcharges=1375.6': -0.178,
 'totalcharges=1378.75': -0.004,
 'totalcharges=1379.6': -0.004,
 'totalcharges=138.85': -0.102,
 'totalcharges=1380.1': 0.749,
 'totalcharges=1380.4': -0.384,
 'totalcharges=1381.2': -0.098,
 'totalcharges=1381.8': -0.334,
 'totalcharges=1385.85': -0.011,
 'totalcharges=1386.8': -0.076,
 'totalcharges=1387': -0.376,
 'totalcharges=1387.45': -0.006,
 'totalcharges=1388.45': -0.005,
 'totalcharges=139.05': 0.201,
 'totalcharges=139.25': -0.517,
 'totalcharges=139.4': 0.322,
 'totalcharges=139.75': -0.102,
 'totalcharges=1391.15': -0.561,
 'totalcharges=1391.65': -0.064,
 'totalcharges=1393.6': -0.204,
 'totalcharges=1396': -0.008,
 'totalcharges=1396.9': -0.005,
 'totalcharges=1397.65': -0.005,
 'totalcharges=1398.25': -0.22,
 'totalcharges=140.4': -0.464,
 'totalcharges=140.7': 0.368,
 'totalcharges=1400.55': 0.647,
 'totalcharges=1400.85': 0.364,
 'totalcharges=1401.15': -0.004,
 'totalcharges=1402.25': -0.008,
 'totalcharges=1403.1': -0.011,
 'totalcharges=1404.65': -0.27,
 'totalcharges=1406.9': -0.17,
 'totalcharges=141.1': -0.111,
 'totalcharges=141.45': 0.247,
 'totalcharges=1410.25': -0.26,
 'totalcharges=1411.2': -0.006,
 'totalcharges=1411.35': -0.11,
 'totalcharges=1411.9': -0.006,
 'totalcharges=1412.4': -0.054,
 'totalcharges=1414.2': -0.041,
 'totalcharges=1414.65': -0.005,
 'totalcharges=1415.55': 0.215,
 'totalcharges=1416.2': -0.202,
 'totalcharges=1416.5': -0.004,
 'totalcharges=1416.75': -0.008,
 'totalcharges=1419.4': -0.006,
 'totalcharges=142.35': 0.201,
 'totalcharges=1421.9': -0.004,
 'totalcharges=1422.1': 0.255,
 'totalcharges=1423.15': -0.219,
 'totalcharges=1423.35': -0.051,
 'totalcharges=1424.2': -0.011,
 'totalcharges=1424.4': -0.162,
 'totalcharges=1424.5': 0.452,
 'totalcharges=1424.6': -0.009,
 'totalcharges=1424.9': -0.005,
 'totalcharges=1424.95': 0.264,
 'totalcharges=1425.45': 0.619,
 'totalcharges=1426.4': 0.379,
 'totalcharges=1427.55': -0.119,
 'totalcharges=143.35': 0.21,
 'totalcharges=1431.65': -0.021,
 'totalcharges=1432.55': -0.005,
 'totalcharges=1434.1': -0.004,
 'totalcharges=1438.05': -0.321,
 'totalcharges=144': -0.566,
 'totalcharges=144.15': 0.196,
 'totalcharges=144.35': -0.1,
 'totalcharges=144.55': 0.205,
 'totalcharges=144.95': -0.117,
 'totalcharges=1441.65': -0.005,
 'totalcharges=1441.95': -0.21,
 'totalcharges=1442.2': -0.482,
 'totalcharges=1442.6': -0.234,
 'totalcharges=1443.65': -0.562,
 'totalcharges=1444.05': -0.013,
 'totalcharges=1444.65': 0.195,
 'totalcharges=1445.2': -0.009,
 'totalcharges=1447.9': -0.007,
 'totalcharges=1448.8': 0.805,
 'totalcharges=145.15': -0.239,
 'totalcharges=1451.1': -0.423,
 'totalcharges=1451.9': 0.338,
 'totalcharges=1453.1': -0.15,
 'totalcharges=1454.25': -0.077,
 'totalcharges=1457.25': 0.261,
 'totalcharges=1458.1': -0.004,
 'totalcharges=1459.35': -0.153,
 'totalcharges=146.05': 0.195,
 'totalcharges=146.4': -0.189,
 'totalcharges=146.6': -0.042,
 'totalcharges=146.9': 0.364,
 'totalcharges=1460.85': -0.004,
 'totalcharges=1461.45': -0.086,
 'totalcharges=1462.05': -0.008,
 'totalcharges=1462.6': -0.165,
 'totalcharges=1463.45': 0.385,
 'totalcharges=1465.75': 0.284,
 'totalcharges=1468.75': -0.005,
 'totalcharges=147.15': 0.538,
 'totalcharges=147.55': -0.141,
 'totalcharges=147.75': -0.273,
 'totalcharges=147.8': -0.371,
 'totalcharges=1470.05': -0.485,
 'totalcharges=1470.95': 0.384,
 'totalcharges=1471.75': 0.286,
 'totalcharges=1477.65': -0.063,
 'totalcharges=1478.85': -0.24,
 'totalcharges=1483.25': 0.304,
 'totalcharges=1489.3': -0.078,
 'totalcharges=149.05': -0.429,
 'totalcharges=149.55': 0.188,
 'totalcharges=1490.4': -0.368,
 'totalcharges=1490.95': 0.408,
 'totalcharges=1492.1': -0.004,
 'totalcharges=1493.1': -0.011,
 'totalcharges=1493.2': -0.452,
 'totalcharges=1493.55': -0.32,
 'totalcharges=1497.05': -0.187,
 'totalcharges=1497.9': -0.021,
 'totalcharges=1498.2': 0.628,
 'totalcharges=1498.55': -0.147,
 'totalcharges=1498.65': -0.034,
 'totalcharges=1498.85': -0.009,
 'totalcharges=150.35': -0.12,
 'totalcharges=150.6': -0.117,
 'totalcharges=150.75': -0.106,
 'totalcharges=150.85': -0.27,
 'totalcharges=1500.5': -0.324,
 'totalcharges=1500.95': -0.004,
 'totalcharges=1501.75': -0.01,
 'totalcharges=1502.25': -0.004,
 'totalcharges=1504.05': 0.216,
 'totalcharges=1505.05': -0.008,
 'totalcharges=1505.9': -0.017,
 'totalcharges=1506.4': -0.014,
 'totalcharges=1507': -0.102,
 'totalcharges=151.3': 0.424,
 'totalcharges=151.75': -0.527,
 'totalcharges=1510.3': -0.111,
 'totalcharges=1513.6': -0.011,
 'totalcharges=1514.85': -0.008,
 'totalcharges=1515.1': 0.222,
 'totalcharges=1516.6': -0.076,
 'totalcharges=1517.5': -0.119,
 'totalcharges=152.3': -0.273,
 'totalcharges=152.45': 0.326,
 'totalcharges=152.6': -0.125,
 'totalcharges=152.95': -0.179,
 'totalcharges=1520.1': -0.057,
 'totalcharges=1520.9': 0.337,
 'totalcharges=1521.2': -0.006,
 'totalcharges=1522.7': -0.362,
 'totalcharges=1524.85': -0.038,
 'totalcharges=1525.35': -0.077,
 'totalcharges=1527.35': 0.329,
 'totalcharges=1529.2': 0.156,
 'totalcharges=1529.65': -0.004,
 'totalcharges=153.3': -0.039,
 'totalcharges=1531.4': 0.183,
 'totalcharges=1532.45': 0.304,
 'totalcharges=1533.8': -0.056,
 'totalcharges=1534.05': -0.007,
 'totalcharges=1534.75': 0.218,
 'totalcharges=1536.75': -0.138,
 'totalcharges=1537.85': -0.055,
 'totalcharges=1537.9': -0.456,
 'totalcharges=1539.8': -0.554,
 'totalcharges=154.55': -0.249,
 'totalcharges=154.65': 0.634,
 'totalcharges=154.85': 0.248,
 'totalcharges=1540.05': -0.494,
 'totalcharges=1540.2': -0.177,
 'totalcharges=1540.35': -0.406,
 'totalcharges=1546.3': -0.053,
 'totalcharges=155.35': -0.246,
 'totalcharges=155.8': 0.334,
 'totalcharges=155.9': -0.117,
 'totalcharges=1551.6': -0.009,
 'totalcharges=1553.2': -0.109,
 'totalcharges=1554.9': -0.008,
 'totalcharges=1556.85': -0.321,
 'totalcharges=1559.25': -0.528,
 'totalcharges=1559.45': -0.117,
 'totalcharges=156.25': 0.753,
 'totalcharges=1563.95': -0.01,
 'totalcharges=1566.75': -0.555,
 'totalcharges=1567': -0.005,
 'totalcharges=157.65': -0.111,
 'totalcharges=1573.95': -0.231,
 'totalcharges=1574.45': 0.497,
 'totalcharges=1574.5': -0.006,
 'totalcharges=158.35': -0.105,
 'totalcharges=1584.8': -0.007,
 'totalcharges=1587.55': 0.182,
 'totalcharges=1588.7': -0.15,
 'totalcharges=159.15': 0.48,
 'totalcharges=159.35': -0.034,
 'totalcharges=159.4': 0.193,
 'totalcharges=159.45': 0.246,
 'totalcharges=1595.5': -0.013,
 'totalcharges=1596.6': -0.179,
 'totalcharges=160.05': -0.083,
 'totalcharges=160.75': 0.261,
 'totalcharges=160.85': -0.25,
 'totalcharges=1600.25': -0.377,
 'totalcharges=1600.95': -0.013,
 'totalcharges=1601.5': -0.43,
 'totalcharges=1604.5': 0.856,
 'totalcharges=1607.2': 0.416,
 'totalcharges=161.45': -0.559,
 'totalcharges=161.5': 0.197,
 'totalcharges=161.65': -0.036,
 'totalcharges=1611.65': -0.171,
 'totalcharges=1612.75': 0.297,
 'totalcharges=1614.05': -0.302,
 'totalcharges=1614.7': -0.688,
 'totalcharges=1615.1': -0.416,
 'totalcharges=1618.2': -0.007,
 'totalcharges=162.15': -0.032,
 'totalcharges=162.45': 0.22,
 'totalcharges=1620.2': -0.006,
 'totalcharges=1620.25': -0.081,
 'totalcharges=1621.35': -0.116,
 'totalcharges=1623.4': -0.058,
 'totalcharges=1629.2': -0.006,
 'totalcharges=163.7': -0.084,
 'totalcharges=1630.4': -0.067,
 'totalcharges=1636.95': -0.081,
 'totalcharges=1637.3': -0.476,
 'totalcharges=1638.7': -0.007,
 'totalcharges=164.5': 0.195,
 'totalcharges=164.6': -0.11,
 'totalcharges=164.85': 0.757,
 'totalcharges=1640': -0.435,

Tp understand how the model works and to build the intution. let's train a simpler and smaller model that uses only three variables: congtract, tenure, and totalcharges. 

we will redo the same steps we did for training, this time using a smaller set of features. (no additional preprocessing for tenure and totalcharges since they are numneric. contract is categorical so we need to apply one-hot encoding)

In [45]:
# small_subset = ['contract', 'tenure', 'totalcharges']
# train_dict_small = df_train[small_subset].to_dict(orient='records')
# dv_small = DictVectorizer(sparse=False)
# dv_small.fit(train_dict_small)

# X_small_train = dv_small.transform(train_dict_small)

In [46]:
# dv_small.get_feature_names_out()

In [47]:
# model_small = LogisticRegression(solver='liblinear', random_state=1)
# model_small.fit(X_small_train, y_train)

In [48]:
# model_small.intercept_[0]

In [49]:
# dict(zip(dv_small.get_feature_names_out(), model_small.coef_[0].round(3)))

In [52]:
customer ={
    'customerid': '88979-zkjof', 
    'gender': 'female', 
    'seniorcitizen': 0,
    'partner': 'no',
    'dependents': 'no',
    'tenure': 41,
    'phoneservice': 'yes',
    'multiplelines': 'no',
    'internetservice': 'dsl',
    'onlinesecurity': 'yes',
    'onlinebackup': 'no'
}

In [56]:
X_test = dv.transform([customer])

In [57]:
model.predict_proba(X_test)

array([[0.92503734, 0.07496266]])

In [58]:
model.predict_proba(X_test)[0, 1]

0.07496265972081616