In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('wc-7.csv')

In [10]:
df

,country,goals,xg,crosses,boxtouches,passes,progpasses,takeons,progruns,tackles,interceptions,clearances,blocks,aerials,fouls,fouled,nsxg,results,year
0,france,-0.410000,0.329231,0.606923,0.713846,0.467692,-0.033077,0.140769,0.609231,0.610769,0.639231,-0.492308,-0.385385,0.008462,-0.016923,0.310769,0.633077,28,2
1,russia,0.553077,0.411538,-0.104615,0.026923,-0.352308,-0.238462,-0.254615,-0.268462,-0.125385,0.029231,-0.119231,-0.279231,-0.150769,-0.266154,-0.406154,-0.210000,18,94
2,netherlands,0.493846,0.406923,-0.040769,0.096923,0.100769,-0.169231,0.306154,0.098462,-0.032308,0.130000,0.096923,-0.174615,0.257692,0.289231,-0.020000,0.103846,3,14
3,bolivia,-0.255385,-0.186923,-0.104615,-0.193846,-0.077692,-0.091538,-0.092308,0.160769,-0.179231,-0.326923,0.069231,-0.274615,-0.303077,-0.396154,0.679231,-0.465385,21,94
4,england,-0.093077,0.301538,0.040769,0.026154,0.253077,-0.100769,0.447692,0.210769,0.017692,-0.276154,-0.280000,-0.256923,-0.163846,-0.283077,0.134615,0.170769,26,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,russia,-0.093077,-0.067692,0.272308,0.108462,0.023077,0.133846,-0.214615,0.561538,0.419231,0.098462,0.150000,-0.136923,-0.103846,0.186154,-0.163077,-0.001538,24,14
277,brazil,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769,5,82
278,uae,-0.063077,-0.180769,-0.305385,-0.201538,-0.146154,-0.009231,-0.426154,-0.299231,-0.556923,-0.299231,-0.013846,-0.165385,-0.370769,-0.016154,-0.032308,-0.256923,24,90
279,tunisia,0.463846,0.343077,0.029231,-0.026154,0.173077,0.200769,0.092308,0.123077,0.163846,-0.186923,-0.276154,0.076923,-0.283077,0.237692,0.100000,0.160000,24,18
280,algeria,-0.400000,-0.104615,0.471538,-0.059231,0.270000,0.046154,-0.040000,0.204615,0.142308,0.485385,0.329231,-0.003077,0.197692,0.399231,0.011538,0.020769,28,10

In [25]:
counts = df['country']

In [18]:
yearz = df['year']

In [21]:
data = {'country': counts,
        'years': yearz,}
  
# Create DataFrame
dfs = pd.DataFrame(data)

In [22]:
dfs

         country  years
0         france      2
1         russia     94
2    netherlands     14
3        bolivia     94
4        england     14
..           ...    ...
276       russia     14
277       brazil     82
278          uae     90
279      tunisia     18
280      algeria     10

[281 rows x 2 columns]

In [26]:
winners = ['france', 'germany', 'spain', 'italy', 'brazil', 
            'argentina', 'england', 'uruguay', ]

In [48]:
previous_champs = []

for index, row in dfs.iterrows():
    for j in winners:
        if (j == row['country']):
            previous_champs.append(row['country'])

In [49]:
previous_champs

['france',
 'england',
 'brazil',
 'spain',
 'spain',
 'uruguay',
 'argentina',
 'brazil',
 'spain',
 'argentina',
 'argentina',
 'england',
 'argentina',
 'france',
 'spain',
 'italy',
 'france',
 'germany',
 'spain',
 'spain',
 'italy',
 'uruguay',
 'france',
 'germany',
 'argentina',
 'argentina',
 'germany',
 'uruguay',
 'italy',
 'argentina',
 'brazil',
 'brazil',
 'france',
 'germany',
 'italy',
 'germany',
 'england',
 'uruguay',
 'england',
 'france',
 'england',
 'france',
 'uruguay',
 'england',
 'italy',
 'england',
 'brazil',
 'spain',
 'germany',
 'spain',
 'argentina',
 'argentina',
 'germany',
 'argentina',
 'germany',
 'england',
 'italy',
 'england',
 'brazil',
 'uruguay',
 'spain',
 'brazil',
 'france',
 'brazil',
 'brazil',
 'italy',
 'germany',
 'italy',
 'italy',
 'germany',
 'spain',
 'brazil']

In [47]:
df['previous_champs'] = previous_champs

ValueError: Length of values (2248) does not match length of index (281)