In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn import linear_model

In [2]:
df = pd.read_csv('wc-7.csv')

In [3]:
df.duplicated().value_counts()

False    281
dtype: int64

In [4]:
df.shape

(281, 19)

In [5]:
df = df.drop(columns=['country'])

In [6]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.39, random_state=2)

In [7]:
clf = linear_model.BayesianRidge(alpha_1=1000000)

In [8]:
clf.fit(X_train, y_train)
pred_test= clf.predict(X_test)

In [9]:
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test,pred_test)))) 
print('R2 : '+str(r2_score(y_test, pred_test)))
print('MSE: '+str(mean_squared_error(y_test, pred_test)))
print('MAE: '+str(mean_absolute_error(y_test, pred_test)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, pred_test)))

RMSE : 6.642908407042875
R2 : 0.3993227611351725
MSE: 44.128232104360904
MAE: 5.5207433844250655
MAPE: 1.0039520376744462

In [10]:
# MAPE: 1.1761913320602249
# alpha_1=1000000 MAPE: 1.1425307490958336

# new df MAPE: 1.10727973447646


# RMSE : 6.974552240193889
# R2 : 0.33784858714496935
# MSE: 48.64437895119359
# MAE: 5.962451988966038
# MAPE: 1.0497482146282007

# w date
# MAPE: 1.0039520376744462

In [11]:
data = {'y_test': y_test, 'y_pred': pred_test}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)

In [12]:
new_df

     y_test     y_pred       diff
160       8   7.981452   0.018548
64        8   7.602003   0.397997
176      12  12.503027   0.503027
65       30  29.404941   0.595059
113      19  19.816850   0.816850
..      ...        ...        ...
155       2  14.514789  12.514789
14       26  13.479640  12.520360
79        4  17.881103  13.881103
67       26  10.872160  15.127840
23        4  19.683315  15.683315

[110 rows x 3 columns]