In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor

In [20]:
# df = pd.read_csv('wc-7.csv')
# df = pd.read_csv('wc-7-outliers.csv')
df = pd.read_csv('outliers245.csv')

In [21]:
# df = df.drop(columns=['year'])

In [22]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.10, random_state=2)

In [23]:
regr_1 = DecisionTreeRegressor()

regr_2 = AdaBoostRegressor(
    DecisionTreeRegressor(max_depth=4), n_estimators=300, random_state=42
)

In [24]:
regr_1.fit(X_train, y_train)
regr_2.fit(X_train, y_train)

y_1 = regr_1.predict(X_test)
y_2 = regr_2.predict(X_test)

In [25]:
print('r2 score: '+str(r2_score(y_test, y_1)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_1))))
print('MSE: '+str(mean_squared_error(y_test, y_1)))
print('MAE: '+str(mean_absolute_error(y_test, y_1)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_1)))


print('---------------')
print('r2 score: '+str(r2_score(y_test, y_2)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_2))))
print('MSE: '+str(mean_squared_error(y_test, y_2)))
print('MAE: '+str(mean_absolute_error(y_test, y_2)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_2)))

r2 score: -0.4424724602203183
RMSE : 9.709788875150684
MSE: 94.28
MAE: 8.12
MAPE: 1.0042462223878033
---------------
r2 score: 0.4713111905119628
RMSE : 5.8783586644690295
MSE: 34.55510058813811
MAE: 4.857757055152769
MAPE: 0.5921410614503672

In [27]:
# r2 score: -0.3170134638922888
# RMSE : 9.277930803794561
# MSE: 86.08
# MAE: 7.68
# MAPE: 0.9250251796624127
# ---------------
# r2 score: 0.4713111905119628
# RMSE : 5.8783586644690295
# MSE: 34.55510058813811
# MAE: 4.857757055152769
# MAPE: 0.5921410614503672

# removing the date mape .61

In [28]:
data = {'y_test': y_test, 'y_pred': y_2}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - (new_df['y_pred'])).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)

In [29]:
new_df

     y_test     y_pred       diff
3        21  21.187500   0.187500
226      23  22.111111   0.888889
41       14  15.156250   1.156250
153      21  19.500000   1.500000
142      23  24.700000   1.700000
10       27  24.783333   2.216667
77       19  21.244444   2.244444
230      23  20.571429   2.428571
127      25  22.212121   2.787879
101       6   9.000000   3.000000
99       16  19.397059   3.397059
66       11   7.350515   3.649485
24       20  15.486957   4.513043
35        4   8.831858   4.831858
85       15   9.692308   5.307692
219      17  11.666667   5.333333
151      25  19.444444   5.555556
115       5  10.567376   5.567376
30       24  17.621951   6.378049
163       7  14.000000   7.000000
229       4  12.558140   8.558140
158       7  16.907692   9.907692
214      11  20.971698   9.971698
89        3  13.362745  10.362745
65       29  16.000000  13.000000