In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('wk15.csv')

In [4]:
df

,Wk,Date,Time,Day,Winner,Pts,Unnamed: 6,Loser,Pts.1
0,1,27-Aug-22,7:00 PM,Sat,Florida Atlantic,43,NaN,Charlotte,13
1,1,27-Aug-22,5:00 PM,Sat,Florida State,47,NaN,Duquesne,7
2,1,27-Aug-22,4:00 PM,Sat,Illinois,38,NaN,Wyoming,6
3,1,27-Aug-22,10:00 PM,Sat,Nevada,23,@,New Mexico State,12
4,1,27-Aug-22,3:30 PM,Sat,Nevada-Las Vegas,52,NaN,Idaho State,21
...,...,...,...,...,...,...,...,...,...
839,14,26-Nov-22,4:00 PM,Sat,(14) Utah,63,@,Colorado,21
840,14,26-Nov-22,NaN,Sat,Virginia,0,@,Virginia Tech,0
841,14,26-Nov-22,10:30 PM,Sat,(12) Washington,51,@,Washington State,33
842,14,26-Nov-22,12:00 PM,Sat,West Virginia,24,@,Oklahoma State,19
843,14,26-Nov-22,12:00 PM,Sat,Western Kentucky,32,@,Florida Atlantic,31

In [5]:
df[df['Pts'] == 0]

,Wk,Date,Time,Day,Winner,Pts,Unnamed: 6,Loser,Pts.1
526,9,22-Oct-22,6:00 PM,Sat,San Jose State,0,@,New Mexico State,0
734,13,19-Nov-22,3:30 PM,Sat,(23) Coastal Carolina,0,@,Virginia,0
840,14,26-Nov-22,NaN,Sat,Virginia,0,@,Virginia Tech,0

In [11]:
df = df.drop(df.index[[526, 734, 840]])

In [12]:
df[df['Pts'] == 0]

Empty DataFrame
Columns: [Wk, Date, Time, Day, Winner, Pts, Unnamed: 6, Loser, Pts.1]
Index: []

In [13]:
won = df['Winner']
new_winner = []

for i in won:
    if(i[2] == ")"):
        new_winner.append(i[4:])
#         if(i[1] == "("):
#             new_winner.append(i[5:])
    elif(i[3] == ")"):
        new_winner.append(i[5:])
    else:
        new_winner.append(i)

In [14]:
df['winners'] = new_winner

In [15]:
lost = df['Loser']
new_lose = []

for i in lost:
    if(i[2] == ")"):
        new_lose.append(i[4:])
#         if(i[1] == "("):
#             new_winner.append(i[5:])
    elif(i[3] == ")"):
        new_lose.append(i[5:])
    else:
        new_lose.append(i)

In [16]:
df['losers'] = new_lose

In [17]:
location = df['Unnamed: 6']
home = []

for index, row in df.iterrows():
    location = (row['Unnamed: 6'])
    if (location == 'N'):
        home.append('Neutral')
    elif (location == '@'):
        home.append(row['Loser'])
    else:
        home.append(row['Winner'])

In [18]:
df['home_team'] = home

In [19]:
away = []
for index, row in df.iterrows():
    if (row['home_team'] == row['Winner']):
        away.append(row['Loser'])
    elif (row['home_team'] == row['Loser']):
        away.append(row['Winner'])
    else:
        away.append('neutral')

In [20]:
df['away'] = away

In [21]:
df.away.value_counts()

neutral                   12
Louisiana-Monroe           7
Middle Tennessee State     7
Buffalo                    7
Western Kentucky           7
                          ..
Tennessee State            1
(20) Mississippi           1
Abilene Christian          1
(6) Oklahoma               1
(12) Washington            1
Name: away, Length: 322, dtype: int64

In [22]:
home = df['home_team']

home_rank = []

for i in home:
    if (i[2] == ")"):
        home_rank.append(i[1:2])
    elif(i[3] == ")"):
        home_rank.append(i[1:3])
    else:
        home_rank.append(99)

In [23]:
away = df['away']

away_rank = []

for i in away:
    if (i[2] == ")"):
        away_rank.append(i[1:2])
    elif(i[3] == ")"):
        away_rank.append(i[1:3])
    else:
        away_rank.append(99)

In [24]:
df['home_rank'] = home_rank

In [25]:
df['away_rank'] = away_rank

In [26]:
home = df['home_team']
home_team = []

for i in home:
    if(i[2] == ")"):
        home_team.append(i[4:])
#         if(i[1] == "("):
#             new_winner.append(i[5:])
    elif(i[3] == ")"):
        home_team.append(i[5:])
    else:
        home_team.append(i)

In [27]:
df['home_team'] = home_team

In [28]:
aways = df['away']
away_team = []

for i in aways:
    if(i[2] == ")"):
        away_team.append(i[4:])
#         if(i[1] == "("):
#             new_winner.append(i[5:])
    elif(i[3] == ")"):
        away_team.append(i[5:])
    else:
        away_team.append(i)

In [29]:
df['away'] = away_team

In [30]:
df["home_team_code"] = df["home_team"].astype("category").cat.codes

In [31]:
df["away_team_code"] = df["away"].astype("category").cat.codes

In [32]:
homes = df['home_team']

In [33]:
df1 = df.copy()

In [34]:
home_results = []
for index, row in df1.iterrows():
    if (row['home_team'] == row['winners']):
        home_results.append(0)
    elif (row['home_team'] == row['losers']):
        home_results.append(1)
    else:
        home_results.append(3)

In [35]:
df1['home_results'] = home_results

In [36]:
wins = df1['Winner']

In [37]:
winners = []
for i in wins:
    if (i[2] == ")"):
        winners.append(i[1:2])
    elif(i[3] == ")"):
        winners.append(i[1:3])
    else:
        winners.append(99)

In [38]:
df1['win_rank'] = winners

In [39]:
lose = df1['Loser']

In [40]:
losers = []
for i in lose:
    if (i[2] == ")"):
        losers.append(i[1:2])
    elif(i[3] == ")"):
        losers.append(i[1:3])
    else:
        losers.append(99)

In [41]:
len(losers)

841

In [42]:
df1['lose_rank'] = losers

In [43]:
df1 = df1.drop(columns=['Unnamed: 6'])

In [44]:
df1 = df1.drop(columns=['home_team', 'away'])

In [45]:
dates = df1["Date"]

In [46]:
month_num = []

for i in dates:
    if(i[1] =='-'):
        if(i[2:5] == 'Sep'):
            month_num.append('9')
        elif(i[2:5] == 'Oct'):
            month_num.append('10')
        elif(i[2:5] == 'Nov'):
            month_num.append('11')
        elif(i[2:5] == 'Aug'):
            month_num.append('8')
    elif(i[2] =='-'):
        if(i[3:6] == 'Aug'):
            month_num.append('8')
        elif(i[3:6] == 'Sep'):
            month_num.append('9')
        elif(i[3:6] == 'Oct'):
            month_num.append('10')
        elif(i[3:6] == 'Nov'):
            month_num.append('11')

In [47]:
days = []

for i in dates: 
    if(i[1] == '-'):
        days.append(i[0])
    if(i[2] == "-"):
        days.append(i[0:2])

In [48]:
years = []

for i in dates: 
    years.append('2022')

In [49]:
df1['months']= month_num
df1['years'] = years
df1['days'] = days

In [50]:
df1["dates"] = df1[
    'years'].astype(
    str) +"-"+ df1['months'].astype(str) + "-" + df1['days'].astype(str)

In [51]:
df1 = df1.drop(columns=['Date'])

In [52]:
df1 = df1.drop(columns=['months', 'years', 'days', 'Day'])

In [53]:
df1["dates"].value_counts()

2022-9-10     80
2022-9-17     69
2022-9-24     60
2022-11-19    57
2022-9-3      56
2022-10-1     55
2022-11-12    54
2022-10-8     52
2022-11-5     51
2022-10-22    48
2022-10-15    48
2022-11-26    47
2022-10-29    42
2022-9-1      16
2022-11-25    13
2022-8-27     11
2022-9-2       8
2022-9-30      5
2022-10-7      4
2022-9-22      3
2022-11-8      3
2022-11-9      3
2022-10-27     3
2022-11-11     3
2022-11-4      3
2022-9-23      3
2022-11-16     3
2022-11-3      2
2022-11-10     2
2022-11-18     2
2022-9-4       2
2022-11-22     2
2022-9-9       2
2022-11-15     2
2022-11-2      2
2022-10-20     2
2022-10-13     2
2022-9-16      2
2022-10-28     2
2022-10-21     2
2022-9-29      2
2022-11-1      2
2022-10-14     2
2022-10-5      1
2022-11-24     1
2022-10-12     1
2022-10-2      1
2022-11-17     1
2022-9-5       1
2022-9-18      1
2022-10-30     1
2022-10-19     1
Name: dates, dtype: int64

In [54]:
df1['dates'] = pd.to_datetime(df1['dates'])

In [55]:
df1["day_code"] = df1["dates"].dt.dayofweek

In [56]:
times = df1['Time']

In [57]:
nums = []

for i in times:
    i = str(i)
    nums.append(i[:-2])

In [58]:
hours = []
mins = []

for i in nums:
    if(len(i) == 5):
        hours.append(i[0])
        mins.append(i[2:4])        
    else:
        hours.append(i[0:2])
        mins.append(i[3:5])

In [59]:
df1['hour'] = hours

In [60]:
df1['minutes'] = mins

In [61]:
new_hour= []
for index, row in df1.iterrows():
    if(row['hour'] == 'n'):
        new_hour.append(5)
    else:
        new_hour.append(row['hour'])

In [62]:
df1['hours'] = new_hour

In [63]:
df1['hours'].value_counts()

7     209
3     168
12    152
8      62
4      55
10     41
2      41
6      32
5      24
9      23
1      19
11     13
5       2
Name: hours, dtype: int64

In [64]:
hour = (df1['hours'])
hours = []

for x in hour:
    if (x == '12'):
        hours.append('12')
    elif(x == '1'):
        hours.append('13')
    elif(x == '2'):
        hours.append('14')
    elif(x == '3'):
        hours.append('15')
    elif(x == '4'):
        hours.append('16')
    elif(x == '5'):
        hours.append('17')
    elif(x == '6'):
        hours.append('18')
    elif(x == '7'):
        hours.append('19')
    elif(x == '8'):
        hours.append('20')
    elif(x == '9'):
        hours.append('21')
    elif(x == '10'):
        hours.append('22')
    elif(x == '11'):
        hours.append('11')
    else:
        hours.append('5')

In [65]:
df1['hours'] = hours

In [66]:
df1['minutes'].value_counts()

00    511
30    318
45      5
15      3
        2
59      1
35      1
Name: minutes, dtype: int64

In [67]:
mins = df1['minutes']
minute = []

for i in mins:
    if(i == '00'):
        minute.append('00')
    elif(i == '30'):
        minute.append('30')
    elif(i == '45'):
        minute.append('45')
    elif(i == '15'):
        minute.append('15')
    elif(i == '59'):
        minute.append('00')
    elif(i == '35'):
        minute.append('30')
    else:
        minute.append('00')

In [68]:
df1['minutes'] = minute

In [69]:
df1 = df1.drop(columns=['hour', 'Time'])

In [70]:
df1 = df1.drop(columns=['dates'])

In [71]:
hr = df1['hours']
hour = []

for i in hr:
    i = int(i)
    hour.append(i)

In [72]:
df1['hours'] = hour

In [73]:
mins = df1['minutes']
null = []
half = []
quart = []
three_quart = []

for i in mins:
    if (i == '00'):
        null.append(1)
        half.append(0)
        quart.append(0)
        three_quart.append(0)
    elif(i == '30'):
        null.append(0)
        half.append(1)
        quart.append(0)
        three_quart.append(0)
    elif(i == '45'):
        null.append(0)
        half.append(0)
        quart.append(1)
        three_quart.append(0)
    elif(i == '15'):
        null.append(0)
        half.append(0)
        quart.append(0)
        three_quart.append(1)

In [74]:
df2 = df1.copy()

In [75]:
df2['null'] = null
df2['half'] = half
df2['quart'] = quart
df2['three_quart'] = three_quart

In [76]:
df2 = df2.drop(columns=['minutes'])

In [77]:
df2.isnull().sum()

Wk                0
Winner            0
Pts               0
Loser             0
Pts.1             0
winners           0
losers            0
home_rank         0
away_rank         0
home_team_code    0
away_team_code    0
home_results      0
win_rank          0
lose_rank         0
day_code          0
hours             0
null              0
half              0
quart             0
three_quart       0
dtype: int64

In [78]:
# df2.to_csv('encoded_df.csv', index=False)