In [1]:
import pandas as pd
import numpy as np

In [9]:
results2022 = pd.read_csv('../qatar2022/historical_win-loose-draw_ratios_qatar2022_teams.csv')

In [10]:
results2022

       country1    country2  games      wins    looses     draws
0     Argentina   Australia      7  0.714286  0.142857  0.142857
1     Australia   Argentina      7  0.142857  0.714286  0.142857
2     Argentina     Belgium      4  0.750000  0.250000  0.000000
3       Belgium   Argentina      4  0.250000  0.750000  0.000000
4     Argentina      Brazil    108  0.361111  0.398148  0.240741
..          ...         ...    ...       ...       ...       ...
793   Australia       Wales      1  1.000000  0.000000  0.000000
794       Wales  Costa Rica      2  0.500000  0.500000  0.000000
795  Costa Rica       Wales      2  0.500000  0.500000  0.000000
796       Wales     Uruguay      2  0.000000  0.500000  0.500000
797     Uruguay       Wales      2  0.500000  0.000000  0.500000

[798 rows x 6 columns]