In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('isdbv1.csv')

In [3]:
df2 = pd.read_csv('isdbv2.csv')

In [4]:
df2

,Sea,Lge,Date,HT,AT,HS,AS,GD,WDL
0,00-01,GER1,11/8/00,Dortmund,Hansa Rostock,1,0,1,W
1,00-01,GER1,12/8/00,Bayern Munich,Hertha Berlin,4,1,3,W
2,00-01,GER1,12/8/00,Freiburg,VfB Stuttgart,4,0,4,W
3,00-01,GER1,12/8/00,Hamburger SV,Munich 1860,2,2,0,D
4,00-01,GER1,12/8/00,Kaiserslautern,Bochum,0,1,-1,L
...,...,...,...,...,...,...,...,...,...
218911,16-17,ZAF1,27/05/2017,Ajax Cape Town,Baroka FC,0,1,-1,L
218912,16-17,ZAF1,27/05/2017,Free State Stars,Chippa United,0,0,0,D
218913,16-17,ZAF1,27/05/2017,Polokwane City,Cape Town City FC,4,2,2,W
218914,16-17,ZAF1,27/05/2017,Maritzburg United,Bloemfontein Celtic,1,1,0,D
218915,16-17,ZAF1,27/05/2017,Highlands Park,Mamelodi Sundowns,2,2,0,D

In [5]:
df1

,Sea,Lge,Date,HT,AT,HS,AS,GD,WDL
0,00-01,GER1,11/8/00,Dortmund,Hansa Rostock,1,0,1,W
1,00-01,GER1,12/8/00,Bayern Munich,Hertha Berlin,4,1,3,W
2,00-01,GER1,12/8/00,Freiburg,VfB Stuttgart,4,0,4,W
3,00-01,GER1,12/8/00,Hamburger SV,Munich 1860,2,2,0,D
4,00-01,GER1,12/8/00,Kaiserslautern,Bochum,0,1,-1,L
...,...,...,...,...,...,...,...,...,...
216738,17-18,VEN1,19/03/2017,Atletico Socopo,Monagas,0,2,-2,L
216739,17-18,VEN1,19/03/2017,Portuguesa FC,Trujillanos FC,0,0,0,D
216740,17-18,VEN1,19/03/2017,Mineros de Guayana,Aragua FC,3,3,0,D
216741,17-18,VEN1,19/03/2017,Deportivo Tachira,Deportivo Lara,4,1,3,W
216742,17-18,VEN1,19/03/2017,Zulia FC,Zamora FC,3,0,3,W

In [6]:
df1.shape

(216743, 9)

In [7]:
df2.shape

(218916, 9)

In [8]:
df1.tail()

,Sea,Lge,Date,HT,AT,HS,AS,GD,WDL
216738,17-18,VEN1,19/03/2017,Atletico Socopo,Monagas,0,2,-2,L
216739,17-18,VEN1,19/03/2017,Portuguesa FC,Trujillanos FC,0,0,0,D
216740,17-18,VEN1,19/03/2017,Mineros de Guayana,Aragua FC,3,3,0,D
216741,17-18,VEN1,19/03/2017,Deportivo Tachira,Deportivo Lara,4,1,3,W
216742,17-18,VEN1,19/03/2017,Zulia FC,Zamora FC,3,0,3,W

In [9]:
df2.tail()

,Sea,Lge,Date,HT,AT,HS,AS,GD,WDL
218911,16-17,ZAF1,27/05/2017,Ajax Cape Town,Baroka FC,0,1,-1,L
218912,16-17,ZAF1,27/05/2017,Free State Stars,Chippa United,0,0,0,D
218913,16-17,ZAF1,27/05/2017,Polokwane City,Cape Town City FC,4,2,2,W
218914,16-17,ZAF1,27/05/2017,Maritzburg United,Bloemfontein Celtic,1,1,0,D
218915,16-17,ZAF1,27/05/2017,Highlands Park,Mamelodi Sundowns,2,2,0,D

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218916 entries, 0 to 218915
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Sea     218916 non-null  object
 1   Lge     218916 non-null  object
 2   Date    218916 non-null  object
 3   HT      218916 non-null  object
 4   AT      218916 non-null  object
 5   HS      218916 non-null  int64
 6   AS      218916 non-null  int64
 7   GD      218916 non-null  int64
 8   WDL     218916 non-null  object
dtypes: int64(3), object(6)
memory usage: 15.0+ MB

In [12]:
df2.describe()

                  HS             AS             GD
count  218916.000000  218916.000000  218916.000000
mean        1.483606       1.110896       0.372709
std         1.251810       1.093406       1.669193
min         0.000000       0.000000     -10.000000
25%         1.000000       0.000000      -1.000000
50%         1.000000       1.000000       0.000000
75%         2.000000       2.000000       1.000000
max        11.000000      10.000000      10.000000

In [13]:
df2['WDL'].value_counts()

W    99459
L    60188
D    59269
Name: WDL, dtype: int64

In [20]:
df2.shape

(218916, 9)

In [21]:
99459+60188+59269

218916

In [14]:
df2['GD'].value_counts()

 0     59269
 1     50335
-1     34991
 2     28783
-2     16381
 3     13108
-3      6114
 4      4885
-4      1966
 5      1624
-5       540
 6       520
 7       158
-6       152
 8        34
-7        28
-8        10
 9         9
-9         5
 10        3
-10        1
Name: GD, dtype: int64

In [15]:
df2['HS'].value_counts()

1     73391
2     53221
0     51128
3     26283
4     10230
5      3274
6      1028
7       275
8        61
9        19
10        5
11        1
Name: HS, dtype: int64

In [28]:
df2['HS'].value_counts().sum()

218916

In [27]:
11+50+(9*11)+(8*61)+(7*275)+(6*1028)+(5*3274)+(4*10230)+(3*26283)+(2*53221)+73391

324713

In [29]:
df2['AS'].value_counts()

1     78486
0     74508
2     42510
3     16417
4      5154
5      1357
6       387
7        72
8        17
9         7
10        1
Name: AS, dtype: int64

In [35]:
10+63+(8*17)+(7*72)+(6*387)+(5*1357)+(4*5154)+(3*16417)+(2*42510)+78486

243193

## HOME GOALS: 324,713
## AWAY GOALS: 243,193
## NUMBER OF MATCHES: 218,916

HOME GOALS PER GAME

In [36]:
324713/218916

1.4832766906027883

AWAY GOALS PER GAME

In [37]:
243193/218916

1.110896416890497

TOTAL GOALS PER GAME

In [38]:
(324713+243193)/218916

2.594173107493285