In [9]:
import numpy as np
import pandas as pd
from sklearn import svm

In [10]:
df = pd.read_csv('final4.csv')

In [11]:
df = df.iloc[:32, :]

In [12]:
df.isnull().sum()

MP            0
Gls.1         0
Ast.1         0
G+A           0
G-PK.1        0
G+A-PK        0
xG            0
npxG          0
xAG           0
npxG+xAG      0
xG.1          0
xAG.1         0
xG+xAG        0
npxG.1        0
npxG+xAG.1    0
Squad_code    0
gls_gm        0
poss          0
dtype: int64

In [15]:
argentina = df[df['Squad_code']== 0]

In [17]:
france = df[df['Squad_code']== 13]

In [27]:
data = df.loc[df["Squad_code"] != 0]

In [28]:
data = data.loc[data["Squad_code"] != 13]

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 1 to 31
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MP          30 non-null     float64
 1   Gls.1       30 non-null     float64
 2   Ast.1       30 non-null     float64
 3   G+A         30 non-null     float64
 4   G-PK.1      30 non-null     float64
 5   G+A-PK      30 non-null     float64
 6   xG          30 non-null     float64
 7   npxG        30 non-null     float64
 8   xAG         30 non-null     float64
 9   npxG+xAG    30 non-null     float64
 10  xG.1        30 non-null     float64
 11  xAG.1       30 non-null     float64
 12  xG+xAG      30 non-null     float64
 13  npxG.1      30 non-null     float64
 14  npxG+xAG.1  30 non-null     float64
 15  Squad_code  30 non-null     int64
 16  gls_gm      30 non-null     float64
 17  poss        30 non-null     float64
dtypes: float64(17), int64(1)
memory usage: 4.5 KB

In [31]:
X = data.drop(columns=['MP'])
y = data['MP']

In [32]:
from sklearn.model_selection import train_test_split

In [21]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.13, random_state=42)

In [34]:
# X_train

In [35]:
regr = svm.SVR()

In [36]:
regr.fit(X, y)

SVR()

In [59]:
new_df = argentina

In [61]:
new_df = new_df.append(france)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_6136/592270563.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(france)

In [62]:
new_df

,MP,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK,xG,npxG,xAG,npxG+xAG,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Squad_code,gls_gm,poss
0,6.0,1.89,1.11,3.0,1.42,2.53,11.8,8.9,6.2,15.0,1.87,0.98,2.84,1.40,2.37,0,2.000000,58.0
2,6.0,2.17,1.83,4.0,2.17,4.00,11.6,11.6,9.7,21.2,1.93,1.61,3.54,1.93,3.54,13,2.166667,52.2

In [63]:
new_x

,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK,xG,npxG,xAG,npxG+xAG,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Squad_code,gls_gm,poss
0,1.89,1.11,3.0,1.42,2.53,11.8,8.9,6.2,15.0,1.87,0.98,2.84,1.40,2.37,0,2.000000,58.0
2,2.17,1.83,4.0,2.17,4.00,11.6,11.6,9.7,21.2,1.93,1.61,3.54,1.93,3.54,13,2.166667,52.2

In [64]:
new_y

0    6.0
2    6.0
Name: MP, dtype: float64

In [65]:
new_x = new_df.drop(columns=['MP'])

In [66]:
new_y = new_df['MP']

In [67]:
predz

array([3.92326679, 4.19143896])

In [55]:
predz = regr.predict(new_x)

In [58]:
# argentina 3.92326679, 
# france 4.19143896

In [68]:
# data = {'y_test': y_test, 'y_pred': predz}
# new_df = pd.DataFrame(data)
# diff = (new_df['y_test'] - new_df['y_pred']).abs()
# new_df['diff'] = diff
# new_df = new_df.sort_values(by='diff', ascending=True)
# new_df

In [31]:
df.head()

,MP,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK,xG,npxG,xAG,npxG+xAG,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Squad_code,gls_gm,poss
0,6.0,1.89,1.11,3.00,1.42,2.53,11.8,8.9,6.2,15.0,1.87,0.98,2.84,1.40,2.37,0,2.000000,58.0
1,6.0,0.90,0.90,1.80,0.90,1.80,6.4,6.4,5.0,11.4,0.95,0.75,1.71,0.95,1.71,15,1.000000,55.0
2,6.0,2.17,1.83,4.00,2.17,4.00,11.6,11.6,9.7,21.2,1.93,1.61,3.54,1.93,3.54,13,2.166667,52.2
3,6.0,0.79,0.63,1.42,0.79,1.42,5.4,5.4,4.3,9.7,0.86,0.68,1.54,0.86,1.54,19,0.833333,37.2
4,5.0,1.50,1.13,2.62,1.31,2.44,12.0,11.2,8.2,19.4,2.24,1.54,3.79,2.09,3.64,3,1.600000,56.2