In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [2]:
df = pd.read_csv('wc-wo-outliers.csv')

In [3]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.20, random_state=1)

In [4]:
regr = RandomForestRegressor(max_depth=20, n_estimators=1000, min_samples_split=2, 
                             max_features=15, random_state=1)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=20, max_features=15, n_estimators=1000,
                      random_state=1)

In [5]:
y_pred = regr.predict(X_test)

In [6]:
print('DECISION FOREST REGRESSION')
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))


print('-----------------')

y_train_pred = regr.predict(X_train)

print('r2 score: '+str(r2_score(y_train, y_train_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_train, y_train_pred))))
print('MSE: '+str(mean_squared_error(y_train, y_train_pred)))
print('MAE: '+str(mean_absolute_error(y_train, y_train_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_train, y_train_pred)))

DECISION FOREST REGRESSION
r2 score: 0.2967831866338452
RMSE : 7.579711887664333
MSE: 57.4520323
MAE: 5.838099999999999
MAPE: 0.7793818583999947
-----------------
r2 score: 0.9296137881016225
RMSE : 2.470282067199093
MSE: 6.102293491525424
MAE: 2.0082711864406777
MAPE: 0.37432196450623323

In [8]:
y_pred

array([18.428, 12.837,  5.141, 24.897, 19.896, 12.382, 20.437,  7.535,
        8.807, 10.104,  9.006,  9.647, 19.877,  9.371,  7.581, 10.935,
        9.984,  3.552,  8.906,  8.993, 24.268, 16.242,  3.624, 27.275,
        5.535,  6.206,  5.629,  6.498, 20.181, 25.365])

In [32]:
data = {'y_test': y_test, 'y_pred': y_pred}

In [33]:
new_df = pd.DataFrame(data)

In [38]:
diff = (new_df['y_test'] - new_df['y_pred']).abs()

In [40]:
new_df['diff'] = diff

In [51]:
new_df.sort_values(by='diff', ascending=True)

     y_test  y_pred    diff
58        7   7.581   0.581
51        5   5.629   0.629
142      26  25.365   0.635
89       21  20.181   0.819
66       10   8.906   1.094
31        5   3.624   1.376
121      11  12.837   1.837
5         7   9.006   2.006
104      27  24.897   2.103
48        4   6.498   2.498
29        1   3.552   2.552
44        6   8.807   2.807
75       16  12.382   3.618
110      10   5.535   4.465
90       25  20.437   4.563
100      23  18.428   4.572
16        4   9.647   5.647
19       13   6.206   6.794
59       17  10.104   6.896
33        4  10.935   6.935
35        2   8.993   6.993
14        2   9.371   7.371
53       16   7.535   8.465
99       29  19.896   9.104
92       29  19.877   9.123
85        7  16.242   9.242
141      14  27.275  13.275
73       24   9.984  14.016
118      10  24.268  14.268
54       26   5.141  20.859

In [42]:
new_df['diff'].sum()

175.14299999999997

In [43]:
new_df['diff'].mean()

5.8381

In [44]:
new_df['diff'].median()

4.567499999999999