REview:
- https://github.com/EpistasisLab/pmlb
- https://epistasislab.github.io/pmlb/profile/207_autoPrice.html
- https://seaborn.pydata.org/examples/structured_heatmap.html

## can i take my predictions and add them to the df to be trained again?
- https://scikit-learn.org/stable/auto_examples/ensemble/plot_stack_predictors.html#sphx-glr-auto-examples-ensemble-plot-stack-predictors-py

## Visualize your tree as you are training by using the export function. Use max_depth=3 as an initial tree depth to get a feel for how the tree is fitting to your data, and then increase the depth.

- Consider performing dimensionality reduction (PCA, ICA, or Feature selection) beforehand to give your tree a better chance of finding features that are discriminative.

- Understanding the decision tree structure will help in gaining more insights about how the decision tree makes predictions, which is important for understanding the important features in the data.

- Visualize your tree as you are training by using the export function. Use max_depth=3 as an initial tree depth to get a feel for how the tree is fitting to your data, and then increase the depth.

- Remember that the number of samples required to populate the tree doubles for each additional level the tree grows to. Use max_depth to control the size of the tree to prevent overfitting.

- Use min_samples_split or min_samples_leaf to ensure that multiple samples inform every decision in the tree, by controlling which splits will be considered. A very small number will usually mean the tree will overfit, whereas a large number will prevent the tree from learning the data. Try min_samples_leaf=5 as an initial value. If the sample size varies greatly, a float number can be used as percentage in these two parameters. While min_samples_split can create arbitrarily small leaves, min_samples_leaf guarantees that each leaf has a minimum size, avoiding low-variance, over-fit leaf nodes in regression problems. For classification with few classes, min_samples_leaf=1 is often the best choice.

- Note that min_samples_split considers samples directly and independent of sample_weight, if provided (e.g. a node with m weighted samples is still treated as having exactly m samples). Consider min_weight_fraction_leaf or min_impurity_decrease if accounting for sample weights is required at splits.

- Balance your dataset before training to prevent the tree from being biased toward the classes that are dominant. Class balancing can be done by sampling an equal number of samples from each class, or preferably by normalizing the sum of the sample weights (sample_weight) for each class to the same value. Also note that weight-based pre-pruning criteria, such as min_weight_fraction_leaf, will then be less biased toward dominant classes than criteria that are not aware of the sample weights, like min_samples_leaf.

- If the samples are weighted, it will be easier to optimize the tree structure using weight-based pre-pruning criterion such as min_weight_fraction_leaf, which ensure that leaf nodes contain at least a fraction of the overall sum of the sample weights.

- All decision trees use np.float32 arrays internally. If training data is not in this format, a copy of the dataset will be made.

- If the input matrix X is very sparse, it is recommended to convert to sparse csc_matrix before calling fit and sparse csr_matrix before calling predict. Training time can be orders of magnitude faster for a sparse matrix input compared to a dense matrix when features have zero values in most of the samples.

https://scikit-learn.org/stable/modules/tree.html#tips-on-practical-use

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [2]:
df = pd.read_csv('wc-wo-outliers.csv')

In [29]:
df2 = pd.read_csv('wc-w-outliers.csv')

In [3]:
df.head()

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
0,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2
1,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692,7
2,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846,5
3,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692,1
4,0.114615,0.155385,0.271538,0.330769,-0.015385,0.028462,0.128462,0.109231,0.130769,0.056923,-0.232308,-0.146923,-0.023077,0.078462,0.532308,0.140769,2

In [4]:
df.shape

(174, 17)

In [30]:
y2 = df2['results']
X2 = df2.drop(columns=['results'])

X_train2, X_test2, y_train2, y_test2 = train_test_split(
     X2, y2, test_size=0.20, random_state=1)

In [5]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.20, random_state=1)

In [31]:
regr2 = RandomForestRegressor(max_depth=40, n_estimators=1, min_samples_split=26, 
                             max_features=14,  random_state=1)
regr2.fit(X_train2, y_train2)

RandomForestRegressor(max_depth=40, max_features=14, min_samples_split=26,
                      n_estimators=1, random_state=1)

In [6]:
regr = RandomForestRegressor(max_depth=40, n_estimators=1, min_samples_split=26, 
                             max_features=14,  random_state=1)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=40, max_features=14, min_samples_split=26,
                      n_estimators=1, random_state=1)

In [7]:
y_pred = regr.predict(X_test)

In [32]:
y_pred2 = regr2.predict(X_test2)

In [44]:
print('DECISION FOREST REGRESSION')
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))


print('-----------------')

print('DECISION FOREST REGRESSION with outliers')
print('r2 score: '+str(r2_score(y_test2, y_pred2)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test2, y_pred2))))
print('MSE: '+str(mean_squared_error(y_test2, y_pred2)))
print('MAE: '+str(mean_absolute_error(y_test2, y_pred2)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test2, y_pred2)))



# y_train_pred = regr.predict(X_train)

# print('r2 score: '+str(r2_score(y_train, y_train_pred)))
# print('RMSE : '+str(np.sqrt(mean_squared_error(y_train, y_train_pred))))
# print('MSE: '+str(mean_squared_error(y_train, y_train_pred)))
# print('MAE: '+str(mean_absolute_error(y_train, y_train_pred)))
# print('MAPE: '+str(mean_absolute_percentage_error(y_train, y_train_pred)))

DECISION FOREST REGRESSION
r2 score: -0.15536923580016815
RMSE : 9.931826676855527
MSE: 98.64118113909909
MAE: 8.28939634801289
MAPE: 2.0642166176831
-----------------
DECISION FOREST REGRESSION with outliers
r2 score: 0.34568546330145555
RMSE : 6.714353900226012
MSE: 45.08254829748026
MAE: 5.333008038464428
MAPE: 1.0460953565953761

In [9]:
regr.decision_path(X_train)

(<139x15 sparse matrix of type '<class 'numpy.int64'>'
 	with 603 stored elements in Compressed Sparse Row format>,
 array([ 0, 15]))

In [10]:
regr.feature_importances_

array([0.69878877, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.08829734, 0.1159403 ,
       0.        , 0.        , 0.        , 0.09697359, 0.        ,
       0.        ])

splits:
15 = .944
2 = .9720
20 = .9101
200 = 1.597
50 = 1.078
25 = .8878
26 = 0.8569

16 feat = 1.075
15 feat = 1.077
14 feat = 1.064
13 feat = 1.072
12 feat = 1.084

depth:
40 = 1.064

estimators:
100 = 1.039
1000 = 1.0643
3 = 1.0243
1 = .972

In [11]:
# mape .37432196450623323
# mape @ (178, 17) = .38923381998443746
# mape @ (189, 17) = .3718819197955769
# z < 2.3 for (189, 17) = (165, 17) = .34524814299512346
# mape @ (194, 17) with z < 2.7 == .366891667284337
# z < 2.2 for (238, 17) = (174, 17) = .3385536296774055
# z < 2.25 for (238, 17) = (177, 17) = .3147636128194135

DECISION FOREST REGRESSION
r2 score: 0.2967831866338452
RMSE : 7.579711887664333
MSE: 57.4520323
MAE: 5.838099999999999
MAPE: 0.7793818583999947
-----------------
r2 score: 0.9296137881016225
RMSE : 2.470282067199093
MSE: 6.102293491525424
MAE: 2.0082711864406777
MAPE: 0.37432196450623323

In [12]:
data = {'y_test': y_test, 'y_pred': y_pred}

In [13]:
new_df = pd.DataFrame(data)

In [14]:
diff = (new_df['y_test'] - new_df['y_pred']).abs()

In [15]:
new_df['diff'] = diff

In [16]:
new_df = new_df.sort_values(by='diff', ascending=True)

In [17]:
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [18]:
new_df

     y_test  y_pred       diff
40       12    11.8   0.184211
73       22    22.4   0.360000
16       11    11.8   0.815789
147      10     7.6   2.400000
14       15    11.8   3.184211
85        4     7.6   3.600000
29       26    22.4   3.640000
42        8    11.8   3.815789
135      17    11.8   5.184211
155      14    19.3   5.285714
35        2     7.6   5.600000
110       2     7.6   5.600000
53       28    22.4   5.640000
152       6    11.8   5.815789
31        6    11.8   5.815789
11       18    11.8   6.184211
168      18    11.8   6.184211
51       21    27.5   6.500000
112      15     7.6   7.400000
105      31    22.4   8.640000
19        3    11.8   8.815789
102       3    11.8   8.815789
69        9    18.7   9.666667
5         2    11.8   9.815789
4         2    11.8   9.815789
47        1    11.8  10.815789
106       1    11.8  10.815789
161      19     7.6  11.400000
93        7    18.7  11.666667
148      15    27.5  12.500000
114      26    11.8  14.184211
75        2    18.7  16.666667
123      27     7.6  19.400000
126      27     7.6  19.400000
95        3    27.5  24.500000

In [19]:
yvals_df = new_df.sort_values(by='y_pred', ascending=True)

In [20]:
yvals_df

     y_test  y_pred       diff
123      27     7.6  19.400000
161      19     7.6  11.400000
147      10     7.6   2.400000
85        4     7.6   3.600000
35        2     7.6   5.600000
110       2     7.6   5.600000
112      15     7.6   7.400000
126      27     7.6  19.400000
40       12    11.8   0.184211
106       1    11.8  10.815789
47        1    11.8  10.815789
4         2    11.8   9.815789
5         2    11.8   9.815789
102       3    11.8   8.815789
19        3    11.8   8.815789
168      18    11.8   6.184211
11       18    11.8   6.184211
31        6    11.8   5.815789
152       6    11.8   5.815789
135      17    11.8   5.184211
42        8    11.8   3.815789
14       15    11.8   3.184211
16       11    11.8   0.815789
114      26    11.8  14.184211
69        9    18.7   9.666667
93        7    18.7  11.666667
75        2    18.7  16.666667
155      14    19.3   5.285714
105      31    22.4   8.640000
53       28    22.4   5.640000
29       26    22.4   3.640000
73       22    22.4   0.360000
51       21    27.5   6.500000
148      15    27.5  12.500000
95        3    27.5  24.500000

In [21]:
ytest_df = new_df.sort_values(by='y_test', ascending=True)

In [22]:
ytest_df

     y_test  y_pred       diff
47        1    11.8  10.815789
106       1    11.8  10.815789
75        2    18.7  16.666667
5         2    11.8   9.815789
110       2     7.6   5.600000
35        2     7.6   5.600000
4         2    11.8   9.815789
102       3    11.8   8.815789
95        3    27.5  24.500000
19        3    11.8   8.815789
85        4     7.6   3.600000
152       6    11.8   5.815789
31        6    11.8   5.815789
93        7    18.7  11.666667
42        8    11.8   3.815789
69        9    18.7   9.666667
147      10     7.6   2.400000
16       11    11.8   0.815789
40       12    11.8   0.184211
155      14    19.3   5.285714
14       15    11.8   3.184211
148      15    27.5  12.500000
112      15     7.6   7.400000
135      17    11.8   5.184211
168      18    11.8   6.184211
11       18    11.8   6.184211
161      19     7.6  11.400000
51       21    27.5   6.500000
73       22    22.4   0.360000
29       26    22.4   3.640000
114      26    11.8  14.184211
126      27     7.6  19.400000
123      27     7.6  19.400000
53       28    22.4   5.640000
105      31    22.4   8.640000

In [23]:
len(new_df)/2

17.5

In [24]:
new_df.iloc[20:]

     y_test  y_pred       diff
19        3    11.8   8.815789
102       3    11.8   8.815789
69        9    18.7   9.666667
5         2    11.8   9.815789
4         2    11.8   9.815789
47        1    11.8  10.815789
106       1    11.8  10.815789
161      19     7.6  11.400000
93        7    18.7  11.666667
148      15    27.5  12.500000
114      26    11.8  14.184211
75        2    18.7  16.666667
123      27     7.6  19.400000
126      27     7.6  19.400000
95        3    27.5  24.500000

In [25]:
new_df['diff'].sum() / len(new_df)

8.28939634801289

In [26]:
new_df['diff'].mean()

8.28939634801289

In [27]:
new_df['diff'].median()

6.5

In [28]:
# mean = 5.8381
# median = 4.56799