# Results vary

REview:
- https://github.com/EpistasisLab/pmlb
- https://epistasislab.github.io/pmlb/profile/207_autoPrice.html
- https://seaborn.pydata.org/examples/structured_heatmap.html

## can i take my predictions and add them to the df to be trained again?
- https://scikit-learn.org/stable/auto_examples/ensemble/plot_stack_predictors.html#sphx-glr-auto-examples-ensemble-plot-stack-predictors-py

## Visualize your tree as you are training by using the export function. Use max_depth=3 as an initial tree depth to get a feel for how the tree is fitting to your data, and then increase the depth.

- Consider performing dimensionality reduction (PCA, ICA, or Feature selection) beforehand to give your tree a better chance of finding features that are discriminative.

- Understanding the decision tree structure will help in gaining more insights about how the decision tree makes predictions, which is important for understanding the important features in the data.

- Visualize your tree as you are training by using the export function. Use max_depth=3 as an initial tree depth to get a feel for how the tree is fitting to your data, and then increase the depth.

- Remember that the number of samples required to populate the tree doubles for each additional level the tree grows to. Use max_depth to control the size of the tree to prevent overfitting.

- Use min_samples_split or min_samples_leaf to ensure that multiple samples inform every decision in the tree, by controlling which splits will be considered. A very small number will usually mean the tree will overfit, whereas a large number will prevent the tree from learning the data. Try min_samples_leaf=5 as an initial value. If the sample size varies greatly, a float number can be used as percentage in these two parameters. While min_samples_split can create arbitrarily small leaves, min_samples_leaf guarantees that each leaf has a minimum size, avoiding low-variance, over-fit leaf nodes in regression problems. For classification with few classes, min_samples_leaf=1 is often the best choice.

- Note that min_samples_split considers samples directly and independent of sample_weight, if provided (e.g. a node with m weighted samples is still treated as having exactly m samples). Consider min_weight_fraction_leaf or min_impurity_decrease if accounting for sample weights is required at splits.

- Balance your dataset before training to prevent the tree from being biased toward the classes that are dominant. Class balancing can be done by sampling an equal number of samples from each class, or preferably by normalizing the sum of the sample weights (sample_weight) for each class to the same value. Also note that weight-based pre-pruning criteria, such as min_weight_fraction_leaf, will then be less biased toward dominant classes than criteria that are not aware of the sample weights, like min_samples_leaf.

- If the samples are weighted, it will be easier to optimize the tree structure using weight-based pre-pruning criterion such as min_weight_fraction_leaf, which ensure that leaf nodes contain at least a fraction of the overall sum of the sample weights.

- All decision trees use np.float32 arrays internally. If training data is not in this format, a copy of the dataset will be made.

- If the input matrix X is very sparse, it is recommended to convert to sparse csc_matrix before calling fit and sparse csr_matrix before calling predict. Training time can be orders of magnitude faster for a sparse matrix input compared to a dense matrix when features have zero values in most of the samples.

https://scikit-learn.org/stable/modules/tree.html#tips-on-practical-use

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [2]:
df = pd.read_csv('hotData.csv')

In [3]:
# df = pd.read_csv('wc-wo-outliers.csv')

In [4]:
# df2 = pd.read_csv('wc-w-outliers.csv')

In [5]:
df.head()

,goals,xg,crosses,boxtouches,passes,progpasses,takeons,progruns,tackles,interceptions,...,64,65,66,67,68,69,70,71,72,73
0,0.055385,-0.119231,-0.020769,0.236154,-0.781538,-0.649231,-0.407692,-0.568462,-0.578462,-0.444615,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.243077,0.063846,-0.090769,-0.287692,-0.704615,-0.441538,-0.098462,-0.383077,-0.722308,-0.606154,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.420000,-0.230000,-0.150769,-0.435385,-0.687692,-0.408462,-0.256923,-0.586154,-0.629231,-0.560000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.420000,-0.230000,-0.150769,-0.435385,-0.687692,-0.408462,-0.256923,-0.586154,-0.629231,-0.560000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.070769,-0.368462,-0.493846,-0.247692,-0.681538,-0.536923,-0.210000,-0.427692,-0.539231,-0.622308,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.30, random_state=1)

In [7]:
df.shape

(282, 91)

In [8]:
# y2 = df2['results']
# X2 = df2.drop(columns=['results'])

# X_train2, X_test2, y_train2, y_test2 = train_test_split(
#      X2, y2, test_size=0.20, random_state=1)

In [9]:
# regr2 = RandomForestRegressor(max_depth=40, n_estimators=1, min_samples_split=26, 
#                              max_features=14,  random_state=1)
# regr2.fit(X_train2, y_train2)

In [172]:
regr = RandomForestRegressor(n_estimators=1000,  max_depth=10000, min_samples_leaf=10,
                            min_weight_fraction_leaf=0.00001)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=10000, min_samples_leaf=10,
                      min_weight_fraction_leaf=1e-05, n_estimators=1000)

In [173]:
y_pred = regr.predict(X_test)

In [174]:
# y_pred2 = regr2.predict(X_test2)

In [175]:
print('DECISION FOREST REGRESSION')
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))

DECISION FOREST REGRESSION
r2 score: 0.4526378680431675
RMSE : 6.764742937875032
MSE: 45.76174701553012
MAE: 5.463388807620868
MAPE: 1.1151415545780794

In [14]:
# MAPE: 1.1418439978364807
# 1.1210
# n_estimators=1000,  max_depth=100 MAPE: 1.1139764929747875

In [15]:
# .9483002239791501
# split=10 / 92872184682128
# split=5 / 8369977588751587

In [16]:
regr.decision_path(X_train)

(<197x20022 sparse matrix of type '<class 'numpy.int64'>'
 	with 189083 stored elements in Compressed Sparse Row format>,
 array([    0,   199,   402,   599,   810,   991,  1192,  1389,  1586,
         1777,  1978,  2175,  2390,  2599,  2788,  3001,  3206,  3401,
         3596,  3793,  3990,  4193,  4404,  4627,  4824,  5019,  5214,
         5421,  5618,  5835,  6042,  6243,  6448,  6647,  6852,  7047,
         7254,  7459,  7666,  7871,  8066,  8265,  8456,  8667,  8878,
         9073,  9280,  9489,  9692,  9873, 10070, 10255, 10458, 10669,
        10872, 11081, 11276, 11467, 11660, 11861, 12056, 12269, 12458,
        12661, 12852, 13055, 13252, 13455, 13648, 13849, 14050, 14249,
        14440, 14635, 14844, 15029, 15232, 15435, 15634, 15841, 16010,
        16199, 16410, 16605, 16790, 16993, 17206, 17417, 17632, 17837,
        18042, 18245, 18422, 18615, 18814, 19021, 19224, 19421, 19620,
        19823, 20022]))

In [17]:
regr.feature_importances_

array([4.60503857e-01, 2.83046929e-02, 2.25776227e-02, 4.11513346e-02,
       2.50525666e-02, 5.04186379e-02, 3.67927289e-02, 4.18749336e-02,
       4.18721142e-02, 1.95678831e-02, 2.81126807e-02, 2.78276092e-02,
       3.10241146e-02, 1.66766481e-02, 3.39847068e-02, 2.82238101e-02,
       7.47316034e-04, 1.98926714e-06, 6.03397856e-03, 1.38591598e-03,
       4.32630900e-05, 5.95883350e-04, 0.00000000e+00, 0.00000000e+00,
       9.44374451e-03, 3.98776387e-03, 4.62036119e-04, 2.32105139e-06,
       6.12203059e-03, 1.57613441e-05, 1.77983521e-04, 1.10954299e-05,
       3.92544513e-05, 1.99598211e-04, 6.77086013e-05, 3.19642763e-06,
       1.37320994e-04, 2.77189339e-04, 4.66328112e-07, 0.00000000e+00,
       1.75827773e-04, 7.45753226e-05, 2.29031570e-03, 2.57820114e-04,
       3.17898729e-04, 7.68672743e-04, 1.41926392e-05, 0.00000000e+00,
       1.76182611e-04, 6.60501525e-05, 2.72351460e-03, 5.47916829e-04,
       1.33476121e-05, 8.14410104e-04, 1.47192289e-05, 5.20907238e-03,
       5.05935557e-05, 3.71044808e-03, 1.85081664e-04, 1.03232588e-03,
       7.14371877e-04, 4.90164256e-05, 7.12919189e-05, 2.24614877e-05,
       5.70145351e-05, 3.40425592e-04, 6.94689702e-03, 8.11136072e-06,
       1.09299177e-04, 6.12553186e-04, 7.27874626e-04, 7.60704626e-05,
       1.40848758e-05, 0.00000000e+00, 1.65944526e-05, 1.44280456e-05,
       6.19667151e-04, 2.12286444e-03, 1.17591168e-03, 3.89046873e-04,
       4.96442625e-05, 3.04112016e-04, 1.41024239e-03, 1.22300295e-03,
       0.00000000e+00, 0.00000000e+00, 8.71635140e-06, 5.06398279e-04,
       2.45175091e-04, 0.00000000e+00])

splits:
15 = .944
2 = .9720
20 = .9101
200 = 1.597
50 = 1.078
25 = .8878
26 = 0.8569

16 feat = 1.075
15 feat = 1.077
14 feat = 1.064
13 feat = 1.072
12 feat = 1.084

depth:
40 = 1.064

estimators:
100 = 1.039
1000 = 1.0643
3 = 1.0243
1 = .972

In [18]:
# mape .37432196450623323
# mape @ (178, 17) = .38923381998443746
# mape @ (189, 17) = .3718819197955769
# z < 2.3 for (189, 17) = (165, 17) = .34524814299512346
# mape @ (194, 17) with z < 2.7 == .366891667284337
# z < 2.2 for (238, 17) = (174, 17) = .3385536296774055
# z < 2.25 for (238, 17) = (177, 17) = .3147636128194135

DECISION FOREST REGRESSION
r2 score: 0.2967831866338452
RMSE : 7.579711887664333
MSE: 57.4520323
MAE: 5.838099999999999
MAPE: 0.7793818583999947
-----------------
r2 score: 0.9296137881016225
RMSE : 2.470282067199093
MSE: 6.102293491525424
MAE: 2.0082711864406777
MAPE: 0.37432196450623323

In [19]:
data = {'y_test': y_test, 'y_pred': y_pred}

In [20]:
new_df = pd.DataFrame(data)

In [21]:
diff = (new_df['y_test'] - new_df['y_pred']).abs()

In [22]:
new_df['diff'] = diff

In [23]:
new_df = new_df.sort_values(by='diff', ascending=True)

In [24]:
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [25]:
new_df

     y_test  y_pred   diff
147      24    24.1   0.09
251      10    10.3   0.26
212      13    13.3   0.26
163      11    10.7   0.33
179      13    12.7   0.34
..      ...     ...    ...
138      19     5.6  13.38
51       24    10.1  13.91
150      25    10.5  14.49
214      31    13.2  17.83
4         2    21.3  19.29

[85 rows x 3 columns]

In [26]:
yvals_df = new_df.sort_values(by='y_pred', ascending=True)

In [27]:
yvals_df

     y_test  y_pred   diff
268       5     5.6   0.59
138      19     5.6  13.38
259       1     5.8   4.76
120      17     6.5  10.54
158      15     6.7   8.31
..      ...     ...    ...
70       15    24.9   9.92
17       29    25.4   3.64
227      32    26.0   6.02
12       27    26.3   0.72
8        30    27.6   2.36

[85 rows x 3 columns]

In [28]:
ytest_df = new_df.sort_values(by='y_test', ascending=True)

In [29]:
ytest_df

     y_test  y_pred   diff
169       1     7.6   6.63
139       1     8.1   7.09
259       1     5.8   4.76
105       1    14.0  12.97
274       1    12.8  11.83
..      ...     ...    ...
214      31    13.2  17.83
208      31    24.4   6.56
39       32    24.7   7.26
227      32    26.0   6.02
62       32    23.7   8.27

[85 rows x 3 columns]

In [30]:
len(new_df)/2

42.5

In [31]:
new_df.iloc[40:]

     y_test  y_pred   diff
14       25    19.8   5.16
247      13    18.2   5.20
187      16    21.4   5.37
122      25    19.5   5.46
19       16    21.6   5.60
112      20    14.3   5.67
42       17    11.3   5.74
227      32    26.0   6.02
157       3     9.1   6.08
279      19    12.8   6.20
221      16     9.6   6.36
79       16     9.6   6.39
208      31    24.4   6.56
169       1     7.6   6.63
31       19    12.3   6.67
154      22    14.9   7.09
34        7    14.1   7.09
139       1     8.1   7.09
95       23    15.8   7.21
39       32    24.7   7.26
189       2     9.4   7.40
176      15     7.4   7.59
85        5    12.6   7.65
236       2     9.7   7.74
27        4    11.8   7.82
173       4    12.1   8.09
62       32    23.7   8.27
158      15     6.7   8.31
167       7    15.4   8.37
73       29    20.6   8.42
230      29    20.5   8.49
186      12    20.9   8.89
223      14    23.3   9.32
70       15    24.9   9.92
120      17     6.5  10.54
134      22    11.1  10.94
18        2    13.0  11.05
274       1    12.8  11.83
105       1    14.0  12.97
132      28    15.0  13.04
138      19     5.6  13.38
51       24    10.1  13.91
150      25    10.5  14.49
214      31    13.2  17.83
4         2    21.3  19.29

In [32]:
round(new_df['diff'].mean(), 3)

5.656

In [33]:
round(new_df['diff'].median(), 3)

5.37

In [34]:
# mean = 5.8381
# median = 4.56799