REview:
- https://github.com/EpistasisLab/pmlb
- https://epistasislab.github.io/pmlb/profile/207_autoPrice.html
- https://seaborn.pydata.org/examples/structured_heatmap.html

## can i take my predictions and add them to the df to be trained again?
- https://scikit-learn.org/stable/auto_examples/ensemble/plot_stack_predictors.html#sphx-glr-auto-examples-ensemble-plot-stack-predictors-py

## Visualize your tree as you are training by using the export function. Use max_depth=3 as an initial tree depth to get a feel for how the tree is fitting to your data, and then increase the depth.

- Consider performing dimensionality reduction (PCA, ICA, or Feature selection) beforehand to give your tree a better chance of finding features that are discriminative.

- Understanding the decision tree structure will help in gaining more insights about how the decision tree makes predictions, which is important for understanding the important features in the data.

- Visualize your tree as you are training by using the export function. Use max_depth=3 as an initial tree depth to get a feel for how the tree is fitting to your data, and then increase the depth.

- Remember that the number of samples required to populate the tree doubles for each additional level the tree grows to. Use max_depth to control the size of the tree to prevent overfitting.

- Use min_samples_split or min_samples_leaf to ensure that multiple samples inform every decision in the tree, by controlling which splits will be considered. A very small number will usually mean the tree will overfit, whereas a large number will prevent the tree from learning the data. Try min_samples_leaf=5 as an initial value. If the sample size varies greatly, a float number can be used as percentage in these two parameters. While min_samples_split can create arbitrarily small leaves, min_samples_leaf guarantees that each leaf has a minimum size, avoiding low-variance, over-fit leaf nodes in regression problems. For classification with few classes, min_samples_leaf=1 is often the best choice.

- Note that min_samples_split considers samples directly and independent of sample_weight, if provided (e.g. a node with m weighted samples is still treated as having exactly m samples). Consider min_weight_fraction_leaf or min_impurity_decrease if accounting for sample weights is required at splits.

- Balance your dataset before training to prevent the tree from being biased toward the classes that are dominant. Class balancing can be done by sampling an equal number of samples from each class, or preferably by normalizing the sum of the sample weights (sample_weight) for each class to the same value. Also note that weight-based pre-pruning criteria, such as min_weight_fraction_leaf, will then be less biased toward dominant classes than criteria that are not aware of the sample weights, like min_samples_leaf.

- If the samples are weighted, it will be easier to optimize the tree structure using weight-based pre-pruning criterion such as min_weight_fraction_leaf, which ensure that leaf nodes contain at least a fraction of the overall sum of the sample weights.

- All decision trees use np.float32 arrays internally. If training data is not in this format, a copy of the dataset will be made.

- If the input matrix X is very sparse, it is recommended to convert to sparse csc_matrix before calling fit and sparse csr_matrix before calling predict. Training time can be orders of magnitude faster for a sparse matrix input compared to a dense matrix when features have zero values in most of the samples.

https://scikit-learn.org/stable/modules/tree.html#tips-on-practical-use

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [2]:
df = pd.read_csv('wc-wo-outliers.csv')

In [3]:
df.head()

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
0,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2
1,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692,7
2,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846,5
3,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692,1
4,0.114615,0.155385,0.271538,0.330769,-0.015385,0.028462,0.128462,0.109231,0.130769,0.056923,-0.232308,-0.146923,-0.023077,0.078462,0.532308,0.140769,2

In [4]:
df.shape

(184, 17)

In [5]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.20, random_state=1)

In [6]:
regr = RandomForestRegressor(max_depth=40, n_estimators=1, min_samples_split=26, 
                             max_features=14,  random_state=1)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=40, max_features=14, min_samples_split=26,
                      n_estimators=1, random_state=1)

In [7]:
y_pred = regr.predict(X_test)

In [8]:
print('DECISION FOREST REGRESSION')
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))


# print('-----------------')

# y_train_pred = regr.predict(X_train)

# print('r2 score: '+str(r2_score(y_train, y_train_pred)))
# print('RMSE : '+str(np.sqrt(mean_squared_error(y_train, y_train_pred))))
# print('MSE: '+str(mean_squared_error(y_train, y_train_pred)))
# print('MAE: '+str(mean_absolute_error(y_train, y_train_pred)))
# print('MAPE: '+str(mean_absolute_percentage_error(y_train, y_train_pred)))

DECISION FOREST REGRESSION
r2 score: 0.05668204092030893
RMSE : 8.623874735644732
MSE: 74.37121545609148
MAE: 6.989015331120594
MAPE: 0.856971605070693

In [9]:
regr.decision_path(X_train)

(<147x13 sparse matrix of type '<class 'numpy.int64'>'
 	with 605 stored elements in Compressed Sparse Row format>,
 array([ 0, 13]))

In [189]:
regr.feature_importances_

array([0.62522915, 0.03643331, 0.        , 0.        , 0.        ,
       0.        , 0.06625919, 0.        , 0.        , 0.        ,
       0.17531947, 0.        , 0.        , 0.        , 0.        ,
       0.09675887])

splits:
15 = .944
2 = .9720
20 = .9101
200 = 1.597
50 = 1.078
25 = .8878
26 = 0.8569

16 feat = 1.075
15 feat = 1.077
14 feat = 1.064
13 feat = 1.072
12 feat = 1.084

depth:
40 = 1.064

estimators:
100 = 1.039
1000 = 1.0643
3 = 1.0243
1 = .972

In [43]:
# mape .37432196450623323
# mape @ (178, 17) = .38923381998443746
# mape @ (189, 17) = .3718819197955769
# z < 2.3 for (189, 17) = (165, 17) = .34524814299512346
# mape @ (194, 17) with z < 2.7 == .366891667284337
# z < 2.2 for (238, 17) = (174, 17) = .3385536296774055
# z < 2.25 for (238, 17) = (177, 17) = .3147636128194135

DECISION FOREST REGRESSION
r2 score: 0.2967831866338452
RMSE : 7.579711887664333
MSE: 57.4520323
MAE: 5.838099999999999
MAPE: 0.7793818583999947
-----------------
r2 score: 0.9296137881016225
RMSE : 2.470282067199093
MSE: 6.102293491525424
MAE: 2.0082711864406777
MAPE: 0.37432196450623323

In [91]:
data = {'y_test': y_test, 'y_pred': y_pred}

In [92]:
new_df = pd.DataFrame(data)

In [93]:
diff = (new_df['y_test'] - new_df['y_pred']).abs()

In [94]:
new_df['diff'] = diff

In [95]:
new_df = new_df.sort_values(by='diff', ascending=True)

In [96]:
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [97]:
new_df

     y_test  y_pred       diff
31       26    26.0   0.041667
19        4     4.5   0.500000
35        4     4.5   0.500000
40        4     4.5   0.500000
11       11    12.0   1.000000
16       19    20.1   1.058824
29        3     4.5   1.500000
114       6     4.5   1.500000
14       10    12.0   2.000000
54       10    12.0   2.000000
4         2     4.5   2.500000
82       23    20.1   2.941176
106       8     4.5   3.500000
53        1     4.5   3.500000
95       16    20.1   4.058824
177      18    12.0   6.000000
178      19    12.6   6.444444
158      19    26.0   6.958333
119       5    12.0   7.000000
42        5    12.0   7.000000
59       28    20.1   7.941176
94        4    12.0   8.000000
124      20    12.0   8.000000
126      20    12.0   8.000000
48       30    20.1   9.941176
145      22    12.0  10.000000
107      23    12.6  10.444444
118       2    12.6  10.555556
136      21     9.7  11.315789
69       32    20.1  11.941176
47        8    20.1  12.058824
174       8    20.1  12.058824
122      26    12.0  14.000000
56       11    26.0  14.958333
162      11    26.0  14.958333
153      10    26.0  15.958333
165       8    26.0  17.958333

In [51]:
yvals_df = new_df.sort_values(by='y_pred', ascending=True)

In [52]:
yvals_df

     y_test  y_pred    diff
11       11     6.6   4.437
29        3     7.2   4.242
14       10     7.8   2.240
102       3     8.4   5.384
19        4     8.7   4.663
113       1     8.8   7.808
5         2     9.7   7.676
53        1     9.8   8.779
119       5    10.3   5.349
17       11    11.0   0.039
42        5    11.4   6.412
132       9    11.5   2.473
4         2    12.0   9.969
35        4    12.1   8.129
168       4    12.6   8.614
114       6    12.8   6.794
40        4    13.1   9.096
81        2    13.6  11.574
177      18    13.7   4.322
90        8    13.9   5.935
118       2    15.6  13.555
78       23    17.2   5.778
47        8    17.3   9.292
93       10    19.5   9.482
59       28    19.7   8.345
31       26    19.9   6.063
56       11    20.1   9.077
84       32    21.0  11.046
166      18    22.4   4.408
123      22    22.5   0.529
97       24    22.6   1.419
48       30    23.2   6.784
89       17    23.8   6.817
16       19    23.9   4.914
110      14    24.0  10.016
82       23    24.3   1.324
163      24    26.5   2.502

In [53]:
ytest_df = new_df.sort_values(by='y_test', ascending=True)

In [54]:
ytest_df

     y_test  y_pred    diff
53        1     9.8   8.779
113       1     8.8   7.808
118       2    15.6  13.555
4         2    12.0   9.969
5         2     9.7   7.676
81        2    13.6  11.574
29        3     7.2   4.242
102       3     8.4   5.384
40        4    13.1   9.096
168       4    12.6   8.614
35        4    12.1   8.129
19        4     8.7   4.663
119       5    10.3   5.349
42        5    11.4   6.412
114       6    12.8   6.794
90        8    13.9   5.935
47        8    17.3   9.292
132       9    11.5   2.473
93       10    19.5   9.482
14       10     7.8   2.240
11       11     6.6   4.437
56       11    20.1   9.077
17       11    11.0   0.039
110      14    24.0  10.016
89       17    23.8   6.817
166      18    22.4   4.408
177      18    13.7   4.322
16       19    23.9   4.914
123      22    22.5   0.529
82       23    24.3   1.324
78       23    17.2   5.778
163      24    26.5   2.502
97       24    22.6   1.419
31       26    19.9   6.063
59       28    19.7   8.345
48       30    23.2   6.784
84       32    21.0  11.046

In [55]:
len(new_df)/2

18.5

In [56]:
new_df.iloc[20:]

     y_test  y_pred    diff
114       6    12.8   6.794
89       17    23.8   6.817
5         2     9.7   7.676
113       1     8.8   7.808
35        4    12.1   8.129
59       28    19.7   8.345
168       4    12.6   8.614
53        1     9.8   8.779
56       11    20.1   9.077
40        4    13.1   9.096
47        8    17.3   9.292
93       10    19.5   9.482
4         2    12.0   9.969
110      14    24.0  10.016
84       32    21.0  11.046
81        2    13.6  11.574
118       2    15.6  13.555

In [98]:
new_df['diff'].sum() / len(new_df)

6.989015331120594

In [99]:
new_df['diff'].mean()

6.989015331120594

In [100]:
new_df['diff'].median()

7.0

In [101]:
# mean = 5.8381
# median = 4.56799