REview:
- https://github.com/EpistasisLab/pmlb
- https://epistasislab.github.io/pmlb/profile/207_autoPrice.html
- https://seaborn.pydata.org/examples/structured_heatmap.html

## can i take my predictions and add them to the df to be trained again?
- https://scikit-learn.org/stable/auto_examples/ensemble/plot_stack_predictors.html#sphx-glr-auto-examples-ensemble-plot-stack-predictors-py

## Visualize your tree as you are training by using the export function. Use max_depth=3 as an initial tree depth to get a feel for how the tree is fitting to your data, and then increase the depth.

- Consider performing dimensionality reduction (PCA, ICA, or Feature selection) beforehand to give your tree a better chance of finding features that are discriminative.

- Understanding the decision tree structure will help in gaining more insights about how the decision tree makes predictions, which is important for understanding the important features in the data.

- Visualize your tree as you are training by using the export function. Use max_depth=3 as an initial tree depth to get a feel for how the tree is fitting to your data, and then increase the depth.

- Remember that the number of samples required to populate the tree doubles for each additional level the tree grows to. Use max_depth to control the size of the tree to prevent overfitting.

- Use min_samples_split or min_samples_leaf to ensure that multiple samples inform every decision in the tree, by controlling which splits will be considered. A very small number will usually mean the tree will overfit, whereas a large number will prevent the tree from learning the data. Try min_samples_leaf=5 as an initial value. If the sample size varies greatly, a float number can be used as percentage in these two parameters. While min_samples_split can create arbitrarily small leaves, min_samples_leaf guarantees that each leaf has a minimum size, avoiding low-variance, over-fit leaf nodes in regression problems. For classification with few classes, min_samples_leaf=1 is often the best choice.

- Note that min_samples_split considers samples directly and independent of sample_weight, if provided (e.g. a node with m weighted samples is still treated as having exactly m samples). Consider min_weight_fraction_leaf or min_impurity_decrease if accounting for sample weights is required at splits.

- Balance your dataset before training to prevent the tree from being biased toward the classes that are dominant. Class balancing can be done by sampling an equal number of samples from each class, or preferably by normalizing the sum of the sample weights (sample_weight) for each class to the same value. Also note that weight-based pre-pruning criteria, such as min_weight_fraction_leaf, will then be less biased toward dominant classes than criteria that are not aware of the sample weights, like min_samples_leaf.

- If the samples are weighted, it will be easier to optimize the tree structure using weight-based pre-pruning criterion such as min_weight_fraction_leaf, which ensure that leaf nodes contain at least a fraction of the overall sum of the sample weights.

- All decision trees use np.float32 arrays internally. If training data is not in this format, a copy of the dataset will be made.

- If the input matrix X is very sparse, it is recommended to convert to sparse csc_matrix before calling fit and sparse csr_matrix before calling predict. Training time can be orders of magnitude faster for a sparse matrix input compared to a dense matrix when features have zero values in most of the samples.

https://scikit-learn.org/stable/modules/tree.html#tips-on-practical-use

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [5]:
df = pd.read_csv('WC-stats.csv')

In [6]:
# df = pd.read_csv('wc-wo-outliers.csv')

In [7]:
# df2 = pd.read_csv('wc-w-outliers.csv')

In [8]:
df.head()

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
0,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2
1,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923,1
2,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923,9
3,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308,5
4,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769,5

In [9]:
df.shape

(267, 17)

In [10]:
# y2 = df2['results']
# X2 = df2.drop(columns=['results'])

# X_train2, X_test2, y_train2, y_test2 = train_test_split(
#      X2, y2, test_size=0.20, random_state=1)

In [149]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.20, random_state=1)

In [150]:
# regr2 = RandomForestRegressor(max_depth=40, n_estimators=1, min_samples_split=26, 
#                              max_features=14,  random_state=1)
# regr2.fit(X_train2, y_train2)

In [151]:
regr = RandomForestRegressor(max_depth=17, n_estimators=1, min_samples_split=5, 
                             max_features=14,  random_state=1)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=17, max_features=14, min_samples_split=5,
                      n_estimators=1, random_state=1)

In [152]:
y_pred = regr.predict(X_test)

In [153]:
# y_pred2 = regr2.predict(X_test2)

In [154]:
print('DECISION FOREST REGRESSION')
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))


print('-----------------')

# print('DECISION FOREST REGRESSION with outliers')
# print('r2 score: '+str(r2_score(y_test2, y_pred2)))
# print('RMSE : '+str(np.sqrt(mean_squared_error(y_test2, y_pred2))))
# print('MSE: '+str(mean_squared_error(y_test2, y_pred2)))
# print('MAE: '+str(mean_absolute_error(y_test2, y_pred2)))
# print('MAPE: '+str(mean_absolute_percentage_error(y_test2, y_pred2)))



# y_train_pred = regr.predict(X_train)

# print('r2 score: '+str(r2_score(y_train, y_train_pred)))
# print('RMSE : '+str(np.sqrt(mean_squared_error(y_train, y_train_pred))))
# print('MSE: '+str(mean_squared_error(y_train, y_train_pred)))
# print('MAE: '+str(mean_absolute_error(y_train, y_train_pred)))
# print('MAPE: '+str(mean_absolute_percentage_error(y_train, y_train_pred)))

DECISION FOREST REGRESSION
r2 score: 0.09747827249525298
RMSE : 9.316083461450987
MSE: 86.78941106072058
MAE: 7.230335097001763
MAPE: 0.8369977588751587
-----------------

In [155]:
# .9483002239791501
# split=10 / 92872184682128
# split=5 / 8369977588751587

In [156]:
regr.decision_path(X_train)

(<213x115 sparse matrix of type '<class 'numpy.int64'>'
 	with 1911 stored elements in Compressed Sparse Row format>,
 array([  0, 115]))

In [157]:
regr.feature_importances_

array([0.51350416, 0.00779016, 0.17356395, 0.01549933, 0.00332859,
       0.04096726, 0.00103441, 0.02335122, 0.0071615 , 0.00378311,
       0.05363894, 0.07121316, 0.00233316, 0.00541102, 0.07742001,
       0.        ])

splits:
15 = .944
2 = .9720
20 = .9101
200 = 1.597
50 = 1.078
25 = .8878
26 = 0.8569

16 feat = 1.075
15 feat = 1.077
14 feat = 1.064
13 feat = 1.072
12 feat = 1.084

depth:
40 = 1.064

estimators:
100 = 1.039
1000 = 1.0643
3 = 1.0243
1 = .972

In [158]:
# mape .37432196450623323
# mape @ (178, 17) = .38923381998443746
# mape @ (189, 17) = .3718819197955769
# z < 2.3 for (189, 17) = (165, 17) = .34524814299512346
# mape @ (194, 17) with z < 2.7 == .366891667284337
# z < 2.2 for (238, 17) = (174, 17) = .3385536296774055
# z < 2.25 for (238, 17) = (177, 17) = .3147636128194135

DECISION FOREST REGRESSION
r2 score: 0.2967831866338452
RMSE : 7.579711887664333
MSE: 57.4520323
MAE: 5.838099999999999
MAPE: 0.7793818583999947
-----------------
r2 score: 0.9296137881016225
RMSE : 2.470282067199093
MSE: 6.102293491525424
MAE: 2.0082711864406777
MAPE: 0.37432196450623323

In [159]:
data = {'y_test': y_test, 'y_pred': y_pred}

In [160]:
new_df = pd.DataFrame(data)

In [161]:
diff = (new_df['y_test'] - new_df['y_pred']).abs()

In [162]:
new_df['diff'] = diff

In [163]:
new_df = new_df.sort_values(by='diff', ascending=True)

In [164]:
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [165]:
new_df

     y_test  y_pred       diff
201      28    28.0   0.000000
164       1     1.5   0.500000
154       1     1.5   0.500000
242      18    17.4   0.571429
4         5     4.4   0.600000
138       3     4.0   1.000000
244      31    30.0   1.000000
266      29    27.7   1.333333
38        3     1.5   1.500000
246      15    16.7   1.666667
73        2     4.0   2.000000
180      16    18.0   2.000000
117      10    12.0   2.000000
31        3     5.5   2.500000
116       7     4.4   2.600000
78       24    21.0   3.000000
62        7    10.3   3.333333
11        1     4.4   3.400000
34        5     1.5   3.500000
18       18    14.5   3.500000
134       7    10.5   3.500000
192       7    11.0   4.000000
95       25    21.0   4.000000
88       32    28.0   4.000000
187      13     9.0   4.000000
185       5     9.4   4.400000
93       28    23.3   4.666667
112      23    28.2   5.250000
172      17    11.0   6.000000
194      17    11.0   6.000000
168      22    15.0   7.000000
148      18    10.5   7.500000
99       29    20.4   8.600000
252      32    23.3   8.666667
44        8    16.7   8.666667
27       19    27.7   8.666667
39        2    11.0   9.000000
199      13     4.0   9.000000
225      23    13.0  10.000000
161       2    13.0  11.000000
106      29    17.0  12.000000
140       7    19.6  12.600000
245      17    30.6  13.583333
223       8    22.0  14.000000
174      27    13.0  14.000000
90        7    21.0  14.000000
12        3    17.3  14.333333
51       26    11.0  15.000000
204      16     1.0  15.000000
265      24     8.0  16.000000
229      19     1.5  17.500000
167      20     1.0  19.000000
262      20     1.0  19.000000
58       26     2.0  24.000000

In [166]:
yvals_df = new_df.sort_values(by='y_pred', ascending=True)

In [167]:
yvals_df

     y_test  y_pred       diff
204      16     1.0  15.000000
262      20     1.0  19.000000
167      20     1.0  19.000000
164       1     1.5   0.500000
154       1     1.5   0.500000
229      19     1.5  17.500000
38        3     1.5   1.500000
34        5     1.5   3.500000
58       26     2.0  24.000000
138       3     4.0   1.000000
73        2     4.0   2.000000
199      13     4.0   9.000000
11        1     4.4   3.400000
116       7     4.4   2.600000
4         5     4.4   0.600000
31        3     5.5   2.500000
265      24     8.0  16.000000
187      13     9.0   4.000000
185       5     9.4   4.400000
62        7    10.3   3.333333
134       7    10.5   3.500000
148      18    10.5   7.500000
172      17    11.0   6.000000
39        2    11.0   9.000000
51       26    11.0  15.000000
192       7    11.0   4.000000
194      17    11.0   6.000000
117      10    12.0   2.000000
225      23    13.0  10.000000
161       2    13.0  11.000000
174      27    13.0  14.000000
18       18    14.5   3.500000
168      22    15.0   7.000000
44        8    16.7   8.666667
246      15    16.7   1.666667
106      29    17.0  12.000000
12        3    17.3  14.333333
242      18    17.4   0.571429
180      16    18.0   2.000000
140       7    19.6  12.600000
99       29    20.4   8.600000
78       24    21.0   3.000000
90        7    21.0  14.000000
95       25    21.0   4.000000
223       8    22.0  14.000000
93       28    23.3   4.666667
252      32    23.3   8.666667
27       19    27.7   8.666667
266      29    27.7   1.333333
88       32    28.0   4.000000
201      28    28.0   0.000000
112      23    28.2   5.250000
244      31    30.0   1.000000
245      17    30.6  13.583333

In [168]:
ytest_df = new_df.sort_values(by='y_test', ascending=True)

In [169]:
ytest_df

     y_test  y_pred       diff
164       1     1.5   0.500000
154       1     1.5   0.500000
11        1     4.4   3.400000
161       2    13.0  11.000000
39        2    11.0   9.000000
73        2     4.0   2.000000
138       3     4.0   1.000000
38        3     1.5   1.500000
12        3    17.3  14.333333
31        3     5.5   2.500000
4         5     4.4   0.600000
185       5     9.4   4.400000
34        5     1.5   3.500000
90        7    21.0  14.000000
192       7    11.0   4.000000
62        7    10.3   3.333333
134       7    10.5   3.500000
116       7     4.4   2.600000
140       7    19.6  12.600000
223       8    22.0  14.000000
44        8    16.7   8.666667
117      10    12.0   2.000000
187      13     9.0   4.000000
199      13     4.0   9.000000
246      15    16.7   1.666667
180      16    18.0   2.000000
204      16     1.0  15.000000
194      17    11.0   6.000000
245      17    30.6  13.583333
172      17    11.0   6.000000
242      18    17.4   0.571429
18       18    14.5   3.500000
148      18    10.5   7.500000
27       19    27.7   8.666667
229      19     1.5  17.500000
262      20     1.0  19.000000
167      20     1.0  19.000000
168      22    15.0   7.000000
112      23    28.2   5.250000
225      23    13.0  10.000000
78       24    21.0   3.000000
265      24     8.0  16.000000
95       25    21.0   4.000000
51       26    11.0  15.000000
58       26     2.0  24.000000
174      27    13.0  14.000000
201      28    28.0   0.000000
93       28    23.3   4.666667
99       29    20.4   8.600000
266      29    27.7   1.333333
106      29    17.0  12.000000
244      31    30.0   1.000000
252      32    23.3   8.666667
88       32    28.0   4.000000

In [170]:
len(new_df)/2

27.0

In [171]:
new_df.iloc[20:]

     y_test  y_pred       diff
134       7    10.5   3.500000
192       7    11.0   4.000000
95       25    21.0   4.000000
88       32    28.0   4.000000
187      13     9.0   4.000000
185       5     9.4   4.400000
93       28    23.3   4.666667
112      23    28.2   5.250000
172      17    11.0   6.000000
194      17    11.0   6.000000
168      22    15.0   7.000000
148      18    10.5   7.500000
99       29    20.4   8.600000
252      32    23.3   8.666667
44        8    16.7   8.666667
27       19    27.7   8.666667
39        2    11.0   9.000000
199      13     4.0   9.000000
225      23    13.0  10.000000
161       2    13.0  11.000000
106      29    17.0  12.000000
140       7    19.6  12.600000
245      17    30.6  13.583333
223       8    22.0  14.000000
174      27    13.0  14.000000
90        7    21.0  14.000000
12        3    17.3  14.333333
51       26    11.0  15.000000
204      16     1.0  15.000000
265      24     8.0  16.000000
229      19     1.5  17.500000
167      20     1.0  19.000000
262      20     1.0  19.000000
58       26     2.0  24.000000

In [180]:
round(new_df['diff'].mean(), 3)

7.23

In [181]:
round(new_df['diff'].median(), 3)

4.958

In [175]:
# mean = 5.8381
# median = 4.56799