REview:
- https://github.com/EpistasisLab/pmlb
- https://epistasislab.github.io/pmlb/profile/207_autoPrice.html
- https://seaborn.pydata.org/examples/structured_heatmap.html

## can i take my predictions and add them to the df to be trained again?

In [57]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [58]:
df = pd.read_csv('wc-wo-outliers.csv')

In [59]:
df.head()

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
0,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2
1,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692,7
2,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846,5
3,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692,1
4,0.114615,0.155385,0.271538,0.330769,-0.015385,0.028462,0.128462,0.109231,0.130769,0.056923,-0.232308,-0.146923,-0.023077,0.078462,0.532308,0.140769,2

In [60]:
df.shape

(177, 17)

In [90]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.20, random_state=1)

In [91]:
regr = RandomForestRegressor(max_depth=20, n_estimators=1000, min_samples_split=2, 
                             max_features=15, random_state=1)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=20, max_features=15, n_estimators=1000,
                      random_state=1)

In [92]:
y_pred = regr.predict(X_test)

In [93]:
print('DECISION FOREST REGRESSION')
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))


print('-----------------')

y_train_pred = regr.predict(X_train)

print('r2 score: '+str(r2_score(y_train, y_train_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_train, y_train_pred))))
print('MSE: '+str(mean_squared_error(y_train, y_train_pred)))
print('MAE: '+str(mean_absolute_error(y_train, y_train_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_train, y_train_pred)))

DECISION FOREST REGRESSION
r2 score: 0.4041109780558738
RMSE : 6.852388438023311
MSE: 46.95522730555555
MAE: 6.092416666666668
MAPE: 1.6647262946909327
-----------------
r2 score: 0.9057406296814362
RMSE : 2.6774675753445223
MSE: 7.168832617021276
MAE: 2.233283687943262
MAPE: 0.3147636128194135

In [94]:
# mape .37432196450623323
# mape @ (178, 17) = .38923381998443746
# mape @ (189, 17) = .3718819197955769
# z < 2.3 for (189, 17) = (165, 17) = .34524814299512346
# mape @ (194, 17) with z < 2.7 == .366891667284337
# z < 2.2 for (238, 17) = (174, 17) = .3385536296774055
# z < 2.25 for (238, 17) = (177, 17) = .3147636128194135

DECISION FOREST REGRESSION
r2 score: 0.2967831866338452
RMSE : 7.579711887664333
MSE: 57.4520323
MAE: 5.838099999999999
MAPE: 0.7793818583999947
-----------------
r2 score: 0.9296137881016225
RMSE : 2.470282067199093
MSE: 6.102293491525424
MAE: 2.0082711864406777
MAPE: 0.37432196450623323

In [95]:
data = {'y_test': y_test, 'y_pred': y_pred}

In [96]:
new_df = pd.DataFrame(data)

In [97]:
diff = (new_df['y_test'] - new_df['y_pred']).abs()

In [98]:
new_df['diff'] = diff

In [99]:
new_df = new_df.sort_values(by='diff', ascending=True)

In [100]:
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [101]:
new_df

     y_test  y_pred    diff
112      26    25.9   0.104
97       24    23.7   0.309
151      14    11.7   2.347
106       9     6.6   2.441
107       8     5.4   2.555
14       10     7.2   2.761
95       16    19.2   3.220
150      28    24.4   3.576
155       9    12.7   3.747
75        9    13.0   4.003
35        4     8.2   4.206
29        3     7.3   4.254
31       26    21.7   4.271
11       11     6.5   4.538
16       19    23.7   4.709
19        4     9.0   4.983
158      15     9.8   5.192
114       1     6.8   5.806
153      16    10.2   5.835
53        1     6.9   5.903
102       3     9.2   6.156
120       5    11.3   6.346
125      20    13.3   6.679
47        8    16.0   7.990
51        2    10.0   8.006
42        5    13.2   8.211
40        4    12.4   8.413
73       24    15.2   8.836
110       3    11.9   8.918
5         2    11.0   8.991
69       32    22.4   9.644
116       1    11.3  10.253
4         2    12.4  10.390
85       12    23.2  11.233
171      19     7.2  11.756
91        4    16.7  12.745

In [102]:
yvals_df = new_df.sort_values(by='y_pred', ascending=True)

In [103]:
yvals_df

     y_test  y_pred    diff
107       8     5.4   2.555
11       11     6.5   4.538
106       9     6.6   2.441
114       1     6.8   5.806
53        1     6.9   5.903
14       10     7.2   2.761
171      19     7.2  11.756
29        3     7.3   4.254
35        4     8.2   4.206
19        4     9.0   4.983
102       3     9.2   6.156
158      15     9.8   5.192
51        2    10.0   8.006
153      16    10.2   5.835
5         2    11.0   8.991
116       1    11.3  10.253
120       5    11.3   6.346
151      14    11.7   2.347
110       3    11.9   8.918
4         2    12.4  10.390
40        4    12.4   8.413
155       9    12.7   3.747
75        9    13.0   4.003
42        5    13.2   8.211
125      20    13.3   6.679
73       24    15.2   8.836
47        8    16.0   7.990
91        4    16.7  12.745
95       16    19.2   3.220
31       26    21.7   4.271
69       32    22.4   9.644
85       12    23.2  11.233
97       24    23.7   0.309
16       19    23.7   4.709
150      28    24.4   3.576
112      26    25.9   0.104

In [104]:
ytest_df = new_df.sort_values(by='y_test', ascending=True)

In [105]:
ytest_df

     y_test  y_pred    diff
114       1     6.8   5.806
116       1    11.3  10.253
53        1     6.9   5.903
4         2    12.4  10.390
5         2    11.0   8.991
51        2    10.0   8.006
110       3    11.9   8.918
102       3     9.2   6.156
29        3     7.3   4.254
40        4    12.4   8.413
19        4     9.0   4.983
91        4    16.7  12.745
35        4     8.2   4.206
120       5    11.3   6.346
42        5    13.2   8.211
107       8     5.4   2.555
47        8    16.0   7.990
155       9    12.7   3.747
75        9    13.0   4.003
106       9     6.6   2.441
14       10     7.2   2.761
11       11     6.5   4.538
85       12    23.2  11.233
151      14    11.7   2.347
158      15     9.8   5.192
153      16    10.2   5.835
95       16    19.2   3.220
171      19     7.2  11.756
16       19    23.7   4.709
125      20    13.3   6.679
97       24    23.7   0.309
73       24    15.2   8.836
31       26    21.7   4.271
112      26    25.9   0.104
150      28    24.4   3.576
69       32    22.4   9.644

In [73]:
len(new_df)/2

18.0

In [74]:
new_df.iloc[20:]

     y_test  y_pred    diff
102       3     9.2   6.156
120       5    11.3   6.346
125      20    13.3   6.679
47        8    16.0   7.990
51        2    10.0   8.006
42        5    13.2   8.211
40        4    12.4   8.413
73       24    15.2   8.836
110       3    11.9   8.918
5         2    11.0   8.991
69       32    22.4   9.644
116       1    11.3  10.253
4         2    12.4  10.390
85       12    23.2  11.233
171      19     7.2  11.756
91        4    16.7  12.745

In [75]:
new_df['diff'].sum()

219.32700000000003

In [76]:
new_df['diff'].mean()

6.092416666666668

In [77]:
new_df['diff'].median()

5.820500000000001

In [78]:
# mean = 5.8381
# median = 4.56799