In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('wc-miss11.csv')

In [3]:
df.shape

(275, 20)

In [4]:
((24 * 4) + (32 * 6) - 275)

13

In [5]:
df = df.drop(columns=['Unnamed: 0'])

In [6]:
# df

In [7]:
# 82 / 1
# 86 / 0
# 90 / 0
# 94 / 1
# 98 / 1
# 02 / 1
# 06 / 5
# 10 / 2
# 14 / 1 
# 18 / 2

In [8]:
wc82 = df[df['year'] == 82]
wc82.shape

(23, 19)

In [9]:
# wc82.sort_values('results')

In [10]:
# 14

In [11]:
wc86 = df[df['year'] == 86]
wc86.shape

(24, 19)

In [12]:
# wc86.sort_values('results')

In [13]:
wc90 = df[df['year'] == 90]
wc90.shape

(24, 19)

In [14]:
# wc90.sort_values('results')

In [15]:
wc94 = df[df['year'] == 94]
wc94.shape

(23, 19)

In [16]:
# wc94.sort_values('results')

In [17]:
# 13 Mexico

In [18]:
wc98 = df[df['year'] == 98]
wc98.shape

(31, 19)

In [19]:
# wc98.sort_values('results')

In [20]:
# 20 Iran

In [21]:
wc02 = df[df['year'] == 2]
wc02.shape

(31, 19)

In [22]:
# wc02.sort_values('results')

In [23]:
# 19 Costa Rica

In [24]:
wc06 = df[df['year'] == 6]
wc06.shape

(27, 19)

In [25]:
# wc06.sort_values('results')

In [26]:
# 15 Mexico
# 27  Trinidad and Tobago
# 30 Togo
# 31  Costa Rica
# 32  Serbia and Montenegro

In [27]:
wc10 = df[df['year'] == 10]
wc10.shape

(30, 19)

In [28]:
# wc10.sort_values('results')

In [29]:
# 9  Japan
# 32  North Korea

In [30]:
wc14 = df[df['year'] == 14]
wc14.shape

(31, 19)

In [31]:
# wc14.sort_values('results')

In [32]:
# 13 Greece

In [33]:
wc18 = df[df['year'] == 18]
wc18.shape

(30, 19)

In [34]:
# wc18.sort_values('results')

In [35]:
# 15 Japan
# 32 panama

In [38]:
df.duplicated().value_counts()

False    275
dtype: int64