In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split

In [2]:
# df = pd.read_csv('wc-wo-outliers.csv')

In [3]:
df = pd.read_csv('hotData.csv')

In [4]:
# df2 = pd.read_csv('wc-w-outliers.csv')

In [5]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.10, random_state=2)

In [20]:
regr = MLPRegressor().fit(X_train, y_train)

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:702: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [21]:
y_pred = regr.predict(X_test)

In [22]:
print('Neural Network Regression')
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))

Neural Network Regression
r2 score: 0.4602826545509039
RMSE : 6.5565777033334385
MSE: 42.98871117984918
MAE: 4.978229951874268
MAPE: 0.5863228468830775

In [ ]:
# MAPE: 0.5863228468830775

In [9]:
df.shape

(282, 91)

In [10]:
data = {'y_test': y_test, 'y_pred': y_pred}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)

In [11]:
new_df

     y_test     y_pred       diff
13        7   6.840195   0.159805
159       5   5.988070   0.988070
253      28  26.743960   1.256040
144       4   5.454916   1.454916
130      10   8.281770   1.718230
7        19  17.265555   1.734445
11       12  10.062773   1.937227
3        32  29.895291   2.104709
101       1   3.947437   2.947437
29       23  26.010805   3.010805
234       7  10.373292   3.373292
106       9   5.266958   3.733042
202       6  10.390159   4.390159
89       22  17.398092   4.601908
77       18  13.257622   4.742378
244       6  10.816332   4.816332
151      22  16.659422   5.340578
259       1   6.458663   5.458663
66       17  22.865778   5.865778
254      17  22.892041   5.892041
164      11   4.761999   6.238001
230      29  21.447424   7.552576
141      14  23.342297   9.342297
232      15   5.194734   9.805266
120      17   6.963890  10.036110
267      26  15.798853  10.201147
35       18   6.881313  11.118687
214      31  18.129528  12.870472
175       6  20.458572  14.458572

In [12]:
round(new_df['diff'].mean(), 3)

5.419

In [13]:
round(new_df['diff'].median(), 3)

4.742

In [14]:
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [15]:
prediction=new_df['y_pred']
reality=new_df['y_test']

In [16]:
# new_y = []

# for i in len(prediction):
#     if i < 1:
#         new_y.append(1)
#     elif i > 32:
#         new_y.append(32)
#     else:
#         new_y.append(i)
# print(new_y)

In [17]:
new_df

     y_test  y_pred       diff
13        7     6.8   0.159805
159       5     6.0   0.988070
253      28    26.7   1.256040
144       4     5.5   1.454916
130      10     8.3   1.718230
7        19    17.3   1.734445
11       12    10.1   1.937227
3        32    29.9   2.104709
101       1     3.9   2.947437
29       23    26.0   3.010805
234       7    10.4   3.373292
106       9     5.3   3.733042
202       6    10.4   4.390159
89       22    17.4   4.601908
77       18    13.3   4.742378
244       6    10.8   4.816332
151      22    16.7   5.340578
259       1     6.5   5.458663
66       17    22.9   5.865778
254      17    22.9   5.892041
164      11     4.8   6.238001
230      29    21.4   7.552576
141      14    23.3   9.342297
232      15     5.2   9.805266
120      17     7.0  10.036110
267      26    15.8  10.201147
35       18     6.9  11.118687
214      31    18.1  12.870472
175       6    20.5  14.458572

In [18]:
new_df['diff'].mean()

5.418930411322049

In [19]:
new_df['diff'].median()

4.7423776919056095