In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.linear_model import OrthogonalMatchingPursuit
from sklearn.datasets import make_regression

In [2]:
# df = pd.read_csv('wc-w-outliers.csv')
df = pd.read_csv('WC-stats.csv')

In [19]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.33, random_state=1)

In [99]:
reg = OrthogonalMatchingPursuit(normalize=False).fit(X_train, y_train)

In [100]:
pred_train= reg.predict(X_train)
pred_test= reg.predict(X_test)

In [102]:


print('---------------------')

print('RMSE : '+str(np.sqrt(mean_squared_error(y_test,pred_test)))) 
print('R2 : '+str(r2_score(y_test, pred_test)))
print('MSE: '+str(mean_squared_error(y_test, pred_test)))
print('MAE: '+str(mean_absolute_error(y_test, pred_test)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, pred_test)))

---------------------
RMSE : 6.99946905900451
R2 : 0.42034963321011076
MSE: 48.992567107961484
MAE: 5.855757114402285
MAPE: 0.8488570125794256

In [103]:
# - MAPE: 1.0240483791801853
# test_size = .33 / 8488570125794256

In [104]:
data = {'y_test': y_test, 'y_pred': pred_test}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [106]:
new_df

     y_test  y_pred       diff
33        1     1.2   0.175869
132      24    24.2   0.228349
34        5     5.4   0.372455
242      18    18.5   0.450857
69       14    14.5   0.469849
..      ...     ...        ...
91       25    12.4  12.614073
244      31    18.2  12.807837
119      17     4.1  12.935385
58       26    12.5  13.527841
161       2    16.3  14.338192

[89 rows x 3 columns]

In [109]:
round(new_df['diff'].mean(), 3)

5.856

In [110]:
round(new_df['diff'].median(),3)

5.683