In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('world cup progress.csv')

In [3]:
df

,Unnamed: 0,country,goals,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
0,2,Algeria10,-0.400000,-0.104615,0.471538,-0.059231,0.270000,0.046154,-0.040000,0.204615,0.142308,0.485385,0.329231,-0.003077,0.197692,0.399231,0.011538,0.020769,28
1,3,Algeria14,0.386923,0.208462,-0.138462,-0.079231,-0.383846,-0.393846,-0.081538,-0.300000,-0.376154,-0.276154,0.170769,-0.269231,0.102308,0.023846,-0.145385,-0.278462,14
2,0,Algeria82,0.265385,0.248462,-0.075385,0.036923,-0.109231,-0.206923,-0.024615,0.399231,-0.355385,-0.213846,0.343846,0.160000,0.063077,-0.046923,0.063077,-0.084615,13
3,1,Algeria86,-0.235385,-0.301538,-0.367692,-0.423077,0.413846,-0.074615,-0.167692,0.370000,0.199231,0.016154,0.440000,0.511538,0.130769,-0.262308,-0.359231,-0.376923,22
4,0,Angola06,-0.227692,-0.166923,-0.387692,-0.362308,-0.344615,-0.163846,-0.155385,-0.520769,-0.423846,-0.303077,0.367692,-0.080000,0.397692,0.669231,-0.140769,-0.572308,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,1,USA94,-0.186923,-0.232308,-0.103846,-0.253846,-0.220769,-0.240000,0.026923,-0.065385,-0.366923,-0.243846,0.503846,-0.018462,-0.160000,-0.296923,0.111538,-0.443846,14
265,2,USA98,-0.261538,-0.247692,0.028462,0.137692,-0.206923,-0.283077,-0.370769,-0.043846,0.068462,-0.391538,-0.449231,-0.298462,-0.048462,-0.444615,-0.049231,-0.153846,32
266,0,Yugoslavia82,-0.193846,0.093846,0.257692,-0.103077,0.392308,0.596154,0.550000,0.220769,0.482308,0.980000,-0.273846,0.186923,0.010769,0.326154,0.163846,0.368462,16
267,1,Yugoslavia90,0.334615,-0.064615,0.231538,0.019231,-0.187692,-0.023077,0.187692,0.268462,-0.332308,-0.203077,-0.110000,0.003846,-0.190000,-0.326154,0.190769,0.173077,5
268,2,Yugoslavia98,0.173077,0.019231,-0.180769,-0.154615,-0.334615,-0.305385,-0.186154,-0.043846,-0.296923,-0.510769,0.129231,-0.087692,-0.153846,-0.136154,0.246154,-0.297692,10

In [4]:
df = df.drop(columns= ['Unnamed: 0'])

In [5]:
df

,country,goals,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
0,Algeria10,-0.400000,-0.104615,0.471538,-0.059231,0.270000,0.046154,-0.040000,0.204615,0.142308,0.485385,0.329231,-0.003077,0.197692,0.399231,0.011538,0.020769,28
1,Algeria14,0.386923,0.208462,-0.138462,-0.079231,-0.383846,-0.393846,-0.081538,-0.300000,-0.376154,-0.276154,0.170769,-0.269231,0.102308,0.023846,-0.145385,-0.278462,14
2,Algeria82,0.265385,0.248462,-0.075385,0.036923,-0.109231,-0.206923,-0.024615,0.399231,-0.355385,-0.213846,0.343846,0.160000,0.063077,-0.046923,0.063077,-0.084615,13
3,Algeria86,-0.235385,-0.301538,-0.367692,-0.423077,0.413846,-0.074615,-0.167692,0.370000,0.199231,0.016154,0.440000,0.511538,0.130769,-0.262308,-0.359231,-0.376923,22
4,Angola06,-0.227692,-0.166923,-0.387692,-0.362308,-0.344615,-0.163846,-0.155385,-0.520769,-0.423846,-0.303077,0.367692,-0.080000,0.397692,0.669231,-0.140769,-0.572308,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,USA94,-0.186923,-0.232308,-0.103846,-0.253846,-0.220769,-0.240000,0.026923,-0.065385,-0.366923,-0.243846,0.503846,-0.018462,-0.160000,-0.296923,0.111538,-0.443846,14
265,USA98,-0.261538,-0.247692,0.028462,0.137692,-0.206923,-0.283077,-0.370769,-0.043846,0.068462,-0.391538,-0.449231,-0.298462,-0.048462,-0.444615,-0.049231,-0.153846,32
266,Yugoslavia82,-0.193846,0.093846,0.257692,-0.103077,0.392308,0.596154,0.550000,0.220769,0.482308,0.980000,-0.273846,0.186923,0.010769,0.326154,0.163846,0.368462,16
267,Yugoslavia90,0.334615,-0.064615,0.231538,0.019231,-0.187692,-0.023077,0.187692,0.268462,-0.332308,-0.203077,-0.110000,0.003846,-0.190000,-0.326154,0.190769,0.173077,5
268,Yugoslavia98,0.173077,0.019231,-0.180769,-0.154615,-0.334615,-0.305385,-0.186154,-0.043846,-0.296923,-0.510769,0.129231,-0.087692,-0.153846,-0.136154,0.246154,-0.297692,10

In [6]:
countries = df['country']

In [7]:
years = []
for i in countries:
    years.append(int(i[-2] + i[-1]))

In [8]:
df['year'] = years

In [9]:
country = []
for i in countries:
    country.append(str((i[:-2])))

In [10]:
df['country'] = country

In [11]:
df.shape

(269, 19)

In [12]:
df.duplicated().value_counts()

False    269
dtype: int64

In [13]:
df['year'].value_counts()

14    31
2     31
18    31
10    30
98    30
6     27
90    24
82    22
94    22
86    21
Name: year, dtype: int64

In [14]:
# 98 - 18 => 32 teams
# 82 - 94 => 24 trams

In [16]:
df

,country,goals,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results,year
0,Algeria,-0.400000,-0.104615,0.471538,-0.059231,0.270000,0.046154,-0.040000,0.204615,0.142308,0.485385,0.329231,-0.003077,0.197692,0.399231,0.011538,0.020769,28,10
1,Algeria,0.386923,0.208462,-0.138462,-0.079231,-0.383846,-0.393846,-0.081538,-0.300000,-0.376154,-0.276154,0.170769,-0.269231,0.102308,0.023846,-0.145385,-0.278462,14,14
2,Algeria,0.265385,0.248462,-0.075385,0.036923,-0.109231,-0.206923,-0.024615,0.399231,-0.355385,-0.213846,0.343846,0.160000,0.063077,-0.046923,0.063077,-0.084615,13,82
3,Algeria,-0.235385,-0.301538,-0.367692,-0.423077,0.413846,-0.074615,-0.167692,0.370000,0.199231,0.016154,0.440000,0.511538,0.130769,-0.262308,-0.359231,-0.376923,22,86
4,Angola,-0.227692,-0.166923,-0.387692,-0.362308,-0.344615,-0.163846,-0.155385,-0.520769,-0.423846,-0.303077,0.367692,-0.080000,0.397692,0.669231,-0.140769,-0.572308,23,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,USA,-0.186923,-0.232308,-0.103846,-0.253846,-0.220769,-0.240000,0.026923,-0.065385,-0.366923,-0.243846,0.503846,-0.018462,-0.160000,-0.296923,0.111538,-0.443846,14,94
265,USA,-0.261538,-0.247692,0.028462,0.137692,-0.206923,-0.283077,-0.370769,-0.043846,0.068462,-0.391538,-0.449231,-0.298462,-0.048462,-0.444615,-0.049231,-0.153846,32,98
266,Yugoslavia,-0.193846,0.093846,0.257692,-0.103077,0.392308,0.596154,0.550000,0.220769,0.482308,0.980000,-0.273846,0.186923,0.010769,0.326154,0.163846,0.368462,16,82
267,Yugoslavia,0.334615,-0.064615,0.231538,0.019231,-0.187692,-0.023077,0.187692,0.268462,-0.332308,-0.203077,-0.110000,0.003846,-0.190000,-0.326154,0.190769,0.173077,5,90
268,Yugoslavia,0.173077,0.019231,-0.180769,-0.154615,-0.334615,-0.305385,-0.186154,-0.043846,-0.296923,-0.510769,0.129231,-0.087692,-0.153846,-0.136154,0.246154,-0.297692,10,98

In [18]:
sp1 = pd.read_csv('../Spain1.csv')

In [19]:
sp2 = pd.read_csv('../Spain2.csv')

## Spain

In [17]:
spa = ['Spain']
spa_year = df.loc[df["team"].isin(spa)]
spa_year['season'].value_counts()
# 2018, 2014, 2010, 2006, 02, 98, 94, 90, 86, 82

KeyError: 'team'

In [ ]:
sko18year = sko_year.loc[sko_year["season"].isin(year2018)]
sko18xg = sko18year.sort_values(by=["goals_z"], ascending=False)
sko18xg13 = sko18xg.head(13)
sko18xg13 = sko18xg13.drop(columns=['season', 'team'])
sko18 = sko18xg13.mean()

In [ ]:
# 6 
# 14
# 21
# 25

In [ ]:
#2018 - 4
# 1 italy
# 4 france
# 9 northern ireland
# 21 kuwait

#2014 - 4
# 6 mexico
# 14 poland
# 21 northern ireland

#2010 -3 
# 4 england
# 7 cameroon

#2006 - 3 
# 7 netherlands
# 13 saudi arabia

# 2002 - 4 
# 1 france
# 13 mexico
# 20 iran
# 30 south korea

# 1998 - 5 
# 5 spain
# 10 denmark
# 11 mexico
# 19 costa rica

# 1994 - 8
# 9 spain
# 15 mexico
# 23 angola
# 27 trinidad 
# 30 toga
# 31 costa rica
# 32 serbia

# 1990 - 6
# 9 japan
# 10 chile
# 14 mexico
# 20 south africa
# 32 north koreaf

# 1986 - 6
# 9 chile
# 13 greece
# 14 algeria
# 23 spain
# 31 honduras

# 1982 - 5
# 5 uruguay
# 10 spain
# 15 japan
# 23 germany

# missing 48 values