In [88]:
import pandas as pd
import numpy as np

In [89]:
df = pd.read_csv('WC-almost-final.csv')

In [90]:
df.shape

(281, 20)

In [91]:
((4 * 24) + (6*32)) - 281

7

In [92]:
df = df.drop(columns= ['Unnamed: 0'])

In [93]:
df[df['country'] == 'togo']

,country,goals,xg,crosses,boxtouches,passes,progpasses,takeons,progruns,tackles,interceptions,clearances,blocks,aerials,fouls,fouled,nsxg,results,year
266,togo,-0.227692,-0.22,-0.184615,-0.028462,-0.176154,-0.295385,0.466923,0.152308,-0.525385,-0.310769,0.198462,-0.053077,0.132308,0.158462,0.039231,-0.256923,30,6

In [94]:
df[df['country'] == 'panama']

,country,goals,xg,crosses,boxtouches,passes,progpasses,takeons,progruns,tackles,interceptions,clearances,blocks,aerials,fouls,fouled,nsxg,results,year
278,panama,-0.42,-0.23,-0.150769,-0.435385,-0.687692,-0.408462,-0.256923,-0.586154,-0.629231,-0.56,-0.145385,-0.404615,-0.509231,-0.173077,-0.193077,-0.369231,32,16

In [95]:
pan = df.iloc[278]

In [96]:
pan['year'] = 18

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [97]:
df[df['country'] == 'panama']

,country,goals,xg,crosses,boxtouches,passes,progpasses,takeons,progruns,tackles,interceptions,clearances,blocks,aerials,fouls,fouled,nsxg,results,year
278,panama,-0.42,-0.23,-0.150769,-0.435385,-0.687692,-0.408462,-0.256923,-0.586154,-0.629231,-0.56,-0.145385,-0.404615,-0.509231,-0.173077,-0.193077,-0.369231,32,16

In [80]:
df.duplicated().value_counts()

False    281
dtype: int64

In [81]:
df['year'].value_counts()

18    31
6     31
2     31
14    31
98    31
10    31
86    24
90    24
94    23
82    23
16     1
Name: year, dtype: int64

In [82]:
# 98 - 18 => 32 teams
# 82 - 94 => 24 trams

# 18 / -1

In [86]:
wc18 = df[df['year'] == 18]

In [87]:
wc18.shape

(31, 19)

In [85]:
wc18

,country,goals,xg,crosses,boxtouches,passes,progpasses,takeons,progruns,tackles,interceptions,clearances,blocks,aerials,fouls,fouled,nsxg,results,year
2,france,0.489231,0.231538,-0.124615,0.189231,0.123846,-0.039231,0.350769,0.080769,0.179231,0.126154,0.456923,-0.144615,0.266923,0.320000,0.460769,0.129231,1,18
12,croatia,0.520000,0.379231,0.298462,0.375385,0.407692,0.074615,0.304615,0.265385,0.610000,0.431538,0.184615,0.324615,0.540769,0.376923,0.317692,0.198462,2,18
23,belgium,0.566154,0.560769,0.234615,0.446923,0.162308,-0.037692,0.473846,0.542308,-0.023077,-0.093077,-0.225385,0.313846,-0.235385,0.063077,-0.043077,0.558462,3,18
30,england,0.446923,0.404615,0.126154,0.366923,0.234615,-0.184615,0.084615,0.086154,-0.088462,0.021538,-0.183846,0.236154,0.466923,-0.143077,0.170000,0.280000,4,18
42,uruguay,0.215385,0.316154,0.171538,0.174615,0.030769,-0.002308,-0.020769,-0.018462,-0.178462,0.920000,0.103846,-0.055385,-0.013846,0.104615,0.224615,0.164615,5,18
51,brazil,0.427692,0.864615,0.352308,1.153077,0.580769,-0.015385,0.663846,1.092308,0.813077,0.810000,-0.140769,0.348462,-0.026154,-0.186923,0.419231,1.027692,6,18
69,sweden,0.110000,0.338462,-0.006923,0.064615,-0.353077,-0.141538,-0.211538,-0.300769,-0.573846,-0.342308,0.558462,0.088462,0.298462,0.081538,0.203846,0.050769,7,18
72,russia,0.572308,0.006154,-0.037692,0.076154,-0.416923,-0.153846,-0.170769,-0.191538,-0.466154,-0.107692,0.344615,-0.072308,0.683077,0.365385,-0.138462,-0.017692,8,18
85,colombia,0.313077,-0.103077,0.029231,-0.319231,-0.093846,-0.152308,-0.142308,-0.181538,0.058462,-0.141538,0.016923,-0.018462,0.121538,0.212308,0.083077,-0.171538,9,18
91,spain,0.190769,0.680769,0.319231,0.763077,1.410769,0.267692,0.516923,0.981538,0.420000,0.449231,-0.392308,0.094615,-0.016923,-0.410000,0.195385,0.726154,10,18
105,denmark,-0.053077,-0.192308,-0.136923,0.065385,-0.374615,-0.263846,-0.010000,-0.393077,-0.394615,-0.314615,-0.200000,-0.136154,0.326923,-0.046154,-0.413077,-0.019231,11,18
118,mexico,-0.023077,0.194615,0.029231,0.341538,0.273846,0.556154,0.688462,0.982308,0.532308,0.364615,0.086154,0.961538,0.006923,0.352308,0.240000,0.260000,12,18
121,portugal,0.373846,0.166154,0.297692,0.044615,0.316923,-0.044615,0.379231,0.212308,0.300769,0.247692,-0.024615,-0.263846,0.294615,0.183846,0.386154,0.120000,13,18
132,switzerland,0.241538,0.330769,0.522308,0.181538,0.219231,0.113077,0.045385,0.286923,0.679231,0.503077,-0.172308,0.457692,-0.246923,-0.040000,0.116154,0.186923,14,18
144,japan,0.373846,0.119231,-0.105385,-0.072308,-0.012308,-0.359231,-0.240769,-0.116154,0.253846,-0.034615,-0.258462,0.244615,-0.196154,-0.266154,0.068462,-0.086923,15,18
151,argentina,0.373846,0.110000,0.030000,0.300769,0.497692,-0.213846,0.450000,0.743077,0.881538,0.370769,0.012308,0.074615,0.006923,-0.040769,0.656154,0.316923,16,18
165,senegal,0.110769,-0.074615,0.148462,0.087692,-0.320769,-0.150769,0.028462,0.121538,-0.384615,-0.240769,-0.145385,-0.353077,0.302308,0.352308,-0.095385,0.071538,17,18
169,iran,-0.243077,0.063846,-0.090769,-0.287692,-0.704615,-0.441538,-0.098462,-0.383077,-0.722308,-0.606154,0.313846,-0.336923,0.032308,0.425385,0.426923,-0.306154,18,18
185,southkorea,0.110000,0.032308,-0.150000,0.017692,-0.373077,-0.323077,0.376923,-0.113846,-0.230000,-0.154615,0.297692,-0.116923,-0.215385,0.799231,-0.030000,0.176154,19,18
190,peru,-0.066154,-0.143846,-0.150769,0.256154,0.185385,0.366923,-0.002308,0.240000,0.542308,0.206154,0.380769,0.153077,0.009231,-0.100769,0.133077,-0.080769,20,18
201,nigeria,0.110000,-0.004615,-0.030769,-0.038462,-0.182308,0.062308,0.568462,-0.147692,-0.150769,-0.020000,0.100000,-0.142308,-0.058462,0.201538,0.229231,-0.026923,21,18
205,serbia,-0.066154,0.076154,0.387692,0.673846,0.050769,0.183077,0.283077,0.358462,0.179231,-0.340769,0.233077,0.257692,0.618462,0.575385,0.330000,0.600000,22,18
217,germany,-0.066154,0.162308,0.266923,0.741538,0.566154,0.604615,-0.193846,0.526923,0.376923,0.288462,-0.490000,-0.120769,-0.350769,-0.510769,-0.260000,0.861538,23,18
234,tunisia,0.463846,0.343077,0.029231,-0.026154,0.173077,0.200769,0.092308,0.123077,0.163846,-0.186923,-0.276154,0.076923,-0.283077,0.237692,0.100000,0.160000,24,18
239,poland,-0.066154,0.173077,-0.090769,0.234615,-0.040000,-0.076154,-0.353077,-0.315385,-0.107692,-0.104615,0.067692,0.073077,0.213077,-0.287692,-0.030000,0.090769,25,18
243,saudi,-0.066154,0.226154,0.148462,-0.128462,0.689231,0.070769,0.091538,0.425385,0.726154,0.230000,-0.324615,0.072308,-0.440769,-0.173846,0.296154,-0.046923,26,18
250,morocco,-0.243077,0.000769,0.207692,0.120769,-0.172308,-0.327692,0.378462,0.037692,0.003077,-0.016154,-0.178462,0.182308,0.279231,0.837692,-0.063077,-0.002308,27,18
254,australia,-0.066923,0.165385,0.447692,0.188462,0.470000,0.346923,0.250000,0.105385,0.216923,0.132308,0.330769,-0.331538,0.303846,0.313077,0.066923,0.139231,28,18
261,iceland,-0.066154,0.300000,0.147692,0.244615,-0.453846,0.003846,0.029231,-0.213846,-0.634615,-0.443077,0.395385,-0.274615,0.235385,0.013846,-0.226154,0.127692,29,18
269,costarica,-0.243077,-0.021538,0.090000,-0.117692,-0.190000,-0.030000,0.283077,-0.349231,-0.252308,-0.284615,0.215385,-0.198462,-0.012308,0.201538,-0.129231,-0.084615,30,18
275,egypt,-0.066923,-0.147692,0.028462,-0.050000,-0.076154,0.314615,-0.224615,0.122308,-0.207692,0.190769,0.413846,-0.044615,-0.035385,-0.173846,-0.323846,-0.006923,31,18

In [26]:
# 32 Panama

# 14 / -1

In [27]:
wc14 = df[df['year'] == 14]

In [28]:
wc14.shape

(31, 19)

In [29]:
# wc14

In [30]:
# 13 Greece

# 10 / -1

In [31]:
wc10 = df[df['year'] == 10]

In [32]:
wc10.shape

(31, 19)

In [33]:
# wc10

In [34]:
# 32 North Korea

# 06 / -1

In [35]:
wc06 = df[df['year'] == 6]

In [36]:
wc06.shape

(31, 19)

In [37]:
# wc06

In [38]:

# 32  Serbia and Montenegro

# 02 / -1

In [39]:
wc02 = df[df['year'] == 2]

In [40]:
wc02.shape

(31, 19)

In [41]:
# wc02

In [42]:
# 19  Costa Rica

# 98 / -1

In [43]:
wc98 = df[df['year'] == 98]

In [44]:
wc98.shape

(31, 19)

In [45]:
# wc98

In [46]:
# 20 Iran

 # 94 / -1

In [47]:
wc94 = df[df['year'] == 94]

In [48]:
wc94.shape

(23, 19)

In [49]:
# wc94

In [50]:
# 13 Mexico

# 90 / 0

In [51]:
wc90 = df[df['year'] == 90]

In [52]:
wc90.shape

(24, 19)

In [53]:
# wc90

# 86 / 0

In [54]:
wc86 = df[df['year'] == 86]

In [55]:
wc86.shape

(24, 19)

In [56]:
# wc86

# 82 / -1

In [57]:
wc82 = df[df['year'] == 82]

In [58]:
wc82.shape

(23, 19)

In [59]:
# wc82

In [60]:
# 14 Hungary

In [61]:
# 15 mexico
# 17 south korea
# 20 Czech Republic
# 23 Angola
# 27 Trinidad and Tobago
# 30  Togo
# 31 Costa Rica
# 32  Serbia and Montenegro

In [62]:
#2018 - 4
# 1 italy
# 4 france
# 9 northern ireland
# 21 kuwait

#2014 - 4
# 6 mexico
# 14 poland
# 21 northern ireland

#2010 -3 
# 4 england
# 7 cameroon

#2006 - 3 
# 7 netherlands
# 13 saudi arabia

# 2002 - 4 
# 1 france
# 13 mexico
# 20 iran
# 30 south korea

# 1998 - 5 
# 5 spain
# 10 denmark
# 11 mexico
# 19 costa rica

# 1994 - 8
# 9 spain
# 15 mexico
# 23 angola
# 27 trinidad 
# 30 toga
# 31 costa rica
# 32 serbia

# 1990 - 6
# 9 japan
# 10 chile
# 14 mexico
# 20 south africa
# 32 north koreaf

# 1986 - 6
# 9 chile
# 13 greece
# 14 algeria
# 23 spain
# 31 honduras

# 1982 - 5
# 5 uruguay
# 10 spain
# 15 japan
# 23 germany

# missing 48 values