https://www.youtube.com/watch?v=0irmDBWLrco

## Setup if statement to count wins for away teams

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
# import pycountry

In [2]:
df = pd.read_csv('results.csv')

In [3]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [4]:
df.shape

(43752, 9)

In [5]:
39654*9

356886

In [6]:
df["home_team"].value_counts()

Brazil           589
Argentina        564
Mexico           543
Germany          524
England          520
                ...
Central Spain      1
Kabylia            1
Sark               1
Chameria           1
Saint Helena       1
Name: home_team, Length: 306, dtype: int64

In [7]:
df[df["tournament"] == "FIFA World Cup"]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1314,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True
1315,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True
1316,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True
1317,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True
1318,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True
...,...,...,...,...,...,...,...,...,...
40133,2018-07-07,Russia,Croatia,2,2,FIFA World Cup,Sochi,Russia,False
40134,2018-07-10,France,Belgium,1,0,FIFA World Cup,Saint Petersburg,Russia,True
40135,2018-07-11,Croatia,England,2,1,FIFA World Cup,Moscow,Russia,True
40136,2018-07-14,Belgium,England,2,0,FIFA World Cup,Saint Petersburg,Russia,True
40137,2018-07-15,France,Croatia,4,2,FIFA World Cup,Moscow,Russia,True

In [8]:
wc = df[df["tournament"] == "FIFA World Cup"]

In [9]:
wc

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1314,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True
1315,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True
1316,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True
1317,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True
1318,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True
...,...,...,...,...,...,...,...,...,...
40133,2018-07-07,Russia,Croatia,2,2,FIFA World Cup,Sochi,Russia,False
40134,2018-07-10,France,Belgium,1,0,FIFA World Cup,Saint Petersburg,Russia,True
40135,2018-07-11,Croatia,England,2,1,FIFA World Cup,Moscow,Russia,True
40136,2018-07-14,Belgium,England,2,0,FIFA World Cup,Saint Petersburg,Russia,True
40137,2018-07-15,France,Croatia,4,2,FIFA World Cup,Moscow,Russia,True

In [10]:
wc.describe()

       home_score  away_score
count  900.000000  900.000000
mean     1.568889    1.262222
std      1.489574    1.313960
min      0.000000    0.000000
25%      0.000000    0.000000
50%      1.000000    1.000000
75%      2.000000    2.000000
max     10.000000    8.000000

In [11]:
wc = wc.drop(columns=["city", "country", "tournament"])

In [12]:
wc

             date  home_team      away_team  home_score  away_score  neutral
1314   1930-07-13    Belgium  United States           0           3     True
1315   1930-07-13     France         Mexico           4           1     True
1316   1930-07-14     Brazil     Yugoslavia           1           2     True
1317   1930-07-14       Peru        Romania           1           3     True
1318   1930-07-15  Argentina         France           1           0     True
...           ...        ...            ...         ...         ...      ...
40133  2018-07-07     Russia        Croatia           2           2    False
40134  2018-07-10     France        Belgium           1           0     True
40135  2018-07-11    Croatia        England           2           1     True
40136  2018-07-14    Belgium        England           2           0     True
40137  2018-07-15     France        Croatia           4           2     True

[900 rows x 6 columns]

In [13]:
wc.dtypes.value_counts()

object    3
int64     2
bool      1
dtype: int64

In [14]:
wc["home_team"].value_counts()

Brazil                  84
Germany                 77
Argentina               60
Italy                   49
France                  40
                        ..
El Salvador              1
United Arab Emirates     1
Iraq                     1
Canada                   1
Panama                   1
Name: home_team, Length: 78, dtype: int64

In [15]:
wc.isnull().sum().sort_values()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
neutral       0
dtype: int64

In [16]:
wc.shape[0]

900

In [17]:
wc.shape[1]

6

In [18]:
hot_encode_cols = wc.dtypes[wc.dtypes==np.object]

In [19]:
wc_list = hot_encode_cols.index.tolist()

In [20]:
wc_list

['date', 'home_team', 'away_team']

In [21]:
hot_encode_cols

date         object
home_team    object
away_team    object
dtype: object

In [22]:
wc

             date  home_team      away_team  home_score  away_score  neutral
1314   1930-07-13    Belgium  United States           0           3     True
1315   1930-07-13     France         Mexico           4           1     True
1316   1930-07-14     Brazil     Yugoslavia           1           2     True
1317   1930-07-14       Peru        Romania           1           3     True
1318   1930-07-15  Argentina         France           1           0     True
...           ...        ...            ...         ...         ...      ...
40133  2018-07-07     Russia        Croatia           2           2    False
40134  2018-07-10     France        Belgium           1           0     True
40135  2018-07-11    Croatia        England           2           1     True
40136  2018-07-14    Belgium        England           2           0     True
40137  2018-07-15     France        Croatia           4           2     True

[900 rows x 6 columns]

In [23]:
data = wc.copy()

In [24]:
data["date"] = pd.to_datetime(data["date"])

In [25]:
data.dtypes

date          datetime64[ns]
home_team             object
away_team             object
home_score             int64
away_score             int64
neutral                 bool
dtype: object

### Add Neutral site to 1 and Not Neutral sites to 0

In [26]:
data.neutral.value_counts()

True     782
False    118
Name: neutral, dtype: int64

In [27]:
data["venue"] = data["neutral"].astype("category").cat.codes

In [28]:
data.venue.value_counts()

1    782
0    118
Name: venue, dtype: int64

### Add numerical values inplace of away teams string value

In [29]:
data.away_team.value_counts()

Uruguay           37
Italy             34
England           33
Spain             33
Germany           32
                  ..
Haiti              2
Czech Republic     1
Togo               1
Indonesia          1
DR Congo           1
Name: away_team, Length: 79, dtype: int64

In [30]:
data["away_code"] = data["away_team"].astype("category").cat.codes

In [31]:
data.away_code.value_counts()

76    37
37    34
24    33
66    33
27    32
      ..
30     2
17     1
69     1
34     1
19     1
Name: away_code, Length: 79, dtype: int64

In [32]:
data

,date,home_team,away_team,home_score,away_score,neutral,venue,away_code
1314,1930-07-13,Belgium,United States,0,3,True,1,75
1315,1930-07-13,France,Mexico,4,1,True,1,42
1316,1930-07-14,Brazil,Yugoslavia,1,2,True,1,78
1317,1930-07-14,Peru,Romania,1,3,True,1,56
1318,1930-07-15,Argentina,France,1,0,True,1,25
...,...,...,...,...,...,...,...,...
40133,2018-07-07,Russia,Croatia,2,2,False,0,16
40134,2018-07-10,France,Belgium,1,0,True,1,5
40135,2018-07-11,Croatia,England,2,1,True,1,24
40136,2018-07-14,Belgium,England,2,0,True,1,24
40137,2018-07-15,France,Croatia,4,2,True,1,16

###  Add numerical value of Wins and Losses

In [37]:
# homew = data.loc[:, "home_wins"]
aways = data["away_score"]
homes = data["home_score"]

In [ ]:
# data["home_wins"] = 0

# if data["home_score"] > data["away_score"]:
#     data["home_wins"] += 1

In [33]:
data["target"] = (data["home_wins"] == "W").astype("int")

KeyError: 'home_wins'

In [ ]:
data

In [ ]:
data["day_code"] = data["date"].dt.dayofweek

In [ ]:
data .hist(bins=50, figsize=(20,15))

### Will need to transform these attributes to have a bell-shaped distribution. Currently the histograms are tail-heavy

In [ ]:
plt.figure(figsize=(10,5))
by_home_team = data.groupby('home_team').count().reset_index()[[
    'home_team','home_wins']].sort_values('home_wins', ascending=False)
sns.barplot(by_home_team.home_team, by_home_team.home_wins, palette='Greens_d')
plt.xticks(rotation=90, fontsize=12)
plt.yticks(fontsize=12)
plt.title("Number of wins for home team", fontsize=16)
plt.xlabel('Home Team', fontsize=14)
plt.ylabel('Country', fontsize=14)

In [ ]:
# from sklearn.preprocessing import PolynomialFeatures
# pf = PolynomialFeatures(degree=2, include_bias=False,)
# X = wc.drop(axis=1, columns=['home_score', 'away_score', 'neutral'])
# y = wc["home_score"]
# X_pf = pf.fit_transform(X)
# X_train, X_test, y_train, y_test = train_test_split(X_pf, y, test_size=0.2, random_state=72018)

n_estimators=50 (50 is the number of ) 
min_samples_split=10 (number of smaples we want in a leaf of the decision tree)
random_state

In [ ]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [ ]:
train = data[data["date"] < '2018-01-01']

In [ ]:
test = data[data["date"] > '2018-01-01']

In [ ]:
predictors = ["venue", "away_code", "day_code"]

In [ ]:
rf.fit(train[predictors], train["target"])

In [ ]:
preds = rf.predict(test[predictors])

In [ ]:
acc = accuracy_score(test["target"], preds)

## How often are predictions come true is currently 56%

In [ ]:
acc

In [ ]:
combined = pd.DataFrame(dict(actual=test["target"], prediction=preds))

In [ ]:
pd.crosstab(index=combined["actual"], columns=combined["prediction"])

When predicting a loss: 
    - correct 112
    - incorrect 81
    
When predicting a win:
    - correct 46
    - incorrect 41

### Revise accuracy metric

In [ ]:
precision_score(test["target"], preds)

### Precision is only 52%

In [ ]:
grouped_matches = data.groupby("home_team")

In [ ]:
group = grouped_matches.get_group("Brazil")

In [ ]:
group

In [ ]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

cols we want rolling averages for

NameError: name 'group' is not defined

In [ ]:
cols = []