In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('footballData.csv')

In [3]:
df.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,33,24/06/1987,170,72,Argentina,FC Barcelona,...,66+3,65+3,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,35,05/02/1985,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3
2,200389,https://sofifa.com/player/200389/jan-oblak/210002,J. Oblak,Jan Oblak,27,07/01/1993,188,87,Slovenia,Atlético Madrid,...,32+3,36+3,36+3,36+3,32+3,32+3,33+3,33+3,33+3,32+3
3,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,31,21/08/1988,184,80,Poland,FC Bayern München,...,64+3,65+3,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3
4,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,28,05/02/1992,175,68,Brazil,Paris Saint-Germain,...,67+3,62+3,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3

In [4]:
df.shape

(18944, 106)

In [5]:
teams_2022 = ['Qatar', 'Netherlands', 'Senegal', 'Ecuador', 'England', 'United States', 'Wales', 'Iran', 'Argentina', 'Poland', 'Mexico', 'Saudi Arabia', 'France', 'Denmark', 'Tunisia', 'Australia', 'Germany', 'Spain', 'Japan', 'Costa Rica', 'Belgium', 'Croatia', 'Canada', 'Morocco', 'Brazil', 'Switzerland', 'Serbia', 'Cameroon', 'Portugal', 'Uruguay', 'Ghana', 'Korea Republic']

In [6]:
df = df.loc[df['nationality'].isin(teams_2022)]

In [7]:
df.shape

(12380, 106)

In [8]:
df["nationality"].value_counts()

England           1685
Germany           1189
Spain             1072
France             984
Argentina          936
Brazil             887
Japan              489
Netherlands        432
United States      378
Mexico             362
Poland             360
Portugal           353
Uruguay            349
Korea Republic     341
Saudi Arabia       317
Denmark            300
Belgium            298
Ecuador            252
Australia          241
Switzerland        211
Croatia            132
Serbia             130
Senegal            128
Wales              124
Ghana              118
Morocco             80
Canada              78
Cameroon            77
Tunisia             33
Costa Rica          29
Iran                15
Name: nationality, dtype: int64

In [11]:
df = df.drop(columns=['player_url', 'short_name', 'dob', 'height_cm', 
                      'weight_kg', 'club_name', 'lwb', 'cdm', 'ldm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb'])

In [14]:
df = df.drop(columns=['movement_acceleration', 'movement_sprint_speed',
       'movement_agility', 'movement_reactions', 'movement_balance',
       'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength',
       'power_long_shots', 'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking', 'defending_standing_tackle',
       'defending_sliding_tackle', 'goalkeeping_diving',
       'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes', 'ls', 'st', 'rs',
       'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm',
       'rcm', 'rm', 'rdm'])

In [17]:
df = df.drop(columns=['wage_eur',
       'player_positions', 'preferred_foot', 'league_name',
       'league_rank','weak_foot', 'skill_moves', 'work_rate', 'body_type', 'real_face',
       'release_clause_eur', 'player_tags', 'team_position',
       'team_jersey_number', 'loaned_from', 'joined', 'contract_valid_until',
       'nation_position', 'nation_jersey_number', 'pace', 'gk_diving',
       'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed',
       'gk_positioning', 'player_traits',])

In [22]:
df.columns

Index(['sofifa_id', 'long_name', 'age', 'nationality', 'overall', 'potential',
       'value_eur', 'international_reputation', 'shooting', 'passing',
       'dribbling', 'defending', 'physic', 'attacking_crossing',
       'attacking_finishing', 'attacking_heading_accuracy',
       'attacking_short_passing', 'attacking_volleys', 'skill_dribbling',
       'skill_curve', 'skill_fk_accuracy', 'skill_long_passing',
       'skill_ball_control'],
      dtype='object')

In [24]:
df = df.drop(columns= ["passing", 'dribbling', 'defending', 'physic', 
             'attacking_crossing', 'attacking_heading_accuracy',
       'attacking_short_passing', 'attacking_volleys', 'skill_dribbling',
       'skill_curve', 'skill_long_passing'])

In [25]:
df

,sofifa_id,long_name,age,nationality,overall,potential,value_eur,international_reputation,shooting,attacking_finishing,skill_fk_accuracy,skill_ball_control
0,158023,Lionel Andrés Messi Cuccittini,33,Argentina,93,93,67500000,5,92.0,95,94,96
1,20801,Cristiano Ronaldo dos Santos Aveiro,35,Portugal,92,92,46000000,5,93.0,95,76,92
3,188545,Robert Lewandowski,31,Poland,91,91,80000000,4,91.0,94,85,88
4,190871,Neymar da Silva Santos Júnior,28,Brazil,91,91,90000000,5,85.0,87,89,95
5,192985,Kevin De Bruyne,29,Belgium,91,91,87000000,4,86.0,82,83,92
...,...,...,...,...,...,...,...,...,...,...,...,...
18919,224866,James Akintunde,24,England,48,55,40000,1,48.0,49,28,43
18926,183749,Laurie Walker,30,England,48,48,20000,1,NaN,12,11,21
18928,258736,Vani Da Silva,17,England,47,67,60000,1,46.0,47,31,44
18929,258760,Ben Hough,17,England,47,67,60000,1,40.0,42,35,48
18930,252757,Ronan McKinley,18,England,47,65,60000,1,39.0,34,31,47