# results vary

### HistGradientBoostingRegressor is better for datasets smaller than 10,000

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn import ensemble
from sklearn.inspection import permutation_importance

In [2]:
df = pd.read_csv('hotData.csv')

In [3]:
df.head()

,goals,xg,crosses,boxtouches,passes,progpasses,takeons,progruns,tackles,interceptions,...,64,65,66,67,68,69,70,71,72,73
0,0.055385,-0.119231,-0.020769,0.236154,-0.781538,-0.649231,-0.407692,-0.568462,-0.578462,-0.444615,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.243077,0.063846,-0.090769,-0.287692,-0.704615,-0.441538,-0.098462,-0.383077,-0.722308,-0.606154,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.420000,-0.230000,-0.150769,-0.435385,-0.687692,-0.408462,-0.256923,-0.586154,-0.629231,-0.560000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.420000,-0.230000,-0.150769,-0.435385,-0.687692,-0.408462,-0.256923,-0.586154,-0.629231,-0.560000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.070769,-0.368462,-0.493846,-0.247692,-0.681538,-0.536923,-0.210000,-0.427692,-0.539231,-0.622308,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# df.columns

In [22]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.10, random_state=2)

In [23]:
params = {}

In [24]:
#     "n_estimators": 3990,
#     "max_depth": 400,
#     "min_samples_split":4,
#     "learning_rate": 0.0159,
#     "loss": "squared_error",
#     "max_features": 16,
#     "min_weight_fraction_leaf": 0.11,
# #     "subsample": 0.8
#     "min_impurity_decrease": 5,

In [25]:
reg = ensemble.GradientBoostingRegressor(**params)
reg.fit(X_train, y_train)

print('GRADIENT BOOSTING REGRESSION')

test_pred = reg.predict(X_test)

print('RMSE: '+str(np.sqrt(mean_squared_error(y_test, test_pred))))
print('R Squared: '+str(r2_score(y_test, test_pred)))
print('MSE TEST: '+str(mean_squared_error(y_test, test_pred)))
print('MAE TEST: '+str(mean_absolute_error(y_test, test_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, test_pred)))

GRADIENT BOOSTING REGRESSION
RMSE: 7.1156572982381014
R Squared: 0.3643149500044778
MSE TEST: 50.63257878596915
MAE TEST: 5.531803221987494
MAPE: 0.7619773812662983

In [9]:
MAPE: 0.7335810182300729

In [10]:
# mape = 1.0765
# mape = 1.0647916900630887 max_feat = 16 
# mape 1.059828673697475 / estimators 5000
# mape 1.0597337473020356 / estimators 4000
# mape 1.0597326684323638 / estimators 4990
# mape 1.0432022275261308 / min fraction leaf .12
#mape 1.031433617032885 / '' ''     ''   '' .11
# ** Results vary -mape .9879763523310932 / "subsample": 0.8
# mpae  1.0241404892305128 / min_impurity_decrease 10
# mape 1.0097789777918718 / min decrease 5

In [11]:
data = {'y_test': y_test, 'y_pred': test_pred}

In [12]:
new_df = pd.DataFrame(data)

In [13]:
diff = (new_df['y_test'] - new_df['y_pred']).abs()

In [14]:
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)
new_df['y_pred'] = round(new_df['y_pred'], 1)
new_df['rounded'] = round(new_df['y_pred'])
new_df['new_diff'] = (new_df['y_test'] - new_df['rounded']).abs()

In [15]:
new_df

     y_test  y_pred       diff  rounded  new_diff
106       9     9.4   0.377624      9.0       0.0
3        32    31.6   0.397020     32.0       0.0
144       4     5.0   0.977558      5.0       1.0
151      22    20.8   1.244089     21.0       1.0
159       5     6.3   1.267074      6.0       1.0
11       12    13.6   1.649225     14.0       2.0
130      10    11.7   1.685383     12.0       2.0
29       23    25.3   2.289236     25.0       2.0
7        19    16.5   2.515461     16.0       3.0
254      17    20.3   3.283197     20.0       3.0
13        7    10.6   3.597525     11.0       4.0
141      14    17.7   3.665363     18.0       4.0
101       1     5.1   4.078025      5.0       4.0
253      28    23.9   4.099168     24.0       4.0
259       1     5.1   4.148329      5.0       4.0
89       22    17.6   4.440213     18.0       4.0
267      26    21.1   4.905298     21.0       5.0
202       6    11.0   5.045833     11.0       5.0
234       7    12.2   5.205606     12.0       5.0
232      15     9.7   5.342795     10.0       5.0
66       17    22.9   5.850482     23.0       6.0
164      11     4.3   6.718634      4.0       7.0
77       18    10.9   7.095735     11.0       7.0
230      29    20.5   8.470522     20.0       9.0
120      17     8.0   8.987354      8.0       9.0
244       6    17.5  11.510440     18.0      12.0
35       18     4.8  13.154905      5.0      13.0
214      31    13.5  17.487320     14.0      17.0
175       6    24.4  18.426371     24.0      18.0

In [16]:
new_df['diff'].mean()

5.445372001858167

In [17]:
new_df['diff'].median()

4.14832891774617

In [18]:
new_df['new_diff'].mean()

5.413793103448276

In [19]:
new_df['new_diff'].median()

4.0

In [20]:
# from sklearn.linear_model import Ridge
# from sklearn.feature_selection import SequentialFeatureSelector
# from sklearn.model_selection import TimeSeriesSplit

# rr = Ridge(alpha=1)

# split = TimeSeriesSplit(n_split=3)

# sfs = SequentialFeatureSelector(rr, features_to_select=17, 
#                                 direction="forward", cv=split, 
#                                 n_jobs=4)

In [21]:
df.shape

(282, 91)