In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.linear_model import Ridge

In [7]:
# df = pd.read_csv('hotoutliers.csv')


# df = pd.read_csv('hotData.csv')
# df = pd.read_csv('hotoutliers238.csv')
# df = pd.read_csv('features.csv')

df = pd.read_csv('feature-outliers.csv')

# df = pd.read_csv('pca.csv')

In [8]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.10, random_state=2)

In [9]:
rr = Ridge(alpha=.2, solver='lsqr')

In [10]:
rr.fit(X_train, y_train) 
pred_train_rr= rr.predict(X_train)
pred_test_rr= rr.predict(X_test)

In [11]:
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test,pred_test_rr)))) 
print('R2 : '+str(r2_score(y_test, pred_test_rr)))
print('MSE: '+str(mean_squared_error(y_test, pred_test_rr)))
print('MAE: '+str(mean_absolute_error(y_test, pred_test_rr)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, pred_test_rr)))

RMSE : 4.710749890976427
R2 : 0.5118059351117525
MSE: 22.191164535334416
MAE: 3.912942031403031
MAPE: 0.5278855575455652

In [8]:
# alpha=0.0, MAPE: 82433196558.62387
# MAPE: 0.5734112214278241
# alpha=.1 MAPE: 0.4785974846704672
# alpha=.2 MAPE: 0.46291794956840693
# solver='lsqr' MAPE: 0.4613972168596109

In [9]:
data = {'y_test': y_test, 'y_pred': pred_test_rr}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)

In [10]:
new_df

     y_test     y_pred      diff
163      13  12.781150  0.218850
134      21  21.288545  0.288545
245       7   6.563128  0.436872
3         6   7.083506  1.083506
94       12  13.144869  1.144869
10        6   7.321212  1.321212
217       8   6.578732  1.421268
109       9  10.588557  1.588557
250      13  10.721779  2.278221
77       17  19.340247  2.340247
140      14  11.159386  2.840614
111      18  14.854673  3.145327
41       15  11.687062  3.312938
93        8  11.925433  3.925433
156      27  22.607495  4.392505
66       12   7.548376  4.451624
175      24  18.907000  5.093000
186       3   8.193327  5.193327
74       24  18.209984  5.790016
226       2   8.207134  6.207134
234      16   9.493172  6.506828
35       15   8.294997  6.705003
13       12  18.881295  6.881295
30       22  14.698953  7.301047
205       3  11.160548  8.160548
115       9  18.707706  9.707706

In [10]:
new_df['diff'].mean()

5.58698443436428

In [11]:
new_df['diff'].median()

5.0780417806714855