Log-loss is indicative of how close the prediction probability is to the corresponding actual/true value (0 or 1 in case of binary classification).

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score

In [2]:
df = pd.read_csv('encoded_df.csv')

In [3]:
df.head()

,Wk,Winner,Pts,Loser,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code,hours,null,half,quart,three_quart
0,1,Florida Atlantic,43,Charlotte,13,Florida Atlantic,Charlotte,99,99,32,37,0,99,99,5,19,1,0,0,0
1,1,Florida State,47,Duquesne,7,Florida State,Duquesne,99,99,34,49,0,99,99,5,17,1,0,0,0
2,1,Illinois,38,Wyoming,6,Illinois,Wyoming,99,99,42,221,0,99,99,5,16,1,0,0,0
3,1,Nevada,23,New Mexico State,12,Nevada,New Mexico State,99,99,76,121,1,99,99,5,22,1,0,0,0
4,1,Nevada-Las Vegas,52,Idaho State,21,Nevada-Las Vegas,Idaho State,99,99,74,76,0,99,99,5,15,0,1,0,0

In [4]:
df = df.drop(columns=['Winner', 'Loser', 'hours', 'null', 'half', 'quart', 'three_quart'])

In [5]:
df[df['winners'] == 'Tulane']

,Wk,Pts,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
83,2,42,10,Tulane,Massachusetts,99,99,116,103,0,99,99,5
165,3,52,0,Tulane,Alcorn State,99,99,116,8,0,99,99,5
235,4,17,10,Tulane,Kansas State,99,99,48,198,1,99,99,5
319,6,27,24,Tulane,Houston,99,99,41,198,1,99,99,4
428,7,24,9,Tulane,East Carolina,99,99,116,50,0,99,99,5
482,8,45,31,Tulane,South Florida,99,99,99,198,1,99,99,5
535,9,38,28,Tulane,Memphis,25,99,116,105,0,25,99,5
642,11,27,13,Tulane,Tulsa,99,19,117,198,1,19,99,5

In [6]:
df[df['losers'] == 'Southern Methodist']

,Wk,Pts,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
207,4,34,27,Maryland,Southern Methodist,99,99,58,173,0,99,99,5
305,5,42,34,Texas Christian,Southern Methodist,99,99,101,189,1,99,99,5
377,7,41,19,Central Florida,Southern Methodist,99,99,19,173,0,99,99,2
498,9,29,27,Cincinnati,Southern Methodist,99,21,101,39,1,21,99,5

In [7]:
df.shape

(714, 13)

In [8]:
train = df.iloc[:614]

In [9]:
test = df.iloc[614:]

In [10]:
X_train = train.drop(columns=['winners', 'losers', 'Pts.1', 'Pts'])

In [11]:
y_train = train['Pts']

In [12]:
X_test = test.drop(columns=['winners', 'losers', 'Pts.1',  'Pts'])

In [13]:
y_test = test['Pts']

In [14]:
# X = df.drop(columns=['winners', 'losers', 'Pts.1'])

In [15]:
# y = df['Pts.1']

In [16]:
# X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=123)

In [17]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [18]:
regr = RandomForestRegressor(n_estimators=65, max_depth=50000, min_samples_split=10, random_state=0)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=50000, min_samples_split=10, n_estimators=65,
                      random_state=0)

In [19]:
test_pred = regr.predict(X_test)

print('RMSE: '+str(np.sqrt(mean_squared_error(y_test, test_pred))))
print('R Squared: '+str(r2_score(y_test, test_pred)))
print('MSE TEST: '+str(mean_squared_error(y_test, test_pred)))
print('MAE TEST: '+str(mean_absolute_error(y_test, test_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, test_pred)))

RMSE: 11.883194377886023
R Squared: -0.002815124235760802
MSE TEST: 141.210308622622
MAE TEST: 9.272805314909482
MAPE: 0.32135245843506494

In [20]:
# MAPE: 0.2739362930995831
# MAPE: 0.2725312745993308 est=70
# MAPE: 0.27160883487219817 est=65
# MAPE: 0.27129296438880546 min_samples_split=10,

In [21]:
# X['day_code'].value_counts()

In [22]:
# lsu homecode = 53
# uab awaycode = 6

In [23]:
# tulane hteam code = 116 / rank = 21
# smu away tea,m code = 173

In [24]:
# # no = [[13, 37, 21, 99, 116, 173, 0, 21, 99, 3]]
# # tul = pd.DataFrame(no, columns=['Wk', 'Pts', 'home_rank', 'away_rank',
# #                                 'home_team_code', 'away_team_code', 'home_results', 
# #                                'win_rank', 'lose_rank', 'day_code'])
# # tul

# la = [[13, 38, 6, 99, 53, 6, 0, 6, 99, 5]]
# lsu = pd.DataFrame(la, columns=['Wk', 'Pts', 'home_rank', 'away_rank',
#                                 'home_team_code', 'away_team_code', 'home_results', 
#                                'win_rank', 'lose_rank', 'day_code'])
# lsu

# # oregon home code = 146 - 12

# # utah away code = 201 - 10

# # sc = [[13, 16, 7, 118, 171, 5]]
# # usc = pd.DataFrame(sc, columns=['Wk', 'home_rank', 'away_rank',
# #                                 'home_team_code', 'away_team_code', 'day_code'])
# # usc

In [25]:
# test_pred = regr.predict(lsu)
# test_pred

In [26]:
## Tulane 37.481 - smu 20.0068

# Actual results tulane 59 - smu 24
# spread was tulane -3.5 with over/under at 66

# Results LSU 41 - UAB 10


# * Update with test being last week *
## lsu 38.323 - uab 22.079

# updated models
## lsu 36.594 - uab 15.333

# lsu 37.13 - uab 21.8
##### difference 15.3

# wire shark prediction 
### lsu 39.4 - uab 29.0

### lsu -14.5 (as of 11/18/22 spread moved to -15)
### over/under 52.5

-------

# Results Utah 17 - Oregon 20

In [27]:
# with minutes and hours
# oregon 37.72
# utah 20.38

In [28]:
# with hours and not minutes
# oregon 38.72 
# urtah 21.12

In [29]:
# with ouliers and hours but without minutes
# oregon 38.83
# Utah 24.15

# with outliers and without hours
# Oregon 40.49
# Utah 21.12