In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('sleep.csv')

In [7]:
df

     Unnamed: 0  Duration (min)                   Text            date_time
0             0            12.0     Émilie slept (12m)  2023-02-13 13:47:00
1            21           741.0  Émilie slept (12h21m)  2021-08-13 18:51:00
2            23           106.0   Émilie slept (1h46m)  2021-08-13 14:45:00
3            27           131.0   Émilie slept (2h11m)  2021-08-13 10:04:00
4            30           688.0  Émilie slept (11h28m)  2021-08-12 18:58:00
..          ...             ...                    ...                  ...
574        2690            95.0   Emilie slept (1h35m)  2020-12-23 09:45:00
575        2695            83.0   Emilie slept (1h23m)  2020-12-23 07:40:00
576        2708            57.0     Emilie slept (57m)  2020-12-22 17:20:00
577        2710           128.0   Emilie slept (2h08m)  2020-12-22 14:35:00
578        2713           112.0   Emilie slept (1h52m)  2020-12-22 12:25:00

[579 rows x 4 columns]

In [8]:
df = df.drop(columns=['Unnamed: 0', 'Text'])

In [9]:
df

     Duration (min)            date_time
0              12.0  2023-02-13 13:47:00
1             741.0  2021-08-13 18:51:00
2             106.0  2021-08-13 14:45:00
3             131.0  2021-08-13 10:04:00
4             688.0  2021-08-12 18:58:00
..              ...                  ...
574            95.0  2020-12-23 09:45:00
575            83.0  2020-12-23 07:40:00
576            57.0  2020-12-22 17:20:00
577           128.0  2020-12-22 14:35:00
578           112.0  2020-12-22 12:25:00

[579 rows x 2 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Duration (min)  579 non-null    float64
 1   date_time       579 non-null    object
dtypes: float64(1), object(1)
memory usage: 9.2+ KB

In [11]:
df['date_time'] = pd.to_datetime(df['date_time'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Duration (min)  579 non-null    float64
 1   date_time       579 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1)
memory usage: 9.2 KB