In [1]:
import pandas as pd
import seaborn as sns

import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_moons, make_circles, make_classification
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.inspection import DecisionBoundaryDisplay

In [2]:
df = pd.read_csv('wk12_final.csv')

In [4]:
df = df.drop(columns=['Time', 'Winner', 'Loser', 'winners', 'losers', 'dates'])

In [5]:
df

,Wk,Pts,Pts.1,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
0,1,43,13,99,99,32,37,0,99,99,5
1,1,47,7,99,99,34,49,0,99,99,5
2,1,38,6,99,99,42,224,0,99,99,5
3,1,23,12,99,99,76,122,1,99,99,5
4,1,52,21,99,99,74,77,0,99,99,5
...,...,...,...,...,...,...,...,...,...,...,...
776,13,23,22,99,99,51,210,1,99,99,5
777,13,45,35,99,99,124,182,0,99,99,5
778,13,54,7,15,99,125,44,0,15,99,5
779,13,31,20,99,99,5,214,1,99,99,5
780,13,15,14,99,99,71,222,1,99,99,5