https://medium.com/@fareedkhandev/apply-40-machine-learning-models-in-two-lines-of-code-c01dad24ad99

In [16]:
import pandas as pd
import numpy as np

import lazypredict
from lazypredict.Supervised import LazyRegressor
from lazypredict.Supervised import LazyClassifier

In [17]:
df = pd.read_csv('encoded_df.csv')

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
df.head()

,Wk,Winner,Pts,Loser,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code,hours,null,half,quart,three_quart
0,1,Florida Atlantic,43,Charlotte,13,Florida Atlantic,Charlotte,99,99,32,37,0,99,99,5,19,1,0,0,0
1,1,Florida State,47,Duquesne,7,Florida State,Duquesne,99,99,34,49,0,99,99,5,17,1,0,0,0
2,1,Illinois,38,Wyoming,6,Illinois,Wyoming,99,99,42,224,0,99,99,5,16,1,0,0,0
3,1,Nevada,23,New Mexico State,12,Nevada,New Mexico State,99,99,76,122,1,99,99,5,22,1,0,0,0
4,1,Nevada-Las Vegas,52,Idaho State,21,Nevada-Las Vegas,Idaho State,99,99,74,77,0,99,99,5,15,0,1,0,0

In [20]:
df1 = df.drop(columns=['Winner', 'Loser', 'winners', 'losers',
                       'null', 'half', 'quart', 'three_quart'])

In [21]:
df1.head()

,Wk,Pts,Pts.1,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code,hours
0,1,43,13,99,99,32,37,0,99,99,5,19
1,1,47,7,99,99,34,49,0,99,99,5,17
2,1,38,6,99,99,42,224,0,99,99,5,16
3,1,23,12,99,99,76,122,1,99,99,5,22
4,1,52,21,99,99,74,77,0,99,99,5,15

In [30]:
test = df1.iloc[713:]
train = df.iloc[:714]

In [31]:
X_train = train.drop(columns=['Pts', 'Pts.1'])
X_test = test.drop(columns=['Pts', 'Pts.1'])

y_train = train['Pts']
y_test = test['Pts']

In [32]:
multiple_ML_model = LazyRegressor(verbose=0,
                                  ignore_warnings=True,
                                 predictions=True)

In [33]:
models, predictions= multiple_ML_model.fit(X_train, X_test, y_train, y_test)

100%|███████████████████████████████████████████| 42/42 [00:06<00:00,  6.66it/s]

In [36]:
models

Empty DataFrame
Columns: [Adjusted R-Squared, R-Squared, RMSE, Time Taken]
Index: []

In [37]:
models, predictions= multiple_ML_model.fit(X_train, 
                                           X_test, y_train, y_test)

'tuple' object has no attribute '__name__'
Invalid Regressor(s)

100%|███████████████████████████████████████████| 42/42 [00:07<00:00,  5.94it/s]

In [38]:
predictions

Empty DataFrame
Columns: []
Index: []