In [100]:
import pandas as pd
import numpy as np
from pycaret.regression import *

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

In [101]:
df = pd.read_csv('encoded_df.csv')

In [102]:
df1 = df.copy()

In [103]:
df1.head()

,Wk,Winner,Pts,Loser,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code,hours,null,half,quart,three_quart
0,1,Florida Atlantic,43,Charlotte,13,Florida Atlantic,Charlotte,99,99,32,37,0,99,99,5,19,1,0,0,0
1,1,Florida State,47,Duquesne,7,Florida State,Duquesne,99,99,34,49,0,99,99,5,17,1,0,0,0
2,1,Illinois,38,Wyoming,6,Illinois,Wyoming,99,99,42,224,0,99,99,5,16,1,0,0,0
3,1,Nevada,23,New Mexico State,12,Nevada,New Mexico State,99,99,76,122,1,99,99,5,22,1,0,0,0
4,1,Nevada-Las Vegas,52,Idaho State,21,Nevada-Las Vegas,Idaho State,99,99,74,77,0,99,99,5,15,0,1,0,0

In [104]:
df1[df1['Pts'] == 0]

Empty DataFrame
Columns: [Wk, Winner, Pts, Loser, Pts.1, winners, losers, home_rank, away_rank, home_team_code, away_team_code, home_results, win_rank, lose_rank, day_code, hours, null, half, quart, three_quart]
Index: []

In [105]:
df.shape

(778, 20)

In [106]:
train = df1.iloc[:714]
test = df1.iloc[714:]

In [107]:
X_train = train.drop(columns=['Winner', 'Loser', 'winners', 'losers',
                              'null', 'half', 'quart', 'three_quart', 
                              'Pts.1', 'hours', 'Pts', 'day_code'])

X_test = test.drop(columns=['Winner', 'Loser', 'winners', 'losers',
                              'null', 'half', 'quart', 'three_quart', 
                              'Pts.1', 'hours', 'Pts', 'day_code'])

In [108]:
X_test

,Wk,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank
714,13,99,99,11,143,1,99,99
715,13,99,99,49,54,1,99,99
716,13,99,99,80,109,1,99,99
717,13,99,99,20,220,1,99,99
718,13,21,99,116,175,0,21,99
...,...,...,...,...,...,...,...,...
773,13,99,99,51,210,1,99,99
774,13,99,99,124,182,0,99,99
775,13,15,99,125,44,0,15,99
776,13,99,99,5,214,1,99,99
777,13,99,99,71,222,1,99,99

In [109]:
y_train = train['Pts']
y_test = test['Pts']

In [110]:
X_train

,Wk,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank
0,1,99,99,32,37,0,99,99
1,1,99,99,34,49,0,99,99
2,1,99,99,42,224,0,99,99
3,1,99,99,76,122,1,99,99
4,1,99,99,74,77,0,99,99
...,...,...,...,...,...,...,...,...
709,12,99,99,126,11,0,99,99
710,12,99,99,127,145,0,99,99
711,12,99,99,128,155,0,99,99
712,12,99,99,26,224,1,99,99
713,13,99,99,114,23,1,99,99

In [60]:
# Ignoring features with high null values 

demo = setup(data = train, target = 'Pts', 
                   transformation= True, transformation_method = 'yeo-johnson', 
                   transform_target = True, remove_outliers= True,
                   remove_multicollinearity = True, imputation_type='iterative',
                   ignore_low_variance = True, combine_rare_levels = True, fold_shuffle=True,)

AttributeError: 'Make_Time_Features' object has no attribute 'list_of_features'

In [44]:
best = compare_models()

In [111]:
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor

In [112]:
clf = Ridge(alpha=.001)
clf.fit(X_train, y_train)

Ridge(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=None,
      normalize='deprecated', positive=False, random_state=None, solver='auto',
      tol=0.001)

In [113]:
regr = RandomForestRegressor(max_depth=2, random_state=0)
regr.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='squared_error',
                      max_depth=2, max_features=1.0, max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [114]:
test_pred = clf.predict(X_test)

print('RMSE: '+str(np.sqrt(mean_squared_error(y_test, test_pred))))
print('R Squared: '+str(r2_score(y_test, test_pred)))
print('MSE TEST: '+str(mean_squared_error(y_test, test_pred)))
print('MAE TEST: '+str(mean_absolute_error(y_test, test_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, test_pred)))

RMSE: 12.93609458901934
R Squared: 0.02106997404559474
MSE TEST: 167.34254321605545
MAE TEST: 10.571476587106233
MAPE: 0.3621416365245155

In [115]:
# RMSE: 12.98527052295243
# R Squared: 0.003458085844145864
# MSE TEST: 168.61725055425725
# MAE TEST: 10.68224945264794
# MAPE: 0.3613084327156201

# alpha=0 MAPE: 0.36128976519731065

In [116]:
data = {'y_test': y_test, 'y_pred': test_pred}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)
new_df

     y_test     y_pred       diff
715      31  30.421951   0.578049
737      31  31.754152   0.754152
754      28  28.797374   0.797374
756      31  31.941907   0.941907
770      34  32.786097   1.213903
..      ...        ...        ...
718      59  36.721873  22.278127
749      56  32.465078  23.534922
763      55  29.700324  25.299676
746      59  31.965278  27.034722
761      63  27.896319  35.103681

[64 rows x 3 columns]

In [117]:
predz = new_df['y_pred']
new_pred = []

for i in predz:
    new_pred.append(round(i))

In [118]:
new_pred.sort()

In [33]:
new_df['y_pred'].value_counts()

19.681882    1
27.474133    1
17.327317    1
22.537701    1
17.500482    1
            ..
20.494978    1
16.666927    1
16.690363    1
16.731552    1
23.068899    1
Name: y_pred, Length: 64, dtype: int64

In [35]:
new_df['diff'].mean()

8.25850148572899

- michigan awaycode = 110 rank3 WIN
- ohio state homecode = 83 rank2
- 1


- oregon awaycode = 148 rank 10 WIN
- oregon state homecode = 89 rnak 22
- 1


- notre dame awaycode = 142 rank 13
- usc homecode = 100 rank 5 WIN
-  0


- tulene awaycode = 200 rank 19 WIN
- cincinati  homecode = 22 rank 21
- 1


- baylor awaycode = 99 rank 99
- texas homecode=189 rank 24 WIN
- 0


- ms state awaycode=115 rank99
- ole miss homecode=67 rank 20 WIN
- 0

In [85]:
# oh = [[14, 2, 3, 83, 110, 1, 3, 2]]
# osu = pd.DataFrame(oh, columns=['Wk', 'home_rank', 'away_rank',
#                                 'home_team_code', 'away_team_code', 
#                                 'home_results', 'win_rank', 
#                                 'lose_rank'])
# osu

# og = [[14, 31, 22, 10, 89, 148, 1, 10, 22, 5]]
# uo = pd.DataFrame(og, columns=['Wk', 'Pts', 'home_rank', 'away_rank',
#                                 'home_team_code', 'away_team_code', 
#                                 'home_results', 'win_rank', 
#                                 'lose_rank', 'day_code'])
# uo


# sc = [[14, 33, 5, 13, 100, 142, 0, 5, 13, 5]]
# usc = pd.DataFrame(sc, columns=['Wk', 'Pts', 'home_rank', 'away_rank',
#                                 'home_team_code', 'away_team_code', 
#                                 'home_results', 'win_rank', 
#                                 'lose_rank', 'day_code'])
# usc

# tu = [[14, 29, 21, 19, 22, 200, 1, 19, 21, 5]]
# tul = pd.DataFrame(tu, columns=['Wk', 'Pts', 'home_rank', 'away_rank',
#                                 'home_team_code', 'away_team_code', 
#                                 'home_results', 'win_rank', 
#                                 'lose_rank', 'day_code'])
# tul


la = [[14, 2, 3, 83, 110, 1, 3, 2]]
lsu = pd.DataFrame(la, columns=['Wk', 'home_rank', 'away_rank',
                                'home_team_code', 'away_team_code', 
                                'home_results', 'win_rank', 
                                'lose_rank'])
lsu

,Wk,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank
0,14,2,3,83,110,1,3,2

In [34]:
clf.predict(osu)

NameError: name 'osu' is not defined

In [35]:
# ohio state 30.68
# michigan 26.316

# oddshark 
# michigan 40.9 ohioStae 45.7

# ------

# Oregon 30.783
# Oregon State 24.936

# oddshark
# oregon 43.2 - oregon state 35.7

# ------

# USC 32.981
# Notre Dame 23.154

# oddshark
# notre dame 36.6 - USC 38.0


# ----


# oddshark 
# lsu 35.0 - Texas A&M 28.4

# Results: tulane 27 - cincinnati 24


# Prediction: tulane 29.4244 - Cinncinati 24.165

# oddshark (diff than my prediction): Tulane 33.6 - Cincinnati 38.6

In [87]:
from sklearn.linear_model import OrthogonalMatchingPursuit

reg = OrthogonalMatchingPursuit(fit_intercept=True, n_nonzero_coefs=8,
                          normalize=False, precompute='auto', tol=None)
# reg.fit(X_train, y_train)

In [88]:
reg.fit(X_train, y_train)

OrthogonalMatchingPursuit(fit_intercept=True, n_nonzero_coefs=8,
                          normalize=False, precompute='auto', tol=None)

In [89]:
test_pred = reg.predict(X_test)

print('RMSE: '+str(np.sqrt(mean_squared_error(y_test, test_pred))))
print('R Squared: '+str(r2_score(y_test, test_pred)))
print('MSE TEST: '+str(mean_squared_error(y_test, test_pred)))
print('MAE TEST: '+str(mean_absolute_error(y_test, test_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, test_pred)))

RMSE: 12.936093507505246
R Squared: 0.021070137731252325
MSE TEST: 167.3425152349194
MAE TEST: 10.571476067349222
MAPE: 0.3621416133095708

In [92]:
data = {'y_test': y_test, 'y_pred': test_pred}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)
new_df

     y_test     y_pred       diff
715      31  30.421945   0.578055
737      31  31.754156   0.754156
754      28  28.797381   0.797381
756      31  31.941905   0.941905
770      34  32.786101   1.213899
..      ...        ...        ...
718      59  36.721875  22.278125
749      56  32.465082  23.534918
763      55  29.700320  25.299680
746      59  31.965283  27.034717
761      63  27.896327  35.103673

[64 rows x 3 columns]

In [94]:
predz = new_df['y_pred']
new_pred = []

for i in predz:
    new_pred.append(round(i))

In [91]:
reg.predict(osu)

array([30.8160472])