In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('clean_lottory.csv')

In [3]:
df

                 numbers  power_ball
0     28, 45, 53, 56, 69          10
1      2, 11, 22, 35, 60          20
2     13, 19, 36, 39, 59          23
3     19, 31, 40, 46, 57          13
4     19, 36, 37, 46, 56          23
...                  ...         ...
2436    1, 6, 21, 33, 40          34
2437   9, 32, 38, 41, 44          28
2438   7, 28, 35, 40, 48          27
2439   5, 15, 16, 28, 32          14
2440   9, 13, 23, 36, 45          39

[2441 rows x 2 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2441 entries, 0 to 2440
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   numbers     2441 non-null   object
 1   power_ball  2441 non-null   int64
dtypes: int64(1), object(1)
memory usage: 38.3+ KB