In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('world_cup_comparisons.csv')

In [3]:
df.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,Cristian Pavón,2018,Argentina,-0.42,-0.55,0.08,-0.24,-0.61,-0.72,-0.05,0.15,0.30,-0.79,-0.80,-0.45,-0.23,-0.38,-0.91,-0.58
1,Eduardo Salvio,2018,Argentina,-0.42,-0.50,-0.51,0.64,0.02,-0.46,-0.05,0.48,0.61,0.67,0.32,-0.45,0.21,-1.11,0.68,-0.03
2,Enzo Pérez,2018,Argentina,-0.42,0.11,-0.51,-0.69,0.27,-0.65,-0.36,-0.34,0.35,-0.22,-0.80,-0.45,-0.89,0.72,0.04,-0.66
3,Federico Fazio,2018,Argentina,-0.42,-0.59,-0.51,-0.69,-0.97,-0.91,-0.67,-0.84,-0.82,-0.79,-0.64,-0.45,0.21,-1.11,-0.59,-0.77
4,Franco Armani,2018,Argentina,-0.42,-0.59,-0.51,-0.80,-0.67,0.64,-0.67,-0.67,-0.82,-0.79,-0.64,-0.45,-0.89,-1.11,-0.91,-0.77

In [4]:
teams_2022 = ['Qatar', 'Netherlands', 'Senegal', 'Ecuador', 'England',
              'USA', 'Wales', 'Iran', 'Argentina', 'Poland', 'Mexico', 
              'Saudi Arabia', 'France', 'Denmark', 'Tunisia', 'Australia',
              'Germany', 'Spain', 'Japan', 'Costa Rica', 'Belgium', 'Croatia', 
              'Canada', 'Morocco', 'Brazil', 'Switzerland', 'Serbia', 'Cameroon',
              'Portugal', 'Uruguay', 'Ghana', 'Korea Republic', 'West Germany']

In [5]:
years = [1998, 1994, 1990, 1986, 1982]

In [6]:
df = df.loc[df['season'].isin(years)]

In [7]:
df = df.loc[df['team'].isin(teams_2022)]

In [8]:
df.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
2764,Abel Balbo,1998,Argentina,-0.42,-0.43,-0.66,-0.19,-1.51,-1.20,-0.74,-1.02,-0.72,-0.77,-0.73,-0.54,-0.51,-1.15,-0.87,-0.58
2765,Ariel Ortega,1998,Argentina,1.90,1.07,0.78,1.56,1.10,0.44,6.01,2.67,0.13,-0.72,-0.66,-0.54,-0.75,0.35,6.05,4.32
2766,Carlos Roa,1998,Argentina,-0.42,-0.68,-0.66,-0.74,-0.35,1.08,-0.74,-1.02,-0.99,-1.03,-0.66,-0.54,-0.75,-1.15,-0.44,-0.90
2767,Claudio Lopez,1998,Argentina,0.74,0.46,0.42,1.56,-0.69,-0.84,0.34,0.43,-0.62,-0.78,-0.66,-0.54,-0.75,0.35,-0.87,0.70
2768,Diego Simeone,1998,Argentina,-0.42,0.70,0.06,1.24,1.19,0.59,0.34,-0.09,0.80,-0.17,0.00,0.85,-0.05,0.14,1.08,0.81

In [9]:
df = df.drop(columns = ['player'])

In [10]:
df

,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
2764,1998,Argentina,-0.42,-0.43,-0.66,-0.19,-1.51,-1.20,-0.74,-1.02,-0.72,-0.77,-0.73,-0.54,-0.51,-1.15,-0.87,-0.58
2765,1998,Argentina,1.90,1.07,0.78,1.56,1.10,0.44,6.01,2.67,0.13,-0.72,-0.66,-0.54,-0.75,0.35,6.05,4.32
2766,1998,Argentina,-0.42,-0.68,-0.66,-0.74,-0.35,1.08,-0.74,-1.02,-0.99,-1.03,-0.66,-0.54,-0.75,-1.15,-0.44,-0.90
2767,1998,Argentina,0.74,0.46,0.42,1.56,-0.69,-0.84,0.34,0.43,-0.62,-0.78,-0.66,-0.54,-0.75,0.35,-0.87,0.70
2768,1998,Argentina,-0.42,0.70,0.06,1.24,1.19,0.59,0.34,-0.09,0.80,-0.17,0.00,0.85,-0.05,0.14,1.08,0.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4837,1982,West Germany,0.31,0.41,1.17,0.22,1.90,1.27,1.21,2.71,0.41,0.45,-0.60,1.44,-0.38,0.24,0.39,1.60
4838,1982,West Germany,1.13,0.88,2.69,2.05,-0.06,0.03,2.58,0.56,0.62,-0.61,-0.67,-0.57,-0.65,0.84,1.71,2.77
4839,1982,West Germany,-0.50,-0.53,-0.35,-0.53,1.82,1.42,0.45,0.49,1.39,1.48,1.50,0.82,-0.11,1.00,0.26,-0.45
4840,1982,West Germany,0.31,-0.21,-0.60,-0.53,-1.46,-1.28,-0.77,-0.96,-0.73,-0.94,-0.73,-0.57,-0.11,-0.37,-0.14,-0.75
4841,1982,West Germany,-0.50,0.19,0.16,0.33,1.72,0.44,-0.31,1.44,2.39,1.86,-0.14,1.25,0.16,1.15,1.84,0.72

In [11]:
year1998 = [1998]
year1994 = [1994]
year1990 = [1990]
year1986 = [1986]
year1982 = [1982]

# Germany 1998

In [12]:
ger = ["Germany"]

In [13]:
ger_year = df.loc[df["team"].isin(ger)]

In [14]:
ger98year = ger_year.loc[ger_year["season"].isin(year1998)]

In [15]:
ger98xg = ger98year.sort_values(by=["goals_z"], ascending=False)

In [16]:
ger98xg13 = ger98xg.head(13)

In [17]:
ger98xg13

,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
2976,1998,Germany,3.29,4.18,-0.27,7.39,-0.38,-0.81,-0.74,-0.59,-0.15,-0.20,-0.26,-0.54,1.98,1.83,1.68,0.97
2970,1998,Germany,3.29,1.37,-0.66,3.07,0.05,-0.97,-0.45,-0.59,-0.99,-0.52,-0.26,0.39,1.23,-0.23,0.76,0.88
2964,1998,Germany,0.81,0.01,0.11,-0.49,-0.12,-0.59,-0.45,-0.03,-0.49,-0.50,-0.73,-0.54,-0.75,-1.15,-0.16,-0.14
2963,1998,Germany,-0.42,-0.68,-0.66,-0.74,-0.23,1.35,-0.74,-1.02,-0.41,-1.03,-0.42,-0.54,-0.50,-1.15,-1.08,-0.81
2973,1998,Germany,-0.42,-0.68,-0.66,-0.74,-1.18,-0.81,-0.74,-1.02,-0.77,-0.61,-0.50,-0.54,-0.75,-1.15,-0.85,-0.70
2979,1998,Germany,-0.42,-0.05,2.40,0.70,-0.10,-0.17,-0.45,0.25,0.17,0.31,-0.58,0.18,-0.25,0.45,0.53,2.52
2978,1998,Germany,-0.42,-0.68,-0.66,-0.57,-0.64,-0.85,-0.74,-0.31,0.13,1.18,-0.50,-0.54,-0.50,-1.15,-1.08,-0.68
2977,1998,Germany,-0.42,-0.68,-0.27,-0.74,-1.00,-0.70,-0.74,-0.74,-0.99,-0.52,-0.58,-0.54,-0.50,-0.69,-1.08,-0.74
2975,1998,Germany,-0.42,-0.55,0.49,-0.57,0.49,-0.40,-0.74,0.11,-0.41,0.55,0.37,-0.54,-0.25,-0.46,-0.62,0.25
2974,1998,Germany,-0.42,0.01,5.08,-0.57,0.58,1.28,0.70,-0.03,1.62,1.77,-0.26,-0.54,-0.25,0.45,-0.62,2.74
2972,1998,Germany,-0.42,-0.23,-0.27,-0.66,1.58,1.05,-0.74,1.37,1.66,0.61,0.37,2.07,-0.75,1.14,0.30,0.61
2971,1998,Germany,-0.42,-0.47,0.11,-0.49,0.58,0.21,-0.45,-0.03,1.28,1.70,1.15,-0.54,0.74,-0.23,0.07,0.16
2969,1998,Germany,-0.42,-0.28,2.40,0.78,1.55,2.34,0.13,0.67,0.61,0.87,0.21,-0.54,0.99,0.45,1.68,1.28

In [18]:
ger98xg13 = ger98xg13.drop(columns=['season', 'team'])

In [19]:
ger98 = ger98xg13.mean()

In [20]:
ger98

goals_z            0.245385
xg_z               0.097692
crosses_z          0.549231
boxtouches_z       0.490000
passes_z           0.090769
progpasses_z       0.071538
takeons_z         -0.473077
progruns_z        -0.150769
tackles_z          0.096923
interceptions_z    0.277692
clearances_z      -0.153077
blocks_z          -0.212308
aerials_z          0.033846
fouls_z           -0.145385
fouled_z          -0.036154
nsxg_z             0.487692
dtype: float64

In [21]:
ger98[0]

0.24538461538461548

# Germany 1994

In [22]:
ger94year = ger_year.loc[ger_year["season"].isin(year1994)]

In [23]:
ger94xg = ger94year.sort_values(by=["goals_z"], ascending=False)

In [24]:
ger94xg13 = ger94xg.head(13)

In [25]:
ger94xg13 = ger94xg13.drop(columns=['season', 'team'])

In [26]:
ger94 = ger94xg13.mean()

In [27]:
ger94

goals_z            0.337692
xg_z               0.270000
crosses_z          0.292308
boxtouches_z       0.281538
passes_z           0.065385
progpasses_z      -0.142308
takeons_z         -0.076923
progruns_z         0.430000
tackles_z          0.688462
interceptions_z    0.002308
clearances_z       0.020769
blocks_z           0.165385
aerials_z         -0.075385
fouls_z            0.193077
fouled_z           0.087692
nsxg_z             0.393846
dtype: float64

# Germany 1990

In [28]:
ger = ["West Germany"]

In [29]:
ger_year = df.loc[df["team"].isin(ger)]

In [30]:
ger90year = ger_year.loc[ger_year["season"].isin(year1990)]

In [31]:
ger90xg = ger90year.sort_values(by=["goals_z"], ascending=False)

In [32]:
ger90xg13 = ger90xg.head(13)

In [33]:
ger90xg13 = ger90xg13.drop(columns=['season', 'team'])

In [34]:
ger90 = ger90xg13.mean()

In [35]:
ger90

goals_z            0.673077
xg_z               0.642308
crosses_z          0.502308
boxtouches_z       0.277692
passes_z           0.310000
progpasses_z       0.146923
takeons_z          0.153077
progruns_z         0.081538
tackles_z          0.814615
interceptions_z    0.464615
clearances_z      -0.150769
blocks_z          -0.007692
aerials_z         -0.060769
fouls_z           -0.220000
fouled_z           0.006154
nsxg_z             0.387692
dtype: float64

# Germany 1986

In [36]:
ger86year = ger_year.loc[ger_year["season"].isin(year1986)]

In [37]:
ger86xg = ger86year.sort_values(by=["goals_z"], ascending=False)

In [38]:
ger86xg13 = ger86xg.head(13)

In [39]:
ger86xg13 = ger86xg13.drop(columns=['season', 'team'])

In [40]:
ger86 = ger86xg13.mean()

In [41]:
ger86

goals_z            0.114615
xg_z               0.155385
crosses_z          0.271538
boxtouches_z       0.330769
passes_z          -0.015385
progpasses_z       0.028462
takeons_z          0.128462
progruns_z         0.109231
tackles_z          0.130769
interceptions_z    0.056923
clearances_z      -0.232308
blocks_z          -0.146923
aerials_z         -0.023077
fouls_z            0.078462
fouled_z           0.532308
nsxg_z             0.140769
dtype: float64

# Germany 1982

In [42]:
ger82year = ger_year.loc[ger_year["season"].isin(year1982)]

In [43]:
ger82xg = ger82year.sort_values(by=["goals_z"], ascending=False)

In [44]:
ger82xg13 = ger82xg.head(13)

In [45]:
ger82xg13 = ger82xg13.drop(columns=['season', 'team'])

In [46]:
ger82 = ger82xg13.mean()

In [47]:
ger82

goals_z            0.250769
xg_z               0.222308
crosses_z          0.003077
boxtouches_z       0.405385
passes_z          -0.270000
progpasses_z      -0.150000
takeons_z          0.110000
progruns_z        -0.088462
tackles_z          0.006154
interceptions_z   -0.210769
clearances_z      -0.257692
blocks_z          -0.124615
aerials_z         -0.004615
fouls_z            0.013077
fouled_z           0.054615
nsxg_z             0.177692
dtype: float64

In [48]:
ger = pd.concat([ger98, ger94, ger90, ger86, ger82], axis=1).T

## Export Transposed Germany df as csv and update

In [49]:
ger

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692
1,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846
2,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692
3,0.114615,0.155385,0.271538,0.330769,-0.015385,0.028462,0.128462,0.109231,0.130769,0.056923,-0.232308,-0.146923,-0.023077,0.078462,0.532308,0.140769
4,0.250769,0.222308,0.003077,0.405385,-0.270000,-0.150000,0.110000,-0.088462,0.006154,-0.210769,-0.257692,-0.124615,-0.004615,0.013077,0.054615,0.177692

In [50]:
ger.rename(index={0: 'Germany98', 1: 'Germany94', 
                 2: 'Germany90', 3: 'Germany86', 4: 'Germany82'}, inplace=True)

In [51]:
ger

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
Germany98,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692
Germany94,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846
Germany90,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692
Germany86,0.114615,0.155385,0.271538,0.330769,-0.015385,0.028462,0.128462,0.109231,0.130769,0.056923,-0.232308,-0.146923,-0.023077,0.078462,0.532308,0.140769
Germany82,0.250769,0.222308,0.003077,0.405385,-0.270000,-0.150000,0.110000,-0.088462,0.006154,-0.210769,-0.257692,-0.124615,-0.004615,0.013077,0.054615,0.177692

In [52]:
df2 = ger.assign(results=[7, 5, 1, 2, 2])

In [53]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Germany98,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692,7
Germany94,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846,5
Germany90,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692,1
Germany86,0.114615,0.155385,0.271538,0.330769,-0.015385,0.028462,0.128462,0.109231,0.130769,0.056923,-0.232308,-0.146923,-0.023077,0.078462,0.532308,0.140769,2
Germany82,0.250769,0.222308,0.003077,0.405385,-0.270000,-0.150000,0.110000,-0.088462,0.006154,-0.210769,-0.257692,-0.124615,-0.004615,0.013077,0.054615,0.177692,2

In [54]:
# df2.to_csv('germany.csv', index=False)

# Switzerland

In [55]:
swi = ["Switzerland"]

In [56]:
swi_year = df.loc[df["team"].isin(swi)]

In [57]:
swi94year = swi_year.loc[swi_year["season"].isin(year1994)]

In [58]:
swi94xg = swi94year.sort_values(by=["goals_z"], ascending=False)

In [59]:
swi94xg13 = swi94xg.head(13)

In [60]:
swi94xg13 = swi94xg13.drop(columns=['season', 'team'])

In [61]:
swi94 = swi94xg13.mean()

In [62]:
swi94

goals_z            0.116923
xg_z               0.051538
crosses_z          0.350000
boxtouches_z       0.203846
passes_z           0.052308
progpasses_z       0.103077
takeons_z         -0.336923
progruns_z        -0.336154
tackles_z         -0.186154
interceptions_z    0.073077
clearances_z      -0.076154
blocks_z          -0.123077
aerials_z         -0.044615
fouls_z            0.094615
fouled_z           0.184615
nsxg_z             0.209231
dtype: float64

In [63]:
swiss = pd.concat([swi94], axis=1).T

In [64]:
swiss

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,0.116923,0.051538,0.35,0.203846,0.052308,0.103077,-0.336923,-0.336154,-0.186154,0.073077,-0.076154,-0.123077,-0.044615,0.094615,0.184615,0.209231

In [65]:
swiss = swiss.rename(index={0: 'Switzerland94'})

In [66]:
df2 = swiss.assign(results=[15])

In [67]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Switzerland94,0.116923,0.051538,0.35,0.203846,0.052308,0.103077,-0.336923,-0.336154,-0.186154,0.073077,-0.076154,-0.123077,-0.044615,0.094615,0.184615,0.209231,15

In [68]:
# df2.to_csv('Switzerland.csv', index=False)

# Brazil 1998

In [69]:
bra = ['Brazil']

In [70]:
bra_year = df.loc[df["team"].isin(bra)]

In [71]:
bra98year = bra_year.loc[bra_year["season"].isin(year1998)]

In [72]:
bra98xg = bra98year.sort_values(by=["goals_z"], ascending=False)

In [73]:
bra98xg13 = bra98xg.head(13)

In [74]:
bra98xg13 = bra98xg13.drop(columns=['season', 'team'])

In [75]:
bra98 = bra98xg13.mean()

In [76]:
bra98

goals_z            0.423077
xg_z               0.146923
crosses_z         -0.136154
boxtouches_z      -0.030000
passes_z           0.429231
progpasses_z       0.037692
takeons_z          0.244615
progruns_z        -0.220000
tackles_z          0.216154
interceptions_z    0.270000
clearances_z      -0.076923
blocks_z          -0.097692
aerials_z         -0.020000
fouls_z           -0.224615
fouled_z           0.100769
nsxg_z            -0.124615
dtype: float64

## 1994

In [77]:
bra94year = bra_year.loc[bra_year["season"].isin(year1994)]

In [78]:
bra94xg = bra94year.sort_values(by=["goals_z"], ascending=False)

In [79]:
bra94xg13 = bra94xg.head(13)

In [80]:
bra94xg13 = bra94xg13.drop(columns=['season', 'team'])

In [81]:
bra94 = bra94xg13.mean()

In [82]:
bra94

goals_z            0.216923
xg_z               0.348462
crosses_z          0.031538
boxtouches_z       0.158462
passes_z           0.835385
progpasses_z       0.626923
takeons_z          0.270000
progruns_z         0.266923
tackles_z          1.143846
interceptions_z    0.834615
clearances_z      -0.059231
blocks_z          -0.134615
aerials_z          0.196923
fouls_z           -0.016923
fouled_z           0.033846
nsxg_z             0.146923
dtype: float64

## 1990

In [83]:
bra90year = bra_year.loc[bra_year["season"].isin(year1990)]

In [84]:
bra90xg = bra90year.sort_values(by=["goals_z"], ascending=False)

In [85]:
bra90xg13 = bra90xg.head(13)

In [86]:
bra90xg13 = bra90xg13.drop(columns=['season', 'team'])

In [87]:
bra90 = bra90xg13.mean()

In [88]:
bra90

goals_z            0.113846
xg_z               0.392308
crosses_z          0.599231
boxtouches_z       0.513846
passes_z           0.833077
progpasses_z       0.405385
takeons_z          0.521538
progruns_z         1.139231
tackles_z          1.109231
interceptions_z    0.859231
clearances_z       0.084615
blocks_z           0.103077
aerials_z          0.683846
fouls_z            0.213846
fouled_z           0.353846
nsxg_z             0.786923
dtype: float64

## 1986

In [89]:
bra86year = bra_year.loc[bra_year["season"].isin(year1986)]

In [90]:
bra86xg = bra86year.sort_values(by=["goals_z"], ascending=False)

In [91]:
bra86xg13 = bra86xg.head(13)

In [92]:
bra86xg13 = bra86xg13.drop(columns=['season', 'team'])

In [93]:
bra86 = bra86xg13.mean()

In [94]:
bra86

goals_z            0.479231
xg_z               0.609231
crosses_z          0.227692
boxtouches_z       0.450769
passes_z           0.770769
progpasses_z       0.042308
takeons_z          0.337692
progruns_z         0.927692
tackles_z          0.506923
interceptions_z    1.015385
clearances_z       0.020769
blocks_z           0.381538
aerials_z          0.038462
fouls_z            0.039231
fouled_z           0.022308
nsxg_z             0.692308
dtype: float64

## 1982

In [95]:
bra82year = bra_year.loc[bra_year["season"].isin(year1982)]

In [96]:
bra82xg = bra82year.sort_values(by=["goals_z"], ascending=False)

In [97]:
bra82xg13 = bra82xg.head(13)

In [98]:
bra82xg13 = bra82xg13.drop(columns=['season', 'team'])

In [99]:
bra82 = bra82xg13.mean()

In [100]:
bra82

goals_z            0.877692
xg_z               0.773846
crosses_z          0.428462
boxtouches_z       0.659231
passes_z           0.754615
progpasses_z       0.335385
takeons_z          0.023077
progruns_z         0.638462
tackles_z          0.493846
interceptions_z    0.637692
clearances_z      -0.117692
blocks_z          -0.033846
aerials_z          0.572308
fouls_z           -0.016154
fouled_z          -0.096923
nsxg_z             0.890769
dtype: float64

In [101]:
braz = pd.concat([bra98, bra94, bra90, bra86, bra82], axis=1).T

In [102]:
braz

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615
1,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923
2,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923
3,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308
4,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769

In [103]:
braz = braz.rename(index={0: 'Brazil98', 1: 'Brazil94', 2: 'Brazil90', 3: 'Brazil86', 
                            4: 'Brazil82'})

In [104]:
braz

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
Brazil98,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615
Brazil94,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923
Brazil90,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923
Brazil86,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308
Brazil82,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769

In [105]:
df2 = braz.assign(results=[2, 1, 9, 5, 5])

In [106]:
# df2

In [107]:
# df2.to_csv('Brazil.csv', index=False)

# France 98

In [108]:
fra = ['France']

In [109]:
fra_year = df.loc[df["team"].isin(fra)]

In [110]:
fra98year = fra_year.loc[fra_year["season"].isin(year1998)]

In [111]:
fra98xg = fra98year.sort_values(by=["goals_z"], ascending=False)

In [112]:
fra98xg13 = fra98xg.head(13)

In [113]:
fra98xg13 = fra98xg13.drop(columns=['season', 'team'])

In [114]:
fra98 = fra98xg13.mean()

In [115]:
fra98

goals_z            0.445385
xg_z               0.390769
crosses_z          0.243846
boxtouches_z       0.292308
passes_z           0.091538
progpasses_z       0.161538
takeons_z          0.260000
progruns_z         0.456154
tackles_z          0.383077
interceptions_z    0.486154
clearances_z      -0.085385
blocks_z          -0.283077
aerials_z          0.160769
fouls_z           -0.057692
fouled_z           0.131538
nsxg_z             0.456154
dtype: float64

## 86

In [116]:
fra86year = fra_year.loc[fra_year["season"].isin(year1986)]

In [117]:
fra86xg = fra86year.sort_values(by=["goals_z"], ascending=False)

In [118]:
fra86xg13 = fra86xg.head(13)

In [119]:
fra86xg13 = fra86xg13.drop(columns=['season', 'team'])

In [120]:
fra86 = fra86xg13.mean()

In [121]:
fra86

goals_z            0.332308
xg_z               0.362308
crosses_z         -0.043846
boxtouches_z       0.316923
passes_z           0.060000
progpasses_z       0.019231
takeons_z          0.140769
progruns_z         0.210000
tackles_z          0.343846
interceptions_z    0.276154
clearances_z      -0.057692
blocks_z           0.112308
aerials_z         -0.053846
fouls_z            0.143077
fouled_z           0.060769
nsxg_z             0.192308
dtype: float64

## 82

In [122]:
fra82year = fra_year.loc[fra_year["season"].isin(year1982)]

In [123]:
fra82xg = fra82year.sort_values(by=["goals_z"], ascending=False)

In [124]:
fra82xg13 = fra82xg.head(13)

In [125]:
fra82xg13 = fra82xg13.drop(columns=['season', 'team'])

In [126]:
fra82 = fra82xg13.mean()

In [127]:
fra82

goals_z            0.500769
xg_z               0.257692
crosses_z          0.080769
boxtouches_z       0.139231
passes_z           0.031538
progpasses_z      -0.194615
takeons_z          0.452308
progruns_z         0.168462
tackles_z          0.005385
interceptions_z   -0.010000
clearances_z      -0.096923
blocks_z           0.031538
aerials_z          0.016154
fouls_z           -0.079231
fouled_z           0.075385
nsxg_z             0.200769
dtype: float64

In [128]:
fran = pd.concat([fra98, fra86, fra82], axis=1).T

In [129]:
fran

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,0.445385,0.390769,0.243846,0.292308,0.091538,0.161538,0.260000,0.456154,0.383077,0.486154,-0.085385,-0.283077,0.160769,-0.057692,0.131538,0.456154
1,0.332308,0.362308,-0.043846,0.316923,0.060000,0.019231,0.140769,0.210000,0.343846,0.276154,-0.057692,0.112308,-0.053846,0.143077,0.060769,0.192308
2,0.500769,0.257692,0.080769,0.139231,0.031538,-0.194615,0.452308,0.168462,0.005385,-0.010000,-0.096923,0.031538,0.016154,-0.079231,0.075385,0.200769

- 98 - 4 	 France 	4/D 	7 	3 	2 	2 	16 	12 	+4 	8
- 86 - 3 	 France 	C 	7 	4 	2 	1 	12 	6 	+6 	10
- 82 - 1 	 France 	C 	7 	6 	1 	0 	15 	2 	+13 	19

In [130]:
fran.rename(index={0: 'France98', 1: 'France86', 2: 'France82'}, inplace=True)

In [131]:
df2 = fran.assign(results=[4, 3, 1])

In [132]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
France98,0.445385,0.390769,0.243846,0.292308,0.091538,0.161538,0.260000,0.456154,0.383077,0.486154,-0.085385,-0.283077,0.160769,-0.057692,0.131538,0.456154,4
France86,0.332308,0.362308,-0.043846,0.316923,0.060000,0.019231,0.140769,0.210000,0.343846,0.276154,-0.057692,0.112308,-0.053846,0.143077,0.060769,0.192308,3
France82,0.500769,0.257692,0.080769,0.139231,0.031538,-0.194615,0.452308,0.168462,0.005385,-0.010000,-0.096923,0.031538,0.016154,-0.079231,0.075385,0.200769,1

In [133]:
# df2.to_csv('France1.csv', index=False)

# USA

## 98

In [134]:
usa = ['USA']

In [135]:
usa_year = df.loc[df["team"].isin(usa)]

In [136]:
usa98year = usa_year.loc[usa_year["season"].isin(year1998)]

In [137]:
usa98xg = usa98year.sort_values(by=["goals_z"], ascending=False)

In [138]:
usa98xg13 = usa98xg.head(13)

In [139]:
usa98xg13 = usa98xg13.drop(columns=['season', 'team'])

In [140]:
usa98 = usa98xg13.mean()

In [141]:

usa98

goals_z           -0.261538
xg_z              -0.247692
crosses_z          0.028462
boxtouches_z       0.137692
passes_z          -0.206923
progpasses_z      -0.283077
takeons_z         -0.370769
progruns_z        -0.043846
tackles_z          0.068462
interceptions_z   -0.391538
clearances_z      -0.449231
blocks_z          -0.298462
aerials_z         -0.048462
fouls_z           -0.444615
fouled_z          -0.049231
nsxg_z            -0.153846
dtype: float64

# 94

In [142]:
usa94year = usa_year.loc[usa_year["season"].isin(year1994)]

In [143]:
usa94xg = usa94year.sort_values(by=["goals_z"], ascending=False)

In [144]:
usa94xg13 = usa94xg.head(13)

In [145]:
usa94xg13 = usa94xg13.drop(columns=['season', 'team'])

In [146]:
usa94 = usa94xg13.mean()

In [147]:

usa94

goals_z           -0.186923
xg_z              -0.232308
crosses_z         -0.103846
boxtouches_z      -0.253846
passes_z          -0.220769
progpasses_z      -0.240000
takeons_z          0.026923
progruns_z        -0.065385
tackles_z         -0.366923
interceptions_z   -0.243846
clearances_z       0.503846
blocks_z          -0.018462
aerials_z         -0.160000
fouls_z           -0.296923
fouled_z           0.111538
nsxg_z            -0.443846
dtype: float64

## 90

In [148]:
usa90year = usa_year.loc[usa_year["season"].isin(year1990)]

In [149]:
usa90xg = usa90year.sort_values(by=["goals_z"], ascending=False)

In [150]:
usa90xg13 = usa90xg.head(13)

In [151]:
usa90xg13 = usa90xg13.drop(columns=['season', 'team'])

In [152]:
usa90 = usa90xg13.mean()

In [153]:
usa90

goals_z           -0.063077
xg_z              -0.080769
crosses_z         -0.190769
boxtouches_z      -0.049231
passes_z          -0.176154
progpasses_z      -0.341538
takeons_z          0.193846
progruns_z        -0.233846
tackles_z          0.026923
interceptions_z   -0.190769
clearances_z       0.139231
blocks_z           0.380769
aerials_z          0.197692
fouls_z            0.401538
fouled_z           0.295385
nsxg_z            -0.058462
dtype: float64

In [154]:
# usa90
# usa94
# usa98

In [155]:
usa = pd.concat([usa90, usa94, usa98], axis=1).T

In [156]:
usa.rename(index={0: 'USA90', 1: 'USA94', 2: 'USA98'}, inplace=True)

In [157]:
# 90 - 23     A      United States     3     0     0     3     2     8     −6     0
# 94 - 14      United States     A     4     1     1     2     3     4     −1     4
# 98 - 32      United States     F     3     0     0     3     1     5     −4     0

In [158]:
df2 = usa.assign(results=[23, 14, 32])

In [159]:
# df2.to_csv('USA1.csv', index=False)

# Spain

In [160]:
# 82 - 12      Spain     5/B     5     1     2     2     4     5     −1     4
# 86 - 7      Spain     D     5     3     1     1     11     4     +7     7
# 90 - 10     E      Spain     4     2     1     1     6     4     +2     5
# 94 - 8      Spain     C     5     2     2     1     10     6     +4     8
# 98 - 17      Spain     D     3     1     1     1     8     4     +4     4

## 82

In [161]:
spa = ['Spain']

In [162]:
spa_year = df.loc[df["team"].isin(spa)]

In [165]:
spa82year = spa_year.loc[spa_year["season"].isin(year1982)]

In [166]:
spa82xg = spa82year.sort_values(by=["goals_z"], ascending=False)

In [168]:
spa82xg13 = spa82xg.head(13)

In [169]:
spa82xg13 = spa82xg13.drop(columns=['season', 'team'])

In [170]:
spa82 = spa82xg13.mean()

In [171]:
spa82

goals_z           -0.133846
xg_z               0.256154
crosses_z          0.170769
boxtouches_z       0.283077
passes_z           0.134615
progpasses_z       0.325385
takeons_z         -0.096923
progruns_z         0.262308
tackles_z          0.286154
interceptions_z    0.152308
clearances_z       0.067692
blocks_z          -0.172308
aerials_z          0.236154
fouls_z            0.000769
fouled_z           0.127692
nsxg_z             0.303077
dtype: float64

## 86

In [182]:
spa86year = spa_year.loc[spa_year["season"].isin(year1986)]

In [183]:
spa86xg = spa86year.sort_values(by=["goals_z"], ascending=False)

In [184]:
spa86xg13 = spa86xg.head(13)

In [185]:
spa86xg13 = spa86xg13.drop(columns=['season', 'team'])

In [186]:
spa86 = spa86xg13.mean()

In [187]:
spa86

goals_z            0.566154
xg_z               0.463077
crosses_z          0.130000
boxtouches_z       0.464615
passes_z          -0.154615
progpasses_z       0.110769
takeons_z         -0.134615
progruns_z        -0.115385
tackles_z         -0.296154
interceptions_z   -0.282308
clearances_z      -0.366154
blocks_z          -0.210000
aerials_z          0.037692
fouls_z           -0.263846
fouled_z           0.064615
nsxg_z             0.353077
dtype: float64

## 90

In [178]:
spa90year = spa_year.loc[spa_year["season"].isin(year1990)]

In [179]:
spa90xg = spa90year.sort_values(by=["goals_z"], ascending=False)

In [180]:
spa90xg13 = spa90xg.head(13)

In [188]:
spa90xg13 = spa90xg13.drop(columns=['season', 'team'])

In [189]:
spa90 = spa90xg13.mean()

In [190]:
spa90

goals_z            0.319231
xg_z               0.181538
crosses_z          0.343077
boxtouches_z       0.478462
passes_z           0.093077
progpasses_z       0.240769
takeons_z          0.277692
progruns_z         0.030769
tackles_z         -0.124615
interceptions_z    0.053077
clearances_z       0.038462
blocks_z           0.255385
aerials_z         -0.107692
fouls_z            0.080769
fouled_z           0.174615
nsxg_z             0.254615
dtype: float64

## 94

In [191]:
spa94year = spa_year.loc[spa_year["season"].isin(year1994)]

In [192]:
spa94xg = spa94year.sort_values(by=["goals_z"], ascending=False)

In [193]:
spa94xg13 = spa94xg.head(13)

In [194]:
spa94xg13 = spa94xg13.drop(columns=['season', 'team'])

In [195]:
spa94 = spa94xg13.mean()

In [196]:
spa94

goals_z            0.417692
xg_z               0.250000
crosses_z          0.259231
boxtouches_z       0.076154
passes_z          -0.371538
progpasses_z      -0.307692
takeons_z          0.165385
progruns_z        -0.083846
tackles_z         -0.407692
interceptions_z   -0.237692
clearances_z       0.124615
blocks_z          -0.123846
aerials_z          0.232308
fouls_z            0.385385
fouled_z          -0.070000
nsxg_z             0.069231
dtype: float64

## 98

In [197]:
spa98year = spa_year.loc[spa_year["season"].isin(year1998)]

In [198]:
spa98xg = spa98year.sort_values(by=["goals_z"], ascending=False)

In [199]:
spa98xg13 = spa98xg.head(13)

In [200]:
spa98xg13 = spa98xg13.drop(columns=['season', 'team'])

In [201]:
spa98 = spa98xg13.mean()

In [202]:
spa98

goals_z            0.689231
xg_z               0.773846
crosses_z         -0.020769
boxtouches_z       0.551538
passes_z          -0.054615
progpasses_z      -0.101538
takeons_z         -0.112308
progruns_z        -0.080000
tackles_z          0.333077
interceptions_z    0.871538
clearances_z      -0.318462
blocks_z           0.173077
aerials_z          0.363846
fouls_z           -0.326923
fouled_z          -0.166923
nsxg_z             0.448462
dtype: float64

In [203]:
spa = pd.concat([spa82, spa86, spa90, spa94, spa98], axis=1).T

In [242]:
spa.rename(index={0: 'Spain82', 1: 'Spain86', 2: 'Spain90',
                  3: 'Spain94', 4: 'Spain98'}, inplace=True)

In [243]:
df2 = spa.assign(results=[12, 7, 10, 8, 17])

In [244]:
# df2.to_csv('Spain2.csv', index=False)

In [208]:
# 82 - 12      Spain     5/B     5     1     2     2     4     5     −1     4
# 86 - 7      Spain     D     5     3     1     1     11     4     +7     7
# 90 - 10     E      Spain     4     2     1     1     6     4     +2     5
# 94 - 8      Spain     C     5     2     2     1     10     6     +4     8
# 98 - 17      Spain     D     3     1     1     1     8     4     +4     4

# Portugal

In [209]:
# 86 - 17      Portugal     F     3     1     0     2     2     4     −2     2

## 86

In [210]:
por = ['Portugal']

In [211]:
por_year = df.loc[df["team"].isin(por)]

In [212]:
por86year = por_year.loc[por_year["season"].isin(year1986)]

In [213]:
por86xg = por86year.sort_values(by=["goals_z"], ascending=False)

In [214]:
por86xg13 = por86xg.head(13)

In [215]:
por86xg13 = por86xg13.drop(columns=['season', 'team'])

In [216]:
por86 = por86xg13.mean()

In [217]:
por86

goals_z           -0.080769
xg_z              -0.025385
crosses_z          0.275385
boxtouches_z       0.216154
passes_z          -0.023846
progpasses_z      -0.126923
takeons_z          0.436923
progruns_z         0.026923
tackles_z         -0.035385
interceptions_z    0.043846
clearances_z       0.156154
blocks_z          -0.066154
aerials_z         -0.146154
fouls_z           -0.262308
fouled_z           0.421538
nsxg_z             0.089231
dtype: float64

In [218]:
por = pd.concat([por86], axis=1).T

In [220]:
por.rename(index={0: 'Portugal86'}, inplace=True)

In [221]:
df2 = por.assign(results=[17])

In [238]:
# df2.to_csv('Portugal2.csv', index=False)

# England

## 82

In [245]:
eng = ['England']

In [246]:
eng_year = df.loc[df["team"].isin(eng)]

In [247]:
eng82year = eng_year.loc[eng_year["season"].isin(year1982)]

In [248]:
eng82xg = eng82year.sort_values(by=["goals_z"], ascending=False)

In [249]:
eng82xg13 = eng82xg.head(13)

In [250]:
eng82xg13 = eng82xg13.drop(columns=['season', 'team'])

In [251]:
eng82 = eng82xg13.mean()

In [253]:
# eng82

## 86

In [254]:
eng86year = eng_year.loc[eng_year["season"].isin(year1986)]

In [255]:
eng86xg = eng86year.sort_values(by=["goals_z"], ascending=False)

In [256]:
eng86xg13 = eng86xg.head(13)

In [257]:
eng86xg13 = eng86xg13.drop(columns=['season', 'team'])

In [258]:
eng86 = eng86xg13.mean()

In [260]:
# eng86

## 90

In [261]:
eng90year = eng_year.loc[eng_year["season"].isin(year1990)]

In [262]:
eng90xg = eng90year.sort_values(by=["goals_z"], ascending=False)

In [263]:
eng90xg13 = eng90xg.head(13)

In [264]:
eng90xg13 = eng90xg13.drop(columns=['season', 'team'])

In [265]:
eng90 = eng90xg13.mean()

In [281]:
# eng90

## 98

In [275]:
eng98year = eng_year.loc[eng_year["season"].isin(year1998)]

In [276]:
eng98xg = eng98year.sort_values(by=["goals_z"], ascending=False)

In [277]:
eng98xg13 = eng98xg.head(13)

In [278]:
eng98xg13 = eng98xg13.drop(columns=['season', 'team'])

In [279]:
eng98 = eng98xg13.mean()

In [282]:
# eng98

In [283]:
eng = pd.concat([eng82, eng86, eng90, eng98], axis=1).T

In [284]:
eng.rename(index={0: 'England82', 1: 'England86', 2: 'England90',
                  3: 'England98'}, inplace=True)

In [285]:
df2 = eng.assign(results=[6, 8, 4, 9])

In [286]:
# df2.to_csv('England2.csv', index=False)

In [287]:
# 82 - 6      England     4/B     5     3     2     0     6     1     +5     8
# 86 - 8      England     F     5     2     1     2     7     3     +4     5
# 90 - 4     F      England     7     3     3     1     8     6     +2     9     4th
# 98 - 9      England     G     4     2     1     1     7     4     +3     7

# Belgium

## 82

In [292]:
bel = ['Belgium']

In [293]:
bel_year = df.loc[df["team"].isin(bel)]

In [294]:
bel82year = bel_year.loc[bel_year["season"].isin(year1982)]

In [295]:
bel82xg = bel82year.sort_values(by=["goals_z"], ascending=False)

In [296]:
bel82xg13 = bel82xg.head(13)

In [297]:
bel82xg13 = bel82xg13.drop(columns=['season', 'team'])

In [298]:
bel82 = bel82xg13.mean()

In [300]:
# bel82

## 86

In [301]:
bel86year = bel_year.loc[bel_year["season"].isin(year1986)]

In [302]:
bel86xg = bel86year.sort_values(by=["goals_z"], ascending=False)

In [303]:
bel86xg13 = bel86xg.head(13)

In [304]:
bel86xg13 = bel86xg13.drop(columns=['season', 'team'])

In [305]:
bel86 = bel86xg13.mean()

In [315]:
# bel86

## 90

In [308]:
bel90year = bel_year.loc[bel_year["season"].isin(year1990)]

In [309]:
bel90xg = bel90year.sort_values(by=["goals_z"], ascending=False)

In [310]:
bel90xg13 = bel90xg.head(13)

In [311]:
bel90xg13 = bel90xg13.drop(columns=['season', 'team'])

In [312]:
bel90 = bel90xg13.mean()

In [316]:
# bel90

## 94

In [317]:
bel94year = bel_year.loc[bel_year["season"].isin(year1994)]

In [318]:
bel94xg = bel94year.sort_values(by=["goals_z"], ascending=False)

In [319]:
bel94xg13 = bel94xg.head(13)

In [320]:
bel94xg13 = bel94xg13.drop(columns=['season', 'team'])

In [321]:
bel94 = bel94xg13.mean()

In [323]:
# bel94

## 98

In [324]:
bel98year = bel_year.loc[bel_year["season"].isin(year1998)]

In [325]:
bel98xg = bel98year.sort_values(by=["goals_z"], ascending=False)

In [326]:
bel98xg13 = bel98xg.head(13)

In [327]:
bel98xg13 = bel98xg13.drop(columns=['season', 'team'])

In [328]:
bel98 = bel98xg13.mean()

In [330]:
# bel98

In [331]:
bel = pd.concat([bel82, bel86, bel90, bel94, bel98], axis=1).T

In [332]:
bel.rename(index={0: 'Belgium82', 1: 'Belgium86', 2: 'Belgium90', 
                  3: 'Belgium94', 4: 'Belgium98'}, inplace=True)

In [333]:
df2 = bel.assign(results=[10, 4, 11, 11, 19])

In [334]:
# df2.to_csv('Belgium2.csv', index=False)

In [ ]:
# 82 - 10      Belgium     3/A     5     2     1     2     3     5     −2     5
# 86 - 4      Belgium     B     7     2     2     3     12     15     −3     6
# 90 - 11     E      Belgium     4     2     0     2     6     4     +2     4
# 94 - 11      Belgium     F     4     2     0     2     4     4     0     6
# 98 - 19      Belgium     E     3     0     3     0     3     3     0     3

# Uruguay

## 86

In [12]:
uru = ['Uruguay']

In [13]:
uru_year = df.loc[df["team"].isin(uru)]

In [14]:
uru86year = uru_year.loc[uru_year["season"].isin(year1986)]

In [15]:
uru86xg = uru86year.sort_values(by=["goals_z"], ascending=False)

In [16]:
uru86xg13 = uru86xg.head(13)

In [17]:
uru86xg13 = uru86xg13.drop(columns=['season', 'team'])

In [18]:
uru86 = uru86xg13.mean()

In [31]:
uru86

## 90

In [21]:
uru90year = uru_year.loc[uru_year["season"].isin(year1990)]

In [22]:
uru90xg = uru90year.sort_values(by=["goals_z"], ascending=False)

In [23]:
uru90xg13 = uru90xg.head(13)

In [24]:
uru90xg13 = uru90xg13.drop(columns=['season', 'team'])

In [28]:
uru90 = uru90xg13.mean()

In [30]:
uru90

In [32]:
uru = pd.concat([uru86, uru90], axis=1).T

In [33]:
uru.rename(index={0: 'Uruguay86', 1: 'Uruguay90'}, inplace=True)

In [34]:
df2 = uru.assign(results=[16, 16])

In [35]:
# df2.to_csv('Uruguay2.csv', index=False)

In [ ]:
# 86 - 16      Uruguay     E     4     0     2     2     2     8     −6     2
# 90 - 16     E      Uruguay     4     1     1     2     2     5     −3     3

# Canada

### 86

In [36]:
can = ['Canada']

In [38]:
can_year = df.loc[df["team"].isin(can)]

In [39]:
can86year = can_year.loc[can_year["season"].isin(year1986)]

In [40]:
can86xg = can86year.sort_values(by=["goals_z"], ascending=False)

In [41]:
can86xg13 = can86xg.head(13)

In [42]:
can86xg13 = can86xg13.drop(columns=['season', 'team'])

In [43]:
can86 = can86xg13.mean()

In [44]:
can86

goals_z           -0.390000
xg_z              -0.202308
crosses_z          0.275385
boxtouches_z       0.097692
passes_z          -0.428462
progpasses_z      -0.447692
takeons_z         -0.166923
progruns_z        -0.495385
tackles_z         -0.163077
interceptions_z   -0.374615
clearances_z       0.034615
blocks_z          -0.281538
aerials_z          0.200000
fouls_z           -0.199231
fouled_z           0.006154
nsxg_z            -0.012308
dtype: float64

In [45]:
can = pd.concat([can86], axis=1).T

In [46]:
can.rename(index={0: 'Canada'}, inplace=True)

In [47]:
df2 = can.assign(results=[24])

In [48]:
# df2.to_csv('Canada2.csv', index=False)

In [ ]:
# 86 - 24      Canada     C     3     0     0     3     0     5     −5     0

# Netherlands

## 90

In [49]:
net = ['Netherlands']

In [50]:
net_year = df.loc[df["team"].isin(net)]

In [51]:
net90year =  net_year.loc[net_year["season"].isin(year1990)]

In [52]:
net90xg = net90year.sort_values(by=["goals_z"], ascending=False)

In [53]:
net90xg13 = net90xg.head(13)

In [54]:
net90xg13 = net90xg13.drop(columns=['season', 'team'])

In [55]:
net90 = net90xg13.mean()

In [65]:
# net90

## 94

In [58]:
net94year =  net_year.loc[net_year["season"].isin(year1994)]

In [59]:
net94xg = net94year.sort_values(by=["goals_z"], ascending=False)

In [60]:
net94xg13 = net94xg.head(13)

In [61]:
net94xg13 = net94xg13.drop(columns=['season', 'team'])

In [62]:
net94 = net94xg13.mean()

In [66]:
# net94

## 98

In [67]:
net98year =  net_year.loc[net_year["season"].isin(year1998)]

In [68]:
net98xg = net98year.sort_values(by=["goals_z"], ascending=False)

In [69]:
net98xg13 = net98xg.head(13)

In [70]:
net98xg13 = net98xg13.drop(columns=['season', 'team'])

In [71]:
net98 = net98xg13.mean()

In [73]:
# net98

In [74]:
net = pd.concat([net90, net94, net98], axis=1).T

In [76]:
net.rename(index={0: 'Netherlands90', 1: 'Netherlands90', 2: 'Netherlands90'}, inplace=True)

In [77]:
df2 = net.assign(results=[15, 7, 4])

In [78]:
# df2.to_csv('Netherlands2.csv', index=False)

In [ ]:
# 90  - 15     F      Netherlands     4     0     3     1     3     4     −1     3
# 94 - 7      Netherlands     F     5     3     0     2     8     6     +2     9
# 98 - 4      Netherlands     E     7     3     3     1     13     7     +6     12

# Saudi Arabia

## 94

In [79]:
sau = ['Saudi Arabia']

In [80]:
sau_year = df.loc[df["team"].isin(sau)]

In [81]:
sau94year = sau_year.loc[sau_year["season"].isin(year1994)]

In [82]:
sau94xg = sau94year.sort_values(by=["goals_z"], ascending=False)

In [83]:
sau94xg13 = sau94xg.head(13)

In [84]:
sau94xg13 = sau94xg13.drop(columns=['season', 'team'])

In [85]:
sau94 = sau94xg13.mean()

In [87]:
# sau94

## 98

In [88]:
sau98year = sau_year.loc[sau_year["season"].isin(year1998)]

In [89]:
sau98xg = sau98year.sort_values(by=["goals_z"], ascending=False)

In [90]:
sau98xg13 = sau98xg.head(13)

In [91]:
sau98xg13 = sau98xg13.drop(columns=['season', 'team'])

In [92]:
sau98 = sau98xg13.mean()

In [ ]:
# 94 - 12      Saudi Arabia     F     4     2     0     2     5     6     −1     6
# 98 - 28      Saudi Arabia     C     3     0     1     2     2     7     −5     1

In [ ]:
# teams_2022 = ['Qatar', 'Senegal', 'Ecuador','Wales', 'Iran', 
#               'Argentina', 'Poland', 'Mexico', 'Denmark', 
#               'Tunisia', 'Australia', 'Japan', 'Costa Rica', 'Croatia', 
#               'Morocco',  'Serbia', 'Cameroon','Ghana', 'Korea Republic']