In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('world_cup_comparisons.csv')

In [3]:
df.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,Cristian Pavón,2018,Argentina,-0.42,-0.55,0.08,-0.24,-0.61,-0.72,-0.05,0.15,0.30,-0.79,-0.80,-0.45,-0.23,-0.38,-0.91,-0.58
1,Eduardo Salvio,2018,Argentina,-0.42,-0.50,-0.51,0.64,0.02,-0.46,-0.05,0.48,0.61,0.67,0.32,-0.45,0.21,-1.11,0.68,-0.03
2,Enzo Pérez,2018,Argentina,-0.42,0.11,-0.51,-0.69,0.27,-0.65,-0.36,-0.34,0.35,-0.22,-0.80,-0.45,-0.89,0.72,0.04,-0.66
3,Federico Fazio,2018,Argentina,-0.42,-0.59,-0.51,-0.69,-0.97,-0.91,-0.67,-0.84,-0.82,-0.79,-0.64,-0.45,0.21,-1.11,-0.59,-0.77
4,Franco Armani,2018,Argentina,-0.42,-0.59,-0.51,-0.80,-0.67,0.64,-0.67,-0.67,-0.82,-0.79,-0.64,-0.45,-0.89,-1.11,-0.91,-0.77

In [4]:
teams_2022 = ['Qatar', 'Netherlands', 'Senegal', 'Ecuador', 'England',
              'USA', 'Wales', 'Iran', 'Argentina', 'Poland', 'Mexico', 
              'Saudi Arabia', 'France', 'Denmark', 'Tunisia', 'Australia',
              'Germany', 'Spain', 'Japan', 'Costa Rica', 'Belgium', 'Croatia', 
              'Canada', 'Morocco', 'Brazil', 'Switzerland', 'Serbia', 'Cameroon',
              'Portugal', 'Uruguay', 'Ghana', 'Korea Republic', 'West Germany']

In [5]:
years = [1998, 1994, 1990, 1986, 1982]

In [6]:
df = df.loc[df['season'].isin(years)]

In [7]:
df = df.loc[df['team'].isin(teams_2022)]

In [8]:
df.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
2764,Abel Balbo,1998,Argentina,-0.42,-0.43,-0.66,-0.19,-1.51,-1.20,-0.74,-1.02,-0.72,-0.77,-0.73,-0.54,-0.51,-1.15,-0.87,-0.58
2765,Ariel Ortega,1998,Argentina,1.90,1.07,0.78,1.56,1.10,0.44,6.01,2.67,0.13,-0.72,-0.66,-0.54,-0.75,0.35,6.05,4.32
2766,Carlos Roa,1998,Argentina,-0.42,-0.68,-0.66,-0.74,-0.35,1.08,-0.74,-1.02,-0.99,-1.03,-0.66,-0.54,-0.75,-1.15,-0.44,-0.90
2767,Claudio Lopez,1998,Argentina,0.74,0.46,0.42,1.56,-0.69,-0.84,0.34,0.43,-0.62,-0.78,-0.66,-0.54,-0.75,0.35,-0.87,0.70
2768,Diego Simeone,1998,Argentina,-0.42,0.70,0.06,1.24,1.19,0.59,0.34,-0.09,0.80,-0.17,0.00,0.85,-0.05,0.14,1.08,0.81

In [9]:
df = df.drop(columns = ['player'])

In [10]:
df

,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
2764,1998,Argentina,-0.42,-0.43,-0.66,-0.19,-1.51,-1.20,-0.74,-1.02,-0.72,-0.77,-0.73,-0.54,-0.51,-1.15,-0.87,-0.58
2765,1998,Argentina,1.90,1.07,0.78,1.56,1.10,0.44,6.01,2.67,0.13,-0.72,-0.66,-0.54,-0.75,0.35,6.05,4.32
2766,1998,Argentina,-0.42,-0.68,-0.66,-0.74,-0.35,1.08,-0.74,-1.02,-0.99,-1.03,-0.66,-0.54,-0.75,-1.15,-0.44,-0.90
2767,1998,Argentina,0.74,0.46,0.42,1.56,-0.69,-0.84,0.34,0.43,-0.62,-0.78,-0.66,-0.54,-0.75,0.35,-0.87,0.70
2768,1998,Argentina,-0.42,0.70,0.06,1.24,1.19,0.59,0.34,-0.09,0.80,-0.17,0.00,0.85,-0.05,0.14,1.08,0.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4837,1982,West Germany,0.31,0.41,1.17,0.22,1.90,1.27,1.21,2.71,0.41,0.45,-0.60,1.44,-0.38,0.24,0.39,1.60
4838,1982,West Germany,1.13,0.88,2.69,2.05,-0.06,0.03,2.58,0.56,0.62,-0.61,-0.67,-0.57,-0.65,0.84,1.71,2.77
4839,1982,West Germany,-0.50,-0.53,-0.35,-0.53,1.82,1.42,0.45,0.49,1.39,1.48,1.50,0.82,-0.11,1.00,0.26,-0.45
4840,1982,West Germany,0.31,-0.21,-0.60,-0.53,-1.46,-1.28,-0.77,-0.96,-0.73,-0.94,-0.73,-0.57,-0.11,-0.37,-0.14,-0.75
4841,1982,West Germany,-0.50,0.19,0.16,0.33,1.72,0.44,-0.31,1.44,2.39,1.86,-0.14,1.25,0.16,1.15,1.84,0.72

In [11]:
year1998 = [1998]
year1994 = [1994]
year1990 = [1990]
year1986 = [1986]
year1982 = [1982]

# Germany 1998

In [12]:
ger = ["Germany"]

In [13]:
ger_year = df.loc[df["team"].isin(ger)]

In [14]:
ger98year = ger_year.loc[ger_year["season"].isin(year1998)]

In [15]:
ger98xg = ger98year.sort_values(by=["goals_z"], ascending=False)

In [16]:
ger98xg13 = ger98xg.head(13)

In [17]:
ger98xg13

,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
2976,1998,Germany,3.29,4.18,-0.27,7.39,-0.38,-0.81,-0.74,-0.59,-0.15,-0.20,-0.26,-0.54,1.98,1.83,1.68,0.97
2970,1998,Germany,3.29,1.37,-0.66,3.07,0.05,-0.97,-0.45,-0.59,-0.99,-0.52,-0.26,0.39,1.23,-0.23,0.76,0.88
2964,1998,Germany,0.81,0.01,0.11,-0.49,-0.12,-0.59,-0.45,-0.03,-0.49,-0.50,-0.73,-0.54,-0.75,-1.15,-0.16,-0.14
2963,1998,Germany,-0.42,-0.68,-0.66,-0.74,-0.23,1.35,-0.74,-1.02,-0.41,-1.03,-0.42,-0.54,-0.50,-1.15,-1.08,-0.81
2973,1998,Germany,-0.42,-0.68,-0.66,-0.74,-1.18,-0.81,-0.74,-1.02,-0.77,-0.61,-0.50,-0.54,-0.75,-1.15,-0.85,-0.70
2979,1998,Germany,-0.42,-0.05,2.40,0.70,-0.10,-0.17,-0.45,0.25,0.17,0.31,-0.58,0.18,-0.25,0.45,0.53,2.52
2978,1998,Germany,-0.42,-0.68,-0.66,-0.57,-0.64,-0.85,-0.74,-0.31,0.13,1.18,-0.50,-0.54,-0.50,-1.15,-1.08,-0.68
2977,1998,Germany,-0.42,-0.68,-0.27,-0.74,-1.00,-0.70,-0.74,-0.74,-0.99,-0.52,-0.58,-0.54,-0.50,-0.69,-1.08,-0.74
2975,1998,Germany,-0.42,-0.55,0.49,-0.57,0.49,-0.40,-0.74,0.11,-0.41,0.55,0.37,-0.54,-0.25,-0.46,-0.62,0.25
2974,1998,Germany,-0.42,0.01,5.08,-0.57,0.58,1.28,0.70,-0.03,1.62,1.77,-0.26,-0.54,-0.25,0.45,-0.62,2.74
2972,1998,Germany,-0.42,-0.23,-0.27,-0.66,1.58,1.05,-0.74,1.37,1.66,0.61,0.37,2.07,-0.75,1.14,0.30,0.61
2971,1998,Germany,-0.42,-0.47,0.11,-0.49,0.58,0.21,-0.45,-0.03,1.28,1.70,1.15,-0.54,0.74,-0.23,0.07,0.16
2969,1998,Germany,-0.42,-0.28,2.40,0.78,1.55,2.34,0.13,0.67,0.61,0.87,0.21,-0.54,0.99,0.45,1.68,1.28

In [18]:
ger98xg13 = ger98xg13.drop(columns=['season', 'team'])

In [19]:
ger98 = ger98xg13.mean()

In [20]:
ger98

goals_z            0.245385
xg_z               0.097692
crosses_z          0.549231
boxtouches_z       0.490000
passes_z           0.090769
progpasses_z       0.071538
takeons_z         -0.473077
progruns_z        -0.150769
tackles_z          0.096923
interceptions_z    0.277692
clearances_z      -0.153077
blocks_z          -0.212308
aerials_z          0.033846
fouls_z           -0.145385
fouled_z          -0.036154
nsxg_z             0.487692
dtype: float64

In [21]:
ger98[0]

0.24538461538461548

# Germany 1994

In [22]:
ger94year = ger_year.loc[ger_year["season"].isin(year1994)]

In [23]:
ger94xg = ger94year.sort_values(by=["goals_z"], ascending=False)

In [24]:
ger94xg13 = ger94xg.head(13)

In [25]:
ger94xg13 = ger94xg13.drop(columns=['season', 'team'])

In [26]:
ger94 = ger94xg13.mean()

In [27]:
ger94

goals_z            0.337692
xg_z               0.270000
crosses_z          0.292308
boxtouches_z       0.281538
passes_z           0.065385
progpasses_z      -0.142308
takeons_z         -0.076923
progruns_z         0.430000
tackles_z          0.688462
interceptions_z    0.002308
clearances_z       0.020769
blocks_z           0.165385
aerials_z         -0.075385
fouls_z            0.193077
fouled_z           0.087692
nsxg_z             0.393846
dtype: float64

# Germany 1990

In [28]:
ger = ["West Germany"]

In [29]:
ger_year = df.loc[df["team"].isin(ger)]

In [30]:
ger90year = ger_year.loc[ger_year["season"].isin(year1990)]

In [31]:
ger90xg = ger90year.sort_values(by=["goals_z"], ascending=False)

In [32]:
ger90xg13 = ger90xg.head(13)

In [33]:
ger90xg13 = ger90xg13.drop(columns=['season', 'team'])

In [34]:
ger90 = ger90xg13.mean()

In [35]:
ger90

goals_z            0.673077
xg_z               0.642308
crosses_z          0.502308
boxtouches_z       0.277692
passes_z           0.310000
progpasses_z       0.146923
takeons_z          0.153077
progruns_z         0.081538
tackles_z          0.814615
interceptions_z    0.464615
clearances_z      -0.150769
blocks_z          -0.007692
aerials_z         -0.060769
fouls_z           -0.220000
fouled_z           0.006154
nsxg_z             0.387692
dtype: float64

# Germany 1986

In [36]:
ger86year = ger_year.loc[ger_year["season"].isin(year1986)]

In [37]:
ger86xg = ger86year.sort_values(by=["goals_z"], ascending=False)

In [38]:
ger86xg13 = ger86xg.head(13)

In [39]:
ger86xg13 = ger86xg13.drop(columns=['season', 'team'])

In [40]:
ger86 = ger86xg13.mean()

In [41]:
ger86

goals_z            0.114615
xg_z               0.155385
crosses_z          0.271538
boxtouches_z       0.330769
passes_z          -0.015385
progpasses_z       0.028462
takeons_z          0.128462
progruns_z         0.109231
tackles_z          0.130769
interceptions_z    0.056923
clearances_z      -0.232308
blocks_z          -0.146923
aerials_z         -0.023077
fouls_z            0.078462
fouled_z           0.532308
nsxg_z             0.140769
dtype: float64

# Germany 1982

In [42]:
ger82year = ger_year.loc[ger_year["season"].isin(year1982)]

In [43]:
ger82xg = ger82year.sort_values(by=["goals_z"], ascending=False)

In [44]:
ger82xg13 = ger82xg.head(13)

In [45]:
ger82xg13 = ger82xg13.drop(columns=['season', 'team'])

In [46]:
ger82 = ger82xg13.mean()

In [47]:
ger82

goals_z            0.250769
xg_z               0.222308
crosses_z          0.003077
boxtouches_z       0.405385
passes_z          -0.270000
progpasses_z      -0.150000
takeons_z          0.110000
progruns_z        -0.088462
tackles_z          0.006154
interceptions_z   -0.210769
clearances_z      -0.257692
blocks_z          -0.124615
aerials_z         -0.004615
fouls_z            0.013077
fouled_z           0.054615
nsxg_z             0.177692
dtype: float64

In [48]:
ger = pd.concat([ger98, ger94, ger90, ger86, ger82], axis=1).T

## Export Transposed Germany df as csv and update

In [49]:
ger

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692
1,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846
2,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692
3,0.114615,0.155385,0.271538,0.330769,-0.015385,0.028462,0.128462,0.109231,0.130769,0.056923,-0.232308,-0.146923,-0.023077,0.078462,0.532308,0.140769
4,0.250769,0.222308,0.003077,0.405385,-0.270000,-0.150000,0.110000,-0.088462,0.006154,-0.210769,-0.257692,-0.124615,-0.004615,0.013077,0.054615,0.177692

In [545]:
ger.rename(index={0: 'Germany98', 1: 'Germany94', 
                 2: 'Germany90', 3: 'Germany86', 4: 'Germany82'}, inplace=True)

In [546]:
ger

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
Germany98,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692
Germany94,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846
Germany90,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692
Germany86,0.114615,0.155385,0.271538,0.330769,-0.015385,0.028462,0.128462,0.109231,0.130769,0.056923,-0.232308,-0.146923,-0.023077,0.078462,0.532308,0.140769
Germany82,0.250769,0.222308,0.003077,0.405385,-0.270000,-0.150000,0.110000,-0.088462,0.006154,-0.210769,-0.257692,-0.124615,-0.004615,0.013077,0.054615,0.177692

In [547]:
df2 = ger.assign(results=[7, 5, 1, 2, 2])

In [548]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Germany98,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692,7
Germany94,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846,5
Germany90,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692,1
Germany86,0.114615,0.155385,0.271538,0.330769,-0.015385,0.028462,0.128462,0.109231,0.130769,0.056923,-0.232308,-0.146923,-0.023077,0.078462,0.532308,0.140769,2
Germany82,0.250769,0.222308,0.003077,0.405385,-0.270000,-0.150000,0.110000,-0.088462,0.006154,-0.210769,-0.257692,-0.124615,-0.004615,0.013077,0.054615,0.177692,2

In [549]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Germany98,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692,7
Germany94,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846,5
Germany90,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692,1
Germany86,0.114615,0.155385,0.271538,0.330769,-0.015385,0.028462,0.128462,0.109231,0.130769,0.056923,-0.232308,-0.146923,-0.023077,0.078462,0.532308,0.140769,2
Germany82,0.250769,0.222308,0.003077,0.405385,-0.270000,-0.150000,0.110000,-0.088462,0.006154,-0.210769,-0.257692,-0.124615,-0.004615,0.013077,0.054615,0.177692,2

In [550]:
# df2.to_csv('germany.csv')

# Switzerland

In [55]:
swi = ["Switzerland"]

In [56]:
swi_year = df.loc[df["team"].isin(swi)]

In [57]:
swi94year = swi_year.loc[swi_year["season"].isin(year1994)]

In [58]:
swi94xg = swi94year.sort_values(by=["goals_z"], ascending=False)

In [59]:
swi94xg13 = swi94xg.head(13)

In [60]:
swi94xg13 = swi94xg13.drop(columns=['season', 'team'])

In [61]:
swi94 = swi94xg13.mean()

In [62]:
swi94

goals_z            0.116923
xg_z               0.051538
crosses_z          0.350000
boxtouches_z       0.203846
passes_z           0.052308
progpasses_z       0.103077
takeons_z         -0.336923
progruns_z        -0.336154
tackles_z         -0.186154
interceptions_z    0.073077
clearances_z      -0.076154
blocks_z          -0.123077
aerials_z         -0.044615
fouls_z            0.094615
fouled_z           0.184615
nsxg_z             0.209231
dtype: float64

In [551]:
swiss = pd.concat([swi94], axis=1).T

In [552]:
swiss

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,0.116923,0.051538,0.35,0.203846,0.052308,0.103077,-0.336923,-0.336154,-0.186154,0.073077,-0.076154,-0.123077,-0.044615,0.094615,0.184615,0.209231

In [553]:
swiss = swiss.rename(index={0: 'Switzerland94'})

In [554]:
df2 = swiss.assign(results=[15])

In [555]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Switzerland94,0.116923,0.051538,0.35,0.203846,0.052308,0.103077,-0.336923,-0.336154,-0.186154,0.073077,-0.076154,-0.123077,-0.044615,0.094615,0.184615,0.209231,15

In [556]:
df2.to_csv('Switzerland.csv')

# Brazil 1998

In [69]:
bra = ['Brazil']

In [70]:
bra_year = df.loc[df["team"].isin(bra)]

In [71]:
bra98year = bra_year.loc[bra_year["season"].isin(year1998)]

In [72]:
bra98xg = bra98year.sort_values(by=["goals_z"], ascending=False)

In [73]:
bra98xg13 = bra98xg.head(13)

In [74]:
bra98xg13 = bra98xg13.drop(columns=['season', 'team'])

In [75]:
bra98 = bra98xg13.mean()

In [76]:
bra98

goals_z            0.423077
xg_z               0.146923
crosses_z         -0.136154
boxtouches_z      -0.030000
passes_z           0.429231
progpasses_z       0.037692
takeons_z          0.244615
progruns_z        -0.220000
tackles_z          0.216154
interceptions_z    0.270000
clearances_z      -0.076923
blocks_z          -0.097692
aerials_z         -0.020000
fouls_z           -0.224615
fouled_z           0.100769
nsxg_z            -0.124615
dtype: float64

## 1994

In [77]:
bra94year = bra_year.loc[bra_year["season"].isin(year1994)]

In [78]:
bra94xg = bra94year.sort_values(by=["goals_z"], ascending=False)

In [79]:
bra94xg13 = bra94xg.head(13)

In [80]:
bra94xg13 = bra94xg13.drop(columns=['season', 'team'])

In [81]:
bra94 = bra94xg13.mean()

In [82]:
bra94

goals_z            0.216923
xg_z               0.348462
crosses_z          0.031538
boxtouches_z       0.158462
passes_z           0.835385
progpasses_z       0.626923
takeons_z          0.270000
progruns_z         0.266923
tackles_z          1.143846
interceptions_z    0.834615
clearances_z      -0.059231
blocks_z          -0.134615
aerials_z          0.196923
fouls_z           -0.016923
fouled_z           0.033846
nsxg_z             0.146923
dtype: float64

## 1990

In [83]:
bra90year = bra_year.loc[bra_year["season"].isin(year1990)]

In [84]:
bra90xg = bra90year.sort_values(by=["goals_z"], ascending=False)

In [85]:
bra90xg13 = bra90xg.head(13)

In [86]:
bra90xg13 = bra90xg13.drop(columns=['season', 'team'])

In [87]:
bra90 = bra90xg13.mean()

In [88]:
bra90

goals_z            0.113846
xg_z               0.392308
crosses_z          0.599231
boxtouches_z       0.513846
passes_z           0.833077
progpasses_z       0.405385
takeons_z          0.521538
progruns_z         1.139231
tackles_z          1.109231
interceptions_z    0.859231
clearances_z       0.084615
blocks_z           0.103077
aerials_z          0.683846
fouls_z            0.213846
fouled_z           0.353846
nsxg_z             0.786923
dtype: float64

## 1986

In [89]:
bra86year = bra_year.loc[bra_year["season"].isin(year1986)]

In [90]:
bra86xg = bra86year.sort_values(by=["goals_z"], ascending=False)

In [91]:
bra86xg13 = bra86xg.head(13)

In [92]:
bra86xg13 = bra86xg13.drop(columns=['season', 'team'])

In [93]:
bra86 = bra86xg13.mean()

In [94]:
bra86

goals_z            0.479231
xg_z               0.609231
crosses_z          0.227692
boxtouches_z       0.450769
passes_z           0.770769
progpasses_z       0.042308
takeons_z          0.337692
progruns_z         0.927692
tackles_z          0.506923
interceptions_z    1.015385
clearances_z       0.020769
blocks_z           0.381538
aerials_z          0.038462
fouls_z            0.039231
fouled_z           0.022308
nsxg_z             0.692308
dtype: float64

## 1982

In [95]:
bra82year = bra_year.loc[bra_year["season"].isin(year1982)]

In [96]:
bra82xg = bra82year.sort_values(by=["goals_z"], ascending=False)

In [97]:
bra82xg13 = bra82xg.head(13)

In [98]:
bra82xg13 = bra82xg13.drop(columns=['season', 'team'])

In [99]:
bra82 = bra82xg13.mean()

In [100]:
bra82

goals_z            0.877692
xg_z               0.773846
crosses_z          0.428462
boxtouches_z       0.659231
passes_z           0.754615
progpasses_z       0.335385
takeons_z          0.023077
progruns_z         0.638462
tackles_z          0.493846
interceptions_z    0.637692
clearances_z      -0.117692
blocks_z          -0.033846
aerials_z          0.572308
fouls_z           -0.016154
fouled_z          -0.096923
nsxg_z             0.890769
dtype: float64

In [557]:
braz = pd.concat([bra98, bra94, bra90, bra86, bra82], axis=1).T

In [558]:
braz

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615
1,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923
2,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923
3,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308
4,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769

In [559]:
braz = braz.rename(index={0: 'Brazil98', 1: 'Brazil94', 2: 'Brazil90', 3: 'Brazil86', 
                            4: 'Brazil82'})

In [560]:
braz

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
Brazil98,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615
Brazil94,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923
Brazil90,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923
Brazil86,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308
Brazil82,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769

In [561]:
df2 = braz.assign(results=[2, 1, 9, 5, 5])

In [562]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Brazil98,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2
Brazil94,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923,1
Brazil90,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923,9
Brazil86,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308,5
Brazil82,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769,5

In [106]:
# df2

In [563]:
# df2.to_csv('Brazil.csv')

# France 98

In [108]:
fra = ['France']

In [109]:
fra_year = df.loc[df["team"].isin(fra)]

In [110]:
fra98year = fra_year.loc[fra_year["season"].isin(year1998)]

In [111]:
fra98xg = fra98year.sort_values(by=["goals_z"], ascending=False)

In [112]:
fra98xg13 = fra98xg.head(13)

In [113]:
fra98xg13 = fra98xg13.drop(columns=['season', 'team'])

In [114]:
fra98 = fra98xg13.mean()

In [115]:
fra98

goals_z            0.445385
xg_z               0.390769
crosses_z          0.243846
boxtouches_z       0.292308
passes_z           0.091538
progpasses_z       0.161538
takeons_z          0.260000
progruns_z         0.456154
tackles_z          0.383077
interceptions_z    0.486154
clearances_z      -0.085385
blocks_z          -0.283077
aerials_z          0.160769
fouls_z           -0.057692
fouled_z           0.131538
nsxg_z             0.456154
dtype: float64

## 86

In [116]:
fra86year = fra_year.loc[fra_year["season"].isin(year1986)]

In [117]:
fra86xg = fra86year.sort_values(by=["goals_z"], ascending=False)

In [118]:
fra86xg13 = fra86xg.head(13)

In [119]:
fra86xg13 = fra86xg13.drop(columns=['season', 'team'])

In [120]:
fra86 = fra86xg13.mean()

In [121]:
fra86

goals_z            0.332308
xg_z               0.362308
crosses_z         -0.043846
boxtouches_z       0.316923
passes_z           0.060000
progpasses_z       0.019231
takeons_z          0.140769
progruns_z         0.210000
tackles_z          0.343846
interceptions_z    0.276154
clearances_z      -0.057692
blocks_z           0.112308
aerials_z         -0.053846
fouls_z            0.143077
fouled_z           0.060769
nsxg_z             0.192308
dtype: float64

## 82

In [122]:
fra82year = fra_year.loc[fra_year["season"].isin(year1982)]

In [123]:
fra82xg = fra82year.sort_values(by=["goals_z"], ascending=False)

In [124]:
fra82xg13 = fra82xg.head(13)

In [125]:
fra82xg13 = fra82xg13.drop(columns=['season', 'team'])

In [126]:
fra82 = fra82xg13.mean()

In [127]:
fra82

goals_z            0.500769
xg_z               0.257692
crosses_z          0.080769
boxtouches_z       0.139231
passes_z           0.031538
progpasses_z      -0.194615
takeons_z          0.452308
progruns_z         0.168462
tackles_z          0.005385
interceptions_z   -0.010000
clearances_z      -0.096923
blocks_z           0.031538
aerials_z          0.016154
fouls_z           -0.079231
fouled_z           0.075385
nsxg_z             0.200769
dtype: float64

In [564]:
fran = pd.concat([fra98, fra86, fra82], axis=1).T

In [565]:
fran

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,0.445385,0.390769,0.243846,0.292308,0.091538,0.161538,0.260000,0.456154,0.383077,0.486154,-0.085385,-0.283077,0.160769,-0.057692,0.131538,0.456154
1,0.332308,0.362308,-0.043846,0.316923,0.060000,0.019231,0.140769,0.210000,0.343846,0.276154,-0.057692,0.112308,-0.053846,0.143077,0.060769,0.192308
2,0.500769,0.257692,0.080769,0.139231,0.031538,-0.194615,0.452308,0.168462,0.005385,-0.010000,-0.096923,0.031538,0.016154,-0.079231,0.075385,0.200769

- 98 - 4 	 France 	4/D 	7 	3 	2 	2 	16 	12 	+4 	8
- 86 - 3 	 France 	C 	7 	4 	2 	1 	12 	6 	+6 	10
- 82 - 1 	 France 	C 	7 	6 	1 	0 	15 	2 	+13 	19

In [566]:
fran.rename(index={0: 'France98', 1: 'France86', 2: 'France82'}, inplace=True)

In [567]:
df2 = fran.assign(results=[4, 3, 1])

In [568]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
France98,0.445385,0.390769,0.243846,0.292308,0.091538,0.161538,0.260000,0.456154,0.383077,0.486154,-0.085385,-0.283077,0.160769,-0.057692,0.131538,0.456154,4
France86,0.332308,0.362308,-0.043846,0.316923,0.060000,0.019231,0.140769,0.210000,0.343846,0.276154,-0.057692,0.112308,-0.053846,0.143077,0.060769,0.192308,3
France82,0.500769,0.257692,0.080769,0.139231,0.031538,-0.194615,0.452308,0.168462,0.005385,-0.010000,-0.096923,0.031538,0.016154,-0.079231,0.075385,0.200769,1

In [569]:
# df2.to_csv('France1.csv')

# USA

## 98

In [134]:
usa = ['USA']

In [135]:
usa_year = df.loc[df["team"].isin(usa)]

In [136]:
usa98year = usa_year.loc[usa_year["season"].isin(year1998)]

In [137]:
usa98xg = usa98year.sort_values(by=["goals_z"], ascending=False)

In [138]:
usa98xg13 = usa98xg.head(13)

In [139]:
usa98xg13 = usa98xg13.drop(columns=['season', 'team'])

In [140]:
usa98 = usa98xg13.mean()

In [141]:

usa98

goals_z           -0.261538
xg_z              -0.247692
crosses_z          0.028462
boxtouches_z       0.137692
passes_z          -0.206923
progpasses_z      -0.283077
takeons_z         -0.370769
progruns_z        -0.043846
tackles_z          0.068462
interceptions_z   -0.391538
clearances_z      -0.449231
blocks_z          -0.298462
aerials_z         -0.048462
fouls_z           -0.444615
fouled_z          -0.049231
nsxg_z            -0.153846
dtype: float64

# 94

In [142]:
usa94year = usa_year.loc[usa_year["season"].isin(year1994)]

In [143]:
usa94xg = usa94year.sort_values(by=["goals_z"], ascending=False)

In [144]:
usa94xg13 = usa94xg.head(13)

In [145]:
usa94xg13 = usa94xg13.drop(columns=['season', 'team'])

In [146]:
usa94 = usa94xg13.mean()

In [147]:

usa94

goals_z           -0.186923
xg_z              -0.232308
crosses_z         -0.103846
boxtouches_z      -0.253846
passes_z          -0.220769
progpasses_z      -0.240000
takeons_z          0.026923
progruns_z        -0.065385
tackles_z         -0.366923
interceptions_z   -0.243846
clearances_z       0.503846
blocks_z          -0.018462
aerials_z         -0.160000
fouls_z           -0.296923
fouled_z           0.111538
nsxg_z            -0.443846
dtype: float64

## 90

In [148]:
usa90year = usa_year.loc[usa_year["season"].isin(year1990)]

In [149]:
usa90xg = usa90year.sort_values(by=["goals_z"], ascending=False)

In [150]:
usa90xg13 = usa90xg.head(13)

In [151]:
usa90xg13 = usa90xg13.drop(columns=['season', 'team'])

In [152]:
usa90 = usa90xg13.mean()

In [570]:
usa90

goals_z           -0.063077
xg_z              -0.080769
crosses_z         -0.190769
boxtouches_z      -0.049231
passes_z          -0.176154
progpasses_z      -0.341538
takeons_z          0.193846
progruns_z        -0.233846
tackles_z          0.026923
interceptions_z   -0.190769
clearances_z       0.139231
blocks_z           0.380769
aerials_z          0.197692
fouls_z            0.401538
fouled_z           0.295385
nsxg_z            -0.058462
dtype: float64

In [571]:
# usa90
# usa94
# usa98

In [572]:
usa = pd.concat([usa90, usa94, usa98], axis=1).T

In [573]:
usa.rename(index={0: 'USA90', 1: 'USA94', 2: 'USA98'}, inplace=True)

In [574]:
# 90 - 23     A      United States     3     0     0     3     2     8     −6     0
# 94 - 14      United States     A     4     1     1     2     3     4     −1     4
# 98 - 32      United States     F     3     0     0     3     1     5     −4     0

In [580]:
df2 = usa.assign(results=[23, 14, 32])

In [581]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
USA90,-0.063077,-0.080769,-0.190769,-0.049231,-0.176154,-0.341538,0.193846,-0.233846,0.026923,-0.190769,0.139231,0.380769,0.197692,0.401538,0.295385,-0.058462,23
USA94,-0.186923,-0.232308,-0.103846,-0.253846,-0.220769,-0.240000,0.026923,-0.065385,-0.366923,-0.243846,0.503846,-0.018462,-0.160000,-0.296923,0.111538,-0.443846,14
USA98,-0.261538,-0.247692,0.028462,0.137692,-0.206923,-0.283077,-0.370769,-0.043846,0.068462,-0.391538,-0.449231,-0.298462,-0.048462,-0.444615,-0.049231,-0.153846,32

In [158]:
df2 = usa.assign(results=[23, 14, 32])

In [582]:
# df2.to_csv('USA1.csv')

# Spain

In [160]:
# 82 - 12      Spain     5/B     5     1     2     2     4     5     −1     4
# 86 - 7      Spain     D     5     3     1     1     11     4     +7     7
# 90 - 10     E      Spain     4     2     1     1     6     4     +2     5
# 94 - 8      Spain     C     5     2     2     1     10     6     +4     8
# 98 - 17      Spain     D     3     1     1     1     8     4     +4     4

## 82

In [161]:
spa = ['Spain']

In [162]:
spa_year = df.loc[df["team"].isin(spa)]

In [163]:
spa82year = spa_year.loc[spa_year["season"].isin(year1982)]

In [164]:
spa82xg = spa82year.sort_values(by=["goals_z"], ascending=False)

In [165]:
spa82xg13 = spa82xg.head(13)

In [166]:
spa82xg13 = spa82xg13.drop(columns=['season', 'team'])

In [167]:
spa82 = spa82xg13.mean()

In [168]:
spa82

goals_z           -0.133846
xg_z               0.256154
crosses_z          0.170769
boxtouches_z       0.283077
passes_z           0.134615
progpasses_z       0.325385
takeons_z         -0.096923
progruns_z         0.262308
tackles_z          0.286154
interceptions_z    0.152308
clearances_z       0.067692
blocks_z          -0.172308
aerials_z          0.236154
fouls_z            0.000769
fouled_z           0.127692
nsxg_z             0.303077
dtype: float64

## 86

In [169]:
spa86year = spa_year.loc[spa_year["season"].isin(year1986)]

In [170]:
spa86xg = spa86year.sort_values(by=["goals_z"], ascending=False)

In [171]:
spa86xg13 = spa86xg.head(13)

In [172]:
spa86xg13 = spa86xg13.drop(columns=['season', 'team'])

In [173]:
spa86 = spa86xg13.mean()

In [174]:
spa86

goals_z            0.566154
xg_z               0.463077
crosses_z          0.130000
boxtouches_z       0.464615
passes_z          -0.154615
progpasses_z       0.110769
takeons_z         -0.134615
progruns_z        -0.115385
tackles_z         -0.296154
interceptions_z   -0.282308
clearances_z      -0.366154
blocks_z          -0.210000
aerials_z          0.037692
fouls_z           -0.263846
fouled_z           0.064615
nsxg_z             0.353077
dtype: float64

## 90

In [175]:
spa90year = spa_year.loc[spa_year["season"].isin(year1990)]

In [176]:
spa90xg = spa90year.sort_values(by=["goals_z"], ascending=False)

In [177]:
spa90xg13 = spa90xg.head(13)

In [178]:
spa90xg13 = spa90xg13.drop(columns=['season', 'team'])

In [179]:
spa90 = spa90xg13.mean()

In [180]:
spa90

goals_z            0.319231
xg_z               0.181538
crosses_z          0.343077
boxtouches_z       0.478462
passes_z           0.093077
progpasses_z       0.240769
takeons_z          0.277692
progruns_z         0.030769
tackles_z         -0.124615
interceptions_z    0.053077
clearances_z       0.038462
blocks_z           0.255385
aerials_z         -0.107692
fouls_z            0.080769
fouled_z           0.174615
nsxg_z             0.254615
dtype: float64

## 94

In [181]:
spa94year = spa_year.loc[spa_year["season"].isin(year1994)]

In [182]:
spa94xg = spa94year.sort_values(by=["goals_z"], ascending=False)

In [183]:
spa94xg13 = spa94xg.head(13)

In [184]:
spa94xg13 = spa94xg13.drop(columns=['season', 'team'])

In [185]:
spa94 = spa94xg13.mean()

In [186]:
spa94

goals_z            0.417692
xg_z               0.250000
crosses_z          0.259231
boxtouches_z       0.076154
passes_z          -0.371538
progpasses_z      -0.307692
takeons_z          0.165385
progruns_z        -0.083846
tackles_z         -0.407692
interceptions_z   -0.237692
clearances_z       0.124615
blocks_z          -0.123846
aerials_z          0.232308
fouls_z            0.385385
fouled_z          -0.070000
nsxg_z             0.069231
dtype: float64

## 98

In [187]:
spa98year = spa_year.loc[spa_year["season"].isin(year1998)]

In [188]:
spa98xg = spa98year.sort_values(by=["goals_z"], ascending=False)

In [189]:
spa98xg13 = spa98xg.head(13)

In [190]:
spa98xg13 = spa98xg13.drop(columns=['season', 'team'])

In [191]:
spa98 = spa98xg13.mean()

In [192]:
spa98

goals_z            0.689231
xg_z               0.773846
crosses_z         -0.020769
boxtouches_z       0.551538
passes_z          -0.054615
progpasses_z      -0.101538
takeons_z         -0.112308
progruns_z        -0.080000
tackles_z          0.333077
interceptions_z    0.871538
clearances_z      -0.318462
blocks_z           0.173077
aerials_z          0.363846
fouls_z           -0.326923
fouled_z          -0.166923
nsxg_z             0.448462
dtype: float64

In [583]:
spa = pd.concat([spa82, spa86, spa90, spa94, spa98], axis=1).T

In [584]:
spa.rename(index={0: 'Spain82', 1: 'Spain86', 2: 'Spain90',
                  3: 'Spain94', 4: 'Spain98'}, inplace=True)

In [585]:
df2 = spa.assign(results=[12, 7, 10, 8, 17])

In [586]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Spain82,-0.133846,0.256154,0.170769,0.283077,0.134615,0.325385,-0.096923,0.262308,0.286154,0.152308,0.067692,-0.172308,0.236154,0.000769,0.127692,0.303077,12
Spain86,0.566154,0.463077,0.130000,0.464615,-0.154615,0.110769,-0.134615,-0.115385,-0.296154,-0.282308,-0.366154,-0.210000,0.037692,-0.263846,0.064615,0.353077,7
Spain90,0.319231,0.181538,0.343077,0.478462,0.093077,0.240769,0.277692,0.030769,-0.124615,0.053077,0.038462,0.255385,-0.107692,0.080769,0.174615,0.254615,10
Spain94,0.417692,0.250000,0.259231,0.076154,-0.371538,-0.307692,0.165385,-0.083846,-0.407692,-0.237692,0.124615,-0.123846,0.232308,0.385385,-0.070000,0.069231,8
Spain98,0.689231,0.773846,-0.020769,0.551538,-0.054615,-0.101538,-0.112308,-0.080000,0.333077,0.871538,-0.318462,0.173077,0.363846,-0.326923,-0.166923,0.448462,17

In [587]:
# df2.to_csv('Spain2.csv')

In [197]:
# 82 - 12      Spain     5/B     5     1     2     2     4     5     −1     4
# 86 - 7      Spain     D     5     3     1     1     11     4     +7     7
# 90 - 10     E      Spain     4     2     1     1     6     4     +2     5
# 94 - 8      Spain     C     5     2     2     1     10     6     +4     8
# 98 - 17      Spain     D     3     1     1     1     8     4     +4     4

# Portugal

In [198]:
# 86 - 17      Portugal     F     3     1     0     2     2     4     −2     2

## 86

In [199]:
por = ['Portugal']

In [200]:
por_year = df.loc[df["team"].isin(por)]

In [201]:
por86year = por_year.loc[por_year["season"].isin(year1986)]

In [202]:
por86xg = por86year.sort_values(by=["goals_z"], ascending=False)

In [203]:
por86xg13 = por86xg.head(13)

In [204]:
por86xg13 = por86xg13.drop(columns=['season', 'team'])

In [205]:
por86 = por86xg13.mean()

In [206]:
por86

goals_z           -0.080769
xg_z              -0.025385
crosses_z          0.275385
boxtouches_z       0.216154
passes_z          -0.023846
progpasses_z      -0.126923
takeons_z          0.436923
progruns_z         0.026923
tackles_z         -0.035385
interceptions_z    0.043846
clearances_z       0.156154
blocks_z          -0.066154
aerials_z         -0.146154
fouls_z           -0.262308
fouled_z           0.421538
nsxg_z             0.089231
dtype: float64

In [588]:
por = pd.concat([por86], axis=1).T

In [589]:
por.rename(index={0: 'Portugal86'}, inplace=True)

In [590]:
df2 = por.assign(results=[17])

In [591]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Portugal86,-0.080769,-0.025385,0.275385,0.216154,-0.023846,-0.126923,0.436923,0.026923,-0.035385,0.043846,0.156154,-0.066154,-0.146154,-0.262308,0.421538,0.089231,17

In [592]:

# df2.to_csv('Portugal2.csv')

# England

## 82

In [211]:
eng = ['England']

In [212]:
eng_year = df.loc[df["team"].isin(eng)]

In [213]:
eng82year = eng_year.loc[eng_year["season"].isin(year1982)]

In [214]:
eng82xg = eng82year.sort_values(by=["goals_z"], ascending=False)

In [215]:
eng82xg13 = eng82xg.head(13)

In [216]:
eng82xg13 = eng82xg13.drop(columns=['season', 'team'])

In [217]:
eng82 = eng82xg13.mean()

In [218]:
# eng82

## 86

In [219]:
eng86year = eng_year.loc[eng_year["season"].isin(year1986)]

In [220]:
eng86xg = eng86year.sort_values(by=["goals_z"], ascending=False)

In [221]:
eng86xg13 = eng86xg.head(13)

In [222]:
eng86xg13 = eng86xg13.drop(columns=['season', 'team'])

In [223]:
eng86 = eng86xg13.mean()

In [224]:
# eng86

## 90

In [225]:
eng90year = eng_year.loc[eng_year["season"].isin(year1990)]

In [226]:
eng90xg = eng90year.sort_values(by=["goals_z"], ascending=False)

In [227]:
eng90xg13 = eng90xg.head(13)

In [228]:
eng90xg13 = eng90xg13.drop(columns=['season', 'team'])

In [229]:
eng90 = eng90xg13.mean()

In [230]:
# eng90

## 98

In [231]:
eng98year = eng_year.loc[eng_year["season"].isin(year1998)]

In [232]:
eng98xg = eng98year.sort_values(by=["goals_z"], ascending=False)

In [233]:
eng98xg13 = eng98xg.head(13)

In [234]:
eng98xg13 = eng98xg13.drop(columns=['season', 'team'])

In [235]:
eng98 = eng98xg13.mean()

In [236]:
# eng98

In [593]:
eng = pd.concat([eng82, eng86, eng90, eng98], axis=1).T

In [594]:
eng.rename(index={0: 'England82', 1: 'England86', 2: 'England90',
                  3: 'England98'}, inplace=True)

In [595]:
df2 = eng.assign(results=[6, 8, 4, 9])

In [596]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
England82,-0.040769,0.086154,0.800000,0.509231,0.105385,0.273077,-0.303846,0.075385,-0.152308,0.050769,-0.252308,-0.076923,0.296923,0.257692,-0.244615,0.475385,6
England86,0.258462,0.175385,0.285385,0.583077,-0.080000,0.028462,-0.335385,-0.186154,-0.043077,-0.222308,-0.010000,0.023077,0.463077,0.066154,-0.237692,0.185385,8
England90,0.114615,0.033077,-0.090000,0.086154,-0.222308,-0.033846,-0.094615,-0.130000,-0.189231,-0.468462,0.128462,-0.308462,0.240769,-0.463846,-0.444615,-0.231538,4
England98,0.346154,0.280769,0.256923,0.146923,0.001538,0.020769,0.363077,-0.193077,-0.112308,-0.210000,-0.140000,-0.231538,-0.044615,-0.110769,0.452308,0.309231,9

In [597]:
# df2.to_csv('England2.csv')

In [241]:
# 82 - 6      England     4/B     5     3     2     0     6     1     +5     8
# 86 - 8      England     F     5     2     1     2     7     3     +4     5
# 90 - 4     F      England     7     3     3     1     8     6     +2     9     4th
# 98 - 9      England     G     4     2     1     1     7     4     +3     7

# Belgium

## 82

In [242]:
bel = ['Belgium']

In [243]:
bel_year = df.loc[df["team"].isin(bel)]

In [244]:
bel82year = bel_year.loc[bel_year["season"].isin(year1982)]

In [245]:
bel82xg = bel82year.sort_values(by=["goals_z"], ascending=False)

In [246]:
bel82xg13 = bel82xg.head(13)

In [247]:
bel82xg13 = bel82xg13.drop(columns=['season', 'team'])

In [248]:
bel82 = bel82xg13.mean()

In [249]:
# bel82

## 86

In [250]:
bel86year = bel_year.loc[bel_year["season"].isin(year1986)]

In [251]:
bel86xg = bel86year.sort_values(by=["goals_z"], ascending=False)

In [252]:
bel86xg13 = bel86xg.head(13)

In [253]:
bel86xg13 = bel86xg13.drop(columns=['season', 'team'])

In [254]:
bel86 = bel86xg13.mean()

In [255]:
# bel86

## 90

In [256]:
bel90year = bel_year.loc[bel_year["season"].isin(year1990)]

In [257]:
bel90xg = bel90year.sort_values(by=["goals_z"], ascending=False)

In [258]:
bel90xg13 = bel90xg.head(13)

In [259]:
bel90xg13 = bel90xg13.drop(columns=['season', 'team'])

In [260]:
bel90 = bel90xg13.mean()

In [261]:
# bel90

## 94

In [262]:
bel94year = bel_year.loc[bel_year["season"].isin(year1994)]

In [263]:
bel94xg = bel94year.sort_values(by=["goals_z"], ascending=False)

In [264]:
bel94xg13 = bel94xg.head(13)

In [265]:
bel94xg13 = bel94xg13.drop(columns=['season', 'team'])

In [266]:
bel94 = bel94xg13.mean()

In [267]:
# bel94

## 98

In [268]:
bel98year = bel_year.loc[bel_year["season"].isin(year1998)]

In [269]:
bel98xg = bel98year.sort_values(by=["goals_z"], ascending=False)

In [270]:
bel98xg13 = bel98xg.head(13)

In [271]:
bel98xg13 = bel98xg13.drop(columns=['season', 'team'])

In [272]:
bel98 = bel98xg13.mean()

In [273]:
# bel98

In [598]:
bel = pd.concat([bel82, bel86, bel90, bel94, bel98], axis=1).T

In [599]:
bel.rename(index={0: 'Belgium82', 1: 'Belgium86', 2: 'Belgium90', 
                  3: 'Belgium94', 4: 'Belgium98'}, inplace=True)

In [600]:
df2 = bel.assign(results=[10, 4, 11, 11, 19])

In [601]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Belgium82,-0.225385,-0.005385,-0.228462,0.187692,-0.058462,-0.136923,-0.183077,0.026923,0.302308,-0.031538,-0.303077,-0.209231,-0.253846,-0.120000,-0.320000,-0.224615,10
Belgium86,0.303846,-0.037692,0.040000,-0.090000,-0.385385,-0.224615,-0.321538,-0.196154,-0.236923,-0.344615,-0.150000,-0.266923,-0.132308,-0.102308,-0.371538,-0.119231,4
Belgium90,0.318462,-0.011538,-0.173077,0.039231,-0.215385,-0.090769,0.050769,-0.165385,0.025385,0.045385,-0.402308,-0.026923,-0.133846,-0.403846,-0.578462,-0.146154,11
Belgium94,0.015385,0.321538,0.681538,0.588462,0.288462,0.276923,0.149231,0.466923,0.473077,0.370769,-0.127692,0.583077,-0.006154,-0.200769,0.530769,0.897692,11
Belgium98,0.055385,-0.119231,-0.020769,0.236154,-0.781538,-0.649231,-0.407692,-0.568462,-0.578462,-0.444615,-0.076154,-0.213077,-0.333846,-0.093077,-0.197692,0.083077,19

In [602]:
# df2.to_csv('Belgium2.csv')

In [278]:
# 82 - 10      Belgium     3/A     5     2     1     2     3     5     −2     5
# 86 - 4      Belgium     B     7     2     2     3     12     15     −3     6
# 90 - 11     E      Belgium     4     2     0     2     6     4     +2     4
# 94 - 11      Belgium     F     4     2     0     2     4     4     0     6
# 98 - 19      Belgium     E     3     0     3     0     3     3     0     3

# Uruguay

## 86

In [279]:
uru = ['Uruguay']

In [280]:
uru_year = df.loc[df["team"].isin(uru)]

In [281]:
uru86year = uru_year.loc[uru_year["season"].isin(year1986)]

In [282]:
uru86xg = uru86year.sort_values(by=["goals_z"], ascending=False)

In [283]:
uru86xg13 = uru86xg.head(13)

In [284]:
uru86xg13 = uru86xg13.drop(columns=['season', 'team'])

In [285]:
uru86 = uru86xg13.mean()

In [286]:
uru86

goals_z           -0.159231
xg_z              -0.067692
crosses_z         -0.177692
boxtouches_z      -0.230000
passes_z          -0.439231
progpasses_z      -0.371538
takeons_z          0.294615
progruns_z         0.179231
tackles_z         -0.490000
interceptions_z   -0.513846
clearances_z       0.153846
blocks_z          -0.358462
aerials_z         -0.078462
fouls_z            0.251538
fouled_z           0.506923
nsxg_z            -0.276154
dtype: float64

## 90

In [287]:
uru90year = uru_year.loc[uru_year["season"].isin(year1990)]

In [288]:
uru90xg = uru90year.sort_values(by=["goals_z"], ascending=False)

In [289]:
uru90xg13 = uru90xg.head(13)

In [290]:
uru90xg13 = uru90xg13.drop(columns=['season', 'team'])

In [291]:
uru90 = uru90xg13.mean()

In [292]:
uru90

goals_z           -0.152308
xg_z               0.048462
crosses_z          0.340769
boxtouches_z      -0.140000
passes_z          -0.177692
progpasses_z      -0.020769
takeons_z          0.083846
progruns_z         0.151538
tackles_z          0.327692
interceptions_z    0.089231
clearances_z       0.031538
blocks_z          -0.366923
aerials_z         -0.170000
fouls_z            0.173077
fouled_z           0.409231
nsxg_z             0.182308
dtype: float64

In [603]:
uru = pd.concat([uru86, uru90], axis=1).T

In [604]:
uru.rename(index={0: 'Uruguay86', 1: 'Uruguay90'}, inplace=True)

In [605]:
df2 = uru.assign(results=[16, 16])

In [606]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Uruguay86,-0.159231,-0.067692,-0.177692,-0.23,-0.439231,-0.371538,0.294615,0.179231,-0.490000,-0.513846,0.153846,-0.358462,-0.078462,0.251538,0.506923,-0.276154,16
Uruguay90,-0.152308,0.048462,0.340769,-0.14,-0.177692,-0.020769,0.083846,0.151538,0.327692,0.089231,0.031538,-0.366923,-0.170000,0.173077,0.409231,0.182308,16

In [607]:
# df2.to_csv('Uruguay2.csv')

In [297]:
# 86 - 16      Uruguay     E     4     0     2     2     2     8     −6     2
# 90 - 16     E      Uruguay     4     1     1     2     2     5     −3     3

# Canada

### 86

In [298]:
can = ['Canada']

In [299]:
can_year = df.loc[df["team"].isin(can)]

In [300]:
can86year = can_year.loc[can_year["season"].isin(year1986)]

In [301]:
can86xg = can86year.sort_values(by=["goals_z"], ascending=False)

In [302]:
can86xg13 = can86xg.head(13)

In [303]:
can86xg13 = can86xg13.drop(columns=['season', 'team'])

In [304]:
can86 = can86xg13.mean()

In [305]:
can86

goals_z           -0.390000
xg_z              -0.202308
crosses_z          0.275385
boxtouches_z       0.097692
passes_z          -0.428462
progpasses_z      -0.447692
takeons_z         -0.166923
progruns_z        -0.495385
tackles_z         -0.163077
interceptions_z   -0.374615
clearances_z       0.034615
blocks_z          -0.281538
aerials_z          0.200000
fouls_z           -0.199231
fouled_z           0.006154
nsxg_z            -0.012308
dtype: float64

In [608]:
can = pd.concat([can86], axis=1).T

In [609]:
can.rename(index={0: 'Canada'}, inplace=True)

In [610]:
df2 = can.assign(results=[24])

In [611]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Canada,-0.39,-0.202308,0.275385,0.097692,-0.428462,-0.447692,-0.166923,-0.495385,-0.163077,-0.374615,0.034615,-0.281538,0.2,-0.199231,0.006154,-0.012308,24

In [612]:
# df2.to_csv('Canada2.csv')

In [310]:
# 86 - 24      Canada     C     3     0     0     3     0     5     −5     0

# Netherlands

## 90

In [311]:
net = ['Netherlands']

In [312]:
net_year = df.loc[df["team"].isin(net)]

In [313]:
net90year =  net_year.loc[net_year["season"].isin(year1990)]

In [314]:
net90xg = net90year.sort_values(by=["goals_z"], ascending=False)

In [315]:
net90xg13 = net90xg.head(13)

In [316]:
net90xg13 = net90xg13.drop(columns=['season', 'team'])

In [317]:
net90 = net90xg13.mean()

In [318]:
# net90

## 94

In [319]:
net94year =  net_year.loc[net_year["season"].isin(year1994)]

In [320]:
net94xg = net94year.sort_values(by=["goals_z"], ascending=False)

In [321]:
net94xg13 = net94xg.head(13)

In [322]:
net94xg13 = net94xg13.drop(columns=['season', 'team'])

In [323]:
net94 = net94xg13.mean()

In [324]:
# net94

## 98

In [325]:
net98year =  net_year.loc[net_year["season"].isin(year1998)]

In [326]:
net98xg = net98year.sort_values(by=["goals_z"], ascending=False)

In [327]:
net98xg13 = net98xg.head(13)

In [328]:
net98xg13 = net98xg13.drop(columns=['season', 'team'])

In [329]:
net98 = net98xg13.mean()

In [330]:
# net98

In [613]:
net = pd.concat([net90, net94, net98], axis=1).T

In [614]:
net.rename(index={0: 'Netherlands90', 1: 'Netherlands90', 2: 'Netherlands90'}, inplace=True)

In [615]:
df2 = net.assign(results=[15, 7, 4])

In [616]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Netherlands90,-0.018462,0.184615,0.168462,0.276923,-0.106923,-0.225385,0.138462,0.063846,-0.024615,-0.153846,-0.119231,0.056923,0.285385,-0.036923,-0.293077,0.228462,15
Netherlands90,0.256154,0.126923,0.093846,0.310769,0.493077,0.361538,0.312308,0.273077,0.276154,0.883077,-0.286923,-0.134615,-0.229231,0.307692,-0.050769,0.482308,7
Netherlands90,0.420769,0.230000,0.326923,0.450769,0.328462,0.130769,0.607692,0.508462,0.564615,0.351538,-0.436923,-0.271538,-0.109231,0.100000,-0.008462,0.846923,4

In [617]:
# df2.to_csv('Netherlands2.csv')

In [335]:
# 90  - 15     F      Netherlands     4     0     3     1     3     4     −1     3
# 94 - 7      Netherlands     F     5     3     0     2     8     6     +2     9
# 98 - 4      Netherlands     E     7     3     3     1     13     7     +6     12

# Saudi Arabia

## 94

In [336]:
sau = ['Saudi Arabia']

In [337]:
sau_year = df.loc[df["team"].isin(sau)]

In [338]:
sau94year = sau_year.loc[sau_year["season"].isin(year1994)]

In [339]:
sau94xg = sau94year.sort_values(by=["goals_z"], ascending=False)

In [340]:
sau94xg13 = sau94xg.head(13)

In [341]:
sau94xg13 = sau94xg13.drop(columns=['season', 'team'])

In [342]:
sau94 = sau94xg13.mean()

In [343]:
# sau94

## 98

In [344]:
sau98year = sau_year.loc[sau_year["season"].isin(year1998)]

In [345]:
sau98xg = sau98year.sort_values(by=["goals_z"], ascending=False)

In [346]:
sau98xg13 = sau98xg.head(13)

In [347]:
sau98xg13 = sau98xg13.drop(columns=['season', 'team'])

In [348]:
sau98 = sau98xg13.mean()

In [349]:
# sau98

In [618]:
sau = pd.concat([sau94, sau98], axis=1).T

In [619]:
sau.rename(index={0: 'Saudi94', 1: 'Saudi98'}, inplace=True)

In [620]:
df2 = sau.assign(results=[12, 28])

In [621]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Saudi94,0.116923,0.238462,-0.021538,-0.071538,-0.500769,-0.336923,0.068462,0.306923,-0.611538,-0.428462,0.516154,-0.138462,-0.083077,-0.126154,0.086154,-0.119231,12
Saudi98,-0.103077,0.056154,-0.315385,-0.459231,-0.072308,-0.453846,-0.075385,-0.259231,0.113846,0.347692,0.386154,-0.102308,-0.430000,-0.211538,-0.019231,-0.552308,28

In [622]:
# df2.to_csv('Saudi2.csv')

In [354]:
# 94 - 12      Saudi Arabia     F     4     2     0     2     5     6     −1     6
# 98 - 28      Saudi Arabia     C     3     0     1     2     2     7     −5     1

# Croatia

## 98

In [355]:
cro = ['Croatia']

In [356]:
cro_year = df.loc[df["team"].isin(cro)]

In [357]:
cro98year = cro_year.loc[cro_year["season"].isin(year1998)]

In [358]:
cro98xg = cro98year.sort_values(by=["goals_z"], ascending=False)

In [359]:
cro98xg13 = cro98xg.head(13)

In [360]:
cro98xg13 = cro98xg13.drop(columns=['season', 'team'])

In [361]:
cro98 = cro98xg13.mean()

In [362]:
# cro98

In [623]:
cro = pd.concat([cro98], axis=1).T

In [624]:
cro.rename(index={0: 'Croatia98'}, inplace=True)

In [625]:
df2 = cro.assign(results=[3])

In [626]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Croatia98,0.326154,0.253077,0.265385,0.240769,-0.143077,-0.050769,0.340769,0.227692,-0.430769,-0.398462,0.04,-0.013077,-0.039231,0.298462,0.220769,0.229231,3

In [627]:
# df2.to_csv('Croatia2.csv')

In [367]:
# 98 - 3      Croatia     H     7     5     0     2     11     5     +6     15

# Cameroon

## 82

In [368]:
cam = ['Cameroon']

In [369]:
cam_year = df.loc[df["team"].isin(cam)]

In [370]:
cam82year = cam_year.loc[cam_year["season"].isin(year1982)]

In [371]:
cam82xg = cam82year.sort_values(by=["goals_z"], ascending=False)

In [372]:
cam82xg13 = cam82xg.head(13)

In [373]:
cam82xg13 = cam82xg13.drop(columns=['season', 'team'])

In [374]:
cam82 = cam82xg13.mean()

In [375]:
# cam82

## 90

In [376]:
cam90year = cam_year.loc[cam_year["season"].isin(year1990)]

In [377]:
cam90xg = cam90year.sort_values(by=["goals_z"], ascending=False)

In [378]:
cam90xg13 = cam90xg.head(13)

In [379]:
cam90xg13 = cam90xg13.drop(columns=['season', 'team'])

In [380]:
cam90 = cam90xg13.mean()

In [381]:
# cam90

## 94

In [382]:
cam94year = cam_year.loc[cam_year["season"].isin(year1994)]

In [383]:
cam94xg = cam94year.sort_values(by=["goals_z"], ascending=False)

In [384]:
cam94xg13 = cam94xg.head(13)

In [385]:
cam94xg13 = cam94xg13.drop(columns=['season', 'team'])

In [386]:
cam94 = cam94xg13.mean()

In [387]:
# cam94

## 98

In [388]:
cam98year = cam_year.loc[cam_year["season"].isin(year1998)]

In [389]:
cam98xg = cam98year.sort_values(by=["goals_z"], ascending=False)

In [390]:
cam98xg13 = cam98xg.head(13)

In [391]:
cam98xg13 = cam98xg13.drop(columns=['season', 'team'])

In [392]:
cam98 = cam98xg13.mean()

In [393]:
# cam98

In [628]:
cam = pd.concat([cam82, cam90, cam94, cam98], axis=1).T

In [629]:
cam.rename(index={0: 'Cameroon82', 1: 'Cameroon90', 2: 'Cameroon94',
                  3: 'Cameroon98'}, inplace=True)

In [630]:
df2 = cam.assign(results=[17, 7, 22, 25])

In [631]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Cameroon82,-0.334167,-0.110833,-0.238333,-0.141667,0.480833,0.418333,-0.211667,-0.083333,0.185833,0.605000,0.472500,0.997500,-0.375000,1.035833,0.360833,0.077500,17
Cameroon90,0.240769,-0.013077,-0.131538,-0.147692,-0.204615,0.032308,0.091538,-0.350000,-0.403846,-0.455385,-0.339231,-0.259231,-0.169231,0.087692,-0.238462,0.087692,7
Cameroon94,0.013846,-0.163846,-0.214615,-0.058462,-0.286923,-0.252308,-0.146923,-0.351538,-0.165385,-0.473077,-0.100769,-0.301538,0.210769,-0.232308,-0.274615,0.031538,22
Cameroon98,-0.103077,-0.097692,0.371538,0.040769,-0.146923,0.020000,0.626154,0.064615,-0.090769,-0.233077,-0.117692,-0.275385,0.397692,-0.534615,-0.228462,0.203077,25

In [632]:
# df2.to_csv('Cameroon2.csv')

In [398]:
# 82 - 17      Cameroon     1     3     0     3     0     1     1     0     3
# 90 - 7     B      Cameroon     5     3     0     2     7     9     −2     6
# 94 - 22      Cameroon     B     3     0     1     2     3     11     −8     1
# 98 - 25      Cameroon     B     3     0     2     1     2     5     −3     2

# Wales NA

# Denmark

In [399]:
den = ['Denmark']

In [400]:
den_year = df.loc[df["team"].isin(den)]

## 86

In [401]:
den86year = den_year.loc[den_year["season"].isin(year1986)]

In [402]:
den86xg = den86year.sort_values(by=["goals_z"], ascending=False)

In [403]:
den86xg13 = den86xg.head(13)

In [404]:
den86xg13 = den86xg13.drop(columns=['season', 'team'])

In [405]:
den86 = den86xg13.mean()

In [406]:
# den86

## 98

In [407]:
den98year = den_year.loc[den_year["season"].isin(year1998)]

In [408]:
den98xg = den98year.sort_values(by=["goals_z"], ascending=False)

In [409]:
den98xg13 = den98xg.head(13)

In [410]:
den98xg13 = den98xg13.drop(columns=['season', 'team'])

In [411]:
den98 = den98xg13.mean()

In [412]:
# den98

In [640]:
den = pd.concat([den86, den98], axis=1).T

In [641]:
den.rename(index={0: 'Denmark86', 1: 'Denmark98'}, inplace=True)

In [642]:
df2 = den.assign(results=[9, 8])

In [643]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Denmark86,0.766923,0.643846,-0.265385,0.230000,0.353077,-0.015385,0.496154,0.606923,0.446154,-0.096923,-0.128462,0.086923,-0.233846,0.180769,-0.118462,0.404615,9
Denmark98,0.432308,0.203846,-0.157692,0.191538,-0.122308,-0.340000,0.236154,-0.034615,-0.041538,-0.248462,0.125385,-0.096154,-0.043077,-0.126154,0.229231,0.040769,8

In [644]:
# df2.to_csv('Denmark2.csv')

In [417]:
# 86 - 9      Denmark     E     4     3     0     1     10     6     +4     6
# 98 - 8      Denmark     C     5     2     1     2     9     7     +2     7

# Costa Rica

In [418]:
cos = ['Costa Rica']

In [419]:
cos_year = df.loc[df["team"].isin(cos)]

In [420]:
cos90year = cos_year.loc[cos_year["season"].isin(year1990)]

In [421]:
cos90xg = cos90year.sort_values(by=["goals_z"], ascending=False)

In [422]:
cos90xg13 = cos90xg.head(13)

In [423]:
cos90xg13 = cos90xg13.drop(columns=['season', 'team'])

In [424]:
cos90 = cos90xg13.mean()

In [425]:
# cos90

In [645]:
cos = pd.concat([cos90], axis=1).T

In [646]:
cos.rename(index={0: 'Costa90'}, inplace=True)

In [647]:
df2 = cos.assign(results=[13])

In [648]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Costa90,0.115385,-0.240769,-0.046923,-0.140769,0.113846,-0.078462,0.001538,0.513846,-0.212308,-0.220769,0.658462,0.063077,0.057692,-0.328462,-0.177692,-0.4,13

In [649]:
# df2.to_csv('Costa2.csv')

In [430]:
# 90 - 13     C      Costa Rica     4     2     0     2     4     6     −2     4

# Ecuador NA

# Morocco

## 86

In [431]:
mor = ['Morocco']

In [432]:
mor_year = df.loc[df["team"].isin(mor)]

In [433]:
mor86year = mor_year.loc[mor_year["season"].isin(year1986)]

In [434]:
mor86xg = mor86year.sort_values(by=["goals_z"], ascending=False)

In [435]:
mor86xg13 = mor86xg.head(13)

In [436]:
mor86xg13 = mor86xg13.drop(columns=['season', 'team'])

In [437]:
mor86 = mor86xg13.mean()

In [438]:
# mor86

## 94

In [439]:
mor94year = mor_year.loc[mor_year["season"].isin(year1994)]

In [440]:
mor94xg = mor94year.sort_values(by=["goals_z"], ascending=False)

In [441]:
mor94xg13 = mor94xg.head(13)

In [442]:
mor94xg13 = mor94xg13.drop(columns=['season', 'team'])

In [443]:
mor94 = mor94xg13.mean()

In [444]:
# mor94

## 98

In [445]:
mor98year = mor_year.loc[mor_year["season"].isin(year1998)]

In [446]:
mor98xg = mor98year.sort_values(by=["goals_z"], ascending=False)

In [447]:
mor98xg13 = mor98xg.head(13)

In [448]:
mor98xg13 = mor98xg13.drop(columns=['season', 'team'])

In [449]:
mor98 = mor98xg13.mean()

In [450]:
# mor98

In [650]:
mor = pd.concat([mor86, mor94, mor98], axis=1).T

In [651]:
mor.rename(index={0: 'Morocco86', 1: 'Morocco94', 2: 'Morocco98'}, inplace=True)

In [652]:
df2 = mor.assign(results=[11, 23, 18])

In [653]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Morocco86,-0.043077,-0.164615,-0.090000,-0.200000,1.063077,0.873846,-0.184615,0.191538,0.570769,1.036923,0.387692,0.884615,0.128462,0.277692,0.098462,-0.100769,11
Morocco94,-0.120769,0.180000,0.062308,0.027692,-0.298462,-0.023846,0.122308,0.242308,0.016154,-0.349231,-0.050000,0.013846,0.005385,-0.038462,-0.010000,0.070000,23
Morocco98,0.372308,-0.179231,-0.266923,-0.066923,0.485385,0.365385,0.367692,0.369231,0.497692,0.380769,0.183846,0.153846,0.271538,0.260000,-0.140000,-0.081538,18

In [654]:
# df2.to_csv('Morocco2.csv')

In [455]:
# 86 - 11      Morocco     F     4     1     2     1     3     2     +1     4
# 94 - 23      Morocco     F     3     0     0     3     2     5     −3     0
# 98 - 18      Morocco     A     3     1     1     1     5     5     0     4

# Poland

## 82

In [456]:
pol = ['Poland']

In [457]:
pol_year = df.loc[df["team"].isin(pol)]

In [458]:
pol82year = pol_year.loc[pol_year["season"].isin(year1982)]

In [459]:
pol82xg = pol82year.sort_values(by=["goals_z"], ascending=False)

In [460]:
pol82xg13 = pol82xg.head(13)

In [461]:
pol82xg13 = pol82xg13.drop(columns=['season', 'team'])

In [462]:
pol82 = pol82xg13.mean()

In [463]:
# pol82

## 86

In [464]:
pol86year = pol_year.loc[pol_year["season"].isin(year1986)]

In [465]:
pol86xg = pol86year.sort_values(by=["goals_z"], ascending=False)

In [466]:
pol86xg13 = pol86xg.head(13)

In [467]:
pol86xg13 = pol86xg13.drop(columns=['season', 'team'])

In [468]:
pol86 = pol86xg13.mean()

In [469]:
# pol86

In [655]:
pol = pd.concat([pol82, pol86], axis=1).T

In [656]:
pol.rename(index={0: 'Poland82', 1: 'Poland82'}, inplace=True)

In [657]:
df2 = pol.assign(results=[3, 14])

In [658]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Poland82,0.220000,0.028462,0.177692,0.112308,-0.393077,-0.097692,-0.080769,-0.013077,-0.400769,-0.382308,-0.133846,-0.206923,-0.214615,0.412308,0.133077,-0.035385,3
Poland82,-0.274615,-0.050769,0.129231,-0.050000,0.305385,0.470000,0.320769,0.370000,0.170769,-0.118462,0.062308,-0.114615,-0.026923,0.040000,-0.097692,-0.053846,14

In [659]:
# df2.to_csv('Poland2.csv')

In [474]:
# 82 - 3      Poland     1/A     7     3     3     1     11     5     +6     9
# 86 - 14      Poland     F     4     1     1     2     1     7     −6     3

# Ghana NA

# Qatar NA

# Tunisia

## 98

In [475]:
tun = ['Tunisia']

In [476]:
tun_year = df.loc[df["team"].isin(tun)]

In [477]:
tun98year = tun_year.loc[tun_year["season"].isin(year1998)]

In [478]:
tun98xg = tun98year.sort_values(by=["goals_z"], ascending=False)

In [479]:
tun98xg13 = tun98xg.head(13)

In [480]:
tun98xg13 = tun98xg13.drop(columns=['season', 'team'])

In [481]:
tun98 = tun98xg13.mean()

In [482]:
# tun98

In [660]:
tun = pd.concat([tun98], axis=1).T

In [661]:
tun.rename(index={0: 'Tunisia98'}, inplace=True)

In [662]:
df2 = tun.assign(results=[26])

In [663]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Tunisia98,-0.261538,0.161538,0.076923,-0.046923,-0.208462,-0.039231,-0.333846,0.027692,-0.174615,-0.063846,0.193846,0.016923,-0.016154,0.466154,-0.047692,-0.073077,26

In [664]:
# df2.to_csv('Tunisia2.csv')

In [487]:
# 98 - 26      Tunisia     G     3     0     1     2     1     4     −3     1

# Senegal NA

# Serbia NA

# Australia NA

# South Korea needs to be added to df

In [488]:
ska = ['Korea Republic']

In [489]:
ska_year = df.loc[df["team"].isin(ska)]

In [490]:
# 86 - 20      South Korea     A     3     0     1     2     4     7     −3     1
# 90 - 22     E      South Korea     3     0     0     3     1     6     −5     0
# 94 - 20      South Korea     C     3     0     2     1     4     5     −1     2
# 98 - 30      South Korea     E     3     0     1     2     2     9     −7     1

# Japan

## 98

In [491]:
jap = ['Japan']

In [492]:
jap_year = df.loc[df["team"].isin(jap)]

In [493]:
jap98year = jap_year.loc[jap_year["season"].isin(year1998)]

In [494]:
jap98xg = jap98year.sort_values(by=["goals_z"], ascending=False)

In [495]:
jap98xg13 = jap98xg.head(13)

In [496]:
jap98xg13 = jap98xg13.drop(columns=['season', 'team'])

In [497]:
jap98 = jap98xg13.mean()

In [498]:
# jap98

In [665]:
jap = pd.concat([jap98], axis=1).T

In [666]:
jap.rename(index={0: 'Japan98'}, inplace=True)

In [667]:
df2 = jap.assign(results=[31])

In [668]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Japan98,-0.261538,0.207692,0.176154,0.236154,0.239231,0.176154,-0.075385,-0.188462,-0.076923,-0.169231,-0.279231,0.426154,-0.111538,0.700769,0.513077,0.005385,31

In [669]:
# df2.to_csv('Japan2.csv')

In [503]:
# 98 - 31      Japan     H     3     0     0     3     1     4     −3     0

# Argentina

## 82

In [504]:
arg = ['Argentina']

In [505]:
arg_year = df.loc[df["team"].isin(arg)]

In [506]:
arg82year = arg_year.loc[arg_year["season"].isin(year1982)]

In [507]:
arg82xg = arg82year.sort_values(by=["goals_z"], ascending=False)

In [508]:
arg82xg13 = arg82xg.head(13)

In [509]:
arg82xg13 = arg82xg13.drop(columns=['season', 'team'])

In [510]:
arg82 = arg82xg13.mean()

In [511]:
# arg82

## 86

In [512]:
arg86year = arg_year.loc[arg_year["season"].isin(year1986)]

In [513]:
arg86xg = arg86year.sort_values(by=["goals_z"], ascending=False)

In [514]:
arg86xg13 = arg86xg.head(13)

In [515]:
arg86xg13 = arg86xg13.drop(columns=['season', 'team'])

In [516]:
arg86 = arg86xg13.mean()

In [517]:
# arg86

## 90

In [518]:
arg90year = arg_year.loc[arg_year["season"].isin(year1990)]

In [519]:
arg90xg = arg90year.sort_values(by=["goals_z"], ascending=False)

In [520]:
arg90xg13 = arg90xg.head(13)

In [521]:
arg90xg13 = arg90xg13.drop(columns=['season', 'team'])

In [522]:
arg90 = arg90xg13.mean()

In [523]:
# arg90

## 94

In [524]:
arg94year = arg_year.loc[arg_year["season"].isin(year1994)]

In [525]:
arg94xg = arg94year.sort_values(by=["goals_z"], ascending=False)

In [526]:
arg94xg13 = arg94xg.head(13)

In [527]:
arg94xg13 = arg94xg13.drop(columns=['season', 'team'])

In [528]:
arg94 = arg94xg13.mean()

In [529]:
# arg94

## 98

In [530]:
arg98year = arg_year.loc[arg_year["season"].isin(year1998)]

In [531]:
arg98xg = arg98year.sort_values(by=["goals_z"], ascending=False)

In [532]:
arg98xg13 = arg98xg.head(13)

In [533]:
arg98xg13 = arg98xg13.drop(columns=['season', 'team'])

In [534]:
arg98 = arg98xg13.mean()

In [535]:
# arg98

In [670]:
arg = pd.concat([arg82, arg86, arg90, arg94, arg98], axis=1).T

In [671]:
arg.rename(index={0: 'Argentina82', 1: 'Argentina86', 2: 'Argentina90', 
                  3: 'Argentina94', 4: 'Argentina98'}, inplace=True)

In [672]:
df2 = arg.assign(results=[11, 1, 2, 10, 6])

In [673]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Argentina82,0.234615,0.405385,0.200769,0.554615,0.370769,0.331538,0.350769,0.026923,1.114615,0.497692,-0.392308,-0.084615,0.480000,0.017692,0.514615,0.296154,11
Argentina86,0.536154,0.170769,0.166154,0.190769,-0.167692,-0.196154,0.557692,-0.204615,-0.063846,0.343077,0.177692,0.333846,0.128462,-0.034615,0.470000,0.228462,1
Argentina90,-0.070769,-0.368462,-0.493846,-0.247692,-0.681538,-0.536923,-0.210000,-0.427692,-0.539231,-0.622308,-0.313846,-0.307692,-0.236923,-0.200769,-0.405385,-0.526154,2
Argentina94,0.420000,0.659231,0.472308,0.616923,0.452308,0.056923,1.100769,0.366923,0.593846,0.558462,-0.463846,-0.183077,-0.121538,0.094615,0.826923,0.990769,10
Argentina98,0.472308,0.458462,-0.023846,0.078462,0.416923,0.273846,0.693077,0.513077,0.130000,0.178462,-0.239231,0.021538,-0.318462,0.204615,0.463077,0.521538,6

In [674]:
# df2.to_csv('Argentina2.csv')

In [540]:
# 82 - 11      Argentina     3/C     5     2     0     3     8     7     +1     4
# 86 - 1      Argentina     A     7     6     1     0     14     5     +9     13
# 90 - 2     B      Argentina     7     2     3     2     5     4     +1     7     2nd
# 94 - 10      Argentina     D     4     2     0     2     8     6     +2     6
# 98 - 6      Argentina     H     5     3     1     1     10     4     +6     10

# Iran

## 98

In [541]:
# 98 - 20      Iran     F     3     1     0     2     2     4     −2     3

# Mexico

In [542]:
# 86 - 6      Mexico     B     5     3     2     0     6     2     +4     8
# 94 - 13      Mexico     E     4     1     2     1     4     4     0     5
# 98 - 13      Mexico     E     4     1     2     1     8     7     +1     5