In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

import matplotlib.pyplot as pyplot
import seaborn as sns

In [2]:
years = [2018, 2014, 2010, 2006, 2002, 1998, 1994, 1990, 1986, 1982]

In [3]:
comparisons = pd.read_csv('world_cup_comparisons.csv')

In [4]:
comparisons.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,Cristian Pavón,2018,Argentina,-0.42,-0.55,0.08,-0.24,-0.61,-0.72,-0.05,0.15,0.30,-0.79,-0.80,-0.45,-0.23,-0.38,-0.91,-0.58
1,Eduardo Salvio,2018,Argentina,-0.42,-0.50,-0.51,0.64,0.02,-0.46,-0.05,0.48,0.61,0.67,0.32,-0.45,0.21,-1.11,0.68,-0.03
2,Enzo Pérez,2018,Argentina,-0.42,0.11,-0.51,-0.69,0.27,-0.65,-0.36,-0.34,0.35,-0.22,-0.80,-0.45,-0.89,0.72,0.04,-0.66
3,Federico Fazio,2018,Argentina,-0.42,-0.59,-0.51,-0.69,-0.97,-0.91,-0.67,-0.84,-0.82,-0.79,-0.64,-0.45,0.21,-1.11,-0.59,-0.77
4,Franco Armani,2018,Argentina,-0.42,-0.59,-0.51,-0.80,-0.67,0.64,-0.67,-0.67,-0.82,-0.79,-0.64,-0.45,-0.89,-1.11,-0.91,-0.77

In [5]:
all_teams = comparisons['team'].value_counts()

In [6]:
all_teams = all_teams.drop(labels=['West Germany', 'Netherlands', 'Senegal', 'Ecuador', 'England', 'USA', 'Iran', 'Argentina', 'Poland', 'Mexico', 'Saudi Arabia', 'France', 'Denmark', 'Tunisia', 'Australia', 'Germany', 'Spain', 'Japan', 'Costa Rica', 'Belgium', 'Croatia', 'Canada', 'Morocco', 'Brazil', 'Switzerland', 'Serbia', 'Cameroon', 'Portugal', 'Uruguay', 'Ghana'])

In [7]:
teams_all = ['Italy', 'South Korea', 'Nigeria','Colombia','Paraguay',
             'Sweden','Russia','Scotland','Algeria','Chile','Greece',
             'Honduras','Austria','Bulgaria','USSR','Ivory Coast',               
             'Romania','Yugoslavia','South Africa','Rep of Ireland',
             'Czechoslovakia','Hungary','Egypt','Slovenia','Norway',                     
             'Northern Ireland','Peru','New Zealand','Bosnia and Herzegovina',     
             'Panama','Slovakia','Iraq','China PR','Jamaica','Turkey',                     
             'Ukraine','Bolivia','Trinidad and Tobago','Togo','Czech Republic',             
             'Angola','United Arab Emirates','Iceland','El Salvador','Kuwait','North Korea']

In [8]:
comparisons = comparisons.loc[comparisons['team'].isin(teams_all)]

In [9]:
comparisons.shape

(2390, 19)

In [10]:
year1982 = [1982]
year1986 = [1986]
year1990 = [1990]
year1994 = [1994]
year1998 = [1998]

year2002 = [2002]
year2006 = [2006]
year2010 = [2010]
year2014 = [2014]
year2018 = [2018]

In [11]:
df = comparisons.drop(columns = ['player'])

# Italy

## 1982

In [12]:
df.head()

,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
72,2018,Colombia,-0.42,-0.59,-0.51,-0.80,-1.16,-1.04,-0.67,-0.68,-0.82,-0.79,-0.80,-0.45,-0.69,-1.11,-0.91,-0.77
73,2018,Colombia,-0.42,-0.35,-0.51,0.12,-1.01,-0.98,-0.67,-0.53,-0.26,-0.79,-0.80,-0.45,0.12,0.24,-0.62,-0.21
74,2018,Colombia,-0.42,-0.59,-0.51,-0.80,-0.37,-0.39,-0.67,-0.84,0.21,-0.50,-0.65,-0.45,-0.49,0.91,-0.62,-0.62
75,2018,Colombia,-0.42,-0.59,-0.51,-0.80,-0.36,1.10,-0.67,-0.84,-0.82,-0.79,-0.65,-0.45,-0.69,-1.11,-0.32,-0.77
76,2018,Colombia,-0.42,-0.41,-0.51,0.22,0.88,1.04,-0.67,-0.68,-0.52,0.91,3.19,2.92,1.14,-0.44,-0.32,-0.72

In [13]:
ita = ['Italy']

In [14]:
ita_year = df.loc[df["team"].isin(ita)]

In [15]:
ita82year = ita_year.loc[ita_year["season"].isin(year1982)]

In [16]:
ita82xg = ita82year.sort_values(by=["goals_z"], ascending=False)

In [17]:
ita82xg13 = ita82xg.head(13)

In [18]:
ita82xg13 = ita82xg13.drop(columns=['season', 'team'])

In [19]:
ita82 = ita82xg13.mean()

In [20]:
# ita82

## 1986

In [21]:
ita86year = ita_year.loc[ita_year["season"].isin(year1986)]

In [22]:
ita86xg = ita86year.sort_values(by=["goals_z"], ascending=False)

In [23]:
ita86xg13 = ita86xg.head(13)

In [24]:
ita86xg13 = ita86xg13.drop(columns=['season', 'team'])

In [25]:
ita86 = ita86xg13.mean()

In [26]:
# ita86

## 1990

In [27]:
ita90year = ita_year.loc[ita_year["season"].isin(year1990)]

In [28]:
ita90xg = ita90year.sort_values(by=["goals_z"], ascending=False)

In [29]:
ita90xg13 = ita90xg.head(13)

In [30]:
ita90xg13 = ita90xg13.drop(columns=['season', 'team'])

In [31]:
ita90 = ita90xg13.mean()

In [32]:
# ita90

## 1994

In [33]:
ita94year = ita_year.loc[ita_year["season"].isin(year1994)]

In [34]:
ita94xg = ita94year.sort_values(by=["goals_z"], ascending=False)

In [35]:
ita94xg13 = ita94xg.head(13)

In [36]:
ita94xg13 = ita94xg13.drop(columns=['season', 'team'])

In [37]:
ita94 = ita94xg13.mean()

In [38]:
# ita94

## 1998

In [39]:
ita98year = ita_year.loc[ita_year["season"].isin(year1998)]

In [40]:
ita98xg = ita98year.sort_values(by=["goals_z"], ascending=False)

In [41]:
ita98xg13 = ita98xg.head(13)

In [42]:
ita98xg13 = ita98xg13.drop(columns=['season', 'team'])

In [43]:
ita98 = ita98xg13.mean()

In [44]:
# ita98

## 2002

In [45]:
ita02year = ita_year.loc[ita_year["season"].isin(year2002)]

In [46]:
ita02xg = ita02year.sort_values(by=["goals_z"], ascending=False)

In [47]:
ita02xg13 = ita02xg.head(13)

In [48]:
ita02xg13 = ita02xg13.drop(columns=['season', 'team'])

In [49]:
ita02 = ita02xg13.mean()

In [50]:
# ita02

## 06

In [51]:
ita06year = ita_year.loc[ita_year["season"].isin(year2006)]

In [52]:
ita06xg = ita06year.sort_values(by=["goals_z"], ascending=False)

In [53]:
ita06xg13 = ita06xg.head(13)

In [54]:
ita06xg13 = ita06xg13.drop(columns=['season', 'team'])

In [55]:
ita06 = ita06xg13.mean()

In [56]:
# ita06

## 2010

In [57]:
ita10year = ita_year.loc[ita_year["season"].isin(year2010)]

In [58]:
ita10xg = ita10year.sort_values(by=["goals_z"], ascending=False)

In [59]:
ita10xg13 = ita10xg.head(13)

In [60]:
ita10xg13 = ita10xg13.drop(columns=['season', 'team'])

In [61]:
ita10 = ita10xg13.mean()

In [62]:
# ita10

## 2014

In [63]:
ita14year = ita_year.loc[ita_year["season"].isin(year2014)]

In [64]:
ita14xg = ita14year.sort_values(by=["goals_z"], ascending=False)

In [65]:
ita14xg13 = ita14xg.head(13)

In [66]:
ita14xg13 = ita14xg13.drop(columns=['season', 'team'])

In [67]:
ita14 = ita14xg13.mean()

In [68]:
ita14

goals_z           -0.093077
xg_z              -0.197692
crosses_z         -0.366923
boxtouches_z      -0.434615
passes_z           0.531538
progpasses_z       0.181538
takeons_z         -0.248462
progruns_z        -0.085385
tackles_z          0.169231
interceptions_z    0.879231
clearances_z      -0.082308
blocks_z           0.463077
aerials_z         -0.289231
fouls_z            0.077692
fouled_z           0.267692
nsxg_z            -0.443077
dtype: float64

In [69]:
ital = pd.concat([ita82, ita86, ita90, ita94, ita98, ita02, ita06, ita10, ita14], axis=1).T

In [70]:
ital

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,0.286154,0.069231,0.013846,-0.040000,-0.095385,0.041538,0.054615,-0.230000,-0.101538,-0.220769,0.033846,0.198462,0.070000,0.350000,0.454615,-0.193846
1,0.073077,0.299231,0.304615,0.240000,0.406923,0.365385,0.016923,0.212308,-0.173077,0.320000,-0.068462,0.633846,-0.390000,0.300000,0.663846,0.102308
2,0.309231,0.330000,0.103846,0.147692,-0.000769,-0.311538,0.153846,0.121538,0.057692,0.213077,-0.199231,-0.313846,0.046923,-0.174615,0.493077,0.143077
3,0.032308,-0.028462,0.046154,0.052308,-0.147692,-0.115385,0.146923,-0.120000,-0.158462,-0.208462,-0.000769,-0.114615,0.080769,-0.066154,0.305385,0.050000
4,0.293846,0.176154,-0.355385,-0.112308,-0.164615,0.045385,-0.054615,-0.113846,-0.053846,-0.103077,0.309231,0.130000,0.074615,-0.010769,0.081538,-0.176923
5,0.153077,0.197692,0.030000,0.088462,-0.665385,-0.347692,-0.200000,-0.407692,-0.646154,-0.612308,-0.216154,-0.455385,-0.064615,-0.136923,0.095385,-0.118462
6,0.484615,0.213077,-0.103846,0.202308,-0.116154,-0.091538,-0.255385,-0.093077,-0.251538,-0.112308,0.109231,0.126923,0.100000,-0.377692,0.180000,0.180769
7,0.310769,0.424615,0.362308,0.256923,0.035385,0.073077,-0.039231,-0.240000,0.763846,0.315385,-0.299231,-0.280000,0.519231,-0.003077,0.360769,0.107692
8,-0.093077,-0.197692,-0.366923,-0.434615,0.531538,0.181538,-0.248462,-0.085385,0.169231,0.879231,-0.082308,0.463077,-0.289231,0.077692,0.267692,-0.443077

In [73]:
ital.rename(index={0: 'Italy82', 1: 'Italy86', 2: 'Italy90', 3: 'Italy94', 4: 'Italy98', 
                  5: 'Italy02', 6: 'Italy06', 7: 'Italy10', 8: 'Italy14'}, inplace=True)

In [74]:
df2 = ital.assign(results=[1, 12, 3, 2, 5, 15, 1, 26, 22])

In [75]:
# df2.to_csv('Italy.csv', index=False)

In [ ]:
# 82 - 1      Italy     1/C     7     4     3     0     12     6     +6     11
# 86 - 12      Italy     A     4     1     2     1     5     6     −1     4
# 90 - 3     A      Italy     7     6     1     0     10     2     +8     13     3rd
# 94 - 2      Italy     E     7     4     2     1     8     5     +3     14
# 98 - 5      Italy     B     5     3     2     0     8     3     +5     11
# 02 - 15     G      Italy     4     1     1     2     5     5     0     4
# 06 - 1      Italy     E     7     5     2     0     12     2     +10     17
# 10 - 26      Italy     F     3     0     2     1     4     5     −1     2
# 14 - 22      Italy     D     3     1     0     2     3     2     3     −1

In [ ]:
# 86 - 20      South Korea     A     3     0     1     2     4     7     −3     1
# 90 - 22     E      South Korea     3     0     0     3     1     6     −5     0
# 94 - 20      South Korea     C     3     0     2     1     4     5     −1     2
# 98 - 30      South Korea     E     3     0     1     2     2     9     −7     1
# 02 - 4     D      South Korea     7     3     2     2     8     6     +2     11     4th
# 06 - 17      South Korea     G     3     1     1     1     3     4     −1     4
# 10 - 15      South Korea     B     4     1     1     2     6     8     −2     4
# 14 - 27      South Korea     H     3     0     1     2     1     3     6     −3
# 18 - 19      South Korea     F     3     1     0     2     3     3     3     0

In [ ]:
['South Korea', 'Nigeria','Colombia','Paraguay',
             'Sweden','Russia','Scotland','Algeria','Chile','Greece',
             'Honduras','Austria','Bulgaria','USSR','Ivory Coast',               
             'Romania','Yugoslavia','South Africa','Rep of Ireland',
             'Czechoslovakia','Hungary','Egypt','Slovenia','Norway',                     
             'Northern Ireland','Peru','New Zealand','Bosnia and Herzegovina',     
             'Panama','Slovakia','Iraq','China PR','Jamaica','Turkey',                     
             'Ukraine','Bolivia','Trinidad and Tobago','Togo','Czech Republic',             
             'Angola','United Arab Emirates','Iceland','El Salvador','Kuwait','North Korea']