In [1]:
import pandas as pd

In [2]:
# player_data = pd.read_csv('basicplayerdata.csv')
player_data = pd.read_csv('work.csv')

In [3]:
player_data.head()

,ID,Name,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special
0,215223,W. Benítez,https://cdn.sofifa.net/players/215/223/22_60.png,NaN,Argentina,80,82,OGC Nice,https://cdn.sofifa.net/teams/72/30.png,€18M,€32K,1281
1,230767,Renato Sanches,https://cdn.sofifa.net/players/230/767/22_60.png,NaN,Portugal,80,86,LOSC Lille,https://cdn.sofifa.net/teams/65/30.png,€33M,€38K,2218
2,225713,J. Augustin,https://cdn.sofifa.net/players/225/713/22_60.png,NaN,France,65,68,FC Nantes,https://cdn.sofifa.net/teams/71/30.png,€1M,€6K,1593
3,255253,Vitinha,https://cdn.sofifa.net/players/255/253/22_60.png,NaN,Portugal,78,88,FC Porto,https://cdn.sofifa.net/teams/236/30.png,€31.5M,€12K,1999
4,256197,P. Hincapié,https://cdn.sofifa.net/players/256/197/22_60.png,NaN,Ecuador,76,84,Bayer 04 Leverkusen,https://cdn.sofifa.net/teams/32/30.png,€15M,€21K,1817

In [4]:
player_data.drop(['Nationality'], axis=1, inplace=True)

In [5]:
df = player_data.rename(columns={'Flag': 'Nationality'})

In [6]:
df.head()

,ID,Name,Photo,Nationality,Overall,Potential,Club,Club Logo,Value,Wage,Special
0,215223,W. Benítez,https://cdn.sofifa.net/players/215/223/22_60.png,Argentina,80,82,OGC Nice,https://cdn.sofifa.net/teams/72/30.png,€18M,€32K,1281
1,230767,Renato Sanches,https://cdn.sofifa.net/players/230/767/22_60.png,Portugal,80,86,LOSC Lille,https://cdn.sofifa.net/teams/65/30.png,€33M,€38K,2218
2,225713,J. Augustin,https://cdn.sofifa.net/players/225/713/22_60.png,France,65,68,FC Nantes,https://cdn.sofifa.net/teams/71/30.png,€1M,€6K,1593
3,255253,Vitinha,https://cdn.sofifa.net/players/255/253/22_60.png,Portugal,78,88,FC Porto,https://cdn.sofifa.net/teams/236/30.png,€31.5M,€12K,1999
4,256197,P. Hincapié,https://cdn.sofifa.net/players/256/197/22_60.png,Ecuador,76,84,Bayer 04 Leverkusen,https://cdn.sofifa.net/teams/32/30.png,€15M,€21K,1817

In [7]:
df.shape

(13500, 11)

In [8]:
13500*11

148500

In [9]:
print(df['Nationality'].value_counts())

England              1232
Spain                 779
Germany               736
Argentina             670
France                626
                     ...
Philippines             1
Malawi                  1
Libya                   1
Brunei Darussalam       1
Kazakhstan              1
Name: Nationality, Length: 151, dtype: int64

In [17]:
england = df[df["Nationality"] == "England"]

In [19]:
germany = df[df["Nationality"] == "Germany"]

In [21]:
spain = df[df["Nationality"] == "Spain"]

In [22]:
france = df[df["Nationality"] == "France"]

In [23]:
argentina = df[df["Nationality"] == "Argentina"]

In [24]:
brazil = df[df["Nationality"] == "Brazil"]

In [28]:
swiss = df[df["Nationality"] == "Switzerland"]

In [29]:
usa = df[df["Nationality"] == "USA"]

In [30]:
netherlands = df[df["Nationality"] == "Netherlands"]

In [31]:
senegal = df[df["Nationality"] == "senegal"]

In [32]:
ecuador = df[df["Nationality"] == "Ecuador"]

In [33]:
wales = df[df["Nationality"] == "Wales"]

In [34]:
iran = df[df["Nationality"] == "Iran"]

In [35]:
poland = df[df["Nationality"] == "Poland"]

In [36]:
mexico = df[df["Nationality"] == "Mexico"]

In [37]:
saudi_arabia = df[df["Nationality"] == "Saudi Arabia"]

In [38]:
denmark = df[df["Nationality"] == "Denmark"]

In [39]:
tunisia = df[df["Nationality"] == "Tunisia"]

In [40]:
australia = df[df["Nationality"] == "Australia"]

In [41]:
japan = df[df["Nationality"] == "Japan"]

In [42]:
costa_rica = df[df["Nationality"] == "Costa Rica"]

In [43]:
belgium = df[df["Nationality"] == "Belgium"]

In [45]:
croatia = df[df["Nationality"] == "Croatia"]

In [44]:
canada = df[df["Nationality"] == "Canada"]

In [46]:
morocco = df[df["Nationality"] == "Morocco"]

In [47]:
serbia = df[df["Nationality"] == "Serbia"]

In [48]:
cameroon = df[df["Nationality"] == "Cameroon"]

In [49]:
portugal = df[df["Nationality"] == "Portugal"]

In [50]:
uruguay = df[df["Nationality"] == "Uruguay"]

In [52]:
ghana = df[df["Nationality"] == "Ghana"]

In [51]:
korea_republic = df[df["Nationality"] == "Korea Republic"]

In [55]:
teams = [netherlands, senegal, ecuador, england, usa, wales, iran, 
         argentina, poland, mexico, saudi_arabia, france, denmark, tunisia, 
         australia, germany, spain, japan, costa_rica, belgium, croatia, 
         canada, morocco, brazil, swiss, serbia, cameroon, portugal, 
         uruguay, ghana, korea_republic]

In [56]:
wc_teams = pd.concat(teams)

In [59]:
wc_teams

,ID,Name,Photo,Nationality,Overall,Potential,Club,Club Logo,Value,Wage,Special
12,238041,T. Malacia,https://cdn.sofifa.net/players/238/041/22_60.png,Netherlands,79,85,Feyenoord,https://cdn.sofifa.net/teams/246/30.png,€26.5M,€10K,2003
27,246104,R. Gravenberch,https://cdn.sofifa.net/players/246/104/22_60.png,Netherlands,78,90,Ajax,https://cdn.sofifa.net/teams/245/30.png,€33M,€11K,2085
35,251805,J. Timber,https://cdn.sofifa.net/players/251/805/22_60.png,Netherlands,79,88,Ajax,https://cdn.sofifa.net/teams/245/30.png,€36M,€13K,1935
40,239380,N. Lang,https://cdn.sofifa.net/players/239/380/22_60.png,Netherlands,78,85,Club Brugge KV,https://cdn.sofifa.net/teams/231/30.png,€28.5M,€27K,2012
53,228702,F. de Jong,https://cdn.sofifa.net/players/228/702/22_60.png,Netherlands,87,92,FC Barcelona,https://cdn.sofifa.net/teams/241/30.png,€119.5M,€210K,2234
...,...,...,...,...,...,...,...,...,...,...,...
13492,251159,20 Lee Kyu Hyuk,https://cdn.sofifa.net/players/251/159/20_60.png,Korea Republic,51,59,Jeju United FC,https://cdn.sofifa.net/teams/1478/30.png,€50K,€700,1320
13493,251161,21 Choi Jun,https://cdn.sofifa.net/players/251/161/21_60.png,Korea Republic,61,72,Busan IPark,https://cdn.sofifa.net/teams/1476/30.png,€700K,€900,1600
13494,251162,21 Kim Ju Sung,https://cdn.sofifa.net/players/251/162/21_60.png,Korea Republic,58,73,Sangju Sangmu FC,https://cdn.sofifa.net/teams/2055/30.png,€450K,€900,1368
13495,251163,21 Lee Sang Jun,https://cdn.sofifa.net/players/251/163/21_60.png,Korea Republic,56,64,Busan IPark,https://cdn.sofifa.net/teams/1476/30.png,€300K,€800,1365
13496,251164,21 K. Harr,https://cdn.sofifa.net/players/251/164/21_60.png,Korea Republic,57,70,FC Erzgebirge Aue,https://cdn.sofifa.net/teams/506/30.png,€350K,€800,999

In [61]:
wc = wc_teams.drop(['Photo', 'Club Logo', 'Club'], axis=1)

In [62]:
wc

,ID,Name,Nationality,Overall,Potential,Value,Wage,Special
12,238041,T. Malacia,Netherlands,79,85,€26.5M,€10K,2003
27,246104,R. Gravenberch,Netherlands,78,90,€33M,€11K,2085
35,251805,J. Timber,Netherlands,79,88,€36M,€13K,1935
40,239380,N. Lang,Netherlands,78,85,€28.5M,€27K,2012
53,228702,F. de Jong,Netherlands,87,92,€119.5M,€210K,2234
...,...,...,...,...,...,...,...,...
13492,251159,20 Lee Kyu Hyuk,Korea Republic,51,59,€50K,€700,1320
13493,251161,21 Choi Jun,Korea Republic,61,72,€700K,€900,1600
13494,251162,21 Kim Ju Sung,Korea Republic,58,73,€450K,€900,1368
13495,251163,21 Lee Sang Jun,Korea Republic,56,64,€300K,€800,1365
13496,251164,21 K. Harr,Korea Republic,57,70,€350K,€800,999

Teams:
* Group A:
    - Qatar
    - Netherlands
    - Senegal
    - Ecuador
    
* Group B:
    - England
    - USA
    - Wales
    - Iran
    
* Group C:
    - Argentina
    - Poland
    - Mexico
    - Saudi Arabia
    
* Group D:
    - France
    - Denmark
    - Tunisia
    - Australia
    
* Group E:
    - Germany
    - Spain
    - Canada
    - Morocco
    
* Group F:
    - Belgium
    - Croatia
    - Canada
    - Morocoo
    
* Group G
    - Brazil
    - Switzerland
    - Serbia
    - Cameroon
    
* Group H:
    - Portugal
    - Uruguay
    - Ghana
    - Korea Republic