In [18]:
import pandas as pd
import numpy as np

In [19]:
arg = pd.read_csv('Argentina.csv')

In [20]:
arg.head()

,Player,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,...,xG,npxG,xAG,npxG+xAG,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Matches
0,Rodrigo De Paul,3.0,3.0,270.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.6,0.6,0.0,0.7,0.21,0.01,0.23,0.21,0.23,Matches
1,Emiliano Martínez,3.0,3.0,270.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches
2,Lionel Messi,3.0,3.0,270.0,3.0,2.0,1.0,1.0,1.0,2.0,...,2.4,0.8,0.7,1.5,0.79,0.24,1.03,0.27,0.51,Matches
3,Nicolás Otamendi,3.0,3.0,270.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.1,0.2,0.01,0.04,0.05,0.01,0.05,Matches
4,Ángel Di María,3.0,3.0,216.0,2.4,0.0,1.0,0.0,0.0,0.0,...,0.1,0.1,0.4,0.5,0.06,0.16,0.22,0.06,0.22,Matches

In [21]:
arg = arg.drop(columns=['Matches'])

In [22]:
arg

,Player,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,...,G+A-PK,xG,npxG,xAG,npxG+xAG,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Rodrigo De Paul,3.0,3.0,270.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.6,0.6,0.0,0.7,0.21,0.01,0.23,0.21,0.23
1,Emiliano Martínez,3.0,3.0,270.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
2,Lionel Messi,3.0,3.0,270.0,3.0,2.0,1.0,1.0,1.0,2.0,...,0.67,2.4,0.8,0.7,1.5,0.79,0.24,1.03,0.27,0.51
3,Nicolás Otamendi,3.0,3.0,270.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.1,0.2,0.01,0.04,0.05,0.01,0.05
4,Ángel Di María,3.0,3.0,216.0,2.4,0.0,1.0,0.0,0.0,0.0,...,0.42,0.1,0.1,0.4,0.5,0.06,0.16,0.22,0.06,0.22
5,Nahuel Molina,3.0,2.0,208.0,2.3,0.0,1.0,0.0,0.0,0.0,...,0.43,0.1,0.1,0.3,0.4,0.04,0.13,0.17,0.04,0.17
6,Cristian Romero,3.0,2.0,170.0,1.9,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
7,Marcos Acuña,3.0,2.0,168.0,1.9,0.0,0.0,0.0,0.0,0.0,...,0.00,0.1,0.1,0.1,0.2,0.05,0.07,0.12,0.05,0.12
8,Lautaro Martínez,3.0,2.0,164.0,1.8,0.0,0.0,0.0,0.0,0.0,...,0.00,0.4,0.4,0.0,0.4,0.23,0.00,0.23,0.23,0.23
9,Alexis Mac Allister,2.0,2.0,151.0,1.7,1.0,0.0,1.0,0.0,0.0,...,0.60,0.3,0.3,0.3,0.6,0.19,0.19,0.38,0.19,0.38
10,Enzo Fernández,3.0,1.0,144.0,1.6,1.0,1.0,1.0,0.0,0.0,...,1.25,0.1,0.1,0.4,0.5,0.06,0.22,0.28,0.06,0.28
11,Julián Álvarez,3.0,1.0,138.0,1.5,1.0,0.0,1.0,0.0,0.0,...,0.65,1.0,1.0,0.0,1.0,0.65,0.00,0.65,0.65,0.65
12,Lisandro Martínez,2.0,1.0,122.0,1.4,0.0,0.0,0.0,0.0,0.0,...,0.00,0.1,0.1,0.7,0.8,0.09,0.53,0.62,0.09,0.62
13,Nicolás Tagliafico,2.0,1.0,102.0,1.1,0.0,0.0,0.0,0.0,0.0,...,0.00,1.0,1.0,0.2,1.1,0.85,0.14,0.99,0.85,0.99
14,Leandro Paredes,2.0,1.0,90.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.00,0.02,0.02,0.00,0.02
15,Gonzalo Montiel,1.0,1.0,62.0,0.7,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
16,Papu Gómez,1.0,1.0,58.0,0.6,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.03,0.00,0.03,0.03,0.03
17,Guido Rodríguez,1.0,1.0,56.0,0.6,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
18,Exequiel Palacios,1.0,0.0,22.0,0.2,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
19,Germán Pezzella,1.0,0.0,12.0,0.1,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
20,Thiago Almada,1.0,0.0,7.0,0.1,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.2,0.2,0.00,3.16,3.16,0.00,3.16
21,Squad Total,3.0,33.0,270.0,3.0,5.0,4.0,4.0,1.0,2.0,...,2.67,6.0,4.6,3.4,8.0,1.99,1.14,3.13,1.53,2.67
22,Opponent Total,3.0,33.0,270.0,3.0,2.0,1.0,2.0,0.0,0.0,...,1.00,0.7,0.7,0.6,1.3,0.25,0.20,0.44,0.25,0.44
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
new_arg = arg.iloc [21:23]

In [24]:
new_arg

,Player,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,...,G+A-PK,xG,npxG,xAG,npxG+xAG,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
21,Squad Total,3.0,33.0,270.0,3.0,5.0,4.0,4.0,1.0,2.0,...,2.67,6.0,4.6,3.4,8.0,1.99,1.14,3.13,1.53,2.67
22,Opponent Total,3.0,33.0,270.0,3.0,2.0,1.0,2.0,0.0,0.0,...,1.00,0.7,0.7,0.6,1.3,0.25,0.20,0.44,0.25,0.44

In [27]:
new_arg = new_arg.set_index(['Player'])

In [29]:
df = new_arg.copy()

In [30]:
df.head()

,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,...,G+A-PK,xG,npxG,xAG,npxG+xAG,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
Player,,,,,,,,,,,,,,,,,,,,,
Squad Total,3.0,33.0,270.0,3.0,5.0,4.0,4.0,1.0,2.0,2.0,...,2.67,6.0,4.6,3.4,8.0,1.99,1.14,3.13,1.53,2.67
Opponent Total,3.0,33.0,270.0,3.0,2.0,1.0,2.0,0.0,0.0,11.0,...,1.00,0.7,0.7,0.6,1.3,0.25,0.20,0.44,0.25,0.44

In [33]:
df = df.transpose()

In [34]:
df.head()

Player  Squad Total  Opponent Total
MP              3.0             3.0
Starts         33.0            33.0
Min           270.0           270.0
90s             3.0             3.0
Gls             5.0             2.0

In [38]:
df

Player      Squad Total  Opponent Total
MP                 3.00            3.00
Starts            33.00           33.00
Min              270.00          270.00
90s                3.00            3.00
Gls                5.00            2.00
Ast                4.00            1.00
G-PK               4.00            2.00
PK                 1.00            0.00
PKatt              2.00            0.00
CrdY               2.00           11.00
CrdR               0.00            0.00
Gls.1              1.67            0.67
Ast.1              1.33            0.33
G+A                3.00            1.00
G-PK.1             1.33            0.67
G+A-PK             2.67            1.00
xG                 6.00            0.70
npxG               4.60            0.70
xAG                3.40            0.60
npxG+xAG           8.00            1.30
xG.1               1.99            0.25
xAG.1              1.14            0.20
xG+xAG             3.13            0.44
npxG.1             1.53            0.25
npxG+xAG.1         2.67            0.44

In [40]:
df['argentina'] = df['Squad Total']

In [41]:
df['argentina_opp'] = df['Opponent Total']

In [43]:
df = df.drop(columns=['Squad Total', 'Opponent Total'])

In [47]:
arg = df.transpose()

In [48]:
arg

,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,...,G+A-PK,xG,npxG,xAG,npxG+xAG,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
Player,,,,,,,,,,,,,,,,,,,,,
argentina,3.0,33.0,270.0,3.0,5.0,4.0,4.0,1.0,2.0,2.0,...,2.67,6.0,4.6,3.4,8.0,1.99,1.14,3.13,1.53,2.67
argentina_opp,3.0,33.0,270.0,3.0,2.0,1.0,2.0,0.0,0.0,11.0,...,1.00,0.7,0.7,0.6,1.3,0.25,0.20,0.44,0.25,0.44

In [49]:
# arg.to_csv('arg.csv')

In [52]:
ddf = pd.read_csv('arg.csv')

In [53]:
ddf

,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,...,G+A-PK,xG,npxG,xAG,npxG+xAG,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,3.0,33.0,270.0,3.0,5.0,4.0,4.0,1.0,2.0,2.0,...,2.67,6.0,4.6,3.4,8.0,1.99,1.14,3.13,1.53,2.67
1,3.0,33.0,270.0,3.0,2.0,1.0,2.0,0.0,0.0,11.0,...,1.00,0.7,0.7,0.6,1.3,0.25,0.20,0.44,0.25,0.44