In [7]:
import pandas as pd
import numpy as np
from IPython.display import display

In [8]:
df = pd.read_csv('cfb_with_teams.csv')

In [13]:
df['date_time']= pd.to_datetime(df['date_time'])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Wk            485 non-null    int64
 1   Pts           485 non-null    float64
 2   Pts.1         485 non-null    float64
 3   home_results  485 non-null    int64
 4   loser_rank    485 non-null    int64
 5   winner_rank   485 non-null    int64
 6   winner        485 non-null    object
 7   loser         485 non-null    object
 8   date_time     485 non-null    datetime64[ns]
 9   win_new       485 non-null    int64
 10  lose_new      485 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(2)
memory usage: 41.8+ KB

In [16]:
print(df.date_time.min())

2022-08-27 10:00:00

In [17]:
print(df.date_time.max())

2022-10-15 21:00:00

In [19]:
import datetime as dt
enco = df['date_time'].map(dt.datetime.toordinal)

In [21]:
enco.nunique()

25

In [22]:
df['enco'] = enco

In [24]:
df = df.drop(columns=['winner', 'loser'])

In [26]:
df = df.drop(columns=['date_time'])

In [27]:
df

,Wk,Pts,Pts.1,home_results,loser_rank,winner_rank,win_new,lose_new,enco
0,1,43.0,13.0,0,99,99,61,62,738394
1,1,47.0,7.0,0,99,99,63,71,738394
2,1,38.0,6.0,0,99,99,72,222,738394
3,1,23.0,12.0,1,99,99,103,141,738394
4,1,52.0,21.0,0,99,99,104,96,738394
...,...,...,...,...,...,...,...,...,...
480,8,45.0,31.0,1,99,99,147,177,738443
481,8,43.0,42.0,0,7,20,25,181,738443
482,8,17.0,13.0,1,99,99,150,68,738443
483,8,49.0,39.0,0,99,99,154,36,738443
484,8,35.0,17.0,1,99,99,158,127,738443

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import ElasticNet
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression

In [30]:
from sklearn.linear_model import TheilSenRegressor

In [31]:
df

,Wk,Pts,Pts.1,home_results,loser_rank,winner_rank,win_new,lose_new,enco
0,1,43.0,13.0,0,99,99,61,62,738394
1,1,47.0,7.0,0,99,99,63,71,738394
2,1,38.0,6.0,0,99,99,72,222,738394
3,1,23.0,12.0,1,99,99,103,141,738394
4,1,52.0,21.0,0,99,99,104,96,738394
...,...,...,...,...,...,...,...,...,...
480,8,45.0,31.0,1,99,99,147,177,738443
481,8,43.0,42.0,0,7,20,25,181,738443
482,8,17.0,13.0,1,99,99,150,68,738443
483,8,49.0,39.0,0,99,99,154,36,738443
484,8,35.0,17.0,1,99,99,158,127,738443

In [32]:
y = df['home_results']
X = df.drop(columns=['home_results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.10, random_state=2)

In [33]:
reg = TheilSenRegressor(max_subpopulation=1000, n_subsamples=200)

In [34]:
reg.fit(X_train, y_train)

TheilSenRegressor(max_subpopulation=1000, n_subsamples=200)

In [35]:
pred_test= reg.predict(X_test)

In [36]:
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test,pred_test)))) 
print('R2 : '+str(r2_score(y_test, pred_test)))
print('MSE: '+str(mean_squared_error(y_test, pred_test)))
print('MAE: '+str(mean_absolute_error(y_test, pred_test)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, pred_test)))

RMSE : 0.4224094992552437
R2 : 0.12569405320077787
MSE: 0.17842978506106572
MAE: 0.3895029934354504
MAPE: 999988862540653.9

In [37]:
data = {'y_test': y_test, 'y_pred': pred_test}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)
new_df

     y_test    y_pred      diff
217       0  0.121594  0.121594
134       0  0.143073  0.143073
230       0  0.150930  0.150930
228       0  0.162944  0.162944
103       0  0.181370  0.181370
321       0  0.184343  0.184343
18        0  0.191887  0.191887
203       0  0.198511  0.198511
89        0  0.220517  0.220517
66        0  0.233240  0.233240
161       0  0.234484  0.234484
236       0  0.247239  0.247239
109       0  0.256759  0.256759
429       0  0.262604  0.262604
129       0  0.270659  0.270659
340       0  0.279913  0.279913
20        0  0.296899  0.296899
165       0  0.308134  0.308134
65        0  0.320383  0.320383
152       0  0.338622  0.338622
425       0  0.341883  0.341883
173       0  0.344291  0.344291
84        0  0.381319  0.381319
464       0  0.384424  0.384424
150       0  0.392408  0.392408
180       0  0.397715  0.397715
462       0  0.408919  0.408919
294       0  0.424521  0.424521
476       0  0.431575  0.431575
170       1  0.568409  0.431591
160       1  0.563855  0.436145
178       0  0.438144  0.438144
198       0  0.448023  0.448023
192       0  0.462214  0.462214
422       0  0.468156  0.468156
421       1  0.527172  0.472828
393       0  0.473648  0.473648
172       1  0.525222  0.474778
267       0  0.478722  0.478722
225       1  0.439121  0.560879
285       1  0.433661  0.566339
336       1  0.424932  0.575068
369       1  0.422766  0.577234
282       1  0.402008  0.597992
335       1  0.361381  0.638619
403       1  0.295977  0.704023
436       1  0.284595  0.715405
387       1  0.283179  0.716821
77        1  0.262140  0.737860