### Objective

get top 14 players from each country in world cup

go from there ...?

In [1]:
import pandas as pd
import numpy as np

In [2]:
# player_data = pd.read_csv('basicplayerdata.csv')
player_data = pd.read_csv('work.csv')

In [3]:
player_data.head()

,ID,Name,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special
0,215223,W. Benítez,https://cdn.sofifa.net/players/215/223/22_60.png,NaN,Argentina,80,82,OGC Nice,https://cdn.sofifa.net/teams/72/30.png,€18M,€32K,1281
1,230767,Renato Sanches,https://cdn.sofifa.net/players/230/767/22_60.png,NaN,Portugal,80,86,LOSC Lille,https://cdn.sofifa.net/teams/65/30.png,€33M,€38K,2218
2,225713,J. Augustin,https://cdn.sofifa.net/players/225/713/22_60.png,NaN,France,65,68,FC Nantes,https://cdn.sofifa.net/teams/71/30.png,€1M,€6K,1593
3,255253,Vitinha,https://cdn.sofifa.net/players/255/253/22_60.png,NaN,Portugal,78,88,FC Porto,https://cdn.sofifa.net/teams/236/30.png,€31.5M,€12K,1999
4,256197,P. Hincapié,https://cdn.sofifa.net/players/256/197/22_60.png,NaN,Ecuador,76,84,Bayer 04 Leverkusen,https://cdn.sofifa.net/teams/32/30.png,€15M,€21K,1817

In [4]:
player_data.drop(['Nationality'], axis=1, inplace=True)

In [5]:
df = player_data.rename(columns={'Flag': 'Nationality'})

In [6]:
df.head()

,ID,Name,Photo,Nationality,Overall,Potential,Club,Club Logo,Value,Wage,Special
0,215223,W. Benítez,https://cdn.sofifa.net/players/215/223/22_60.png,Argentina,80,82,OGC Nice,https://cdn.sofifa.net/teams/72/30.png,€18M,€32K,1281
1,230767,Renato Sanches,https://cdn.sofifa.net/players/230/767/22_60.png,Portugal,80,86,LOSC Lille,https://cdn.sofifa.net/teams/65/30.png,€33M,€38K,2218
2,225713,J. Augustin,https://cdn.sofifa.net/players/225/713/22_60.png,France,65,68,FC Nantes,https://cdn.sofifa.net/teams/71/30.png,€1M,€6K,1593
3,255253,Vitinha,https://cdn.sofifa.net/players/255/253/22_60.png,Portugal,78,88,FC Porto,https://cdn.sofifa.net/teams/236/30.png,€31.5M,€12K,1999
4,256197,P. Hincapié,https://cdn.sofifa.net/players/256/197/22_60.png,Ecuador,76,84,Bayer 04 Leverkusen,https://cdn.sofifa.net/teams/32/30.png,€15M,€21K,1817

In [7]:
df.shape

(13500, 11)

In [8]:
13500*11

148500

In [9]:
print(df['Nationality'].value_counts())

England              1232
Spain                 779
Germany               736
Argentina             670
France                626
                     ...
Philippines             1
Malawi                  1
Libya                   1
Brunei Darussalam       1
Kazakhstan              1
Name: Nationality, Length: 151, dtype: int64

In [10]:
df = df.drop(['Photo', 'Club Logo', 'Club', 'ID', 'Wage'], axis=1)

## Separate df by nationality

In [11]:
england = df[df["Nationality"] == "England"]

In [12]:
germany = df[df["Nationality"] == "Germany"]

In [13]:
spain = df[df["Nationality"] == "Spain"]

In [14]:
france = df[df["Nationality"] == "France"]

In [15]:
argentina = df[df["Nationality"] == "Argentina"]

In [16]:
brazil = df[df["Nationality"] == "Brazil"]

In [17]:
swiss = df[df["Nationality"] == "Switzerland"]

In [18]:
usa = df[df["Nationality"] == "USA"]

In [19]:
netherlands = df[df["Nationality"] == "Netherlands"]

In [20]:
senegal = df[df["Nationality"] == "Senegal"]

In [21]:
ecuador = df[df["Nationality"] == "Ecuador"]

In [22]:
wales = df[df["Nationality"] == "Wales"]

In [23]:
iran = df[df["Nationality"] == "Iran"]

In [24]:
poland = df[df["Nationality"] == "Poland"]

In [25]:
mexico = df[df["Nationality"] == "Mexico"]

In [26]:
saudi_arabia = df[df["Nationality"] == "Saudi Arabia"]

In [27]:
denmark = df[df["Nationality"] == "Denmark"]

In [28]:
tunisia = df[df["Nationality"] == "Tunisia"]

In [29]:
australia = df[df["Nationality"] == "Australia"]

In [30]:
japan = df[df["Nationality"] == "Japan"]

In [31]:
costa_rica = df[df["Nationality"] == "Costa Rica"]

In [32]:
belgium = df[df["Nationality"] == "Belgium"]

In [33]:
croatia = df[df["Nationality"] == "Croatia"]

In [34]:
canada = df[df["Nationality"] == "Canada"]

In [35]:
morocco = df[df["Nationality"] == "Morocco"]

In [36]:
serbia = df[df["Nationality"] == "Serbia"]

In [37]:
cameroon = df[df["Nationality"] == "Cameroon"]

In [38]:
portugal = df[df["Nationality"] == "Portugal"]

In [39]:
uruguay = df[df["Nationality"] == "Uruguay"]

In [40]:
ghana = df[df["Nationality"] == "Ghana"]

In [41]:
korea_republic = df[df["Nationality"] == "Korea Republic"]

In [42]:
qatar = df[df["Nationality"] == "Qatar"]

## Separate into top 14 players overall by nationality

In [43]:
portugal = portugal.sort_values(by=['Overall'], ascending=False)
portugal = portugal.iloc[:14]

In [44]:
uruguay = uruguay.sort_values(by=['Overall'], ascending=False)
uruguay = uruguay.iloc[:14]

In [45]:
ghana = ghana.sort_values(by=['Overall'], ascending=False)
ghana = ghana.iloc[:14]

In [46]:
korea_republic = korea_republic.sort_values(by=['Overall'], ascending=False)
korea_republic = korea_republic.iloc[:14]

In [47]:
qatar = qatar.sort_values(by=['Overall'], ascending=False)
qatar = qatar.iloc[:14]

In [48]:
japan = japan.sort_values(by=['Overall'], ascending=False)
japan = japan.iloc[:14]

In [49]:
costa_rica = costa_rica.sort_values(by=['Overall'], ascending=False)
costa_rica = costa_rica.iloc[:14]

In [50]:
belgium = belgium.sort_values(by=['Overall'], ascending=False)
belgium = belgium.iloc[:14]

In [51]:
croatia = croatia.sort_values(by=['Overall'], ascending=False)
croatia = croatia.iloc[:14]

In [52]:
canada = canada.sort_values(by=['Overall'], ascending=False)
canada = canada.iloc[:14]

In [53]:
morocco = morocco.sort_values(by=['Overall'], ascending=False)
morocco = morocco.iloc[:14]

In [54]:
cameroon = cameroon.sort_values(by=['Overall'], ascending=False)
cameroon = cameroon.iloc[:14]

In [55]:
england = england.sort_values(by=['Overall'], ascending=False)
england = england.iloc[:14]

In [56]:
serbia = serbia.sort_values(by=['Overall'], ascending=False)
serbia = serbia.iloc[:14]

In [57]:
germany = germany.sort_values(by=['Overall'], ascending=False)
germany = germany.iloc[:14]

In [58]:
spain = spain.sort_values(by=['Overall'], ascending=False)
spain = spain.iloc[:14]

In [59]:
france = france.sort_values(by=['Overall'], ascending=False)
france = france.iloc[:14]

In [60]:
argentina = argentina.sort_values(by=['Overall'], ascending=False)
argentina = argentina.iloc[:14]

In [61]:
brazil = brazil.sort_values(by=['Overall'], ascending=False)
brazil = brazil.iloc[:14]

In [62]:
swiss = swiss.sort_values(by=['Overall'], ascending=False)
swiss = swiss.iloc[:14]

In [63]:
usa = usa.sort_values(by=['Overall'], ascending=False)
usa = usa.iloc[:14]

In [64]:
netherlands = netherlands.sort_values(by=['Overall'], ascending=False)
netherlands = netherlands.iloc[:14]

In [65]:
senegal = senegal.sort_values(by=['Overall'], ascending=False)
senegal = senegal.iloc[:14]

In [66]:
ecuador = ecuador.sort_values(by=['Overall'], ascending=False)
ecuador = ecuador.iloc[:14]

In [67]:
wales = wales.sort_values(by=['Overall'], ascending=False)
wales = wales.iloc[:14]

In [68]:
iran = iran.sort_values(by=['Overall'], ascending=False)
iran = iran.iloc[:14]

In [69]:
poland = poland.sort_values(by=['Overall'], ascending=False)
poland = poland.iloc[:14]

In [70]:
mexico = mexico.sort_values(by=['Overall'], ascending=False)
mexico = mexico.iloc[:14]

In [71]:
saudi_arabia = saudi_arabia.sort_values(by=['Overall'], ascending=False)
saudi_arabia = saudi_arabia.iloc[:14]

In [72]:
denmark = denmark.sort_values(by=['Overall'], ascending=False)
denmark = denmark.iloc[:14]

In [73]:
tunisia = tunisia.sort_values(by=['Overall'], ascending=False)
tunisia = tunisia.iloc[:14]

In [74]:
australia = australia.sort_values(by=['Overall'], ascending=False)
australia = australia.iloc[:14]

In [75]:
saudi_arabia

                 Name   Nationality  Overall  Potential  Value  Special
2718    S. Al Dawsari  Saudi Arabia       76         76  €7.5M     1986
5292      S. Al Faraj  Saudi Arabia       75         75  €4.6M     2009
1406   Y. Al Shahrani  Saudi Arabia       73         73  €2.7M     1936
4260    S. Al Ghannam  Saudi Arabia       72         72  €2.3M     1919
4951     A. Al Mayoof  Saudi Arabia       70         70  €275K     1245
4972      M. Al Owais  Saudi Arabia       69         69  €950K     1167
10819     M. Al Harbi  Saudi Arabia       63         72    €1M     1664
3480       N. Boushal  Saudi Arabia       63         74    €1M     1614
4653      K. Al Kaabi  Saudi Arabia       63         63  €475K     1543
13162  K. Al Khathlan  Saudi Arabia       63         65  €550K     1520
4878    A. Al Jadaani  Saudi Arabia       62         62  €275K     1154
9700          I. Omar  Saudi Arabia       61         61  €325K     1574
8096       F. Al Azmi  Saudi Arabia       61         62  €350K     1591
12730   M. Al Dawsari  Saudi Arabia       61         71  €700K     1529

In [76]:
teams = [netherlands, senegal, ecuador, england, usa, wales, iran, 
         argentina, poland, mexico, saudi_arabia, france, denmark, tunisia, 
         australia, germany, spain, japan, costa_rica, belgium, croatia, 
         canada, morocco, brazil, swiss, serbia, cameroon, portugal, 
         uruguay, ghana, korea_republic, qatar]

In [77]:
wc_teams = pd.concat(teams)

In [78]:
wc_teams

                    Name     Nationality  Overall  Potential    Value  Special
143          V. van Dijk     Netherlands       90         90    €100M     2118
53            F. de Jong     Netherlands       87         92  €119.5M     2234
368             M. Depay     Netherlands       85         85   €58.5M     2088
96            M. de Ligt     Netherlands       85         89     €71M     1984
5489  09 M. van der Poel     Netherlands       85         92       €0     1720
...                  ...             ...      ...        ...      ...      ...
5626      Lee Chung Yong  Korea Republic       71         71    €1.5M     1831
1603          Won Du Jae  Korea Republic       70         74    €2.1M     1683
3924        Lee Dong Jun  Korea Republic       70         73    €2.2M     1758
4125      Jeong Tae Wook  Korea Republic       69         76    €2.6M     1466
4690         Kim Min Woo  Korea Republic       69         69    €1.1M     1931

[412 rows x 6 columns]

In [79]:
wc

NameError: name 'wc' is not defined

In [ ]:
32*23
# 32 teams x 23 players

In [ ]:
teams2022 = wc['Nationality']

In [ ]:
teams2022

Teams:
* Group A:
    - Qatar
    - Netherlands
    - Senegal
    - Ecuador
    
* Group B:
    - England
    - USA
    - Wales
    - Iran
    
* Group C:
    - Argentina
    - Poland
    - Mexico
    - Saudi Arabia
    
* Group D:
    - France
    - Denmark
    - Tunisia
    - Australia
    
* Group E:
    - Germany
    - Spain
    - Canada
    - Morocco
    
* Group F:
    - Belgium
    - Croatia
    - Canada
    - Morocoo
    
* Group G
    - Brazil
    - Switzerland
    - Serbia
    - Cameroon
    
* Group H:
    - Portugal
    - Uruguay
    - Ghana
    - Korea Republic