In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor

In [9]:
# df = pd.read_csv('encoded_cfb.csv')
df = pd.read_csv('cfb_with_teams.csv')

In [10]:
df

,Wk,Pts,Pts.1,home_results,loser_rank,winner_rank,winner,loser,date_time,win_new,lose_new
0,1,43.0,13.0,0,99,99,Florida Atlantic,Charlotte,2022-08-27 19:00:00,61,62
1,1,47.0,7.0,0,99,99,Florida State,Duquesne,2022-08-27 17:00:00,63,71
2,1,38.0,6.0,0,99,99,Illinois,Wyoming,2022-08-27 16:00:00,72,222
3,1,23.0,12.0,1,99,99,Nevada,New Mexico State,2022-08-27 10:00:00,103,141
4,1,52.0,21.0,0,99,99,Nevada-Las Vegas,Idaho State,2022-08-27 15:30:00,104,96
...,...,...,...,...,...,...,...,...,...,...,...
480,8,45.0,31.0,1,99,99,Tulane,South Florida,2022-10-15 17:30:00,147,177
481,8,43.0,42.0,0,7,20,Utah,Southern California,2022-10-15 15:30:00,25,181
482,8,17.0,13.0,1,99,99,Utah State,Colorado State,2022-10-15 19:30:00,150,68
483,8,49.0,39.0,0,99,99,Washington,Arizona,2022-10-15 19:30:00,154,36
484,8,35.0,17.0,1,99,99,Western Kentucky,Middle Tennessee State,2022-10-15 19:30:00,158,127

In [11]:
df = df.drop(columns=['date_time', 'winner', 'loser'])

In [12]:
y = df['home_results']
X = df.drop(columns=['home_results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.10, random_state=2)

In [13]:
regr_1 = DecisionTreeRegressor(max_depth=4)

regr_2 = AdaBoostRegressor(
    DecisionTreeRegressor(max_depth=5), n_estimators=299, random_state=42
)

In [14]:
regr_1.fit(X_train, y_train)
regr_2.fit(X_train, y_train)

y_1 = regr_1.predict(X_train)
y_2 = regr_2.predict(X_train)

In [15]:
y_pred = regr_2.predict(X_test)

In [16]:
y_preds = []
for i in y_pred:
    y_preds.append(round(i))

In [19]:
y_pred = []
for i in y_preds:
    y_pred.append(round(i))

In [20]:
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))

r2 score: -0.30000000000000027
RMSE : 0.5150787536377128
MSE: 0.2653061224489796
MAE: 0.2653061224489796
MAPE: 91910196476949.14

In [21]:
data = {'y_test': y_test, 'y_pred': y_preds}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - (new_df['y_pred'])).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)
new_df

     y_test  y_pred  diff
464       0       0     0
462       0       0     0
393       0       0     0
152       0       0     0
161       0       0     0
134       0       0     0
89        0       0     0
294       0       0     0
109       0       0     0
65        0       0     0
66        0       0     0
173       0       0     0
236       0       0     0
198       0       0     0
429       0       0     0
129       0       0     0
230       0       0     0
340       0       0     0
20        0       0     0
285       1       1     0
476       0       0     0
267       0       0     0
165       0       0     0
18        0       0     0
217       0       0     0
178       0       0     0
403       1       1     0
84        0       0     0
321       0       0     0
422       0       0     0
228       0       0     0
192       0       0     0
103       0       0     0
203       0       0     0
425       0       0     0
150       0       0     0
77        1       0     1
369       1       0     1
225       1       0     1
160       1       0     1
170       1       0     1
335       1       0     1
172       1       0     1
336       1       0     1
436       1       0     1
387       1       0     1
180       0       1     1
282       1       0     1
421       1       0     1

In [25]:
new_df['y_test'].sum()

14

In [26]:
new_df['y_pred'].sum()

3

In [27]:
new_df.shape

(49, 3)

In [28]:
predz = new_df['y_pred'].reset_index()

464    0
462    0
393    0
152    0
161    0
134    0
89     0
294    0
109    0
65     0
66     0
173    0
236    0
198    0
429    0
129    0
230    0
340    0
20     0
285    1
476    0
267    0
165    0
18     0
217    0
178    0
403    1
84     0
321    0
422    0
228    0
192    0
103    0
203    0
425    0
150    0
77     0
369    0
225    0
160    0
170    0
335    0
172    0
336    0
436    0
387    0
180    1
282    0
421    0
Name: y_pred, dtype: int64

In [29]:
new_df['y_test']

464    0
462    0
393    0
152    0
161    0
134    0
89     0
294    0
109    0
65     0
66     0
173    0
236    0
198    0
429    0
129    0
230    0
340    0
20     0
285    1
476    0
267    0
165    0
18     0
217    0
178    0
403    1
84     0
321    0
422    0
228    0
192    0
103    0
203    0
425    0
150    0
77     1
369    1
225    1
160    1
170    1
335    1
172    1
336    1
436    1
387    1
180    0
282    1
421    1
Name: y_test, dtype: int64