In [86]:
import pandas as pd
import numpy as np

In [87]:
df = pd.read_csv('final_lotto.csv')

In [88]:
df

      first  second  third  fourth  fifth  powerball
0        28      45     53      56     69         10
1         2      11     22      35     60         20
2        13      19     36      39     59         23
3        19      31     40      46     57         13
4        19      36     37      46     56         23
...     ...     ...    ...     ...    ...        ...
2425      1       6     21      33     40          7
2426      9      32     38      41     44         35
2427      7      28     35      40     48         21
2428      5      15     16      28     32         37
2429      9      13     23      36     45         24

[2430 rows x 6 columns]

In [89]:
df['first'].value_counts()

2     178
1     175
5     161
3     158
4     142
6     133
8     123
7     117
9     104
10    103
11     93
14     91
12     85
13     84
16     60
15     59
18     56
19     54
17     47
20     41
21     36
23     35
24     34
22     32
30     19
28     19
27     18
26     18
25     16
32     15
37     14
29     14
31     13
40     11
39      7
33      6
48      6
34      5
35      5
38      5
36      5
52      4
46      4
44      3
49      3
41      3
53      3
47      3
51      2
43      2
50      2
55      2
59      1
42      1
Name: first, dtype: int64

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
2429*.8

1943.2

In [6]:
2429 - 1943

486

In [7]:
# X = df[:1943]
# y = df[1943:]

In [8]:
# X

In [9]:
# y

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2430 entries, 0 to 2429
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   first      2430 non-null   int64
 1   second     2430 non-null   int64
 2   third      2430 non-null   int64
 3   fourth     2430 non-null   int64
 4   fifth      2430 non-null   int64
 5   powerball  2430 non-null   int64
dtypes: int64(6)
memory usage: 114.0 KB

In [13]:
y = df['powerball']
X = df.drop(columns=['powerball'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.05, random_state=2)

In [14]:
from sklearn import linear_model
reg = linear_model.LinearRegression()

In [15]:
reg.fit(X_train, y_train)

LinearRegression()

In [63]:
y_pred = (reg.predict(X_test))

In [64]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor

In [65]:
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test,y_pred)))) 
print('R2 : '+str(r2_score(y_test, y_pred)))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))

RMSE : 10.535091579688478
R2 : 0.07466404090337087
MSE: 110.98815459242309
MAE: 9.026386135848902
MAPE: 1.1771944096685591

In [66]:
data = {'y_test': y_test, 'y_pred': (y_pred)}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)

In [67]:
new_df

      y_test     y_pred       diff
730       15  14.440630   0.559370
2079      17  17.824838   0.824838
101       17  17.881478   0.881478
137       15  16.162505   1.162505
140       15  16.412072   1.412072
...      ...        ...        ...
1560       1  19.838084  18.838084
1303      39  19.769276  19.230724
2421      39  18.607119  20.392881
2167      41  18.145540  22.854460
1874      42  17.295188  24.704812

[122 rows x 3 columns]

In [25]:
df['powerball'].value_counts()

18    87
24    84
20    82
2     80
6     79
14    77
11    76
17    76
5     75
13    73
25    72
15    72
9     72
8     72
19    72
23    71
26    71
10    71
21    70
4     70
1     70
3     66
16    65
22    62
12    61
7     61
29    50
37    46
31    46
33    45
35    44
32    38
30    36
27    36
36    34
34    33
28    32
39    27
38    26
41    20
40    17
42    13
Name: powerball, dtype: int64

In [26]:
df['first'].value_counts()

2     178
1     175
5     161
3     158
4     142
6     133
8     123
7     117
9     104
10    103
11     93
14     91
12     85
13     84
16     60
15     59
18     56
19     54
17     47
20     41
21     36
23     35
24     34
22     32
30     19
28     19
27     18
26     18
25     16
32     15
37     14
29     14
31     13
40     11
39      7
33      6
48      6
34      5
35      5
38      5
36      5
52      4
46      4
44      3
49      3
41      3
53      3
47      3
51      2
43      2
50      2
55      2
59      1
42      1
Name: first, dtype: int64

In [27]:
df['second'].value_counts()

16    93
15    92
10    88
12    88
22    83
20    82
13    82
17    81
14    80
19    80
28    78
21    77
23    76
11    75
9     73
18    72
8     68
7     67
24    67
25    62
26    60
30    60
6     57
32    55
29    50
31    47
27    46
33    45
5     36
36    35
37    33
4     30
34    29
3     28
39    25
35    24
40    21
44    18
38    18
41    15
42    14
43    14
49    12
47    12
45    12
2     12
53     8
54     8
46     8
52     5
51     5
57     4
50     4
55     4
48     3
56     3
1      3
58     2
61     1
Name: second, dtype: int64

In [28]:
df['third'].value_counts()

32    88
26    86
27    85
35    84
34    78
      ..
60     2
64     2
62     2
4      2
1      1
Name: third, Length: 63, dtype: int64

In [29]:
df['fourth'].value_counts()

41    90
39    89
45    89
42    88
46    85
      ..
9      2
3      2
11     2
8      1
5      1
Name: fourth, Length: 68, dtype: int64

In [30]:
df['fifth'].value_counts()

49    108
48    101
50     94
59     90
52     90
     ...
10      1
5       1
6       1
13      1
4       1
Name: fifth, Length: 69, dtype: int64

In [49]:
all_nums = df['first'].astype(str).join(df['second'].astype(str))

AttributeError: 'Series' object has no attribute 'join'

In [74]:
all_nums = pd.DataFrame(pd.concat(
    [df['first'],df['second'],df['third'], df['fourth'],df['fifth']]))

In [82]:
nums_df = pd.DataFrame(all_nums)

In [91]:
num_counts = nums_df.value_counts()

In [94]:
num_counts

32    244
41    232
39    230
20    225
16    224
     ...
67     57
68     57
65     54
60     52
66     52
Length: 69, dtype: int64

In [96]:
df['powerball'].value_counts()

18    87
24    84
20    82
2     80
6     79
14    77
11    76
17    76
5     75
13    73
25    72
15    72
9     72
8     72
19    72
23    71
26    71
10    71
21    70
4     70
1     70
3     66
16    65
22    62
12    61
7     61
29    50
37    46
31    46
33    45
35    44
32    38
30    36
27    36
36    34
34    33
28    32
39    27
38    26
41    20
40    17
42    13
Name: powerball, dtype: int64