In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

import matplotlib.pyplot as pyplot
import seaborn as sns

In [3]:
years = [2018, 2014, 2010, 2006, 2002, 1998, 1994, 1990, 1986, 1982]

In [18]:
comparisons = pd.read_csv('../world_cup_comparisons.csv')

In [19]:
# teams_all = ['Italy', 'South Korea', 'Nigeria','Colombia','Paraguay',
#              'Sweden','Russia','Scotland','Algeria','Chile','Greece',
#              'Honduras','Austria','Bulgaria','USSR','Ivory Coast',               
#              'Romania','Yugoslavia','South Africa','Rep of Ireland',
#              'Czechoslovakia','Hungary','Egypt','Slovenia','Norway',                     
#              'Northern Ireland','Peru','New Zealand','Bosnia and Herzegovina',     
#              'Panama','Slovakia','Iraq','China PR','Jamaica','Turkey',                     
#              'Ukraine','Bolivia','Trinidad and Tobago','Togo','Czech Republic',             
#              'Angola','United Arab Emirates','Iceland','El Salvador','Kuwait',
#              'North Korea', 'Mexico']

In [20]:
# comparisons = comparisons.loc[comparisons['team'].isin(teams_all)]

In [21]:
df = comparisons.drop(columns = ['player'])

In [22]:
wc86 = df[df['season'] == 1986]

In [23]:
wc86['team'].value_counts()

Belgium             20
USSR                20
France              20
Scotland            19
Uruguay             18
Bulgaria            18
Spain               18
Hungary             18
West Germany        17
Poland              17
England             17
Iraq                17
South Korea         16
Algeria             16
Argentina           16
Denmark             16
Canada              16
Brazil              16
Portugal            15
Mexico              15
Northern Ireland    14
Italy               14
Paraguay            13
Morocco             13
Name: team, dtype: int64

In [ ]:
sko = ['South Korea']
sko_year = df.loc[df["team"].isin(sko)]
sko_year['season'].value_counts()
# 2018, 2014, 2010, 2006, 02, 98, 94, 90, 86, 82aa

In [ ]:
sko18year = sko_year.loc[sko_year["season"].isin(year2018)]
sko18xg = sko18year.sort_values(by=["goals_z"], ascending=False)
sko18xg13 = sko18xg.head(13)
sko18xg13 = sko18xg13.drop(columns=['season', 'team'])
sko18 = sko18xg13.mean()