In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn import linear_model

In [2]:
# df = pd.read_csv('wc-wo-outliers.csv')
# df2 = pd.read_csv('wc-w-outliers.csv')
df = pd.read_csv('WC-stats.csv')

In [3]:
# df2.shape

In [17]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.10, random_state=2)

In [18]:
# y2 = df2['results']
# X2 = df2.drop(columns=['results'])

# X_train2, X_test2, y_train2, y_test2 = train_test_split(
#      X2, y2, test_size=0.20, random_state=1)

In [19]:
clf = linear_model.ARDRegression()
# clf2 = linear_model.ARDRegression()

In [20]:
clf.fit(X_train, y_train)
# clf2.fit(X_train2, y_train2)

ARDRegression()

In [21]:
pred_train= clf.predict(X_train)
pred_test= clf.predict(X_test)

In [22]:
# pred_train= clf2.predict(X_train2)
# pred_test= clf2.predict(X_test2)

In [24]:
# print('RMSE : '+str(np.sqrt(mean_squared_error(y_test2,pred_test2)))) 
# print('R2 : '+str(r2_score(y_test2, pred_test2)))
# print('MSE: '+str(mean_squared_error(y_test2, pred_test2)))
# print('MAE: '+str(mean_absolute_error(y_test2, pred_test2)))
# print('MAPE: '+str(mean_absolute_percentage_error(y_test2, pred_test2)))

print('---------------------')

# pred_test= clf.predict(X_test)

print('RMSE : '+str(np.sqrt(mean_squared_error(y_test,pred_test)))) 
print('R2 : '+str(r2_score(y_test, pred_test)))
print('MSE: '+str(mean_squared_error(y_test, pred_test)))
print('MAE: '+str(mean_absolute_error(y_test, pred_test)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, pred_test)))

---------------------
RMSE : 5.405358012609792
R2 : 0.6080408223247309
MSE: 29.217895244484875
MAE: 4.010791116242779
MAPE: 0.3222468382077148

In [25]:
data = {'y_test': y_test, 'y_pred': pred_test}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)

In [26]:
new_df

     y_test     y_pred       diff
257      24  24.160677   0.160677
247      20  20.270597   0.270597
217      24  23.545812   0.454188
184      21  20.526044   0.473956
183      19  18.510507   0.489493
144       8   8.618924   0.618924
127      11  11.869629   0.869629
53       18  19.096498   1.096498
35        6   4.489605   1.510395
249      23  21.286789   1.713211
187      13  15.321151   2.321151
3         5   7.657880   2.657880
175      19  15.946173   3.053827
89       13  16.473428   3.473428
147      23  19.323315   3.676685
71       12  15.780865   3.780865
208       5   9.287153   4.287153
166      22  17.693678   4.306322
30        4   8.393076   4.393076
173      15   9.501852   5.498148
64       24  18.428831   5.571169
84       23  16.109914   6.890086
228      29  21.702985   7.297015
126       4  12.161329   8.161329
98       32  23.771942   8.228058
244      31  18.138990  12.861010
10       32  17.823409  14.176591

In [29]:
new_df['diff'].mean()

4.01079111624278

In [30]:
new_df['diff'].median()

3.473427505922057