In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn import linear_model

In [2]:
df = pd.read_csv('hotData.csv')

In [43]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.39, random_state=2)

In [44]:
clf = linear_model.BayesianRidge()

In [45]:
clf.fit(X_train, y_train)
pred_train= clf.predict(X_train)
pred_test= clf.predict(X_test)

In [46]:

print('---------------------')

print('RMSE : '+str(np.sqrt(mean_squared_error(y_test,pred_test)))) 
print('R2 : '+str(r2_score(y_test, pred_test)))
print('MSE: '+str(mean_squared_error(y_test, pred_test)))
print('MAE: '+str(mean_absolute_error(y_test, pred_test)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, pred_test)))

---------------------
RMSE : 6.404100427112742
R2 : 0.43260667813691744
MSE: 41.01250228054561
MAE: 5.168292439034497
MAPE: 0.710537094913655

In [47]:
data = {'y_test': y_test, 'y_pred': pred_test}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)

In [59]:
new_df.iloc[-32:]

     y_test     y_pred       diff
5        25  17.857355   7.142645
115       8  15.159040   7.159040
266      26  18.833604   7.166396
181       1   8.220755   7.220755
94       23  15.634664   7.365336
191      20  12.633462   7.366538
251      28  20.321178   7.678822
175      15   7.273759   7.726241
202       6  13.795812   7.795812
25       30  21.757249   8.242751
142       5  13.262788   8.262788
256      16   7.733552   8.266448
133      22  13.729308   8.270692
157      15   6.436088   8.563912
188       2  10.688290   8.688290
252      28  18.750091   9.249909
113       4  13.288299   9.288299
199      24  14.709166   9.290834
112      28  18.573598   9.426402
131      28  18.334797   9.665203
69       15  24.686755   9.686755
29       11  20.704200   9.704200
54        4  14.259323  10.259323
172       4  15.599894  11.599894
109      31  19.063192  11.936808
23        3  15.308451  12.308451
128      31  18.451144  12.548856
91        2  15.507681  13.507681
182      27  13.017665  13.982335
229      29  15.001753  13.998247
270      23   7.819229  15.180771
3         2  20.513226  18.513226

In [60]:
new_df['diff'].mean()

5.168292439034495

In [61]:
new_df['diff'].median()

4.619157724994774