REview:
- https://github.com/EpistasisLab/pmlb
- https://epistasislab.github.io/pmlb/profile/207_autoPrice.html
- https://seaborn.pydata.org/examples/structured_heatmap.html

## can i take my predictions and add them to the df to be trained again?
- https://scikit-learn.org/stable/auto_examples/ensemble/plot_stack_predictors.html#sphx-glr-auto-examples-ensemble-plot-stack-predictors-py

## Visualize your tree as you are training by using the export function. Use max_depth=3 as an initial tree depth to get a feel for how the tree is fitting to your data, and then increase the depth.

- Consider performing dimensionality reduction (PCA, ICA, or Feature selection) beforehand to give your tree a better chance of finding features that are discriminative.

- Understanding the decision tree structure will help in gaining more insights about how the decision tree makes predictions, which is important for understanding the important features in the data.

- Visualize your tree as you are training by using the export function. Use max_depth=3 as an initial tree depth to get a feel for how the tree is fitting to your data, and then increase the depth.

- Remember that the number of samples required to populate the tree doubles for each additional level the tree grows to. Use max_depth to control the size of the tree to prevent overfitting.

- Use min_samples_split or min_samples_leaf to ensure that multiple samples inform every decision in the tree, by controlling which splits will be considered. A very small number will usually mean the tree will overfit, whereas a large number will prevent the tree from learning the data. Try min_samples_leaf=5 as an initial value. If the sample size varies greatly, a float number can be used as percentage in these two parameters. While min_samples_split can create arbitrarily small leaves, min_samples_leaf guarantees that each leaf has a minimum size, avoiding low-variance, over-fit leaf nodes in regression problems. For classification with few classes, min_samples_leaf=1 is often the best choice.

- Note that min_samples_split considers samples directly and independent of sample_weight, if provided (e.g. a node with m weighted samples is still treated as having exactly m samples). Consider min_weight_fraction_leaf or min_impurity_decrease if accounting for sample weights is required at splits.

- Balance your dataset before training to prevent the tree from being biased toward the classes that are dominant. Class balancing can be done by sampling an equal number of samples from each class, or preferably by normalizing the sum of the sample weights (sample_weight) for each class to the same value. Also note that weight-based pre-pruning criteria, such as min_weight_fraction_leaf, will then be less biased toward dominant classes than criteria that are not aware of the sample weights, like min_samples_leaf.

- If the samples are weighted, it will be easier to optimize the tree structure using weight-based pre-pruning criterion such as min_weight_fraction_leaf, which ensure that leaf nodes contain at least a fraction of the overall sum of the sample weights.

- All decision trees use np.float32 arrays internally. If training data is not in this format, a copy of the dataset will be made.

- If the input matrix X is very sparse, it is recommended to convert to sparse csc_matrix before calling fit and sparse csr_matrix before calling predict. Training time can be orders of magnitude faster for a sparse matrix input compared to a dense matrix when features have zero values in most of the samples.

https://scikit-learn.org/stable/modules/tree.html#tips-on-practical-use

In [66]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [67]:
df = pd.read_csv('hotData.csv')

In [ ]:
# df = pd.read_csv('wc-wo-outliers.csv')

In [ ]:
# df2 = pd.read_csv('wc-w-outliers.csv')

In [68]:
df.head()

,goals,xg,crosses,boxtouches,passes,progpasses,takeons,progruns,tackles,interceptions,...,64,65,66,67,68,69,70,71,72,73
0,0.055385,-0.119231,-0.020769,0.236154,-0.781538,-0.649231,-0.407692,-0.568462,-0.578462,-0.444615,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.243077,0.063846,-0.090769,-0.287692,-0.704615,-0.441538,-0.098462,-0.383077,-0.722308,-0.606154,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.420000,-0.230000,-0.150769,-0.435385,-0.687692,-0.408462,-0.256923,-0.586154,-0.629231,-0.560000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.070769,-0.368462,-0.493846,-0.247692,-0.681538,-0.536923,-0.210000,-0.427692,-0.539231,-0.622308,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.153077,0.197692,0.030000,0.088462,-0.665385,-0.347692,-0.200000,-0.407692,-0.646154,-0.612308,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [69]:
y = New_df['results']
X = New_df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.30, random_state=1)

In [70]:
df.shape

(281, 91)

In [71]:
# y2 = df2['results']
# X2 = df2.drop(columns=['results'])

# X_train2, X_test2, y_train2, y_test2 = train_test_split(
#      X2, y2, test_size=0.20, random_state=1)

In [72]:
# regr2 = RandomForestRegressor(max_depth=40, n_estimators=1, min_samples_split=26, 
#                              max_features=14,  random_state=1)
# regr2.fit(X_train2, y_train2)

In [73]:
regr = RandomForestRegressor(max_depth=17, n_estimators=1, min_samples_split=5, 
                             max_features=14,  random_state=1)
regr.fit(X_train, y_train)

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

RandomForestRegressor(max_depth=17, max_features=14, min_samples_split=5,
                      n_estimators=1, random_state=1)

In [74]:
y_pred = regr.predict(X_test)

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [75]:
# y_pred2 = regr2.predict(X_test2)

In [76]:
print('DECISION FOREST REGRESSION')
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))


print('-----------------')

# print('DECISION FOREST REGRESSION with outliers')
# print('r2 score: '+str(r2_score(y_test2, y_pred2)))
# print('RMSE : '+str(np.sqrt(mean_squared_error(y_test2, y_pred2))))
# print('MSE: '+str(mean_squared_error(y_test2, y_pred2)))
# print('MAE: '+str(mean_absolute_error(y_test2, y_pred2)))
# print('MAPE: '+str(mean_absolute_percentage_error(y_test2, y_pred2)))



# y_train_pred = regr.predict(X_train)

# print('r2 score: '+str(r2_score(y_train, y_train_pred)))
# print('RMSE : '+str(np.sqrt(mean_squared_error(y_train, y_train_pred))))
# print('MSE: '+str(mean_squared_error(y_train, y_train_pred)))
# print('MAE: '+str(mean_absolute_error(y_train, y_train_pred)))
# print('MAPE: '+str(mean_absolute_percentage_error(y_train, y_train_pred)))

DECISION FOREST REGRESSION
r2 score: -0.1317806026806323
RMSE : 9.452896418573522
MSE: 89.3572507002801
MAE: 7.720952380952381
MAPE: 1.153127394499307
-----------------

In [77]:
# .9483002239791501
# split=10 / 92872184682128
# split=5 / 8369977588751587

In [78]:
regr.decision_path(X_train)

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

(<196x111 sparse matrix of type '<class 'numpy.int64'>'
 	with 1714 stored elements in Compressed Sparse Row format>,
 array([  0, 111]))

In [79]:
regr.feature_importances_

array([0.35234256, 0.13667377, 0.0323553 , 0.05121119, 0.01258405,
       0.01800178, 0.01531777, 0.01283023, 0.09213901, 0.03794135,
       0.05163851, 0.01840831, 0.05522812, 0.02040168, 0.02925404,
       0.01673502, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.0204312 ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.01190008,
       0.        , 0.        , 0.00818054, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.0064255 , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ])

splits:
15 = .944
2 = .9720
20 = .9101
200 = 1.597
50 = 1.078
25 = .8878
26 = 0.8569

16 feat = 1.075
15 feat = 1.077
14 feat = 1.064
13 feat = 1.072
12 feat = 1.084

depth:
40 = 1.064

estimators:
100 = 1.039
1000 = 1.0643
3 = 1.0243
1 = .972

In [80]:
# mape .37432196450623323
# mape @ (178, 17) = .38923381998443746
# mape @ (189, 17) = .3718819197955769
# z < 2.3 for (189, 17) = (165, 17) = .34524814299512346
# mape @ (194, 17) with z < 2.7 == .366891667284337
# z < 2.2 for (238, 17) = (174, 17) = .3385536296774055
# z < 2.25 for (238, 17) = (177, 17) = .3147636128194135

DECISION FOREST REGRESSION
r2 score: 0.2967831866338452
RMSE : 7.579711887664333
MSE: 57.4520323
MAE: 5.838099999999999
MAPE: 0.7793818583999947
-----------------
r2 score: 0.9296137881016225
RMSE : 2.470282067199093
MSE: 6.102293491525424
MAE: 2.0082711864406777
MAPE: 0.37432196450623323

In [42]:
data = {'y_test': y_test, 'y_pred': y_pred}

In [43]:
new_df = pd.DataFrame(data)

In [44]:
diff = (new_df['y_test'] - new_df['y_pred']).abs()

In [45]:
new_df['diff'] = diff

In [46]:
new_df = new_df.sort_values(by='diff', ascending=True)

In [47]:
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [48]:
new_df

     y_test  y_pred       diff
76        8     8.0   0.000000
28        3     3.0   0.000000
24        3     3.0   0.000000
40        5     5.0   0.000000
245      26    26.2   0.200000
..      ...     ...        ...
42        5    23.6  18.600000
34        4    23.6  19.600000
204      21     1.3  19.666667
9         1    20.8  19.833333
244      26     3.0  23.000000

[85 rows x 3 columns]

In [49]:
yvals_df = new_df.sort_values(by='y_pred', ascending=True)

In [50]:
yvals_df

     y_test  y_pred       diff
204      21     1.3  19.666667
141      15     1.3  13.666667
6         1     1.3   0.333333
89        9     1.3   7.666667
115      12     2.5   9.500000
..      ...     ...        ...
179      19    26.2   7.200000
245      26    26.2   0.200000
217      23    27.6   4.571429
175      18    27.6   9.571429
133      14    30.0  16.000000

[85 rows x 3 columns]

In [51]:
ytest_df = new_df.sort_values(by='y_test', ascending=True)

In [52]:
ytest_df

     y_test  y_pred       diff
9         1    20.8  19.833333
0         1     3.0   2.000000
5         1     4.5   3.500000
6         1     1.3   0.333333
15        2    11.7   9.714286
..      ...     ...        ...
263      29    17.0  12.000000
262      29    20.8   8.166667
268      30    21.0   9.000000
280      32    23.2   8.800000
277      32    26.2   5.800000

[85 rows x 3 columns]

In [53]:
len(new_df)/2

42.5

In [58]:
new_df.iloc[40:]

     y_test  y_pred       diff
100      11     4.1   6.875000
22        3    10.0   7.000000
97       10     3.0   7.000000
230      24    17.0   7.000000
163      17    10.0   7.000000
179      19    26.2   7.200000
89        9     1.3   7.666667
31        4    12.1   8.100000
262      29    20.8   8.166667
280      32    23.2   8.800000
116      12     3.0   9.000000
268      30    21.0   9.000000
120      13     4.0   9.000000
115      12     2.5   9.500000
175      18    27.6   9.571429
48        5    14.7   9.666667
15        2    11.7   9.714286
136      14     4.1   9.875000
251      27    17.0  10.000000
188      20    10.0  10.000000
91       10    20.8  10.833333
95       10    20.8  10.833333
253      28    17.0  11.000000
77        8    20.0  12.000000
263      29    17.0  12.000000
74        8    20.0  12.000000
240      25    13.0  12.000000
241      26    14.0  12.000000
142      15     3.0  12.000000
81        9    21.5  12.500000
215      23    10.4  12.571429
17        2    15.0  13.000000
90       10    23.6  13.600000
141      15     1.3  13.666667
170      18     4.1  13.875000
88        9    23.6  14.600000
58        6    21.5  15.500000
70        8    24.0  16.000000
133      14    30.0  16.000000
23        3    20.0  17.000000
42        5    23.6  18.600000
34        4    23.6  19.600000
204      21     1.3  19.666667
9         1    20.8  19.833333
244      26     3.0  23.000000

In [60]:
round(new_df['diff'].mean(), 3)

7.721

In [61]:
round(new_df['diff'].median(), 3)

7.0

In [57]:
# mean = 5.8381
# median = 4.56799