In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [7]:
df = pd.read_csv('wc-wo-outliers.csv')

In [8]:
df.head()

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
0,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2
1,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923,1
2,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923,9
3,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308,5
4,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769,5

In [9]:
df.shape

(180, 17)

In [10]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.20, random_state=1)

In [11]:
regr = RandomForestRegressor(max_depth=20, n_estimators=1000, min_samples_split=2, 
                             max_features=15, random_state=1)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=20, max_features=15, n_estimators=1000,
                      random_state=1)

In [12]:
y_pred = regr.predict(X_test)

In [13]:
print('DECISION FOREST REGRESSION')
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))


print('-----------------')

y_train_pred = regr.predict(X_train)

print('r2 score: '+str(r2_score(y_train, y_train_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_train, y_train_pred))))
print('MSE: '+str(mean_squared_error(y_train, y_train_pred)))
print('MAE: '+str(mean_absolute_error(y_train, y_train_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_train, y_train_pred)))

DECISION FOREST REGRESSION
r2 score: 0.3252232948007192
RMSE : 7.456424630999618
MSE: 55.598268277777784
MAE: 5.814111111111112
MAPE: 0.7887622123511987
-----------------
r2 score: 0.9173189820072433
RMSE : 2.616674591283117
MSE: 6.846985916666666
MAE: 2.103597222222222
MAPE: 0.38536543867836875

In [ ]:
# mape .37432196450623323

DECISION FOREST REGRESSION
r2 score: 0.2967831866338452
RMSE : 7.579711887664333
MSE: 57.4520323
MAE: 5.838099999999999
MAPE: 0.7793818583999947
-----------------
r2 score: 0.9296137881016225
RMSE : 2.470282067199093
MSE: 6.102293491525424
MAE: 2.0082711864406777
MAPE: 0.37432196450623323

In [15]:
data = {'y_test': y_test, 'y_pred': y_pred}

In [16]:
new_df = pd.DataFrame(data)

In [17]:
diff = (new_df['y_test'] - new_df['y_pred']).abs()

In [18]:
new_df['diff'] = diff

In [27]:
new_df = new_df.sort_values(by='diff', ascending=True)

In [49]:
new_df

     y_test  y_pred    diff
108       7   6.370   0.630
51        5   5.841   0.841
110       8   8.861   0.861
31        5   4.098   0.902
42       12  11.039   0.961
66       10   8.757   1.243
174       9   7.750   1.250
120      11  12.862   1.862
29        1   3.252   2.252
124      24  21.618   2.382
48        4   6.745   2.745
127       4   6.871   2.871
56       12  14.915   2.915
99       23  20.050   2.950
5         7  10.085   3.085
35        2   6.070   4.070
40        8  12.449   4.449
116       9   4.170   4.830
161      17  12.123   4.877
19       13   7.825   5.175
11        1   6.323   5.323
69       29  23.292   5.708
112      17  23.517   6.517
167      27  20.380   6.620
16        4  10.936   6.936
4         5  12.190   7.190
123      16  23.700   7.700
14        2  10.818   8.818
53       16   7.144   8.856
94       24  13.739  10.261
158      20   9.525  10.475
107      12  23.161  11.161
106      32  20.430  11.570
159      30  16.653  13.347
95       24   6.595  17.405
54       26   5.730  20.270

In [50]:
new_df['diff'].sum()

209.30800000000002

In [51]:
new_df['diff'].mean()

5.814111111111111

In [52]:
new_df['diff'].median()

4.8535

In [ ]:
# mean = 5.8381
# median = 4.56799