In [122]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [123]:
df = pd.read_csv('wc-wo-outliers.csv')

In [124]:
df.head()

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
0,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2
1,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692,7
2,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846,5
3,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692,1
4,0.114615,0.155385,0.271538,0.330769,-0.015385,0.028462,0.128462,0.109231,0.130769,0.056923,-0.232308,-0.146923,-0.023077,0.078462,0.532308,0.140769,2

In [125]:
df.shape

(165, 17)

In [126]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.20, random_state=1)

In [127]:
regr = RandomForestRegressor(max_depth=20, n_estimators=1000, min_samples_split=2, 
                             max_features=15, random_state=1)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=20, max_features=15, n_estimators=1000,
                      random_state=1)

In [128]:
y_pred = regr.predict(X_test)

In [129]:
print('DECISION FOREST REGRESSION')
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))


print('-----------------')

y_train_pred = regr.predict(X_train)

print('r2 score: '+str(r2_score(y_train, y_train_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_train, y_train_pred))))
print('MSE: '+str(mean_squared_error(y_train, y_train_pred)))
print('MAE: '+str(mean_absolute_error(y_train, y_train_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_train, y_train_pred)))

DECISION FOREST REGRESSION
r2 score: 0.27163006035919024
RMSE : 6.882693414381003
MSE: 47.37146863636363
MAE: 5.742272727272727
MAPE: 0.9098717491525052
-----------------
r2 score: 0.9185126164518016
RMSE : 2.63391738872085
MSE: 6.9375208106060615
MAE: 2.1873106060606062
MAPE: 0.34524814299512346

In [130]:
# mape .37432196450623323
# mape @ (178, 17) = .38923381998443746
# mape @ (189, 17) = .3718819197955769
# z < 2.3 for (189, 17) = (165, 17) = .34524814299512346

DECISION FOREST REGRESSION
r2 score: 0.2967831866338452
RMSE : 7.579711887664333
MSE: 57.4520323
MAE: 5.838099999999999
MAPE: 0.7793818583999947
-----------------
r2 score: 0.9296137881016225
RMSE : 2.470282067199093
MSE: 6.102293491525424
MAE: 2.0082711864406777
MAPE: 0.37432196450623323

In [131]:
data = {'y_test': y_test, 'y_pred': y_pred}

In [132]:
new_df = pd.DataFrame(data)

In [133]:
diff = (new_df['y_test'] - new_df['y_pred']).abs()

In [134]:
new_df['diff'] = diff

In [135]:
new_df = new_df.sort_values(by='diff', ascending=True)

In [136]:
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [137]:
new_df

     y_test  y_pred    diff
69       21    21.4   0.362
88        7     6.5   0.548
158       9    10.3   1.295
122      15    16.6   1.568
84       23    21.2   1.777
94        9     6.7   2.261
99       24    26.4   2.377
47       12     9.5   2.483
89       10     7.4   2.582
107       9     6.3   2.707
16       10    13.2   3.216
119       3     6.9   3.860
14       10     6.1   3.905
103       3     7.4   4.394
19       14     9.4   4.600
35       26    20.9   5.081
66       25    19.8   5.183
31        8    13.8   5.787
11       11     5.2   5.800
157      10    15.9   5.902
5         2     8.0   6.008
151      13     6.7   6.281
44        5    11.4   6.382
110      18    10.1   7.891
53        2     9.9   7.905
78       28    19.9   8.070
54       29    20.8   8.186
40       16     7.0   8.959
29        6    16.4  10.395
95       10    21.4  11.361
39        2    16.0  13.984
145       8    22.0  14.047
124      26    11.7  14.338

In [138]:
len(new_df)/2

16.5

In [139]:
new_df.iloc[17:]

     y_test  y_pred    diff
31        8    13.8   5.787
11       11     5.2   5.800
157      10    15.9   5.902
5         2     8.0   6.008
151      13     6.7   6.281
44        5    11.4   6.382
110      18    10.1   7.891
53        2     9.9   7.905
78       28    19.9   8.070
54       29    20.8   8.186
40       16     7.0   8.959
29        6    16.4  10.395
95       10    21.4  11.361
39        2    16.0  13.984
145       8    22.0  14.047
124      26    11.7  14.338

In [140]:
new_df['diff'].sum()

189.495

In [141]:
new_df['diff'].mean()

5.742272727272728

In [142]:
new_df['diff'].median()

5.183

In [143]:
# mean = 5.8381
# median = 4.56799