REview:
- https://github.com/EpistasisLab/pmlb
- https://epistasislab.github.io/pmlb/profile/207_autoPrice.html
- https://seaborn.pydata.org/examples/structured_heatmap.html

## can i take my predictions and add them to the df to be trained again?
- https://scikit-learn.org/stable/auto_examples/ensemble/plot_stack_predictors.html#sphx-glr-auto-examples-ensemble-plot-stack-predictors-py

## Visualize your tree as you are training by using the export function. Use max_depth=3 as an initial tree depth to get a feel for how the tree is fitting to your data, and then increase the depth.

- Consider performing dimensionality reduction (PCA, ICA, or Feature selection) beforehand to give your tree a better chance of finding features that are discriminative.

- Understanding the decision tree structure will help in gaining more insights about how the decision tree makes predictions, which is important for understanding the important features in the data.

- Visualize your tree as you are training by using the export function. Use max_depth=3 as an initial tree depth to get a feel for how the tree is fitting to your data, and then increase the depth.

- Remember that the number of samples required to populate the tree doubles for each additional level the tree grows to. Use max_depth to control the size of the tree to prevent overfitting.

- Use min_samples_split or min_samples_leaf to ensure that multiple samples inform every decision in the tree, by controlling which splits will be considered. A very small number will usually mean the tree will overfit, whereas a large number will prevent the tree from learning the data. Try min_samples_leaf=5 as an initial value. If the sample size varies greatly, a float number can be used as percentage in these two parameters. While min_samples_split can create arbitrarily small leaves, min_samples_leaf guarantees that each leaf has a minimum size, avoiding low-variance, over-fit leaf nodes in regression problems. For classification with few classes, min_samples_leaf=1 is often the best choice.

- Note that min_samples_split considers samples directly and independent of sample_weight, if provided (e.g. a node with m weighted samples is still treated as having exactly m samples). Consider min_weight_fraction_leaf or min_impurity_decrease if accounting for sample weights is required at splits.

- Balance your dataset before training to prevent the tree from being biased toward the classes that are dominant. Class balancing can be done by sampling an equal number of samples from each class, or preferably by normalizing the sum of the sample weights (sample_weight) for each class to the same value. Also note that weight-based pre-pruning criteria, such as min_weight_fraction_leaf, will then be less biased toward dominant classes than criteria that are not aware of the sample weights, like min_samples_leaf.

- If the samples are weighted, it will be easier to optimize the tree structure using weight-based pre-pruning criterion such as min_weight_fraction_leaf, which ensure that leaf nodes contain at least a fraction of the overall sum of the sample weights.

- All decision trees use np.float32 arrays internally. If training data is not in this format, a copy of the dataset will be made.

- If the input matrix X is very sparse, it is recommended to convert to sparse csc_matrix before calling fit and sparse csr_matrix before calling predict. Training time can be orders of magnitude faster for a sparse matrix input compared to a dense matrix when features have zero values in most of the samples.

https://scikit-learn.org/stable/modules/tree.html#tips-on-practical-use

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [3]:
df = pd.read_csv('WC-stats.csv')

In [4]:
# df = pd.read_csv('wc-wo-outliers.csv')

In [5]:
# df2 = pd.read_csv('wc-w-outliers.csv')

In [6]:
df.head()

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
0,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2
1,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923,1
2,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923,9
3,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308,5
4,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769,5

In [7]:
df.shape

(267, 17)

In [8]:
# y2 = df2['results']
# X2 = df2.drop(columns=['results'])

# X_train2, X_test2, y_train2, y_test2 = train_test_split(
#      X2, y2, test_size=0.20, random_state=1)

In [9]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.20, random_state=2)

In [10]:
# regr2 = RandomForestRegressor(max_depth=40, n_estimators=1, min_samples_split=26, 
#                              max_features=14,  random_state=1)
# regr2.fit(X_train2, y_train2)

In [11]:
regr = RandomForestRegressor(max_depth=17, n_estimators=1, min_samples_split=5, 
                             max_features=14,  random_state=1)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=17, max_features=14, min_samples_split=5,
                      n_estimators=1, random_state=1)

In [12]:
y_pred = regr.predict(X_test)

In [13]:
# y_pred2 = regr2.predict(X_test2)

In [19]:
print('DECISION FOREST REGRESSION')
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))


print('-----------------')

# print('DECISION FOREST REGRESSION with outliers')
# print('r2 score: '+str(r2_score(y_test2, y_pred2)))
# print('RMSE : '+str(np.sqrt(mean_squared_error(y_test2, y_pred2))))
# print('MSE: '+str(mean_squared_error(y_test2, y_pred2)))
# print('MAE: '+str(mean_absolute_error(y_test2, y_pred2)))
# print('MAPE: '+str(mean_absolute_percentage_error(y_test2, y_pred2)))



# y_train_pred = regr.predict(X_train)

# print('r2 score: '+str(r2_score(y_train, y_train_pred)))
# print('RMSE : '+str(np.sqrt(mean_squared_error(y_train, y_train_pred))))
# print('MSE: '+str(mean_squared_error(y_train, y_train_pred)))
# print('MAE: '+str(mean_absolute_error(y_train, y_train_pred)))
# print('MAPE: '+str(mean_absolute_percentage_error(y_train, y_train_pred)))

DECISION FOREST REGRESSION
r2 score: 0.07166415248693792
RMSE : 8.065597729924878
MSE: 65.05386674096935
MAE: 6.388837448559669
MAPE: 0.5104779151171952
-----------------

In [20]:
# .9483002239791501
# split=10 / 92872184682128
# split=5 / 8369977588751587

In [21]:
regr.decision_path(X_train)

(<213x109 sparse matrix of type '<class 'numpy.int64'>'
 	with 1721 stored elements in Compressed Sparse Row format>,
 array([  0, 109]))

In [22]:
regr.feature_importances_

array([0.43872407, 0.03632838, 0.04329166, 0.00787456, 0.00222597,
       0.0886548 , 0.00852369, 0.02377763, 0.03477244, 0.00614486,
       0.00062333, 0.09150132, 0.04578551, 0.01368823, 0.11456481,
       0.04351876])

splits:
15 = .944
2 = .9720
20 = .9101
200 = 1.597
50 = 1.078
25 = .8878
26 = 0.8569

16 feat = 1.075
15 feat = 1.077
14 feat = 1.064
13 feat = 1.072
12 feat = 1.084

depth:
40 = 1.064

estimators:
100 = 1.039
1000 = 1.0643
3 = 1.0243
1 = .972

In [23]:
# mape .37432196450623323
# mape @ (178, 17) = .38923381998443746
# mape @ (189, 17) = .3718819197955769
# z < 2.3 for (189, 17) = (165, 17) = .34524814299512346
# mape @ (194, 17) with z < 2.7 == .366891667284337
# z < 2.2 for (238, 17) = (174, 17) = .3385536296774055
# z < 2.25 for (238, 17) = (177, 17) = .3147636128194135

DECISION FOREST REGRESSION
r2 score: 0.2967831866338452
RMSE : 7.579711887664333
MSE: 57.4520323
MAE: 5.838099999999999
MAPE: 0.7793818583999947
-----------------
r2 score: 0.9296137881016225
RMSE : 2.470282067199093
MSE: 6.102293491525424
MAE: 2.0082711864406777
MAPE: 0.37432196450623323

In [24]:
data = {'y_test': y_test, 'y_pred': y_pred}

In [25]:
new_df = pd.DataFrame(data)

In [26]:
diff = (new_df['y_test'] - new_df['y_pred']).abs()

In [27]:
new_df['diff'] = diff

In [28]:
new_df = new_df.sort_values(by='diff', ascending=True)

In [29]:
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [30]:
new_df

     y_test  y_pred       diff
3         5     5.0   0.000000
175      19    19.0   0.000000
24        5     5.0   0.000000
99       29    28.8   0.250000
101      29    28.5   0.500000
35        6     5.0   1.000000
159      12    10.7   1.333333
71       12    10.7   1.333333
20       10     8.5   1.500000
89       13    14.7   1.666667
54        6     4.2   1.833333
160       3     5.0   2.000000
28       11     9.0   2.000000
65       12     9.7   2.333333
233      17    14.7   2.333333
84       23    25.6   2.600000
94       18    15.3   2.666667
140       7     3.8   3.250000
228      29    25.6   3.400000
230      17    21.0   4.000000
112      23    27.2   4.200000
147      23    27.2   4.200000
30        4     8.5   4.500000
247      20    15.3   4.666667
208       5     9.7   4.666667
173      15    10.0   5.000000
85       22    27.2   5.200000
152      31    25.6   5.400000
184      21    15.3   5.666667
248      20    14.3   5.666667
142      25    30.8   5.800000
126       4     9.9   5.888889
183      19    13.0   6.000000
144       8     1.8   6.200000
249      23    16.5   6.500000
257      24    16.5   7.500000
239      18     9.7   8.333333
66       17    25.6   8.625000
187      13    22.3   9.333333
217      24    14.3   9.666667
77       10    20.1  10.083333
120      17    27.2  10.200000
98       32    21.2  10.750000
53       18    28.8  10.750000
131      16    27.2  11.200000
41       14     2.0  12.000000
166      22     9.0  13.000000
93       28    14.3  13.666667
64       24    10.0  14.000000
91       25    10.0  15.000000
127      11    27.0  16.000000
244      31    14.3  16.666667
10       32    15.3  16.666667
13        3    21.0  18.000000

In [31]:
yvals_df = new_df.sort_values(by='y_pred', ascending=True)

In [32]:
yvals_df

     y_test  y_pred       diff
144       8     1.8   6.200000
41       14     2.0  12.000000
140       7     3.8   3.250000
54        6     4.2   1.833333
160       3     5.0   2.000000
3         5     5.0   0.000000
24        5     5.0   0.000000
35        6     5.0   1.000000
20       10     8.5   1.500000
30        4     8.5   4.500000
28       11     9.0   2.000000
166      22     9.0  13.000000
239      18     9.7   8.333333
65       12     9.7   2.333333
208       5     9.7   4.666667
126       4     9.9   5.888889
91       25    10.0  15.000000
173      15    10.0   5.000000
64       24    10.0  14.000000
159      12    10.7   1.333333
71       12    10.7   1.333333
183      19    13.0   6.000000
244      31    14.3  16.666667
217      24    14.3   9.666667
248      20    14.3   5.666667
93       28    14.3  13.666667
233      17    14.7   2.333333
89       13    14.7   1.666667
94       18    15.3   2.666667
247      20    15.3   4.666667
10       32    15.3  16.666667
184      21    15.3   5.666667
249      23    16.5   6.500000
257      24    16.5   7.500000
175      19    19.0   0.000000
77       10    20.1  10.083333
13        3    21.0  18.000000
230      17    21.0   4.000000
98       32    21.2  10.750000
187      13    22.3   9.333333
66       17    25.6   8.625000
152      31    25.6   5.400000
84       23    25.6   2.600000
228      29    25.6   3.400000
127      11    27.0  16.000000
112      23    27.2   4.200000
131      16    27.2  11.200000
120      17    27.2  10.200000
147      23    27.2   4.200000
85       22    27.2   5.200000
101      29    28.5   0.500000
53       18    28.8  10.750000
99       29    28.8   0.250000
142      25    30.8   5.800000

In [33]:
ytest_df = new_df.sort_values(by='y_test', ascending=True)

In [34]:
ytest_df

     y_test  y_pred       diff
13        3    21.0  18.000000
160       3     5.0   2.000000
126       4     9.9   5.888889
30        4     8.5   4.500000
208       5     9.7   4.666667
3         5     5.0   0.000000
24        5     5.0   0.000000
54        6     4.2   1.833333
35        6     5.0   1.000000
140       7     3.8   3.250000
144       8     1.8   6.200000
20       10     8.5   1.500000
77       10    20.1  10.083333
127      11    27.0  16.000000
28       11     9.0   2.000000
159      12    10.7   1.333333
71       12    10.7   1.333333
65       12     9.7   2.333333
89       13    14.7   1.666667
187      13    22.3   9.333333
41       14     2.0  12.000000
173      15    10.0   5.000000
131      16    27.2  11.200000
230      17    21.0   4.000000
66       17    25.6   8.625000
233      17    14.7   2.333333
120      17    27.2  10.200000
53       18    28.8  10.750000
239      18     9.7   8.333333
94       18    15.3   2.666667
183      19    13.0   6.000000
175      19    19.0   0.000000
248      20    14.3   5.666667
247      20    15.3   4.666667
184      21    15.3   5.666667
166      22     9.0  13.000000
85       22    27.2   5.200000
84       23    25.6   2.600000
249      23    16.5   6.500000
147      23    27.2   4.200000
112      23    27.2   4.200000
217      24    14.3   9.666667
257      24    16.5   7.500000
64       24    10.0  14.000000
142      25    30.8   5.800000
91       25    10.0  15.000000
93       28    14.3  13.666667
228      29    25.6   3.400000
101      29    28.5   0.500000
99       29    28.8   0.250000
152      31    25.6   5.400000
244      31    14.3  16.666667
98       32    21.2  10.750000
10       32    15.3  16.666667

In [35]:
len(new_df)/2

27.0

In [36]:
new_df.iloc[20:]

     y_test  y_pred       diff
112      23    27.2   4.200000
147      23    27.2   4.200000
30        4     8.5   4.500000
247      20    15.3   4.666667
208       5     9.7   4.666667
173      15    10.0   5.000000
85       22    27.2   5.200000
152      31    25.6   5.400000
184      21    15.3   5.666667
248      20    14.3   5.666667
142      25    30.8   5.800000
126       4     9.9   5.888889
183      19    13.0   6.000000
144       8     1.8   6.200000
249      23    16.5   6.500000
257      24    16.5   7.500000
239      18     9.7   8.333333
66       17    25.6   8.625000
187      13    22.3   9.333333
217      24    14.3   9.666667
77       10    20.1  10.083333
120      17    27.2  10.200000
98       32    21.2  10.750000
53       18    28.8  10.750000
131      16    27.2  11.200000
41       14     2.0  12.000000
166      22     9.0  13.000000
93       28    14.3  13.666667
64       24    10.0  14.000000
91       25    10.0  15.000000
127      11    27.0  16.000000
244      31    14.3  16.666667
10       32    15.3  16.666667
13        3    21.0  18.000000

In [37]:
round(new_df['diff'].mean(), 3)

6.389

In [38]:
round(new_df['diff'].median(), 3)

5.3

In [39]:
# mean = 5.8381
# median = 4.56799