In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [2]:
df = pd.read_csv('wc-wo-outliers.csv')

In [3]:
df.head()

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
0,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2
1,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308,5
2,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692,7
3,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846,5
4,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692,1

In [4]:
df.shape

(164, 17)

In [5]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.20, random_state=1)

In [6]:
regr = RandomForestRegressor(max_depth=20, n_estimators=1000, min_samples_split=2, 
                             max_features=15, random_state=1)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=20, max_features=15, n_estimators=1000,
                      random_state=1)

In [7]:
y_pred = regr.predict(X_test)

In [8]:
print('DECISION FOREST REGRESSION')
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))


print('-----------------')

y_train_pred = regr.predict(X_train)

print('r2 score: '+str(r2_score(y_train, y_train_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_train, y_train_pred))))
print('MSE: '+str(mean_squared_error(y_train, y_train_pred)))
print('MAE: '+str(mean_absolute_error(y_train, y_train_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_train, y_train_pred)))

DECISION FOREST REGRESSION
r2 score: 0.2590134837978749
RMSE : 7.865142503862254
MSE: 61.860466606060605
MAE: 5.912484848484848
MAPE: 0.934392979747488
-----------------
r2 score: 0.919733839094937
RMSE : 2.64433996873114
MSE: 6.992533870229008
MAE: 2.1582519083969465
MAPE: 0.3829028329265651

In [9]:
# mape .37432196450623323

DECISION FOREST REGRESSION
r2 score: 0.2967831866338452
RMSE : 7.579711887664333
MSE: 57.4520323
MAE: 5.838099999999999
MAPE: 0.7793818583999947
-----------------
r2 score: 0.9296137881016225
RMSE : 2.470282067199093
MSE: 6.102293491525424
MAE: 2.0082711864406777
MAPE: 0.37432196450623323

In [10]:
data = {'y_test': y_test, 'y_pred': y_pred}

In [11]:
new_df = pd.DataFrame(data)

In [12]:
diff = (new_df['y_test'] - new_df['y_pred']).abs()

In [13]:
new_df['diff'] = diff

In [14]:
new_df = new_df.sort_values(by='diff', ascending=True)

In [31]:
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [32]:
new_df

     y_test  y_pred    diff
78       21    21.3   0.312
94       23    22.7   0.339
54       17    16.4   0.612
69       22    21.2   0.787
112      24    23.2   0.797
44        5     6.0   0.964
29        3     4.6   1.600
31       11    12.6   1.636
40       26    24.1   1.897
53       12     9.8   2.209
19       10    13.0   2.967
162      18    21.0   3.044
89       23    19.8   3.206
99       10     6.6   3.416
135       3     6.5   3.518
157      21    24.8   3.841
118       3     7.1   4.134
16       13     8.1   4.856
14       11     5.9   5.133
117      28    22.7   5.299
35        8    13.3   5.308
39        7    14.1   7.095
102      17    24.9   7.879
95       14    22.4   8.382
11        2    10.6   8.559
5         2    10.7   8.671
88       29    20.3   8.721
145      30    20.2   9.828
84       24    13.5  10.526
106      10    25.8  15.765
66       30    14.1  15.933
47       26     7.3  18.653
131       2    21.2  19.225

In [34]:
len(new_df)/2

16.5

In [40]:
new_df.iloc[17:]

     y_test  y_pred    diff
16       13     8.1   4.856
14       11     5.9   5.133
117      28    22.7   5.299
35        8    13.3   5.308
39        7    14.1   7.095
102      17    24.9   7.879
95       14    22.4   8.382
11        2    10.6   8.559
5         2    10.7   8.671
88       29    20.3   8.721
145      30    20.2   9.828
84       24    13.5  10.526
106      10    25.8  15.765
66       30    14.1  15.933
47       26     7.3  18.653
131       2    21.2  19.225

In [26]:
new_df['diff'].sum()

195.112

In [27]:
new_df['diff'].mean()

5.912484848484849

In [28]:
new_df['diff'].median()

4.134

In [19]:
# mean = 5.8381
# median = 4.56799