In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn import ensemble
from sklearn.inspection import permutation_importance

In [2]:
df = pd.read_csv('wc-wo-outliers.csv')

In [3]:
df.head()

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
0,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2
1,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692,7
2,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846,5
3,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692,1
4,0.114615,0.155385,0.271538,0.330769,-0.015385,0.028462,0.128462,0.109231,0.130769,0.056923,-0.232308,-0.146923,-0.023077,0.078462,0.532308,0.140769,2

In [4]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.20, random_state=1)

In [5]:
params = {
    "n_estimators": 3990,
    "max_depth": 400,
    "min_samples_split":4,
    "learning_rate": 0.0159,
    "loss": "squared_error",
    "max_features": 16,
    "min_weight_fraction_leaf": 0.11,
#     "subsample": 0.8
    "min_impurity_decrease": 5,
    
}

In [18]:
reg = ensemble.GradientBoostingRegressor(**params)
reg.fit(X_train, y_train)

# mse = mean_squared_error(y_test, reg.predict(X_test))
predictions = reg.predict(X_train)

print('GRADIENT BOOSTING REGRESSION')
# print("The mean squared error (MSE) on test set: {:.4f}".format(mse))


# print('RMSE: '+str(np.sqrt(mean_squared_error(y_train, predictions))))
# print('R Squared: '+str(r2_score(y_train, predictions)))
# print('MSE : '+str(mean_squared_error(y_train, predictions)))
# print('MAE : '+str(mean_absolute_error(y_train, predictions)))
# print('MAPE: '+str(mean_absolute_percentage_error(y_train, predictions)))

# print('-------------------')


test_pred = reg.predict(X_test)

print('RMSE: '+str(np.sqrt(mean_squared_error(y_test, test_pred))))
print('R Squared: '+str(r2_score(y_test, test_pred)))
print('MSE TEST: '+str(mean_squared_error(y_test, test_pred)))
print('MAE TEST: '+str(mean_absolute_error(y_test, test_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, test_pred)))

GRADIENT BOOSTING REGRESSION
RMSE: 8.186056081886607
R Squared: 0.15003184498888011
MSE TEST: 67.01151417579271
MAE TEST: 6.8526662246035475
MAPE: 1.0097789777918722

In [7]:
# mape = 1.0765
# mape = 1.0647916900630887 max_feat = 16 
# mape 1.059828673697475 / estimators 5000
# mape 1.0597337473020356 / estimators 4000
# mape 1.0597326684323638 / estimators 4990
# mape 1.0432022275261308 / min fraction leaf .12
#mape 1.031433617032885 / '' ''     ''   '' .11
# ** Results vary -mape .9879763523310932 / "subsample": 0.8
# mpae  1.0241404892305128 / min_impurity_decrease 10
# mape 1.0097789777918718 / min decrease 5

In [9]:
data = {'y_test': y_test, 'y_pred': test_pred}

In [10]:
new_df = pd.DataFrame(data)

In [12]:
diff = (new_df['y_test'] - new_df['y_pred']).abs()

In [13]:
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [14]:
new_df

     y_test  y_pred       diff
54       10    10.1   0.140172
107      23    23.2   0.182010
31       26    25.8   0.200875
29        3     4.0   1.027985
82       23    24.9   1.901132
42        5     7.2   2.171143
95       16    18.3   2.318883
4         2     4.6   2.551581
59       28    25.4   2.633772
11       11     8.3   2.695097
153      10    12.8   2.782035
35        4     7.3   3.334098
106       8     3.8   4.153358
19        4     8.5   4.498986
177      18    12.5   5.511617
14       10     4.3   5.672541
119       5    10.7   5.706197
158      19    25.0   5.989911
47        8    14.1   6.094689
16       19    25.8   6.830513
178      19    26.0   7.025044
53        1     8.4   7.446235
162      11    18.7   7.680618
48       30    22.0   8.035273
114       6    15.0   9.024377
69       32    22.6   9.448308
118       2    12.1  10.055334
165       8    18.6  10.594109
94        4    14.6  10.634738
40        4    15.1  11.062675
56       11    23.6  12.588033
122      26    13.1  12.881476
124      20     6.6  13.419880
136      21     7.1  13.889876
126      20     6.0  13.998511
174       8    22.3  14.346379
145      22     7.0  15.021187

In [15]:
new_df['diff'].mean()

6.852666224603549

In [16]:
new_df['diff'].median()

6.094688786662774