In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split

In [2]:
# df = pd.read_csv('wc-wo-outliers.csv')

In [3]:
df = pd.read_csv('hotData.csv')

In [4]:
# df2 = pd.read_csv('wc-w-outliers.csv')

In [5]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.10, random_state=2)

In [6]:
regr = MLPRegressor(random_state=1, hidden_layer_sizes=(57),
                    solver='sgd', power_t=.49, max_iter=600).fit(X_train, y_train)

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (600) reached and the optimization hasn't converged yet.
  warnings.warn(

In [7]:
y_pred = regr.predict(X_test)

In [8]:
print('Neural Network Regression')
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))

Neural Network Regression
r2 score: 0.17277484541331367
RMSE : 7.961069486007809
MSE: 63.37862736104464
MAE: 6.310343946410465
MAPE: 0.7947319126141473

In [9]:
df.shape

(281, 91)

In [10]:
data = {'y_test': y_test, 'y_pred': y_pred}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)

In [11]:
new_df

     y_test     y_pred       diff
250      10  10.889023   0.889023
13       25  24.101982   0.898018
118       7   7.935618   0.935618
77       16  17.288779   1.288779
99        8   6.614102   1.385898
11       27  29.499051   2.499051
66       12  14.555952   2.555952
89       12  14.559983   2.559983
152      15  17.729716   2.729716
173       3   6.033056   3.033056
176      19  23.012108   4.012108
7        30  25.765064   4.234936
101      13   8.531103   4.468897
227       4   8.639655   4.639655
245       9  13.962796   4.962796
252      28  22.614616   5.385384
127      15   8.828426   6.171574
133      22  15.804462   6.195538
113       4  10.945565   6.945565
35       23  15.263225   7.736775
93       24  15.915232   8.084768
191      20  11.336708   8.663292
142       5  13.855658   8.855658
141      24  13.902495  10.097505
112      28  16.835386  11.164614
128      31  19.441541  11.558459
157      15   2.560941  12.439059
3         2  20.051950  18.051950
29       11  31.556348  20.556348

In [12]:
round(new_df['diff'].mean(), 3)

6.31

In [13]:
round(new_df['diff'].median(), 3)

4.963

In [14]:
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [15]:
prediction=new_df['y_pred']
reality=new_df['y_test']

In [16]:
# new_y = []

# for i in len(prediction):
#     if i < 1:
#         new_y.append(1)
#     elif i > 32:
#         new_y.append(32)
#     else:
#         new_y.append(i)
# print(new_y)

In [17]:
new_df

     y_test  y_pred       diff
250      10    10.9   0.889023
13       25    24.1   0.898018
118       7     7.9   0.935618
77       16    17.3   1.288779
99        8     6.6   1.385898
11       27    29.5   2.499051
66       12    14.6   2.555952
89       12    14.6   2.559983
152      15    17.7   2.729716
173       3     6.0   3.033056
176      19    23.0   4.012108
7        30    25.8   4.234936
101      13     8.5   4.468897
227       4     8.6   4.639655
245       9    14.0   4.962796
252      28    22.6   5.385384
127      15     8.8   6.171574
133      22    15.8   6.195538
113       4    10.9   6.945565
35       23    15.3   7.736775
93       24    15.9   8.084768
191      20    11.3   8.663292
142       5    13.9   8.855658
141      24    13.9  10.097505
112      28    16.8  11.164614
128      31    19.4  11.558459
157      15     2.6  12.439059
3         2    20.1  18.051950
29       11    31.6  20.556348

In [18]:
new_df['diff'].mean()

6.310343946410465

In [19]:
new_df['diff'].median()

4.9627964855137385