In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split

In [2]:
# df = pd.read_csv('wc-wo-outliers.csv')

In [3]:
df = pd.read_csv('WC-stats.csv')

In [4]:
# df2 = pd.read_csv('wc-w-outliers.csv')

In [91]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.10, random_state=2)

In [265]:
regr = MLPRegressor(random_state=1, hidden_layer_sizes=(3),
                    solver='sgd', power_t=.49, max_iter=600).fit(X_train, y_train)

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (600) reached and the optimization hasn't converged yet.
  warnings.warn(

In [266]:
y_pred = regr.predict(X_test)

In [267]:
print('Neural Network Regression')
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))

# # print('----------------')
# # print('r2 score: '+str(r2_score(y_train, y_train_pred)))
# # print('RMSE : '+str(np.sqrt(mean_squared_error(y_train, y_train_pred))))
# # print('MSE: '+str(mean_squared_error(y_train, y_train_pred)))
# # print('MAE: '+str(mean_absolute_error(y_train, y_train_pred)))
# # print('MAPE: '+str(mean_absolute_percentage_error(y_train, y_train_pred)))

Neural Network Regression
r2 score: 0.4955976921830133
RMSE : 6.131864895267539
MSE: 37.59976709381439
MAE: 4.37643042210571
MAPE: 0.30572197853154875

In [228]:
df.shape

(267, 17)

In [218]:
# mape on test .766 @ (182, 17)
# mape .62120340 @ ((267, 17)) precision is good/accuracy bad
# mape .3956525937080936 w/o (learning_rate='invscaling')
# mape .32225835721299356 / test_size=0.10
# mape .32008404156680265 / hidden layer from1580 to  580
# MAPE: 0.3057895290484651 / hidden layer 80
# mape .30071597847675413 / hiden layer60
# mape .29692564734209903 / hidden layer57

## Neural Network Regression
- Neural Network Regression
- r2 score: -1.1588778924721903
- RMSE : 12.855249923451426
- MSE: 165.25745059439788
- MAE: 9.746986045650164
- MAPE: 0.7569210486642853

In [138]:
data = {'y_test': y_test, 'y_pred': y_pred}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)

In [139]:
new_df

     y_test     y_pred       diff
249      23  22.769448   0.230552
247      20  20.321544   0.321544
53       18  18.402120   0.402120
184      21  21.429384   0.429384
127      11  11.451273   0.451273
3         5   4.190424   0.809576
187      13  14.202888   1.202888
35        6   4.483717   1.516283
183      19  16.861306   2.138694
208       5   7.726968   2.726968
30        4   6.979053   2.979053
144       8   5.005102   2.994898
175      19  15.944405   3.055595
217      24  27.503332   3.503332
98       32  28.436539   3.563461
64       24  20.406779   3.593221
71       12  15.985854   3.985854
147      23  18.239136   4.760864
166      22  17.005694   4.994306
84       23  16.391295   6.608705
89       13  20.103216   7.103216
126       4  11.368437   7.368437
228      29  21.256064   7.743936
257      24  31.958122   7.958122
173      15   6.033990   8.966010
244      31  17.252906  13.747094
10       32  12.850262  19.149738

In [140]:
round(new_df['diff'].mean(), 3)

4.53

In [141]:
round(new_df['diff'].median(), 3)

3.503

In [102]:
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [103]:
prediction=new_df['y_pred']
reality=new_df['y_test']

In [116]:
# new_y = []

# for i in len(prediction):
#     if i < 1:
#         new_y.append(1)
#     elif i > 32:
#         new_y.append(32)
#     else:
#         new_y.append(i)
# print(new_y)

In [23]:
new_df

     y_test  y_pred       diff
35        6     5.9   0.113428
208       5     5.1   0.123718
54        6     5.2   0.783762
3         5     5.9   0.913688
24        5     5.9   0.922273
126       4     5.3   1.277193
30        4     5.5   1.541123
140       7     5.2   1.770187
13        3     5.3   2.272592
160       3     5.4   2.363883
144       8     5.4   2.624563
20       10     5.4   4.584455
77       10     5.3   4.743788
28       11     5.4   5.596774
127      11     5.1   5.876723
71       12     5.6   6.392141
65       12     5.4   6.631898
159      12     5.3   6.699288
89       13     5.7   7.347358
187      13     5.5   7.454108
41       14     5.7   8.290650
173      15     5.5   9.543834
131      16     5.1  10.875790
230      17     5.8  11.239237
66       17     5.7  11.315767
233      17     5.5  11.544542
120      17     5.2  11.849170
53       18     6.0  12.032849
94       18     5.8  12.238862
239      18     5.1  12.886027
183      19     5.6  13.431347
175      19     5.6  13.447940
247      20     5.4  14.594557
248      20     5.1  14.938963
184      21     5.0  15.974553
85       22     6.0  16.022182
166      22     4.8  17.155414
112      23     5.4  17.567241
249      23     5.4  17.604416
84       23     5.4  17.619513
147      23     5.2  17.757365
64       24     5.1  18.857650
257      24     5.1  18.910567
217      24     4.9  19.114528
91       25     5.9  19.144135
142      25     5.2  19.771946
93       28     5.7  22.282168
101      29     5.5  23.507052
228      29     5.4  23.615670
99       29     5.3  23.687536
152      31     5.4  25.595248
244      31     5.0  25.996193
10       32     5.3  26.675045
98       32     4.8  27.183516

In [118]:
new_df['diff'].mean()

7.958090417137228

In [119]:
new_df['diff'].median()

6.699196632474924