In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split

In [2]:
# df = pd.read_csv('wc-wo-outliers.csv')

In [3]:
df = pd.read_csv('WC-stats.csv')

In [4]:
# df2 = pd.read_csv('wc-w-outliers.csv')

In [5]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.10, random_state=2)

In [57]:
regr = MLPRegressor(random_state=1, hidden_layer_sizes=(57),
                    solver='sgd', power_t=.49, max_iter=600).fit(X_train, y_train)

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (600) reached and the optimization hasn't converged yet.
  warnings.warn(

In [58]:
y_pred = regr.predict(X_test)

In [59]:
print('Neural Network Regression')
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))

Neural Network Regression
r2 score: 0.5108703662581704
RMSE : 6.038318718389576
MSE: 36.46129294485392
MAE: 4.2292366280902725
MAPE: 0.29692564734209903

In [9]:
df.shape

(267, 17)

In [11]:
data = {'y_test': y_test, 'y_pred': y_pred}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)

In [12]:
new_df

     y_test     y_pred       diff
127      11  10.980053   0.019947
249      23  23.033221   0.033221
53       18  18.045887   0.045887
3         5   4.931071   0.068929
247      20  20.250127   0.250127
35        6   5.409421   0.590579
187      13  13.753722   0.753722
183      19  17.881319   1.118681
184      21  22.162172   1.162172
64       24  21.919379   2.080621
175      19  16.522177   2.477823
208       5   7.951881   2.951881
144       8   4.983322   3.016678
30        4   7.035916   3.035916
98       32  28.882065   3.117935
71       12  15.894548   3.894548
217      24  28.220554   4.220554
166      22  17.371568   4.628432
147      23  18.229521   4.770479
89       13  18.957564   5.957564
84       23  16.511615   6.488385
126       4  11.273612   7.273612
257      24  31.582397   7.582397
228      29  21.101623   7.898377
173      15   5.909460   9.090540
244      31  18.507599  12.492401
10       32  12.832019  19.167981

In [13]:
round(new_df['diff'].mean(), 3)

4.229

In [14]:
round(new_df['diff'].median(), 3)

3.036

In [15]:
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [16]:
prediction=new_df['y_pred']
reality=new_df['y_test']

In [294]:
# new_y = []

# for i in len(prediction):
#     if i < 1:
#         new_y.append(1)
#     elif i > 32:
#         new_y.append(32)
#     else:
#         new_y.append(i)
# print(new_y)

In [295]:
new_df

     y_test  y_pred       diff
127      11    11.0   0.019947
249      23    23.0   0.033221
53       18    18.0   0.045887
3         5     4.9   0.068929
247      20    20.3   0.250127
35        6     5.4   0.590579
187      13    13.8   0.753722
183      19    17.9   1.118681
184      21    22.2   1.162172
64       24    21.9   2.080621
175      19    16.5   2.477823
208       5     8.0   2.951881
144       8     5.0   3.016678
30        4     7.0   3.035916
98       32    28.9   3.117935
71       12    15.9   3.894548
217      24    28.2   4.220554
166      22    17.4   4.628432
147      23    18.2   4.770479
89       13    19.0   5.957564
84       23    16.5   6.488385
126       4    11.3   7.273612
257      24    31.6   7.582397
228      29    21.1   7.898377
173      15     5.9   9.090540
244      31    18.5  12.492401
10       32    12.8  19.167981

In [118]:
new_df['diff'].mean()

7.958090417137228

In [119]:
new_df['diff'].median()

6.699196632474924