In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.linear_model import OrthogonalMatchingPursuit
from sklearn.datasets import make_regression

In [2]:
# df = pd.read_csv('wc-w-outliers.csv')
df = pd.read_csv('WC-stats.csv')

In [8]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.33, random_state=2)

In [9]:
reg = OrthogonalMatchingPursuit(normalize=False).fit(X_train, y_train)

In [10]:
pred_train= reg.predict(X_train)
pred_test= reg.predict(X_test)

In [11]:


print('---------------------')

print('RMSE : '+str(np.sqrt(mean_squared_error(y_test,pred_test)))) 
print('R2 : '+str(r2_score(y_test, pred_test)))
print('MSE: '+str(mean_squared_error(y_test, pred_test)))
print('MAE: '+str(mean_absolute_error(y_test, pred_test)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, pred_test)))

---------------------
RMSE : 5.758220467389305
R2 : 0.5079982681695214
MSE: 33.157102951061106
MAE: 4.6448896232086385
MAPE: 0.5586042800014458

In [12]:
# - MAPE: 1.0240483791801853
# test_size = .33 / 8488570125794256

In [13]:
data = {'y_test': y_test, 'y_pred': pred_test}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)
new_df['y_pred'] = round(new_df['y_pred'], 1)

In [14]:
new_df

     y_test  y_pred       diff
217      24    24.1   0.058349
127      11    11.1   0.090826
25       15    14.8   0.220258
247      20    20.5   0.467993
53       18    18.5   0.482737
..      ...     ...        ...
238      30    18.5  11.517263
91       25    12.5  12.543430
244      31    18.1  12.855179
10       32    18.1  13.869259
161       2    16.3  14.328523

[89 rows x 3 columns]

In [15]:
round(new_df['diff'].mean(), 3)

4.645

In [16]:
round(new_df['diff'].median(),3)

3.924