In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.linear_model import Perceptron

In [2]:
df = pd.read_csv('hotData.csv')

In [3]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.10, random_state=2)

In [4]:
clf = Perceptron(penalty='elasticnet', tol=.0001, 
                 )

In [5]:
clf.fit(X_train, y_train)

Perceptron(penalty='elasticnet', tol=0.0001, warm_start=True)

In [6]:
pred_test= clf.predict(X_test)

In [7]:
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test,pred_test)))) 
print('R2 : '+str(r2_score(y_test, pred_test)))
print('MSE: '+str(mean_squared_error(y_test, pred_test)))
print('MAE: '+str(mean_absolute_error(y_test, pred_test)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, pred_test)))

RMSE : 7.732600044504815
R2 : 0.24930582509778176
MSE: 59.793103448275865
MAE: 6.068965517241379
MAPE: 0.4196676514758074

In [18]:
clf.coef_

array([[ 4.77789779,  2.71263125, -0.3175283 , ...,  0.        ,
        -0.5579065 ,  0.        ],
       [ 2.47773672, -1.82235893, -1.12475176, ...,  2.06908475,
        -0.62889401,  0.        ],
       [ 5.25894189, -0.73922313,  0.87002352, ..., -0.66178625,
        -0.78209468, -0.84537688],
       ...,
       [ 0.        , -1.5801544 , -0.56591157, ...,  0.        ,
         0.        ,  0.        ],
       [-3.48765072, -1.62763381, -0.57747262, ...,  0.        ,
         0.        ,  0.        ],
       [-2.8112018 , -0.91610643,  0.2026142 , ...,  0.        ,
         0.        ,  0.        ]])

In [14]:
df.shape

(282, 91)

In [8]:
# l1_ratiofloat, default=0.15

#     The Elastic Net mixing parameter, 
#     with 0 <= l1_ratio <= 1. l1_ratio=0 corresponds 
#     to L2 penalty, l1_ratio=1 to L1. Only used if 
#     penalty='elasticnet'.

nothing MAPE: 0.6582940844345926
penalty='elasticnet' MAPE: 0.44230500704044934
tol=.0001 MAPE: 0.4196676514758074

In [9]:
data = {'y_test': y_test, 'y_pred': pred_test}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)

In [10]:
new_df

     y_test  y_pred  diff
101       1       1     0
259       1       1     0
144       4       5     1
214      31      30     1
244       6       5     1
130      10       8     2
202       6       4     2
254      17      20     3
141      14      17     3
159       5       8     3
267      26      23     3
77       18      14     4
35       18      14     4
106       9       4     5
66       17      22     5
234       7       2     5
13        7       1     6
11       12      18     6
232      15       9     6
164      11       4     7
89       22      14     8
175       6      14     8
29       23      14     9
253      28      17    11
230      29      17    12
120      17       5    12
7        19       4    15
151      22       6    16
3        32      14    18

In [11]:
new_df['diff'].mean()

6.068965517241379

In [12]:
new_df['diff'].median()

5.0