In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.linear_model import Ridge

In [3]:
df = pd.read_csv('WC-stats.csv')

In [20]:
y = df['results']
X = df.drop(columns=['results'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.10, random_state=2)

In [21]:
rr = Ridge(alpha=0.0, )
rr.fit(X_train, y_train) 
pred_train_rr= rr.predict(X_train)
pred_test_rr= rr.predict(X_test)

In [22]:


print('RIDGE REGRESSION')

print('---------------------')


print('RMSE : '+str(np.sqrt(mean_squared_error(y_test,pred_test_rr)))) 
print('R2 : '+str(r2_score(y_test, pred_test_rr)))
print('MSE: '+str(mean_squared_error(y_test, pred_test_rr)))
print('MAE: '+str(mean_absolute_error(y_test, pred_test_rr)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, pred_test_rr)))

RIDGE REGRESSION
---------------------
RMSE : 5.901178792710212
R2 : 0.532835905494178
MSE: 34.823911143532754
MAE: 4.370877473890003
MAPE: 0.337868886928585

In [23]:
# MAPE: 1.057296243857532

In [24]:
data = {'y_test': y_test, 'y_pred': pred_test_rr}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)

In [25]:
new_df

     y_test     y_pred       diff
144       8   7.836857   0.163143
184      21  20.735781   0.264219
183      19  18.646580   0.353420
127      11  11.769291   0.769291
53       18  19.208066   1.208066
187      13  11.734563   1.265437
217      24  25.652244   1.652244
175      19  17.143282   1.856718
247      20  18.122655   1.877345
249      23  21.082060   1.917940
71       12  13.988421   1.988421
3         5   7.389142   2.389142
35        6   3.344523   2.655477
257      24  27.081704   3.081704
208       5   8.732386   3.732386
30        4   7.899256   3.899256
147      23  18.874491   4.125509
166      22  17.508432   4.491568
64       24  18.844313   5.155687
89       13  19.097616   6.097616
98       32  24.981497   7.018503
84       23  15.772982   7.227018
173      15   7.411023   7.588977
228      29  20.570505   8.429495
126       4  12.839974   8.839974
244      31  18.191398  12.808602
10       32  14.843465  17.156535

In [26]:
new_df['diff'].mean()

4.370877473890004

In [27]:
new_df['diff'].median()

3.0817040648362664