In [188]:
import pandas as pd
import numpy as np

In [189]:
df = pd.read_csv('WC-almost-final.csv')

In [190]:
df.shape

(281, 20)

In [222]:
((4 * 24) + (6*32)) - 281

7

In [192]:
df = df.drop(columns= ['Unnamed: 0'])

In [193]:
df[df['country'] == 'Togo']

Empty DataFrame
Columns: [country, goals, xg, crosses, boxtouches, passes, progpasses, takeons, progruns, tackles, interceptions, clearances, blocks, aerials, fouls, fouled, nsxg, results, year]
Index: []

In [194]:
df.duplicated().value_counts()

False    281
dtype: int64

In [195]:
df['year'].value_counts()

18    31
6     31
2     31
14    31
98    31
10    31
86    24
90    24
94    23
82    23
16     1
Name: year, dtype: int64

In [196]:
# 98 - 18 => 32 teams
# 82 - 94 => 24 trams

# 18 / -1

In [197]:
wc18 = df[df['year'] == 18]

In [198]:
wc18.shape

(31, 19)

In [201]:
# wc18

In [200]:
# 32 Panama

# 14 / -1

In [147]:
wc14 = df[df['year'] == 14]

In [148]:
wc14.shape

(31, 19)

In [149]:
# wc14

In [150]:
# 13 Greece

# 10 / -1

In [217]:
wc10 = df[df['year'] == 10]

In [218]:
wc10.shape

(31, 19)

In [221]:
# wc10

In [220]:
# 32 North Korea

# 06 / -1

In [203]:
wc06 = df[df['year'] == 6]

In [204]:
wc06.shape

(31, 19)

In [157]:
# wc06

In [158]:

# 32  Serbia and Montenegro

# 02 / -1

In [205]:
wc02 = df[df['year'] == 2]

In [206]:
wc02.shape

(31, 19)

In [161]:
# wc02

In [162]:
# 19  Costa Rica

# 98 / -1

In [207]:
wc98 = df[df['year'] == 98]

In [208]:
wc98.shape

(31, 19)

In [165]:
# wc98

In [166]:
# 20 Iran

 # 94 / -1

In [209]:
wc94 = df[df['year'] == 94]

In [210]:
wc94.shape

(23, 19)

In [184]:
# wc94

In [170]:
# 13 Mexico

# 90 / 0

In [211]:
wc90 = df[df['year'] == 90]

In [212]:
wc90.shape

(24, 19)

In [185]:
# wc90

# 86 / 0

In [213]:
wc86 = df[df['year'] == 86]

In [214]:
wc86.shape

(24, 19)

In [187]:
# wc86

# 82 / -1

In [215]:
wc82 = df[df['year'] == 82]

In [216]:
wc82.shape

(23, 19)

In [181]:
# wc82

In [180]:
# 14 Hungary

In [179]:
# 15 mexico
# 17 south korea
# 20 Czech Republic
# 23 Angola
# 27 Trinidad and Tobago
# 30  Togo
# 31 Costa Rica
# 32  Serbia and Montenegro

In [133]:
#2018 - 4
# 1 italy
# 4 france
# 9 northern ireland
# 21 kuwait

#2014 - 4
# 6 mexico
# 14 poland
# 21 northern ireland

#2010 -3 
# 4 england
# 7 cameroon

#2006 - 3 
# 7 netherlands
# 13 saudi arabia

# 2002 - 4 
# 1 france
# 13 mexico
# 20 iran
# 30 south korea

# 1998 - 5 
# 5 spain
# 10 denmark
# 11 mexico
# 19 costa rica

# 1994 - 8
# 9 spain
# 15 mexico
# 23 angola
# 27 trinidad 
# 30 toga
# 31 costa rica
# 32 serbia

# 1990 - 6
# 9 japan
# 10 chile
# 14 mexico
# 20 south africa
# 32 north koreaf

# 1986 - 6
# 9 chile
# 13 greece
# 14 algeria
# 23 spain
# 31 honduras

# 1982 - 5
# 5 uruguay
# 10 spain
# 15 japan
# 23 germany

# missing 48 values