In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('world_cup_comparisons.csv')

In [3]:
df.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,Cristian Pavón,2018,Argentina,-0.42,-0.55,0.08,-0.24,-0.61,-0.72,-0.05,0.15,0.30,-0.79,-0.80,-0.45,-0.23,-0.38,-0.91,-0.58
1,Eduardo Salvio,2018,Argentina,-0.42,-0.50,-0.51,0.64,0.02,-0.46,-0.05,0.48,0.61,0.67,0.32,-0.45,0.21,-1.11,0.68,-0.03
2,Enzo Pérez,2018,Argentina,-0.42,0.11,-0.51,-0.69,0.27,-0.65,-0.36,-0.34,0.35,-0.22,-0.80,-0.45,-0.89,0.72,0.04,-0.66
3,Federico Fazio,2018,Argentina,-0.42,-0.59,-0.51,-0.69,-0.97,-0.91,-0.67,-0.84,-0.82,-0.79,-0.64,-0.45,0.21,-1.11,-0.59,-0.77
4,Franco Armani,2018,Argentina,-0.42,-0.59,-0.51,-0.80,-0.67,0.64,-0.67,-0.67,-0.82,-0.79,-0.64,-0.45,-0.89,-1.11,-0.91,-0.77

In [4]:
teams_2022 = ['Qatar', 'Netherlands', 'Senegal', 'Ecuador', 'England',
              'USA', 'Wales', 'Iran', 'Argentina', 'Poland', 'Mexico', 
              'Saudi Arabia', 'France', 'Denmark', 'Tunisia', 'Australia',
              'Germany', 'Spain', 'Japan', 'Costa Rica', 'Belgium', 'Croatia', 
              'Canada', 'Morocco', 'Brazil', 'Switzerland', 'Serbia', 'Cameroon',
              'Portugal', 'Uruguay', 'Ghana', 'Korea Republic', 'West Germany']

In [5]:
years = [1998, 1994, 1990, 1986, 1982]

In [6]:
df = df.loc[df['season'].isin(years)]

In [7]:
df = df.loc[df['team'].isin(teams_2022)]

In [8]:
df.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
2764,Abel Balbo,1998,Argentina,-0.42,-0.43,-0.66,-0.19,-1.51,-1.20,-0.74,-1.02,-0.72,-0.77,-0.73,-0.54,-0.51,-1.15,-0.87,-0.58
2765,Ariel Ortega,1998,Argentina,1.90,1.07,0.78,1.56,1.10,0.44,6.01,2.67,0.13,-0.72,-0.66,-0.54,-0.75,0.35,6.05,4.32
2766,Carlos Roa,1998,Argentina,-0.42,-0.68,-0.66,-0.74,-0.35,1.08,-0.74,-1.02,-0.99,-1.03,-0.66,-0.54,-0.75,-1.15,-0.44,-0.90
2767,Claudio Lopez,1998,Argentina,0.74,0.46,0.42,1.56,-0.69,-0.84,0.34,0.43,-0.62,-0.78,-0.66,-0.54,-0.75,0.35,-0.87,0.70
2768,Diego Simeone,1998,Argentina,-0.42,0.70,0.06,1.24,1.19,0.59,0.34,-0.09,0.80,-0.17,0.00,0.85,-0.05,0.14,1.08,0.81

In [9]:
df = df.drop(columns = ['player'])

In [10]:
df

,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
2764,1998,Argentina,-0.42,-0.43,-0.66,-0.19,-1.51,-1.20,-0.74,-1.02,-0.72,-0.77,-0.73,-0.54,-0.51,-1.15,-0.87,-0.58
2765,1998,Argentina,1.90,1.07,0.78,1.56,1.10,0.44,6.01,2.67,0.13,-0.72,-0.66,-0.54,-0.75,0.35,6.05,4.32
2766,1998,Argentina,-0.42,-0.68,-0.66,-0.74,-0.35,1.08,-0.74,-1.02,-0.99,-1.03,-0.66,-0.54,-0.75,-1.15,-0.44,-0.90
2767,1998,Argentina,0.74,0.46,0.42,1.56,-0.69,-0.84,0.34,0.43,-0.62,-0.78,-0.66,-0.54,-0.75,0.35,-0.87,0.70
2768,1998,Argentina,-0.42,0.70,0.06,1.24,1.19,0.59,0.34,-0.09,0.80,-0.17,0.00,0.85,-0.05,0.14,1.08,0.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4837,1982,West Germany,0.31,0.41,1.17,0.22,1.90,1.27,1.21,2.71,0.41,0.45,-0.60,1.44,-0.38,0.24,0.39,1.60
4838,1982,West Germany,1.13,0.88,2.69,2.05,-0.06,0.03,2.58,0.56,0.62,-0.61,-0.67,-0.57,-0.65,0.84,1.71,2.77
4839,1982,West Germany,-0.50,-0.53,-0.35,-0.53,1.82,1.42,0.45,0.49,1.39,1.48,1.50,0.82,-0.11,1.00,0.26,-0.45
4840,1982,West Germany,0.31,-0.21,-0.60,-0.53,-1.46,-1.28,-0.77,-0.96,-0.73,-0.94,-0.73,-0.57,-0.11,-0.37,-0.14,-0.75
4841,1982,West Germany,-0.50,0.19,0.16,0.33,1.72,0.44,-0.31,1.44,2.39,1.86,-0.14,1.25,0.16,1.15,1.84,0.72

In [11]:
year1998 = [1998]
year1994 = [1994]
year1990 = [1990]
year1986 = [1986]
year1982 = [1982]

# Germany 1998

In [12]:
ger = ["Germany"]

In [13]:
ger_year = df.loc[df["team"].isin(ger)]

In [14]:
ger98year = ger_year.loc[ger_year["season"].isin(year1998)]

In [15]:
ger98xg = ger98year.sort_values(by=["goals_z"], ascending=False)

In [16]:
ger98xg13 = ger98xg.head(13)

In [17]:
ger98xg13

,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
2976,1998,Germany,3.29,4.18,-0.27,7.39,-0.38,-0.81,-0.74,-0.59,-0.15,-0.20,-0.26,-0.54,1.98,1.83,1.68,0.97
2970,1998,Germany,3.29,1.37,-0.66,3.07,0.05,-0.97,-0.45,-0.59,-0.99,-0.52,-0.26,0.39,1.23,-0.23,0.76,0.88
2964,1998,Germany,0.81,0.01,0.11,-0.49,-0.12,-0.59,-0.45,-0.03,-0.49,-0.50,-0.73,-0.54,-0.75,-1.15,-0.16,-0.14
2963,1998,Germany,-0.42,-0.68,-0.66,-0.74,-0.23,1.35,-0.74,-1.02,-0.41,-1.03,-0.42,-0.54,-0.50,-1.15,-1.08,-0.81
2973,1998,Germany,-0.42,-0.68,-0.66,-0.74,-1.18,-0.81,-0.74,-1.02,-0.77,-0.61,-0.50,-0.54,-0.75,-1.15,-0.85,-0.70
2979,1998,Germany,-0.42,-0.05,2.40,0.70,-0.10,-0.17,-0.45,0.25,0.17,0.31,-0.58,0.18,-0.25,0.45,0.53,2.52
2978,1998,Germany,-0.42,-0.68,-0.66,-0.57,-0.64,-0.85,-0.74,-0.31,0.13,1.18,-0.50,-0.54,-0.50,-1.15,-1.08,-0.68
2977,1998,Germany,-0.42,-0.68,-0.27,-0.74,-1.00,-0.70,-0.74,-0.74,-0.99,-0.52,-0.58,-0.54,-0.50,-0.69,-1.08,-0.74
2975,1998,Germany,-0.42,-0.55,0.49,-0.57,0.49,-0.40,-0.74,0.11,-0.41,0.55,0.37,-0.54,-0.25,-0.46,-0.62,0.25
2974,1998,Germany,-0.42,0.01,5.08,-0.57,0.58,1.28,0.70,-0.03,1.62,1.77,-0.26,-0.54,-0.25,0.45,-0.62,2.74
2972,1998,Germany,-0.42,-0.23,-0.27,-0.66,1.58,1.05,-0.74,1.37,1.66,0.61,0.37,2.07,-0.75,1.14,0.30,0.61
2971,1998,Germany,-0.42,-0.47,0.11,-0.49,0.58,0.21,-0.45,-0.03,1.28,1.70,1.15,-0.54,0.74,-0.23,0.07,0.16
2969,1998,Germany,-0.42,-0.28,2.40,0.78,1.55,2.34,0.13,0.67,0.61,0.87,0.21,-0.54,0.99,0.45,1.68,1.28

In [18]:
ger98xg13 = ger98xg13.drop(columns=['season', 'team'])

In [19]:
ger98 = ger98xg13.mean()

In [20]:
ger98

goals_z            0.245385
xg_z               0.097692
crosses_z          0.549231
boxtouches_z       0.490000
passes_z           0.090769
progpasses_z       0.071538
takeons_z         -0.473077
progruns_z        -0.150769
tackles_z          0.096923
interceptions_z    0.277692
clearances_z      -0.153077
blocks_z          -0.212308
aerials_z          0.033846
fouls_z           -0.145385
fouled_z          -0.036154
nsxg_z             0.487692
dtype: float64

In [21]:
ger98[0]

0.24538461538461548

# Germany 1994

In [22]:
ger94year = ger_year.loc[ger_year["season"].isin(year1994)]

In [23]:
ger94xg = ger94year.sort_values(by=["goals_z"], ascending=False)

In [24]:
ger94xg13 = ger94xg.head(13)

In [25]:
ger94xg13 = ger94xg13.drop(columns=['season', 'team'])

In [26]:
ger94 = ger94xg13.mean()

In [27]:
ger94

goals_z            0.337692
xg_z               0.270000
crosses_z          0.292308
boxtouches_z       0.281538
passes_z           0.065385
progpasses_z      -0.142308
takeons_z         -0.076923
progruns_z         0.430000
tackles_z          0.688462
interceptions_z    0.002308
clearances_z       0.020769
blocks_z           0.165385
aerials_z         -0.075385
fouls_z            0.193077
fouled_z           0.087692
nsxg_z             0.393846
dtype: float64

# Germany 1990

In [28]:
ger = ["West Germany"]

In [29]:
ger_year = df.loc[df["team"].isin(ger)]

In [30]:
ger90year = ger_year.loc[ger_year["season"].isin(year1990)]

In [31]:
ger90xg = ger90year.sort_values(by=["goals_z"], ascending=False)

In [32]:
ger90xg13 = ger90xg.head(13)

In [33]:
ger90xg13 = ger90xg13.drop(columns=['season', 'team'])

In [34]:
ger90 = ger90xg13.mean()

In [35]:
ger90

goals_z            0.673077
xg_z               0.642308
crosses_z          0.502308
boxtouches_z       0.277692
passes_z           0.310000
progpasses_z       0.146923
takeons_z          0.153077
progruns_z         0.081538
tackles_z          0.814615
interceptions_z    0.464615
clearances_z      -0.150769
blocks_z          -0.007692
aerials_z         -0.060769
fouls_z           -0.220000
fouled_z           0.006154
nsxg_z             0.387692
dtype: float64

# Germany 1986

In [36]:
ger86year = ger_year.loc[ger_year["season"].isin(year1986)]

In [37]:
ger86xg = ger86year.sort_values(by=["goals_z"], ascending=False)

In [38]:
ger86xg13 = ger86xg.head(13)

In [39]:
ger86xg13 = ger86xg13.drop(columns=['season', 'team'])

In [40]:
ger86 = ger86xg13.mean()

In [41]:
ger86

goals_z            0.114615
xg_z               0.155385
crosses_z          0.271538
boxtouches_z       0.330769
passes_z          -0.015385
progpasses_z       0.028462
takeons_z          0.128462
progruns_z         0.109231
tackles_z          0.130769
interceptions_z    0.056923
clearances_z      -0.232308
blocks_z          -0.146923
aerials_z         -0.023077
fouls_z            0.078462
fouled_z           0.532308
nsxg_z             0.140769
dtype: float64

# Germany 1982

In [42]:
ger82year = ger_year.loc[ger_year["season"].isin(year1982)]

In [43]:
ger82xg = ger82year.sort_values(by=["goals_z"], ascending=False)

In [44]:
ger82xg13 = ger82xg.head(13)

In [45]:
ger82xg13 = ger82xg13.drop(columns=['season', 'team'])

In [46]:
ger82 = ger82xg13.mean()

In [47]:
ger82

goals_z            0.250769
xg_z               0.222308
crosses_z          0.003077
boxtouches_z       0.405385
passes_z          -0.270000
progpasses_z      -0.150000
takeons_z          0.110000
progruns_z        -0.088462
tackles_z          0.006154
interceptions_z   -0.210769
clearances_z      -0.257692
blocks_z          -0.124615
aerials_z         -0.004615
fouls_z            0.013077
fouled_z           0.054615
nsxg_z             0.177692
dtype: float64

In [48]:
ger = pd.concat([ger98, ger94, ger90, ger86, ger82], axis=1).T

## Export Transposed Germany df as csv and update

In [49]:
ger

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692
1,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846
2,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692
3,0.114615,0.155385,0.271538,0.330769,-0.015385,0.028462,0.128462,0.109231,0.130769,0.056923,-0.232308,-0.146923,-0.023077,0.078462,0.532308,0.140769
4,0.250769,0.222308,0.003077,0.405385,-0.270000,-0.150000,0.110000,-0.088462,0.006154,-0.210769,-0.257692,-0.124615,-0.004615,0.013077,0.054615,0.177692

In [50]:
ger.rename(index={0: 'Germany98', 1: 'Germany94', 
                 2: 'Germany90', 3: 'Germany86', 4: 'Germany82'}, inplace=True)

In [51]:
ger

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
Germany98,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692
Germany94,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846
Germany90,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692
Germany86,0.114615,0.155385,0.271538,0.330769,-0.015385,0.028462,0.128462,0.109231,0.130769,0.056923,-0.232308,-0.146923,-0.023077,0.078462,0.532308,0.140769
Germany82,0.250769,0.222308,0.003077,0.405385,-0.270000,-0.150000,0.110000,-0.088462,0.006154,-0.210769,-0.257692,-0.124615,-0.004615,0.013077,0.054615,0.177692

In [52]:
df2 = ger.assign(results=[7, 5, 1, 2, 2])

In [53]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Germany98,0.245385,0.097692,0.549231,0.490000,0.090769,0.071538,-0.473077,-0.150769,0.096923,0.277692,-0.153077,-0.212308,0.033846,-0.145385,-0.036154,0.487692,7
Germany94,0.337692,0.270000,0.292308,0.281538,0.065385,-0.142308,-0.076923,0.430000,0.688462,0.002308,0.020769,0.165385,-0.075385,0.193077,0.087692,0.393846,5
Germany90,0.673077,0.642308,0.502308,0.277692,0.310000,0.146923,0.153077,0.081538,0.814615,0.464615,-0.150769,-0.007692,-0.060769,-0.220000,0.006154,0.387692,1
Germany86,0.114615,0.155385,0.271538,0.330769,-0.015385,0.028462,0.128462,0.109231,0.130769,0.056923,-0.232308,-0.146923,-0.023077,0.078462,0.532308,0.140769,2
Germany82,0.250769,0.222308,0.003077,0.405385,-0.270000,-0.150000,0.110000,-0.088462,0.006154,-0.210769,-0.257692,-0.124615,-0.004615,0.013077,0.054615,0.177692,2

In [54]:
# df2.to_csv('germany.csv', index=False)

# Switzerland

In [55]:
swi = ["Switzerland"]

In [56]:
swi_year = df.loc[df["team"].isin(swi)]

In [57]:
swi94year = swi_year.loc[swi_year["season"].isin(year1994)]

In [58]:
swi94xg = swi94year.sort_values(by=["goals_z"], ascending=False)

In [59]:
swi94xg13 = swi94xg.head(13)

In [60]:
swi94xg13 = swi94xg13.drop(columns=['season', 'team'])

In [61]:
swi94 = swi94xg13.mean()

In [62]:
swi94

goals_z            0.116923
xg_z               0.051538
crosses_z          0.350000
boxtouches_z       0.203846
passes_z           0.052308
progpasses_z       0.103077
takeons_z         -0.336923
progruns_z        -0.336154
tackles_z         -0.186154
interceptions_z    0.073077
clearances_z      -0.076154
blocks_z          -0.123077
aerials_z         -0.044615
fouls_z            0.094615
fouled_z           0.184615
nsxg_z             0.209231
dtype: float64

In [63]:
swiss = pd.concat([swi94], axis=1).T

In [64]:
swiss

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,0.116923,0.051538,0.35,0.203846,0.052308,0.103077,-0.336923,-0.336154,-0.186154,0.073077,-0.076154,-0.123077,-0.044615,0.094615,0.184615,0.209231

In [65]:
swiss = swiss.rename(index={0: 'Switzerland94'})

In [66]:
df2 = swiss.assign(results=[15])

In [67]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Switzerland94,0.116923,0.051538,0.35,0.203846,0.052308,0.103077,-0.336923,-0.336154,-0.186154,0.073077,-0.076154,-0.123077,-0.044615,0.094615,0.184615,0.209231,15

In [68]:
# df2.to_csv('Switzerland.csv', index=False)

# Brazil 1998

In [69]:
bra = ['Brazil']

In [70]:
bra_year = df.loc[df["team"].isin(bra)]

In [71]:
bra98year = bra_year.loc[bra_year["season"].isin(year1998)]

In [72]:
bra98xg = bra98year.sort_values(by=["goals_z"], ascending=False)

In [73]:
bra98xg13 = bra98xg.head(13)

In [74]:
bra98xg13 = bra98xg13.drop(columns=['season', 'team'])

In [75]:
bra98 = bra98xg13.mean()

In [76]:
bra98

goals_z            0.423077
xg_z               0.146923
crosses_z         -0.136154
boxtouches_z      -0.030000
passes_z           0.429231
progpasses_z       0.037692
takeons_z          0.244615
progruns_z        -0.220000
tackles_z          0.216154
interceptions_z    0.270000
clearances_z      -0.076923
blocks_z          -0.097692
aerials_z         -0.020000
fouls_z           -0.224615
fouled_z           0.100769
nsxg_z            -0.124615
dtype: float64

## 1994

In [77]:
bra94year = bra_year.loc[bra_year["season"].isin(year1994)]

In [78]:
bra94xg = bra94year.sort_values(by=["goals_z"], ascending=False)

In [79]:
bra94xg13 = bra94xg.head(13)

In [80]:
bra94xg13 = bra94xg13.drop(columns=['season', 'team'])

In [81]:
bra94 = bra94xg13.mean()

In [82]:
bra94

goals_z            0.216923
xg_z               0.348462
crosses_z          0.031538
boxtouches_z       0.158462
passes_z           0.835385
progpasses_z       0.626923
takeons_z          0.270000
progruns_z         0.266923
tackles_z          1.143846
interceptions_z    0.834615
clearances_z      -0.059231
blocks_z          -0.134615
aerials_z          0.196923
fouls_z           -0.016923
fouled_z           0.033846
nsxg_z             0.146923
dtype: float64

## 1990

In [83]:
bra90year = bra_year.loc[bra_year["season"].isin(year1990)]

In [84]:
bra90xg = bra90year.sort_values(by=["goals_z"], ascending=False)

In [85]:
bra90xg13 = bra90xg.head(13)

In [86]:
bra90xg13 = bra90xg13.drop(columns=['season', 'team'])

In [87]:
bra90 = bra90xg13.mean()

In [88]:
bra90

goals_z            0.113846
xg_z               0.392308
crosses_z          0.599231
boxtouches_z       0.513846
passes_z           0.833077
progpasses_z       0.405385
takeons_z          0.521538
progruns_z         1.139231
tackles_z          1.109231
interceptions_z    0.859231
clearances_z       0.084615
blocks_z           0.103077
aerials_z          0.683846
fouls_z            0.213846
fouled_z           0.353846
nsxg_z             0.786923
dtype: float64

## 1986

In [89]:
bra86year = bra_year.loc[bra_year["season"].isin(year1986)]

In [90]:
bra86xg = bra86year.sort_values(by=["goals_z"], ascending=False)

In [91]:
bra86xg13 = bra86xg.head(13)

In [92]:
bra86xg13 = bra86xg13.drop(columns=['season', 'team'])

In [93]:
bra86 = bra86xg13.mean()

In [94]:
bra86

goals_z            0.479231
xg_z               0.609231
crosses_z          0.227692
boxtouches_z       0.450769
passes_z           0.770769
progpasses_z       0.042308
takeons_z          0.337692
progruns_z         0.927692
tackles_z          0.506923
interceptions_z    1.015385
clearances_z       0.020769
blocks_z           0.381538
aerials_z          0.038462
fouls_z            0.039231
fouled_z           0.022308
nsxg_z             0.692308
dtype: float64

## 1982

In [95]:
bra82year = bra_year.loc[bra_year["season"].isin(year1982)]

In [96]:
bra82xg = bra82year.sort_values(by=["goals_z"], ascending=False)

In [97]:
bra82xg13 = bra82xg.head(13)

In [98]:
bra82xg13 = bra82xg13.drop(columns=['season', 'team'])

In [99]:
bra82 = bra82xg13.mean()

In [100]:
bra82

goals_z            0.877692
xg_z               0.773846
crosses_z          0.428462
boxtouches_z       0.659231
passes_z           0.754615
progpasses_z       0.335385
takeons_z          0.023077
progruns_z         0.638462
tackles_z          0.493846
interceptions_z    0.637692
clearances_z      -0.117692
blocks_z          -0.033846
aerials_z          0.572308
fouls_z           -0.016154
fouled_z          -0.096923
nsxg_z             0.890769
dtype: float64

In [101]:
braz = pd.concat([bra98, bra94, bra90, bra86, bra82], axis=1).T

In [102]:
braz

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615
1,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923
2,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923
3,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308
4,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769

In [103]:
braz = braz.rename(index={0: 'Brazil98', 1: 'Brazil94', 2: 'Brazil90', 3: 'Brazil86', 
                            4: 'Brazil82'})

In [104]:
braz

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
Brazil98,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615
Brazil94,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923
Brazil90,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923
Brazil86,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308
Brazil82,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769

In [105]:
df2 = braz.assign(results=[2, 1, 9, 5, 5])

In [106]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Brazil98,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2
Brazil94,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923,1
Brazil90,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923,9
Brazil86,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308,5
Brazil82,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769,5

In [107]:
# df2.to_csv('Brazil.csv', index=False)

# France 98

In [108]:
fra = ['France']

In [109]:
fra_year = df.loc[df["team"].isin(fra)]

In [110]:
fra98year = fra_year.loc[fra_year["season"].isin(year1998)]

In [111]:
fra98xg = fra98year.sort_values(by=["goals_z"], ascending=False)

In [112]:
fra98xg13 = fra98xg.head(13)

In [113]:
fra98xg13 = fra98xg13.drop(columns=['season', 'team'])

In [114]:
fra98 = fra98xg13.mean()

In [115]:
fra98

goals_z            0.445385
xg_z               0.390769
crosses_z          0.243846
boxtouches_z       0.292308
passes_z           0.091538
progpasses_z       0.161538
takeons_z          0.260000
progruns_z         0.456154
tackles_z          0.383077
interceptions_z    0.486154
clearances_z      -0.085385
blocks_z          -0.283077
aerials_z          0.160769
fouls_z           -0.057692
fouled_z           0.131538
nsxg_z             0.456154
dtype: float64

## 86

In [122]:
fra86year = fra_year.loc[fra_year["season"].isin(year1986)]

In [123]:
fra86xg = fra86year.sort_values(by=["goals_z"], ascending=False)

In [124]:
fra86xg13 = fra86xg.head(13)

In [125]:
fra86xg13 = fra86xg13.drop(columns=['season', 'team'])

In [126]:
fra86 = fra86xg13.mean()

In [127]:
fra86

goals_z            0.332308
xg_z               0.362308
crosses_z         -0.043846
boxtouches_z       0.316923
passes_z           0.060000
progpasses_z       0.019231
takeons_z          0.140769
progruns_z         0.210000
tackles_z          0.343846
interceptions_z    0.276154
clearances_z      -0.057692
blocks_z           0.112308
aerials_z         -0.053846
fouls_z            0.143077
fouled_z           0.060769
nsxg_z             0.192308
dtype: float64

## 82

In [128]:
fra82year = fra_year.loc[fra_year["season"].isin(year1982)]

In [129]:
fra82xg = fra82year.sort_values(by=["goals_z"], ascending=False)

In [130]:
fra82xg13 = fra82xg.head(13)

In [131]:
fra82xg13 = fra82xg13.drop(columns=['season', 'team'])

In [132]:
fra82 = fra82xg13.mean()

In [133]:
fra82

goals_z            0.500769
xg_z               0.257692
crosses_z          0.080769
boxtouches_z       0.139231
passes_z           0.031538
progpasses_z      -0.194615
takeons_z          0.452308
progruns_z         0.168462
tackles_z          0.005385
interceptions_z   -0.010000
clearances_z      -0.096923
blocks_z           0.031538
aerials_z          0.016154
fouls_z           -0.079231
fouled_z           0.075385
nsxg_z             0.200769
dtype: float64

In [134]:
fran = pd.concat([fra98, fra86, fra82], axis=1).T

In [135]:
fran

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,0.445385,0.390769,0.243846,0.292308,0.091538,0.161538,0.260000,0.456154,0.383077,0.486154,-0.085385,-0.283077,0.160769,-0.057692,0.131538,0.456154
1,0.332308,0.362308,-0.043846,0.316923,0.060000,0.019231,0.140769,0.210000,0.343846,0.276154,-0.057692,0.112308,-0.053846,0.143077,0.060769,0.192308
2,0.500769,0.257692,0.080769,0.139231,0.031538,-0.194615,0.452308,0.168462,0.005385,-0.010000,-0.096923,0.031538,0.016154,-0.079231,0.075385,0.200769

In [ ]:
df2 = braz.assign(results=[2, 1, 9, 5, 5])

## 98
R 	Team 	G 	P 	W 	D 	L 	GF 	GA 	GD 	Pts.
1 	 France 	C 	7 	6 	1 	0 	15 	2 	+13 	19
2 	 Brazil 	A 	7 	4 	1 	2 	14 	10 	+4 	13
3 	 Croatia 	H 	7 	5 	0 	2 	11 	5 	+6 	15
4 	 Netherlands 	E 	7 	3 	3 	1 	13 	7 	+6 	12
Eliminated in the quarter-finals
5 	 Italy 	B 	5 	3 	2 	0 	8 	3 	+5 	11
6 	 Argentina 	H 	5 	3 	1 	1 	10 	4 	+6 	10
7 	 Germany 	F 	5 	3 	1 	1 	8 	6 	+2 	10
8 	 Denmark 	C 	5 	2 	1 	2 	9 	7 	+2 	7
Eliminated in the round of 16
9 	 England 	G 	4 	2 	1 	1 	7 	4 	+3 	7
10 	 FR Yugoslavia 	F 	4 	2 	1 	1 	5 	4 	+1 	7
11 	 Romania 	G 	4 	2 	1 	1 	4 	3 	+1 	7
12 	 Nigeria 	D 	4 	2 	0 	2 	6 	9 	−3 	6
13 	 Mexico 	E 	4 	1 	2 	1 	8 	7 	+1 	5
14 	 Paraguay 	D 	4 	1 	2 	1 	3 	2 	+1 	5
15 	 Norway 	A 	4 	1 	2 	1 	5 	5 	0 	5
16 	 Chile 	B 	4 	0 	3 	1 	5 	8 	−3 	3
Eliminated in the group stage
17 	 Spain 	D 	3 	1 	1 	1 	8 	4 	+4 	4
18 	 Morocco 	A 	3 	1 	1 	1 	5 	5 	0 	4
19 	 Belgium 	E 	3 	0 	3 	0 	3 	3 	0 	3
20 	 Iran 	F 	3 	1 	0 	2 	2 	4 	−2 	3
21 	 Colombia 	G 	3 	1 	0 	2 	1 	3 	−2 	3
22 	 Jamaica 	H 	3 	1 	0 	2 	3 	9 	−6 	3
23 	 Austria 	B 	3 	0 	2 	1 	3 	4 	−1 	2
24 	 South Africa 	C 	3 	0 	2 	1 	3 	6 	−3 	2
25 	 Cameroon 	B 	3 	0 	2 	1 	2 	5 	−3 	2
26 	 Tunisia 	G 	3 	0 	1 	2 	1 	4 	−3 	1
27 	 Scotland 	A 	3 	0 	1 	2 	2 	6 	−4 	1
28 	 Saudi Arabia 	C 	3 	0 	1 	2 	2 	7 	−5 	1
29 	 Bulgaria 	D 	3 	0 	1 	2 	1 	7 	−6 	1
30 	 South Korea 	E 	3 	0 	1 	2 	2 	9 	−7 	1
31 	 Japan 	H 	3 	0 	0 	3 	1 	4 	−3 	0
32 	 United States 	F 	3 	0 	0 	3 	1 	5 	−4 	0

## 94
R 	Team 	G 	P 	W 	D 	L 	GF 	GA 	GD 	Pts.
1 	 Brazil 	B 	7 	5 	2 	0 	11 	3 	+8 	17
2 	 Italy 	E 	7 	4 	2 	1 	8 	5 	+3 	14
3 	 Sweden 	B 	7 	3 	3 	1 	15 	8 	+7 	12
4 	 Bulgaria 	D 	7 	3 	1 	3 	10 	11 	−1 	10
Eliminated in the quarter-finals
5 	 Germany 	C 	5 	3 	1 	1 	9 	7 	+2 	10
6 	 Romania 	A 	5 	3 	1 	1 	10 	9 	+1 	10
7 	 Netherlands 	F 	5 	3 	0 	2 	8 	6 	+2 	9
8 	 Spain 	C 	5 	2 	2 	1 	10 	6 	+4 	8
Eliminated in the round of 16
9 	 Nigeria 	D 	4 	2 	0 	2 	7 	4 	+3 	6
10 	 Argentina 	D 	4 	2 	0 	2 	8 	6 	+2 	6
11 	 Belgium 	F 	4 	2 	0 	2 	4 	4 	0 	6
12 	 Saudi Arabia 	F 	4 	2 	0 	2 	5 	6 	−1 	6
13 	 Mexico 	E 	4 	1 	2 	1 	4 	4 	0 	5
14 	 United States 	A 	4 	1 	1 	2 	3 	4 	−1 	4
15 	  Switzerland 	A 	4 	1 	1 	2 	5 	7 	−2 	4
16 	 Republic of Ireland 	E 	4 	1 	1 	2 	2 	4 	−2 	4
Eliminated in the group stage
17 	 Norway 	E 	3 	1 	1 	1 	1 	1 	0 	4
18 	 Russia 	B 	3 	1 	0 	2 	7 	6 	+1 	3
19 	 Colombia 	A 	3 	1 	0 	2 	4 	5 	−1 	3
20 	 South Korea 	C 	3 	0 	2 	1 	4 	5 	−1 	2
21 	 Bolivia 	C 	3 	0 	1 	2 	1 	4 	−3 	1
22 	 Cameroon 	B 	3 	0 	1 	2 	3 	11 	−8 	1
23 	 Morocco 	F 	3 	0 	0 	3 	2 	5 	−3 	0
24 	 Greece 	D 	3 	0 	0 	3 	0 	10 	−10 	0

## 90
Pos 	Grp 	Team 	Pld 	W 	D 	L 	GF 	GA 	GD 	Pts 	Result
1 	D 	 West Germany 	7 	5 	2 	0 	15 	5 	+10 	12 	1st
2 	B 	 Argentina 	7 	2 	3 	2 	5 	4 	+1 	7 	2nd
3 	A 	 Italy 	7 	6 	1 	0 	10 	2 	+8 	13 	3rd
4 	F 	 England 	7 	3 	3 	1 	8 	6 	+2 	9 	4th
5 	D 	 Yugoslavia 	5 	3 	1 	1 	8 	6 	+2 	7 	Eliminated in the quarter-finals
6 	A 	 Czechoslovakia 	5 	3 	0 	2 	10 	5 	+5 	6
7 	B 	 Cameroon 	5 	3 	0 	2 	7 	9 	−2 	6
8 	F 	 Republic of Ireland 	5 	0 	4 	1 	2 	3 	−1 	4
9 	C 	 Brazil 	4 	3 	0 	1 	4 	2 	+2 	6 	Eliminated in the round of 16
10 	E 	 Spain 	4 	2 	1 	1 	6 	4 	+2 	5
11 	E 	 Belgium 	4 	2 	0 	2 	6 	4 	+2 	4
12 	B 	 Romania 	4 	1 	2 	1 	4 	3 	+1 	4
13 	C 	 Costa Rica 	4 	2 	0 	2 	4 	6 	−2 	4
14 	D 	 Colombia 	4 	1 	1 	2 	4 	4 	0 	3
15 	F 	 Netherlands 	4 	0 	3 	1 	3 	4 	−1 	3
16 	E 	 Uruguay 	4 	1 	1 	2 	2 	5 	−3 	3
17 	B 	 Soviet Union 	3 	1 	0 	2 	4 	4 	0 	2 	Eliminated in the group stage
18 	A 	 Austria 	3 	1 	0 	2 	2 	3 	−1 	2
18 	C 	 Scotland 	3 	1 	0 	2 	2 	3 	−1 	2
20 	F 	 Egypt 	3 	0 	2 	1 	1 	2 	−1 	2
21 	C 	 Sweden 	3 	0 	0 	3 	3 	6 	−3 	0
22 	E 	 South Korea 	3 	0 	0 	3 	1 	6 	−5 	0
23 	A 	 United States 	3 	0 	0 	3 	2 	8 	−6 	0
24 	D 	 United Arab Emirates 	3 	0 	0 	3 	2 	11 	−9 	0

## 86
R 	Team 	G 	P 	W 	D 	L 	GF 	GA 	GD 	Pts.
1 	 Argentina 	A 	7 	6 	1 	0 	14 	5 	+9 	13
2 	 West Germany 	E 	7 	3 	2 	2 	8 	7 	+1 	8
3 	 France 	C 	7 	4 	2 	1 	12 	6 	+6 	10
4 	 Belgium 	B 	7 	2 	2 	3 	12 	15 	−3 	6
Eliminated in the quarter-finals
5 	 Brazil 	D 	5 	4 	1 	0 	10 	1 	+9 	9
6 	 Mexico 	B 	5 	3 	2 	0 	6 	2 	+4 	8
7 	 Spain 	D 	5 	3 	1 	1 	11 	4 	+7 	7
8 	 England 	F 	5 	2 	1 	2 	7 	3 	+4 	5
Eliminated in the round of 16
9 	 Denmark 	E 	4 	3 	0 	1 	10 	6 	+4 	6
10 	 Soviet Union 	C 	4 	2 	1 	1 	12 	5 	+7 	5
11 	 Morocco 	F 	4 	1 	2 	1 	3 	2 	+1 	4
12 	 Italy 	A 	4 	1 	2 	1 	5 	6 	−1 	4
13 	 Paraguay 	B 	4 	1 	2 	1 	4 	6 	−2 	4
14 	 Poland 	F 	4 	1 	1 	2 	1 	7 	−6 	3
15 	 Bulgaria 	A 	4 	0 	2 	2 	2 	6 	−4 	2
16 	 Uruguay 	E 	4 	0 	2 	2 	2 	8 	−6 	2
Eliminated in the group stage
17 	 Portugal 	F 	3 	1 	0 	2 	2 	4 	−2 	2
18 	 Hungary 	C 	3 	1 	0 	2 	2 	9 	−7 	2
19 	 Scotland 	E 	3 	0 	1 	2 	1 	3 	−2 	1
20 	 South Korea 	A 	3 	0 	1 	2 	4 	7 	−3 	1
21 	 Northern Ireland 	D 	3 	0 	1 	2 	2 	6 	−4 	1
22 	 Algeria 	D 	3 	0 	1 	2 	1 	5 	−4 	1
23 	 Iraq 	B 	3 	0 	0 	3 	1 	4 	−3 	0
24 	 Canada 	C 	3 	0 	0 	3 	0 	5 	−5 	0

## 82
R 	Team 	G 	P 	W 	D 	L 	GF 	GA 	GD 	Pts.
1 	 Italy 	1/C 	7 	4 	3 	0 	12 	6 	+6 	11
2 	 West Germany 	2/B 	7 	3 	2 	2 	12 	10 	+2 	8
3 	 Poland 	1/A 	7 	3 	3 	1 	11 	5 	+6 	9
4 	 France 	4/D 	7 	3 	2 	2 	16 	12 	+4 	8
Eliminated in the second group stage
5 	 Brazil 	6/C 	5 	4 	0 	1 	15 	6 	+9 	8
6 	 England 	4/B 	5 	3 	2 	0 	6 	1 	+5 	8
7 	 Soviet Union 	6/A 	5 	2 	2 	1 	7 	4 	+3 	6
8 	 Austria 	2/D 	5 	2 	1 	2 	5 	4 	+1 	5
9 	 Northern Ireland 	5/D 	5 	1 	3 	1 	5 	7 	−2 	5
10 	 Belgium 	3/A 	5 	2 	1 	2 	3 	5 	−2 	5
11 	 Argentina 	3/C 	5 	2 	0 	3 	8 	7 	+1 	4
12 	 Spain 	5/B 	5 	1 	2 	2 	4 	5 	−1 	4
Eliminated in the first group stage
13 	 Algeria 	2 	3 	2 	0 	1 	5 	5 	0 	4
14 	 Hungary 	3 	3 	1 	1 	1 	12 	6 	+6 	3
15 	 Scotland 	6 	3 	1 	1 	1 	8 	8 	0 	3
16 	 Yugoslavia 	5 	3 	1 	1 	1 	2 	2 	0 	3
17 	 Cameroon 	1 	3 	0 	3 	0 	1 	1 	0 	3
18 	 Honduras 	5 	3 	0 	2 	1 	2 	3 	−1 	2
19 	 Czechoslovakia 	4 	3 	0 	2 	1 	2 	4 	−2 	2
20 	 Peru 	1 	3 	0 	2 	1 	2 	6 	−4 	2
21 	 Kuwait 	4 	3 	0 	1 	2 	2 	6 	−4 	1
22 	 Chile 	2 	3 	0 	0 	3 	3 	8 	−5 	0
23 	 New Zealand 	6 	3 	0 	0 	3 	2 	12 	−10 	0
24 	 El Salvador 	3 	3 	0 	0 	3 	1 	13 	−12 	0

teams_2022 = ['Qatar', 'Netherlands', 'Senegal', 'Ecuador', 'England',
              'USA', 'Wales', 'Iran', 'Argentina', 'Poland', 'Mexico', 
              'Saudi Arabia',  'Denmark', 'Tunisia', 'Australia',
              'Spain', 'Japan', 'Costa Rica', 'Belgium', 'Croatia', 
              'Canada', 'Morocco',  'Serbia', 'Cameroon',
              'Portugal', 'Uruguay', 'Ghana', 'Korea Republic', 'West Germany']