In [1]:
import numpy as np 
import pandas as pd

In [50]:
df = pd.concat(map(pd.read_csv, ['Brazil.csv', 'germany.csv','germany1.csv', 
                                 'Portugal1.csv', 'Spain1.csv', 'Switzerland.csv',
                                'Switzerland1.csv', 'France1.csv',
                                'Brazil1.csv', 'Netherlands.csv', 
                                'Belgium.csv',  'England.csv',
                                'Argentina.csv', 'Uruguay.csv', 
                                'Senegal.csv', 'Ecuador.csv', 'CostaRica.csv',
                                'Mexico.csv', 'France.csv', 'Denmark.csv',
                                'Australia.csv', 'Serbia.csv',
                                'Cameroon.csv', 'Ghana.csv', 'Iran.csv',
                                'Poland.csv', 'SaudI.csv', 'Tunisia.csv', 
                                 'Japan.csv', 'Croatia.csv', 'Morocco.csv',
                                 'Spain2.csv', 'Portugal2.csv', 
                                 'England2.csv', 'Belgium2.csv', 'Uruguay2.csv',
                                'Canada2.csv', 'Netherlands2.csv', 'Saudi2.csv', 
                                'Croatia2.csv', 'Cameroon2.csv', 'Denmark2.csv',
                                'Costa2.csv', 'Morocco2.csv', 'Poland2.csv',
                                'Tunisia2.csv', 'Japan2.csv', 'Argentina2.csv', 
                                'Slovakia.csv', 'Iraq.csv', 'Jamaica.csv',
                                'Kuwait.csv', 'ElSalvador.csv', 'China.csv',
                                'Turkey.csv', 'Ukraine.csv', 'Bolivia.csv',
                                 'Togo.csv', 'Angola.csv', 
                                  'Italy.csv', 'Paraguay.csv', 
                                 'Russia.csv', 'CzechRepublic.csv',
                                'Algeria.csv', 'Chile.csv', 'Yugoslavia.csv',
                                'Scotland.csv', 'Romania.csv', 'Greece.csv',
                                'Honduras.csv', 'Austria.csv', 'Bulgaria.csv', 
                                 'IvoryCoast.csv', 'SouthAfrica.csv', 'RepIreland.csv',
                                'Slovenia.csv', 'Czechoslovakia.csv', 'Hungary.csv', 
                                'Egypt.csv', 'Norway.csv', 'Peru.csv',
                                'NewZealand.csv', 'Bosnia.csv', 'Panama.csv','UAE.csv',
                                'Iceland.csv', 'USA.csv', 'USA1.csv',  'Nigeria.csv',
                                 'Colombia.csv', 'Sweden.csv', 'SouthKorea.csv',
                                'Mexico9.csv', 'NorthernIreland.csv', 'Mexico86.csv']))

In [51]:
# 158 with wc 2022 teams

In [52]:
df.shape

(276, 18)

In [53]:
df.duplicated().value_counts()

False    275
True       1
dtype: int64

In [54]:
df = df.drop_duplicates()

In [55]:
df.shape

(275, 18)

In [31]:
df

,Unnamed: 0,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
0,Brazil98,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2
1,Brazil94,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923,1
2,Brazil90,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923,9
3,Brazil86,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308,5
4,Brazil82,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,Mexico02,0.076923,0.238462,0.079231,0.261538,1.023077,0.255385,0.172308,1.163077,1.258462,0.603846,0.077692,0.111538,0.208462,0.190769,0.336923,0.256154,11
1,Mexico98,-0.016923,-0.025385,-0.333846,-0.298462,0.441538,0.140000,-0.039231,0.304615,0.371538,-0.287692,-0.113846,0.166923,-0.164615,0.041538,-0.232308,-0.163077,13
0,NorthernIreland86,-0.080769,-0.117692,0.041538,0.096154,0.186154,0.110000,-0.368462,0.042308,-0.252308,-0.033077,0.213077,0.016154,0.684615,0.337692,0.056923,0.191538,21
1,NorthernIreland82,-0.040769,-0.080000,0.228462,0.070000,0.129231,-0.080000,0.228462,0.196923,-0.052308,-0.171538,0.363846,-0.180769,0.694615,0.533077,0.036923,-0.096154,9
0,Mexico86,0.131538,0.163846,-0.100000,-0.022308,-0.054615,-0.180769,-0.266154,-0.055385,0.103846,0.036923,0.235385,-0.124615,0.114615,0.767692,0.445385,-0.140000,6

# convert to csv

In [32]:
df = df.rename(columns={"Unnamed: 0": "country", "goals_z": "goals"})

In [33]:
df.columns = df.columns.str.lower().str.replace('_z', '')
string_columns = list(df.dtypes[df.dtypes == 'object'].index)

for col in string_columns:
    df[col] = df[col].str.lower().str.replace('_z', '')

In [34]:
df

,country,goals,xg,crosses,boxtouches,passes,progpasses,takeons,progruns,tackles,interceptions,clearances,blocks,aerials,fouls,fouled,nsxg,results
0,brazil98,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2
1,brazil94,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923,1
2,brazil90,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923,9
3,brazil86,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308,5
4,brazil82,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,mexico02,0.076923,0.238462,0.079231,0.261538,1.023077,0.255385,0.172308,1.163077,1.258462,0.603846,0.077692,0.111538,0.208462,0.190769,0.336923,0.256154,11
1,mexico98,-0.016923,-0.025385,-0.333846,-0.298462,0.441538,0.140000,-0.039231,0.304615,0.371538,-0.287692,-0.113846,0.166923,-0.164615,0.041538,-0.232308,-0.163077,13
0,northernireland86,-0.080769,-0.117692,0.041538,0.096154,0.186154,0.110000,-0.368462,0.042308,-0.252308,-0.033077,0.213077,0.016154,0.684615,0.337692,0.056923,0.191538,21
1,northernireland82,-0.040769,-0.080000,0.228462,0.070000,0.129231,-0.080000,0.228462,0.196923,-0.052308,-0.171538,0.363846,-0.180769,0.694615,0.533077,0.036923,-0.096154,9
0,mexico86,0.131538,0.163846,-0.100000,-0.022308,-0.054615,-0.180769,-0.266154,-0.055385,0.103846,0.036923,0.235385,-0.124615,0.114615,0.767692,0.445385,-0.140000,6

In [35]:
countriez = df['country']

In [36]:
years = []
for i in countriez:
    years.append(int(i[-2] + i[-1]))

In [37]:
df['year'] = years

In [38]:
countz = df['country']

In [39]:
counties = []
for i in countz:
    counties.append(str(i[:-2]))

In [40]:
df['country'] = counties

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 276 entries, 0 to 0
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country        276 non-null    object
 1   goals          276 non-null    float64
 2   xg             276 non-null    float64
 3   crosses        276 non-null    float64
 4   boxtouches     276 non-null    float64
 5   passes         276 non-null    float64
 6   progpasses     276 non-null    float64
 7   takeons        276 non-null    float64
 8   progruns       276 non-null    float64
 9   tackles        276 non-null    float64
 10  interceptions  276 non-null    float64
 11  clearances     276 non-null    float64
 12  blocks         276 non-null    float64
 13  aerials        276 non-null    float64
 14  fouls          276 non-null    float64
 15  fouled         276 non-null    float64
 16  nsxg           276 non-null    float64
 17  results        276 non-null    int64
 18  year           276 non-null    int64
dtypes: float64(16), int64(2), object(1)
memory usage: 43.1+ KB

In [42]:
df

,country,goals,xg,crosses,boxtouches,passes,progpasses,takeons,progruns,tackles,interceptions,clearances,blocks,aerials,fouls,fouled,nsxg,results,year
0,brazil,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2,98
1,brazil,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923,1,94
2,brazil,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923,9,90
3,brazil,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308,5,86
4,brazil,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769,5,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,mexico,0.076923,0.238462,0.079231,0.261538,1.023077,0.255385,0.172308,1.163077,1.258462,0.603846,0.077692,0.111538,0.208462,0.190769,0.336923,0.256154,11,2
1,mexico,-0.016923,-0.025385,-0.333846,-0.298462,0.441538,0.140000,-0.039231,0.304615,0.371538,-0.287692,-0.113846,0.166923,-0.164615,0.041538,-0.232308,-0.163077,13,98
0,northernireland,-0.080769,-0.117692,0.041538,0.096154,0.186154,0.110000,-0.368462,0.042308,-0.252308,-0.033077,0.213077,0.016154,0.684615,0.337692,0.056923,0.191538,21,86
1,northernireland,-0.040769,-0.080000,0.228462,0.070000,0.129231,-0.080000,0.228462,0.196923,-0.052308,-0.171538,0.363846,-0.180769,0.694615,0.533077,0.036923,-0.096154,9,82
0,mexico,0.131538,0.163846,-0.100000,-0.022308,-0.054615,-0.180769,-0.266154,-0.055385,0.103846,0.036923,0.235385,-0.124615,0.114615,0.767692,0.445385,-0.140000,6,86

In [43]:
df.shape

(276, 19)

In [44]:
((4 * 24) + (6 * 32) - 277)

11

In [48]:
df = df.sort_values('results')

In [49]:
df.to_csv('./WC Data Models/WC-almost-final.csv')