In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

import matplotlib.pyplot as pyplot
import seaborn as sns

In [2]:
years = [2018, 2014, 2010, 2006, 2002, 1998, 1994, 1990, 1986, 1982]

In [3]:
comparisons = pd.read_csv('world_cup_comparisons.csv')

In [4]:
comparisons.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,Cristian Pavón,2018,Argentina,-0.42,-0.55,0.08,-0.24,-0.61,-0.72,-0.05,0.15,0.30,-0.79,-0.80,-0.45,-0.23,-0.38,-0.91,-0.58
1,Eduardo Salvio,2018,Argentina,-0.42,-0.50,-0.51,0.64,0.02,-0.46,-0.05,0.48,0.61,0.67,0.32,-0.45,0.21,-1.11,0.68,-0.03
2,Enzo Pérez,2018,Argentina,-0.42,0.11,-0.51,-0.69,0.27,-0.65,-0.36,-0.34,0.35,-0.22,-0.80,-0.45,-0.89,0.72,0.04,-0.66
3,Federico Fazio,2018,Argentina,-0.42,-0.59,-0.51,-0.69,-0.97,-0.91,-0.67,-0.84,-0.82,-0.79,-0.64,-0.45,0.21,-1.11,-0.59,-0.77
4,Franco Armani,2018,Argentina,-0.42,-0.59,-0.51,-0.80,-0.67,0.64,-0.67,-0.67,-0.82,-0.79,-0.64,-0.45,-0.89,-1.11,-0.91,-0.77

In [5]:
all_teams = comparisons['team'].value_counts()

In [6]:
all_teams = all_teams.drop(labels=['West Germany', 'Netherlands', 'Senegal', 'Ecuador', 'England', 'USA', 'Iran', 'Argentina', 'Poland', 'Mexico', 'Saudi Arabia', 'France', 'Denmark', 'Tunisia', 'Australia', 'Germany', 'Spain', 'Japan', 'Costa Rica', 'Belgium', 'Croatia', 'Canada', 'Morocco', 'Brazil', 'Switzerland', 'Serbia', 'Cameroon', 'Portugal', 'Uruguay', 'Ghana'])

In [7]:
teams_all = ['Italy', 'South Korea', 'Nigeria','Colombia','Paraguay',
             'Sweden','Russia','Scotland','Algeria','Chile','Greece',
             'Honduras','Austria','Bulgaria','USSR','Ivory Coast',               
             'Romania','Yugoslavia','South Africa','Rep of Ireland',
             'Czechoslovakia','Hungary','Egypt','Slovenia','Norway',                     
             'Northern Ireland','Peru','New Zealand','Bosnia and Herzegovina',     
             'Panama','Slovakia','Iraq','China PR','Jamaica','Turkey',                     
             'Ukraine','Bolivia','Trinidad and Tobago','Togo','Czech Republic',             
             'Angola','United Arab Emirates','Iceland','El Salvador','Kuwait','North Korea']

In [8]:
comparisons = comparisons.loc[comparisons['team'].isin(teams_all)]

In [9]:
comparisons.shape

(2390, 19)

In [10]:
year1982 = [1982]
year1986 = [1986]
year1990 = [1990]
year1994 = [1994]
year1998 = [1998]

year2002 = [2002]
year2006 = [2006]
year2010 = [2010]
year2014 = [2014]
year2018 = [2018]

In [11]:
df = comparisons.drop(columns = ['player'])

In [12]:
comparisons['team'].value_counts()

Italy                     228
South Korea               149
Sweden                    131
Nigeria                   103
Bulgaria                  101
Scotland                   98
Chile                      94
USSR                       88
Paraguay                   83
Colombia                   83
Russia                     71
Hungary                    66
Algeria                    65
Austria                    65
Yugoslavia                 64
Peru                       63
Romania                    61
Greece                     58
Czechoslovakia             54
Honduras                   51
Ivory Coast                48
South Africa               46
Rep of Ireland             45
Egypt                      31
Norway                     31
El Salvador                31
Slovenia                   31
Northern Ireland           29
North Korea                29
New Zealand                27
Bosnia and Herzegovina     20
Panama                     19
Slovakia                   18
Jamaica                    17
Turkey                     17
China PR                   17
Ukraine                    17
Iraq                       17
Czech Republic             16
Bolivia                    16
Trinidad and Tobago        16
Togo                       16
Angola                     16
United Arab Emirates       15
Iceland                    15
Kuwait                     14
Name: team, dtype: int64

# Italy

## 1982

In [13]:
df.head()

,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
72,2018,Colombia,-0.42,-0.59,-0.51,-0.80,-1.16,-1.04,-0.67,-0.68,-0.82,-0.79,-0.80,-0.45,-0.69,-1.11,-0.91,-0.77
73,2018,Colombia,-0.42,-0.35,-0.51,0.12,-1.01,-0.98,-0.67,-0.53,-0.26,-0.79,-0.80,-0.45,0.12,0.24,-0.62,-0.21
74,2018,Colombia,-0.42,-0.59,-0.51,-0.80,-0.37,-0.39,-0.67,-0.84,0.21,-0.50,-0.65,-0.45,-0.49,0.91,-0.62,-0.62
75,2018,Colombia,-0.42,-0.59,-0.51,-0.80,-0.36,1.10,-0.67,-0.84,-0.82,-0.79,-0.65,-0.45,-0.69,-1.11,-0.32,-0.77
76,2018,Colombia,-0.42,-0.41,-0.51,0.22,0.88,1.04,-0.67,-0.68,-0.52,0.91,3.19,2.92,1.14,-0.44,-0.32,-0.72

In [14]:
ita = ['Italy']

In [15]:
ita_year = df.loc[df["team"].isin(ita)]

In [16]:
ita82year = ita_year.loc[ita_year["season"].isin(year1982)]

In [17]:
ita82xg = ita82year.sort_values(by=["goals_z"], ascending=False)

In [18]:
ita82xg13 = ita82xg.head(13)

In [19]:
ita82xg13 = ita82xg13.drop(columns=['season', 'team'])

In [20]:
ita82 = ita82xg13.mean()

In [21]:
# ita82

## 1986

In [22]:
ita86year = ita_year.loc[ita_year["season"].isin(year1986)]

In [23]:
ita86xg = ita86year.sort_values(by=["goals_z"], ascending=False)

In [24]:
ita86xg13 = ita86xg.head(13)

In [25]:
ita86xg13 = ita86xg13.drop(columns=['season', 'team'])

In [26]:
ita86 = ita86xg13.mean()

In [27]:
# ita86

## 1990

In [28]:
ita90year = ita_year.loc[ita_year["season"].isin(year1990)]

In [29]:
ita90xg = ita90year.sort_values(by=["goals_z"], ascending=False)

In [30]:
ita90xg13 = ita90xg.head(13)

In [31]:
ita90xg13 = ita90xg13.drop(columns=['season', 'team'])

In [32]:
ita90 = ita90xg13.mean()

In [33]:
# ita90

## 1994

In [34]:
ita94year = ita_year.loc[ita_year["season"].isin(year1994)]

In [35]:
ita94xg = ita94year.sort_values(by=["goals_z"], ascending=False)

In [36]:
ita94xg13 = ita94xg.head(13)

In [37]:
ita94xg13 = ita94xg13.drop(columns=['season', 'team'])

In [38]:
ita94 = ita94xg13.mean()

In [39]:
# ita94

## 1998

In [40]:
ita98year = ita_year.loc[ita_year["season"].isin(year1998)]

In [41]:
ita98xg = ita98year.sort_values(by=["goals_z"], ascending=False)

In [42]:
ita98xg13 = ita98xg.head(13)

In [43]:
ita98xg13 = ita98xg13.drop(columns=['season', 'team'])

In [44]:
ita98 = ita98xg13.mean()

In [45]:
# ita98

## 2002

In [46]:
ita02year = ita_year.loc[ita_year["season"].isin(year2002)]

In [47]:
ita02xg = ita02year.sort_values(by=["goals_z"], ascending=False)

In [48]:
ita02xg13 = ita02xg.head(13)

In [49]:
ita02xg13 = ita02xg13.drop(columns=['season', 'team'])

In [50]:
ita02 = ita02xg13.mean()

In [51]:
# ita02

## 06

In [52]:
ita06year = ita_year.loc[ita_year["season"].isin(year2006)]

In [53]:
ita06xg = ita06year.sort_values(by=["goals_z"], ascending=False)

In [54]:
ita06xg13 = ita06xg.head(13)

In [55]:
ita06xg13 = ita06xg13.drop(columns=['season', 'team'])

In [56]:
ita06 = ita06xg13.mean()

In [57]:
# ita06

## 2010

In [58]:
ita10year = ita_year.loc[ita_year["season"].isin(year2010)]

In [59]:
ita10xg = ita10year.sort_values(by=["goals_z"], ascending=False)

In [60]:
ita10xg13 = ita10xg.head(13)

In [61]:
ita10xg13 = ita10xg13.drop(columns=['season', 'team'])

In [62]:
ita10 = ita10xg13.mean()

In [63]:
# ita10

## 2014

In [64]:
ita14year = ita_year.loc[ita_year["season"].isin(year2014)]

In [65]:
ita14xg = ita14year.sort_values(by=["goals_z"], ascending=False)

In [66]:
ita14xg13 = ita14xg.head(13)

In [67]:
ita14xg13 = ita14xg13.drop(columns=['season', 'team'])

In [68]:
ita14 = ita14xg13.mean()

In [69]:
ita14

goals_z           -0.093077
xg_z              -0.197692
crosses_z         -0.366923
boxtouches_z      -0.434615
passes_z           0.531538
progpasses_z       0.181538
takeons_z         -0.248462
progruns_z        -0.085385
tackles_z          0.169231
interceptions_z    0.879231
clearances_z      -0.082308
blocks_z           0.463077
aerials_z         -0.289231
fouls_z            0.077692
fouled_z           0.267692
nsxg_z            -0.443077
dtype: float64

In [588]:
ital = pd.concat([ita82, ita86, ita90, ita94, ita98, ita02, ita06, ita10, ita14], axis=1).T

In [589]:
ital

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,0.286154,0.069231,0.013846,-0.040000,-0.095385,0.041538,0.054615,-0.230000,-0.101538,-0.220769,0.033846,0.198462,0.070000,0.350000,0.454615,-0.193846
1,0.073077,0.299231,0.304615,0.240000,0.406923,0.365385,0.016923,0.212308,-0.173077,0.320000,-0.068462,0.633846,-0.390000,0.300000,0.663846,0.102308
2,0.309231,0.330000,0.103846,0.147692,-0.000769,-0.311538,0.153846,0.121538,0.057692,0.213077,-0.199231,-0.313846,0.046923,-0.174615,0.493077,0.143077
3,0.032308,-0.028462,0.046154,0.052308,-0.147692,-0.115385,0.146923,-0.120000,-0.158462,-0.208462,-0.000769,-0.114615,0.080769,-0.066154,0.305385,0.050000
4,0.293846,0.176154,-0.355385,-0.112308,-0.164615,0.045385,-0.054615,-0.113846,-0.053846,-0.103077,0.309231,0.130000,0.074615,-0.010769,0.081538,-0.176923
5,0.153077,0.197692,0.030000,0.088462,-0.665385,-0.347692,-0.200000,-0.407692,-0.646154,-0.612308,-0.216154,-0.455385,-0.064615,-0.136923,0.095385,-0.118462
6,0.484615,0.213077,-0.103846,0.202308,-0.116154,-0.091538,-0.255385,-0.093077,-0.251538,-0.112308,0.109231,0.126923,0.100000,-0.377692,0.180000,0.180769
7,0.310769,0.424615,0.362308,0.256923,0.035385,0.073077,-0.039231,-0.240000,0.763846,0.315385,-0.299231,-0.280000,0.519231,-0.003077,0.360769,0.107692
8,-0.093077,-0.197692,-0.366923,-0.434615,0.531538,0.181538,-0.248462,-0.085385,0.169231,0.879231,-0.082308,0.463077,-0.289231,0.077692,0.267692,-0.443077

In [590]:
ital.rename(index={0: 'Italy82', 1: 'Italy86', 2: 'Italy90', 3: 'Italy94', 4: 'Italy98', 
                  5: 'Italy02', 6: 'Italy06', 7: 'Italy10', 8: 'Italy14'}, inplace=True)

In [591]:
df2 = ital.assign(results=[1, 12, 3, 2, 5, 15, 1, 26, 22])

In [592]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Italy82,0.286154,0.069231,0.013846,-0.040000,-0.095385,0.041538,0.054615,-0.230000,-0.101538,-0.220769,0.033846,0.198462,0.070000,0.350000,0.454615,-0.193846,1
Italy86,0.073077,0.299231,0.304615,0.240000,0.406923,0.365385,0.016923,0.212308,-0.173077,0.320000,-0.068462,0.633846,-0.390000,0.300000,0.663846,0.102308,12
Italy90,0.309231,0.330000,0.103846,0.147692,-0.000769,-0.311538,0.153846,0.121538,0.057692,0.213077,-0.199231,-0.313846,0.046923,-0.174615,0.493077,0.143077,3
Italy94,0.032308,-0.028462,0.046154,0.052308,-0.147692,-0.115385,0.146923,-0.120000,-0.158462,-0.208462,-0.000769,-0.114615,0.080769,-0.066154,0.305385,0.050000,2
Italy98,0.293846,0.176154,-0.355385,-0.112308,-0.164615,0.045385,-0.054615,-0.113846,-0.053846,-0.103077,0.309231,0.130000,0.074615,-0.010769,0.081538,-0.176923,5
Italy02,0.153077,0.197692,0.030000,0.088462,-0.665385,-0.347692,-0.200000,-0.407692,-0.646154,-0.612308,-0.216154,-0.455385,-0.064615,-0.136923,0.095385,-0.118462,15
Italy06,0.484615,0.213077,-0.103846,0.202308,-0.116154,-0.091538,-0.255385,-0.093077,-0.251538,-0.112308,0.109231,0.126923,0.100000,-0.377692,0.180000,0.180769,1
Italy10,0.310769,0.424615,0.362308,0.256923,0.035385,0.073077,-0.039231,-0.240000,0.763846,0.315385,-0.299231,-0.280000,0.519231,-0.003077,0.360769,0.107692,26
Italy14,-0.093077,-0.197692,-0.366923,-0.434615,0.531538,0.181538,-0.248462,-0.085385,0.169231,0.879231,-0.082308,0.463077,-0.289231,0.077692,0.267692,-0.443077,22

In [593]:
# df2.to_csv('Italy.csv')

In [75]:
# 82 - 1      Italy     1/C     7     4     3     0     12     6     +6     11
# 86 - 12      Italy     A     4     1     2     1     5     6     −1     4
# 90 - 3     A      Italy     7     6     1     0     10     2     +8     13     3rd
# 94 - 2      Italy     E     7     4     2     1     8     5     +3     14
# 98 - 5      Italy     B     5     3     2     0     8     3     +5     11
# 02 - 15     G      Italy     4     1     1     2     5     5     0     4
# 06 - 1      Italy     E     7     5     2     0     12     2     +10     17
# 10 - 26      Italy     F     3     0     2     1     4     5     −1     2
# 14 - 22      Italy     D     3     1     0     2     3     2     3     −1

#  South Korea

## 86

In [76]:
sko = ['South Korea']

In [77]:
sko_year = df.loc[df["team"].isin(sko)]

In [78]:
sko86year = sko_year.loc[sko_year["season"].isin(year1986)]

In [79]:
sko86xg = sko86year.sort_values(by=["goals_z"], ascending=False)

In [80]:
sko86xg13 = sko86xg.head(13)

In [81]:
sko86xg13 = sko86xg13.drop(columns=['season', 'team'])

In [82]:
sko86 = sko86xg13.mean()

In [83]:
# sko86

## 90

In [84]:
sko90year = sko_year.loc[sko_year["season"].isin(year1990)]

In [85]:
sko90xg = sko90year.sort_values(by=["goals_z"], ascending=False)

In [86]:
sko90xg13 = sko90xg.head(13)

In [87]:
sko90xg13 = sko90xg13.drop(columns=['season', 'team'])

In [88]:
sko90 = sko90xg13.mean()

In [89]:
# sko90

## 94

In [90]:
sko94year = sko_year.loc[sko_year["season"].isin(year1994)]

In [91]:
sko94xg = sko94year.sort_values(by=["goals_z"], ascending=False)

In [92]:
sko94xg13 = sko94xg.head(13)

In [93]:
sko94xg13 = sko94xg13.drop(columns=['season', 'team'])

In [94]:
sko94 = sko94xg13.mean()

In [95]:
# sko94

## 98

In [96]:
sko98year = sko_year.loc[sko_year["season"].isin(year1998)]

In [97]:
sko98xg = sko98year.sort_values(by=["goals_z"], ascending=False)

In [98]:
sko98xg13 = sko98xg.head(13)

In [99]:
sko98xg13 = sko98xg13.drop(columns=['season', 'team'])

In [100]:
sko98 = sko98xg13.mean()

In [101]:
# sko98

## 02

In [102]:
sko02year = sko_year.loc[sko_year["season"].isin(year2002)]

In [103]:
sko02xg = sko02year.sort_values(by=["goals_z"], ascending=False)

In [104]:
sko02xg13 = sko02xg.head(13)

In [105]:
sko02xg13 = sko02xg13.drop(columns=['season', 'team'])

In [106]:
sko02 = sko02xg13.mean()

In [107]:
# sko02

## 06

In [108]:
sko06year = sko_year.loc[sko_year["season"].isin(year2006)]

In [109]:
sko06xg = sko06year.sort_values(by=["goals_z"], ascending=False)

In [110]:
sko06xg13 = sko06xg.head(13)

In [111]:
sko06xg13 = sko06xg13.drop(columns=['season', 'team'])

In [112]:
sko06 = sko06xg13.mean()

In [113]:
# sko06

## 10

In [114]:
sko10year = sko_year.loc[sko_year["season"].isin(year2010)]

In [115]:
sko10xg = sko10year.sort_values(by=["goals_z"], ascending=False)

In [116]:
sko10xg13 = sko10xg.head(13)

In [117]:
sko10xg13 = sko10xg13.drop(columns=['season', 'team'])

In [118]:
sko10 = sko10xg13.mean()

In [119]:
# sko10

## 14

In [120]:
sko14year = sko_year.loc[sko_year["season"].isin(year2014)]

In [121]:
sko14xg = sko14year.sort_values(by=["goals_z"], ascending=False)

In [122]:
sko14xg13 = sko14xg.head(13)

In [123]:
sko14xg13 = sko14xg13.drop(columns=['season', 'team'])

In [124]:
sko14 = sko14xg13.mean()

In [125]:
# sko14

## 2018

In [126]:
sko18year = sko_year.loc[sko_year["season"].isin(year2018)]

In [127]:
sko18xg = sko18year.sort_values(by=["goals_z"], ascending=False)

In [128]:
sko18xg13 = sko18xg.head(13)

In [129]:
sko18xg13 = sko18xg13.drop(columns=['season', 'team'])

In [130]:
sko18 = sko18xg13.mean()

In [131]:
# sko18

In [594]:
sko = pd.concat([sko86, sko90, sko94, sko98, sko02, 
                 sko06, sko10, sko14, sko18], axis=1).T

In [595]:
sko.rename(index={0: 'South_korea86', 1: 'South_korea90', 
                  2: 'South_korea94', 3: 'South_korea98', 
                  4: 'South_korea02', 5: 'South_korea06',
                 6: 'South_korea10', 7: 'South_korea14',
                 7: 'South_korea18'}, inplace=True)

In [596]:
df2 = sko.assign(results=[20, 22, 20, 30, 4, 17, 15, 27, 19])

In [597]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
South_korea86,0.228462,0.057692,0.275385,0.283846,-0.075385,0.005385,0.069231,-0.332308,0.150000,-0.079231,-0.099231,0.013846,0.130769,0.433077,0.083846,0.374615,20
South_korea90,-0.241538,-0.352308,-0.361538,-0.213846,-0.336154,-0.175385,-0.170000,-0.399231,-0.215385,0.071538,0.245385,0.389231,0.007692,0.566923,-0.183846,-0.375385,22
South_korea94,0.148462,0.080000,0.282308,0.136923,-0.076154,-0.136154,0.069231,0.194615,-0.005385,-0.285385,-0.273846,0.194615,-0.096154,0.026923,-0.044615,-0.052308,20
South_korea98,-0.103077,-0.270769,-0.020000,-0.350000,-0.159231,0.011538,-0.186154,-0.476923,-0.342308,-0.209231,0.335385,0.132308,0.363077,-0.210769,-0.255385,-0.223077,30
South_korea02,0.095385,0.250769,0.246923,0.118462,0.100000,0.000769,0.095385,0.163846,0.410000,0.266923,-0.184615,-0.225385,0.149231,0.034615,0.082308,0.062308,4
South_korea06,0.156923,0.010769,0.373077,0.396923,0.304615,0.068462,-0.200769,-0.011538,0.462308,0.090000,-0.189231,-0.257692,0.549231,-0.063846,0.069231,0.430000,17
South_korea10,0.398462,0.258462,-0.106923,0.123077,0.061538,-0.023846,0.037692,0.039231,0.236923,0.170769,0.003077,-0.101538,0.405385,0.096154,0.233846,0.223846,15
South_korea18,0.075385,-0.059231,0.215385,0.381538,0.125385,-0.083846,0.281538,0.140000,-0.032308,-0.112308,0.302308,0.120769,0.631538,-0.247692,0.134615,0.481538,27
8,0.110000,0.032308,-0.150000,0.017692,-0.373077,-0.323077,0.376923,-0.113846,-0.230000,-0.154615,0.297692,-0.116923,-0.215385,0.799231,-0.030000,0.176154,19

In [598]:
# df2.to_csv('South_Korea.csv')

In [136]:
# 86 - 20      South Korea     A     3     0     1     2     4     7     −3     1
# 90 - 22     E      South Korea     3     0     0     3     1     6     −5     0
# 94 - 20      South Korea     C     3     0     2     1     4     5     −1     2
# 98 - 30      South Korea     E     3     0     1     2     2     9     −7     1
# 02 - 4     D      South Korea     7     3     2     2     8     6     +2     11     4th
# 06 - 17      South Korea     G     3     1     1     1     3     4     −1     4
# 10 - 15      South Korea     B     4     1     1     2     6     8     −2     4
# 14 - 27      South Korea     H     3     0     1     2     1     3     6     −3
# 18 - 19      South Korea     F     3     1     0     2     3     3     3     0

# Nigeria

## 94

In [137]:
nig = ['Nigeria']

In [138]:
nig_year = df.loc[df["team"].isin(nig)]

In [139]:
nig94year = nig_year.loc[nig_year["season"].isin(year1994)]

In [140]:
nig94xg = nig94year.sort_values(by=["goals_z"], ascending=False)

In [141]:
nig94xg13 = nig94xg.head(13)

In [142]:
nig94xg13 = nig94xg13.drop(columns=['season', 'team'])

In [143]:
nig94 = nig94xg13.mean()

In [144]:
# nig94

## 98

In [145]:
nig98year = nig_year.loc[nig_year["season"].isin(year1998)]

In [146]:
nig98xg = nig98year.sort_values(by=["goals_z"], ascending=False)

In [147]:
nig98xg13 = nig98xg.head(13)

In [148]:
nig98xg13 = nig98xg13.drop(columns=['season', 'team'])

In [149]:
nig98 = nig98xg13.mean()

In [150]:
# nig98

## 02

In [151]:
nig02year = nig_year.loc[nig_year["season"].isin(year2002)]

In [152]:
nig02xg = nig02year.sort_values(by=["goals_z"], ascending=False)

In [153]:
nig02xg13 = nig02xg.head(13)

In [154]:
nig02xg13 = nig02xg13.drop(columns=['season', 'team'])

In [155]:
nig02 = nig02xg13.mean()

In [156]:
# nig02

## 10

In [157]:
nig10year = nig_year.loc[nig_year["season"].isin(year2010)]

In [158]:
nig10xg = nig10year.sort_values(by=["goals_z"], ascending=False)

In [159]:
nig10xg13 = nig10xg.head(13)

In [160]:
nig10xg13 = nig10xg13.drop(columns=['season', 'team'])

In [161]:
nig10 = nig10xg13.mean()

In [162]:
# nig10

## 14

In [163]:
nig14year = nig_year.loc[nig_year["season"].isin(year2014)]

In [164]:
nig14xg = nig14year.sort_values(by=["goals_z"], ascending=False)

In [165]:
nig14xg13 = nig14xg.head(13)

In [166]:
nig14xg13 = nig14xg13.drop(columns=['season', 'team'])

In [167]:
nig14 = nig14xg13.mean()

In [168]:
# nig14

## 2018

In [169]:
nig18year = nig_year.loc[nig_year["season"].isin(year2018)]

In [170]:
nig18xg = nig18year.sort_values(by=["goals_z"], ascending=False)

In [171]:
nig18xg13 = nig18xg.head(13)

In [172]:
nig18xg13 = nig18xg13.drop(columns=['season', 'team'])

In [173]:
nig18 = nig18xg13.mean()

In [174]:
# nig18

In [599]:
nig = pd.concat([nig94, nig98, nig02, nig10, nig14, nig18], axis=1).T

In [600]:
nig.rename(index={0: 'Nigeria94', 1: 'Nigeria98', 2: 'Nigeria02', 
                  3: 'Nigeria10', 4: 'Nigeria14', 5: 'Nigeria18'}, inplace=True)

In [601]:
df2 = nig.assign(results=[9, 12, 27, 27, 16, 21])

In [602]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Nigeria94,0.263077,0.121538,0.236923,0.107692,-0.123077,-0.100000,0.672308,0.487692,-0.215385,-0.136154,0.004615,0.165385,-0.235385,0.583846,-0.280000,0.216154,9
Nigeria98,0.172308,0.074615,0.113846,0.106154,-0.288462,-0.288462,0.229231,0.199231,-0.517692,-0.470000,-0.401538,-0.266923,-0.225385,-0.511538,-0.307692,0.158462,12
Nigeria02,-0.247692,-0.058462,0.023077,-0.005385,-0.083077,-0.176154,0.573846,-0.158462,-0.038462,-0.166923,-0.096923,0.683077,-0.409231,-0.192308,-0.297692,0.074615,27
Nigeria10,0.132308,0.074615,-0.188462,-0.361538,-0.501538,-0.310000,-0.039231,-0.035385,-0.615385,-0.616154,-0.137692,-0.262308,0.105385,-0.408462,-0.306923,-0.370769,27
Nigeria14,-0.051538,-0.145385,0.025385,-0.077692,0.152308,-0.122308,0.416154,0.668462,0.161538,0.006154,0.262308,0.083846,0.110769,0.229231,-0.048462,0.018462,16
Nigeria18,0.110000,-0.004615,-0.030769,-0.038462,-0.182308,0.062308,0.568462,-0.147692,-0.150769,-0.020000,0.100000,-0.142308,-0.058462,0.201538,0.229231,-0.026923,21

In [603]:
# df2.to_csv('Nigeria.csv')

In [179]:
# 94 - 9      Nigeria     D     4     2     0     2     7     4     +3     6
# 98 - 12      Nigeria     D     4     2     0     2     6     9     −3     6
# 02 - 27     F      Nigeria     3     0     1     2     1     3     −2     1
# 10 - 27      Nigeria     B     3     0     1     2     3     5     −2     1
# 14 - 16      Nigeria     F     4     1     1     2     4     3     5     −2
# 18 - 21      Nigeria     D     3     1     0     2     3     3     4     −1

# Colombia

In [180]:
col = ['Colombia']

In [181]:
col_year = df.loc[df["team"].isin(col)]

## 90

In [182]:
col90year = col_year.loc[col_year["season"].isin(year1990)]

In [183]:
col90xg = col90year.sort_values(by=["goals_z"], ascending=False)

In [184]:
col90xg13 = col90xg.head(13)

In [185]:
col90xg13 = col90xg13.drop(columns=['season', 'team'])

In [186]:
col90 = col90xg13.mean()

In [187]:
# col90

## 94

In [188]:
col94year = col_year.loc[col_year["season"].isin(year1994)]

In [189]:
col94xg = col94year.sort_values(by=["goals_z"], ascending=False)

In [190]:
col94xg13 = col94xg.head(13)

In [191]:
col94xg13 = col94xg13.drop(columns=['season', 'team'])

In [192]:
col94 = col94xg13.mean()

In [193]:
# col94

## 98

In [194]:
col98year = col_year.loc[col_year["season"].isin(year1998)]

In [195]:
col98xg = col98year.sort_values(by=["goals_z"], ascending=False)

In [196]:
col98xg13 = col98xg.head(13)

In [197]:
col98xg13 = col98xg13.drop(columns=['season', 'team'])

In [198]:
col98 = col98xg13.mean()

In [199]:
# col98

## 14

In [200]:
col14year = col_year.loc[col_year["season"].isin(year2014)]

In [201]:
col14xg = col14year.sort_values(by=["goals_z"], ascending=False)

In [202]:
col14xg13 = col14xg.head(13)

In [203]:
col14xg13 = col14xg13.drop(columns=['season', 'team'])

In [204]:
col14 = col14xg13.mean()

In [205]:
# col14

## 18

In [206]:
col18year = col_year.loc[col_year["season"].isin(year2018)]

In [207]:
col18xg = col18year.sort_values(by=["goals_z"], ascending=False)

In [208]:
col18xg13 = col18xg.head(13)

In [209]:
col18xg13 = col18xg13.drop(columns=['season', 'team'])

In [210]:
col18 = col18xg13.mean()

In [211]:
# col18

In [604]:
col = pd.concat([col90, col94, col98, col14, col18], axis=1).T

In [605]:
col.rename(index={0: 'Colombia90', 1: 'Colombia94', 2: 'Colombia98',
                  3: 'Colombia14', 4: 'Colombia18'}, inplace=True)

In [606]:
df2 = col.assign(results=[14, 19, 21, 5, 9])

In [607]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Colombia90,0.073077,0.004615,-0.013077,0.047692,0.873846,0.790769,0.200769,-0.084615,0.260000,1.156923,-0.149231,0.108462,-0.160769,0.427692,0.540769,-0.071538,14
Colombia94,0.013846,0.266923,-0.103846,0.443077,1.092308,0.601538,0.500769,-0.234615,0.880000,1.216154,-0.359231,0.058462,-0.150000,0.290000,-0.176154,0.568462,19
Colombia98,-0.261538,-0.169231,-0.216923,-0.154615,0.068462,-0.088462,0.183077,0.316154,-0.177692,0.080769,-0.166154,-0.361538,-0.270000,0.290000,0.245385,-0.173077,21
Colombia14,0.781538,0.256154,0.016923,0.298462,-0.303077,-0.243846,0.117692,0.115385,-0.035385,-0.245385,-0.143077,-0.047692,-0.237692,0.343846,0.417692,0.353077,5
Colombia18,0.313077,-0.103077,0.029231,-0.319231,-0.093846,-0.152308,-0.142308,-0.181538,0.058462,-0.141538,0.016923,-0.018462,0.121538,0.212308,0.083077,-0.171538,9

In [608]:
# df2.to_csv('Colombia.csv')

In [216]:
# 90 - 14     D      Colombia     4     1     1     2     4     4     0     3
# 94 - 19      Colombia     A     3     1     0     2     4     5     −1     3
# 98 - 21      Colombia     G     3     1     0     2     1     3     −2     3
# 14 - 5      Colombia     C     5     4     0     1     12     12     4     +8
# 18 - 9      Colombia     H     4     2     1     1     7     6     3     +3

# Paraguay

## 86

In [217]:
par = ['Paraguay']

In [218]:
par_year = df.loc[df["team"].isin(par)]

In [219]:
par86year = par_year.loc[par_year["season"].isin(year1986)]

In [220]:
par86xg = par86year.sort_values(by=["goals_z"], ascending=False)

In [221]:
par86xg13 = par86xg.head(13)

In [222]:
par86xg13 = par86xg13.drop(columns=['season', 'team'])

In [223]:
par86 = par86xg13.mean()

In [224]:
# par86

## 98

In [225]:
par98year = par_year.loc[par_year["season"].isin(year1998)]

In [226]:
par98xg = par98year.sort_values(by=["goals_z"], ascending=False)

In [227]:
par98xg13 = par98xg.head(13)

In [228]:
par98xg13 = par98xg13.drop(columns=['season', 'team'])

In [229]:
par98 = par98xg13.mean()

In [230]:
# par98

## 02

In [231]:
par02year = par_year.loc[par_year["season"].isin(year2002)]

In [232]:
par02xg = par02year.sort_values(by=["goals_z"], ascending=False)

In [233]:
par02xg13 = par02xg.head(13)

In [234]:
par02xg13 = par02xg13.drop(columns=['season', 'team'])

In [235]:
par02 = par02xg13.mean()

In [236]:
# par02

## 06

In [237]:
par06year = par_year.loc[par_year["season"].isin(year2006)]

In [238]:
par06xg = par06year.sort_values(by=["goals_z"], ascending=False)

In [239]:
par06xg13 = par06xg.head(13)

In [240]:
par06xg13 = par06xg13.drop(columns=['season', 'team'])

In [241]:
par06 = par06xg13.mean()

In [242]:
# par06

## 10

In [243]:
par10year = par_year.loc[par_year["season"].isin(year2010)]

In [244]:
par10xg = par10year.sort_values(by=["goals_z"], ascending=False)

In [245]:
par10xg13 = par10xg.head(13)

In [246]:
par10xg13 = par10xg13.drop(columns=['season', 'team'])

In [247]:
par10 = par10xg13.mean()

In [248]:
# par10

In [609]:
par = pd.concat([par86, par98, par02, par06, par10], axis=1).T

In [610]:
par.rename(index={0: 'Paraguay86', 1: 'Paraguay98', 2: 'Paraguay02',
                  3: 'Paraguay06', 4: 'Paraguay10'}, inplace=True)

In [611]:
df2 = par.assign(results=[13, 14, 16, 18, 8])

In [612]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Paraguay86,0.073077,0.086154,-0.002308,0.140000,0.296154,0.398462,0.116923,-0.369231,0.240000,0.080769,0.193846,0.253846,0.647692,0.300000,0.760769,0.400000,13
Paraguay98,-0.092308,-0.187692,-0.320769,-0.275385,-0.358462,-0.192308,-0.071538,-0.317692,-0.052308,-0.133846,0.615385,0.671538,0.086923,-0.112308,-0.058462,-0.312308,14
Paraguay02,0.198462,0.063077,0.147692,0.048462,-0.176923,-0.118462,-0.151538,-0.066923,-0.210000,-0.300769,0.046154,0.004615,0.423077,0.016923,-0.056154,0.130000,16
Paraguay06,-0.227692,-0.030769,-0.032308,-0.026923,-0.128462,0.136154,-0.155385,-0.102308,0.161538,-0.042308,0.357692,-0.010769,0.359231,-0.126923,0.010000,-0.161538,18
Paraguay10,-0.100000,-0.140000,-0.302308,0.293846,-0.183077,-0.088462,-0.232308,-0.308462,0.126154,-0.263846,0.009231,-0.150000,0.190000,0.130769,0.158462,-0.186154,8

In [613]:
# df2.to_csv('Paraguay.csv')

In [253]:
# 86 - 13      Paraguay     B     4     1     2     1     4     6     −2     4
# 98 - 14      Paraguay     D     4     1     2     1     3     2     +1     5
# 02 - 16     B      Paraguay     4     1     1     2     6     7     −1     4
# 06 - 18      Paraguay     B     3     1     0     2     2     2     0     3
# 10 - 8      Paraguay     F     5     1     3     1     3     2     +1     6

# Sweden

## 90

In [254]:
swe = ['Sweden']

In [255]:
swe_year = df.loc[df["team"].isin(swe)]

In [256]:
swe90year = swe_year.loc[swe_year["season"].isin(year1990)]

In [257]:
swe90xg = swe90year.sort_values(by=["goals_z"], ascending=False)

In [258]:
swe90xg13 = swe90xg.head(13)

In [259]:
swe90xg13 = swe90xg13.drop(columns=['season', 'team'])

In [260]:
swe90 = swe90xg13.mean()

In [261]:
# swe90

## 94

In [262]:
swe94year = swe_year.loc[swe_year["season"].isin(year1994)]

In [263]:
swe94xg = swe94year.sort_values(by=["goals_z"], ascending=False)

In [264]:
swe94xg13 = swe94xg.head(13)

In [265]:
swe94xg13 = swe94xg13.drop(columns=['season', 'team'])

In [266]:
swe94 = swe94xg13.mean()

In [267]:
# swe94

## 02

In [268]:
swe02year = swe_year.loc[swe_year["season"].isin(year2002)]

In [269]:
swe02xg = swe02year.sort_values(by=["goals_z"], ascending=False)

In [270]:
swe02xg13 = swe02xg.head(13)

In [271]:
swe02xg13 = swe02xg13.drop(columns=['season', 'team'])

In [272]:
swe02 = swe02xg13.mean()

In [273]:
# swe02

## 06

In [274]:
swe06year = swe_year.loc[swe_year["season"].isin(year2006)]

In [275]:
swe06xg = swe06year.sort_values(by=["goals_z"], ascending=False)

In [276]:
swe06xg13 = swe06xg.head(13)

In [277]:
swe06xg13 = swe06xg13.drop(columns=['season', 'team'])

In [278]:
swe06 = swe06xg13.mean()

In [279]:
# swe06

## 18

In [280]:
swe18year = swe_year.loc[swe_year["season"].isin(year2018)]

In [281]:
swe18xg = swe18year.sort_values(by=["goals_z"], ascending=False)

In [282]:
swe18xg13 = swe18xg.head(13)

In [283]:
swe18xg13 = swe18xg13.drop(columns=['season', 'team'])

In [284]:
swe18 = swe18xg13.mean()

In [285]:
# swe18

In [614]:
swe = pd.concat([swe90, swe94, swe02, swe06, swe18], axis=1).T

In [615]:
swe.rename(index={0: 'Sweden90', 1: 'Sweden94', 2: 'Sweden02', 
                  3: 'Sweden06', 4: 'Sweden18'}, inplace=True)

In [616]:
df2 = swe.assign(results=[21, 3, 13, 14, 7])

In [617]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Sweden90,0.115385,-0.049231,0.040000,0.268462,0.065385,0.035385,-0.134615,-0.349231,-0.089231,0.016923,-0.153077,-0.200769,0.652308,-0.073846,0.069231,0.133846,21
Sweden94,0.437692,0.183077,0.188462,0.307692,-0.013846,0.101538,-0.116154,0.056154,-0.348462,-0.208462,0.123077,0.126923,0.848462,-0.230000,0.046923,0.230769,3
Sweden02,0.152308,0.160769,0.123077,0.047692,-0.213846,-0.001538,-0.110000,-0.378462,-0.200000,-0.078462,0.894615,-0.050769,0.336923,0.004615,0.038462,-0.066154,13
Sweden06,0.013846,0.336923,0.486154,0.567692,0.013077,0.272308,0.076923,0.202308,0.139231,-0.020000,-0.065385,-0.088462,0.296154,-0.152308,-0.132308,0.631538,14
Sweden18,0.110000,0.338462,-0.006923,0.064615,-0.353077,-0.141538,-0.211538,-0.300769,-0.573846,-0.342308,0.558462,0.088462,0.298462,0.081538,0.203846,0.050769,7

In [618]:
# df2.to_csv('Sweden.csv')

In [290]:
# 90 - 21     C      Sweden     3     0     0     3     3     6     −3     0
# 94 - 3      Sweden     B     7     3     3     1     15     8     +7     12
# 02 - 13     F      Sweden     4     1     2     1     5     5     0     5
# 06 - 14      Sweden     B     4     1     2     1     3     4     −1     5
# 18 - 7      Sweden     F     5     3     0     2     9     6     4     +2

# Russia / USSR

In [291]:
rus = ['Russia']
## 90 and earlier
usr = ['USSR']

In [292]:
rus_year = df.loc[df["team"].isin(usr)]

In [293]:
rus82year = rus_year.loc[rus_year["season"].isin(year1982)]

In [294]:
rus82xg = rus82year.sort_values(by=["goals_z"], ascending=False)

In [295]:
rus82xg13 = rus82xg.head(13)

In [296]:
rus82xg13 = rus82xg13.drop(columns=['season', 'team'])

In [297]:
rus82 = rus82xg13.mean()

In [298]:
# rus82

## 86

In [299]:
rus86year = rus_year.loc[rus_year["season"].isin(year1986)]

In [300]:
rus86xg = rus86year.sort_values(by=["goals_z"], ascending=False)

In [301]:
rus86xg13 = rus86xg.head(13)

In [302]:
rus86xg13 = rus86xg13.drop(columns=['season', 'team'])

In [303]:
rus86 = rus86xg13.mean()

In [304]:
# rus86

## 90

In [305]:
rus90year = rus_year.loc[rus_year["season"].isin(year1990)]

In [306]:
rus90xg = rus90year.sort_values(by=["goals_z"], ascending=False)

In [307]:
rus90xg13 = rus90xg.head(13)

In [308]:
rus90xg13 = rus90xg13.drop(columns=['season', 'team'])

In [309]:
rus90 = rus90xg13.mean()

In [310]:
# rus90

## 94

In [311]:
rus_year = df.loc[df["team"].isin(rus)]

In [312]:
rus94year = rus_year.loc[rus_year["season"].isin(year1994)]

In [313]:
rus94xg = rus94year.sort_values(by=["goals_z"], ascending=False)

In [314]:
rus94xg13 = rus94xg.head(13)

In [315]:
rus94xg13 = rus94xg13.drop(columns=['season', 'team'])

In [316]:
rus94 = rus94xg13.mean()

In [317]:
# rus94

## 02

In [318]:
rus02year = rus_year.loc[rus_year["season"].isin(year2002)]

In [319]:
rus02xg = rus02year.sort_values(by=["goals_z"], ascending=False)

In [320]:
rus02xg13 = rus02xg.head(13)

In [321]:
rus02xg13 = rus02xg13.drop(columns=['season', 'team'])

In [322]:
rus02 = rus02xg13.mean()

In [323]:
# rus02

## 14

In [324]:
rus14year = rus_year.loc[rus_year["season"].isin(year2014)]

In [325]:
rus14xg = rus14year.sort_values(by=["goals_z"], ascending=False)

In [326]:
rus14xg13 = rus14xg.head(13)

In [327]:
rus14xg13 = rus14xg13.drop(columns=['season', 'team'])

In [328]:
rus14 = rus14xg13.mean()

In [329]:
# rus14

## 18

In [330]:
rus18year = rus_year.loc[rus_year["season"].isin(year2018)]

In [331]:
rus18xg = rus18year.sort_values(by=["goals_z"], ascending=False)

In [332]:
rus18xg13 = rus18xg.head(13)

In [333]:
rus18xg13 = rus18xg13.drop(columns=['season', 'team'])

In [334]:
rus18 = rus18xg13.mean()

In [335]:
# rus18

In [619]:
rus = pd.concat([rus82, rus86, rus90, rus94, rus02, rus14, rus18], axis=1).T

In [620]:
rus.rename(index={0: 'Russia82', 1: 'Russia86', 2: 'Russia90',
                  3: 'Russia94', 4: 'Russia02', 5: 'Russia14',
                 6: 'Russia18'}, inplace=True)

In [621]:
df2 = rus.assign(results=[7, 10, 17, 18, 22, 24, 8])

In [622]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Russia82,0.140769,-0.060769,0.028462,0.078462,0.086923,0.244615,-0.148462,0.131538,0.150000,-0.145385,0.119231,0.227692,0.143846,-0.360000,-0.008462,0.143846,7
Russia86,0.786154,0.946923,0.149231,0.242308,-0.258462,-0.413077,0.680769,-0.091538,0.090000,0.136923,-0.546923,-0.329231,-0.127692,-0.190769,-0.055385,0.313077,10
Russia90,0.293846,0.280000,0.040769,0.140769,0.298462,0.099231,0.011538,0.217692,0.535385,0.263846,-0.331538,-0.016154,-0.445385,0.037692,0.296923,0.340769,17
Russia94,0.553077,0.411538,-0.104615,0.026923,-0.352308,-0.238462,-0.254615,-0.268462,-0.125385,0.029231,-0.119231,-0.279231,-0.150769,-0.266154,-0.406154,-0.210000,18
Russia02,0.239231,0.424615,0.068462,0.406923,0.001538,0.000769,-0.250769,-0.051538,0.008462,0.157692,-0.395385,-0.520000,0.040769,0.096154,0.170769,0.409231,22
Russia14,-0.093077,-0.067692,0.272308,0.108462,0.023077,0.133846,-0.214615,0.561538,0.419231,0.098462,0.150000,-0.136923,-0.103846,0.186154,-0.163077,-0.001538,24
Russia18,0.572308,0.006154,-0.037692,0.076154,-0.416923,-0.153846,-0.170769,-0.191538,-0.466154,-0.107692,0.344615,-0.072308,0.683077,0.365385,-0.138462,-0.017692,8

In [623]:
# df2.to_csv('Russia.csv')

In [340]:
# 82 - 7      Soviet Union     6/A     5     2     2     1     7     4     +3     6
# 86 - 10      Soviet Union     C     4     2     1     1     12     5     +7     5
# 90 - 17     B      Soviet Union     3     1     0     2     4     4     0     2 
# 94 - 18      Russia     B     3     1     0     2     7     6     +1     3
# 02 - 22     H      Russia     3     1     0     2     4     4     0     3
# 14 - 24      Russia     H     3     0     2     1     2     2     3     −1
# 18 - 8      Russia     A     5     2     2     1     8     11     7     +4

# Algeria

## 82

In [341]:
alg = ['Algeria']

In [342]:
alg_year = df.loc[df["team"].isin(alg)]

In [343]:
alg82year = alg_year.loc[alg_year["season"].isin(year1982)]

In [344]:
alg82xg = alg82year.sort_values(by=["goals_z"], ascending=False)

In [345]:
alg82xg13 = alg82xg.head(13)

In [346]:
alg82xg13 = alg82xg13.drop(columns=['season', 'team'])

In [347]:
alg82 = alg82xg13.mean()

In [348]:
# alg82

## 86

In [349]:
alg86year = alg_year.loc[alg_year["season"].isin(year1986)]

In [350]:
alg86xg = alg86year.sort_values(by=["goals_z"], ascending=False)

In [351]:
alg86xg13 = alg86xg.head(13)

In [352]:
alg86xg13 = alg86xg13.drop(columns=['season', 'team'])

In [353]:
alg86 = alg86xg13.mean()

In [354]:
# alg86

## 10

In [355]:
alg10year = alg_year.loc[alg_year["season"].isin(year2010)]

In [356]:
alg10xg = alg10year.sort_values(by=["goals_z"], ascending=False)

In [357]:
alg10xg13 = alg10xg.head(13)

In [358]:
alg10xg13 = alg10xg13.drop(columns=['season', 'team'])

In [359]:
alg10 = alg10xg13.mean()

In [360]:
# alg10

## 2014

In [361]:
alg14year = alg_year.loc[alg_year["season"].isin(year2014)]

In [362]:
alg14xg = alg14year.sort_values(by=["goals_z"], ascending=False)

In [363]:
alg14xg13 = alg14xg.head(13)

In [364]:
alg14xg13 = alg14xg13.drop(columns=['season', 'team'])

In [365]:
alg14 = alg14xg13.mean()

In [366]:
# alg14

In [624]:
alg = pd.concat([alg82, alg86, alg10, alg14], axis=1).T

In [625]:
alg.rename(index={0: 'Algeria82', 1: 'Algeria86', 2: 'Algeria10',
                  3: 'Algeria14'}, inplace=True)

In [626]:
df2 = alg.assign(results=[13, 22, 28, 14])

In [627]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Algeria82,0.265385,0.248462,-0.075385,0.036923,-0.109231,-0.206923,-0.024615,0.399231,-0.355385,-0.213846,0.343846,0.160000,0.063077,-0.046923,0.063077,-0.084615,13
Algeria86,-0.235385,-0.301538,-0.367692,-0.423077,0.413846,-0.074615,-0.167692,0.370000,0.199231,0.016154,0.440000,0.511538,0.130769,-0.262308,-0.359231,-0.376923,22
Algeria10,-0.400000,-0.104615,0.471538,-0.059231,0.270000,0.046154,-0.040000,0.204615,0.142308,0.485385,0.329231,-0.003077,0.197692,0.399231,0.011538,0.020769,28
Algeria14,0.386923,0.208462,-0.138462,-0.079231,-0.383846,-0.393846,-0.081538,-0.300000,-0.376154,-0.276154,0.170769,-0.269231,0.102308,0.023846,-0.145385,-0.278462,14

In [628]:
# df2.to_csv('Algeria.csv')

In [371]:
# 82 - 13      Algeria     2     3     2     0     1     5     5     0     4
# 86 - 22      Algeria     D     3     0     1     2     1     5     −4     1
# 10 - 28      Algeria     C     3     0     1     2     0     2     −2     1
# 14 - 14      Algeria     H     4     1     1     2     4     7     7     0

# Chile

In [372]:
## 82

In [373]:
chi = ['Chile']

In [374]:
chi_year = df.loc[df["team"].isin(chi)]

In [375]:
chi82year = chi_year.loc[chi_year["season"].isin(year1982)]

In [376]:
chi82xg = chi82year.sort_values(by=["goals_z"], ascending=False)

In [377]:
chi82xg13 = chi82xg.head(13)

In [378]:
chi82xg13 = chi82xg13.drop(columns=['season', 'team'])

In [379]:
chi82 = chi82xg13.mean()

In [380]:
# chi82

## 98

In [381]:
chi98year = chi_year.loc[chi_year["season"].isin(year1998)]

In [382]:
chi98xg = chi98year.sort_values(by=["goals_z"], ascending=False)

In [383]:
chi98xg13 = chi98xg.head(13)

In [384]:
chi98xg13 = chi98xg13.drop(columns=['season', 'team'])

In [385]:
chi98 = chi98xg13.mean()

In [386]:
# chi98

## 10

In [387]:
chi10year = chi_year.loc[chi_year["season"].isin(year2010)]

In [388]:
chi10xg = chi10year.sort_values(by=["goals_z"], ascending=False)

In [389]:
chi10xg13 = chi10xg.head(13)

In [390]:
chi10xg13 = chi10xg13.drop(columns=['season', 'team'])

In [391]:
chi10 = chi10xg13.mean()

In [392]:
# chi10

## 14

In [393]:
chi14year = chi_year.loc[chi_year["season"].isin(year2014)]

In [394]:
chi14xg = chi14year.sort_values(by=["goals_z"], ascending=False)

In [395]:
chi14xg13 = chi14xg.head(13)

In [396]:
chi14xg13 = chi14xg13.drop(columns=['season', 'team'])

In [397]:
chi14 = chi14xg13.mean()

In [398]:
# chi14

In [629]:
chi = pd.concat([chi82, chi98, chi10, chi14], axis=1).T

In [630]:
chi.rename(index={0: 'Chile82', 1: 'Chile98', 2: 'Chile10', 
                  3: 'Chile14'}, inplace=True)

In [631]:
df2 = chi.assign(results=[22, 16, 10, 9])

In [634]:
# df2.to_csv('Chile.csv')

In [633]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Chile82,-0.040769,0.342308,-0.170769,0.069231,0.054615,-0.070769,0.491538,0.291538,-0.184615,0.346923,-0.051538,-0.248462,-0.242308,0.039231,0.187692,0.100769,22
Chile98,0.173846,0.007692,0.409231,0.195385,0.208462,0.029231,-0.075385,-0.136923,0.211538,0.256154,-0.030769,-0.130000,0.299231,-0.202308,0.357692,0.203846,16
Chile10,-0.000769,0.105385,-0.023846,0.478462,-0.329231,-0.221538,0.462308,0.218462,0.453077,-0.085385,-0.467692,-0.466923,-0.113077,0.283077,0.305385,0.473846,10
Chile14,0.270769,-0.093846,-0.138462,0.101538,0.434615,0.374615,0.193846,-0.335385,0.186154,0.240000,0.098462,0.169231,-0.002308,0.222308,0.680769,0.151538,9

In [403]:
# 82 - 22      Chile     2     3     0     0     3     3     8     −5     0
# 98 - 16      Chile     B     4     0     3     1     5     8     −3     3
# 10 - 10      Chile     H     4     2     0     2     3     5     −2     6
# 14 - 9      Chile     B     4     2     1     1     7     6     4     +2

# Yugoslavia

## 82

In [404]:
yug = ['Yugoslavia']

In [405]:
yug_year = df.loc[df["team"].isin(yug)]

In [406]:
yug82year = yug_year.loc[yug_year["season"].isin(year1982)]

In [407]:
yug82xg = yug82year.sort_values(by=["goals_z"], ascending=False)

In [408]:
yug82xg13 = yug82xg.head(13)

In [409]:
yug82xg13 = yug82xg13.drop(columns=['season', 'team'])

In [410]:
yug82 = yug82xg13.mean()

In [411]:
# yug82

## 90

In [412]:
yug90year = yug_year.loc[yug_year["season"].isin(year1990)]

In [413]:
yug90xg = yug90year.sort_values(by=["goals_z"], ascending=False)

In [414]:
yug90xg13 = yug90xg.head(13)

In [415]:
yug90xg13 = yug90xg13.drop(columns=['season', 'team'])

In [416]:
yug90 = yug90xg13.mean()

In [417]:
# yug90

## 98

In [418]:
yug98year = yug_year.loc[yug_year["season"].isin(year1998)]

In [419]:
yug98xg = yug98year.sort_values(by=["goals_z"], ascending=False)

In [420]:
yug98xg13 = yug98xg.head(13)

In [421]:
yug98xg13 = yug98xg13.drop(columns=['season', 'team'])

In [422]:
yug98 = yug98xg13.mean()

In [423]:
# yug98

In [635]:
yug = pd.concat([yug82, yug90, yug98], axis=1).T

In [636]:
yug.rename(index={0: 'Yugoslavia82', 1: 'Yugoslavia90', 
                  2: 'Yugoslavia98'}, inplace=True)

In [637]:
df2 = yug.assign(results=[16, 5, 10])

In [638]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Yugoslavia82,-0.193846,0.093846,0.257692,-0.103077,0.392308,0.596154,0.550000,0.220769,0.482308,0.980000,-0.273846,0.186923,0.010769,0.326154,0.163846,0.368462,16
Yugoslavia90,0.334615,-0.064615,0.231538,0.019231,-0.187692,-0.023077,0.187692,0.268462,-0.332308,-0.203077,-0.110000,0.003846,-0.190000,-0.326154,0.190769,0.173077,5
Yugoslavia98,0.173077,0.019231,-0.180769,-0.154615,-0.334615,-0.305385,-0.186154,-0.043846,-0.296923,-0.510769,0.129231,-0.087692,-0.153846,-0.136154,0.246154,-0.297692,10

In [639]:
# df2.to_csv('Yugoslavia.csv')

In [428]:
# 82 - 16      Yugoslavia     5     3     1     1     1     2     2     0     3
# 90 - 5     D      Yugoslavia     5     3     1     1     8     6     +2     7 
# 98 - 10      FR Yugoslavia     F     4     2     1     1     5     4     +1     7

# Scotland

## 82

In [429]:
sco = ['Scotland']

In [430]:
sco_year = df.loc[df["team"].isin(sco)]

In [431]:
sco82year = sco_year.loc[sco_year["season"].isin(year1982)]

In [432]:
sco82xg = sco82year.sort_values(by=["goals_z"], ascending=False)

In [433]:
sco82xg13 = sco82xg.head(13)

In [434]:
sco82xg13 = sco82xg13.drop(columns=['season', 'team'])

In [435]:
sco82 = sco82xg13.mean()

In [436]:
# sco82

## 86

In [437]:
sco86year = sco_year.loc[sco_year["season"].isin(year1986)]

In [438]:
sco86xg = sco86year.sort_values(by=["goals_z"], ascending=False)

In [439]:
sco86xg13 = sco86xg.head(13)

In [440]:
sco86xg13 = sco86xg13.drop(columns=['season', 'team'])

In [441]:
sco86 = sco86xg13.mean()

In [442]:
# sco86

## 90

In [443]:
sco90year = sco_year.loc[sco_year["season"].isin(year1990)]

In [444]:
sco90xg = sco90year.sort_values(by=["goals_z"], ascending=False)

In [445]:
sco90xg13 = sco90xg.head(13)

In [446]:
sco90xg13 = sco90xg13.drop(columns=['season', 'team'])

In [447]:
sco90 = sco90xg13.mean()

In [448]:
# sco90

## 98

In [449]:
sco98year = sco_year.loc[sco_year["season"].isin(year1998)]

In [450]:
sco98xg = sco98year.sort_values(by=["goals_z"], ascending=False)

In [451]:
sco98xg13 = sco98xg.head(13)

In [452]:
sco98xg13 = sco98xg13.drop(columns=['season', 'team'])

In [453]:
sco98 = sco98xg13.mean()

In [454]:
# sco98

In [640]:
sco = pd.concat([sco82, sco86, sco90, sco98], axis=1).T

In [641]:
sco.rename(index={0: 'Scotland82', 1: 'Scotland86', 2: 'Scotland90',
                  3: 'Scotland98'}, inplace=True)

In [642]:
df2 = sco.assign(results=[15, 19, 18, 27])

In [643]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Scotland82,0.724615,0.216154,0.162308,0.543077,0.106154,0.170769,-0.110769,-0.146923,-0.592308,0.101538,-0.200000,0.498462,0.317692,0.038462,-0.234615,0.306154,15
Scotland86,-0.235385,-0.176154,0.450769,0.628462,0.112308,0.389231,-0.335385,-0.196923,0.030769,-0.306154,-0.343077,-0.291538,-0.146154,-0.166923,-0.230000,0.233846,19
Scotland90,-0.063077,0.332308,0.383846,0.306154,-0.310769,-0.283846,-0.388462,-0.383077,-0.373846,-0.473846,-0.273846,-0.309231,0.197692,-0.378462,-0.386154,0.280000,18
Scotland98,-0.103077,0.187692,0.225385,0.247692,0.449231,0.306154,-0.149231,-0.097692,0.577692,-0.180000,0.073077,-0.158462,0.555385,-0.006154,0.364615,-0.033846,27

In [644]:
# df2.to_csv('Scotland.csv')

In [459]:
# 82 - 15      Scotland     6     3     1     1     1     8     8     0     3
# 86 - 19      Scotland     E     3     0     1     2     1     3     −2     1
# 90 - 18     C      Scotland     3     1     0     2     2     3     −1     2
# 98 - 27      Scotland     A     3     0     1     2     2     6     −4     1

# Romania

## 90

In [460]:
rom = ['Romania']

In [461]:
rom_year = df.loc[df["team"].isin(rom)]

In [462]:
rom90year = rom_year.loc[rom_year["season"].isin(year1990)]

In [463]:
rom90xg = rom90year.sort_values(by=["goals_z"], ascending=False)

In [464]:
rom90xg13 = rom90xg.head(13)

In [465]:
rom90xg13 = rom90xg13.drop(columns=['season', 'team'])

In [466]:
rom90 = rom90xg13.mean()

In [467]:
# rom90

## 94

In [468]:
rom94year = rom_year.loc[rom_year["season"].isin(year1994)]

In [469]:
rom94xg = rom94year.sort_values(by=["goals_z"], ascending=False)

In [470]:
rom94xg13 = rom94xg.head(13)

In [471]:
rom94xg13 = rom94xg13.drop(columns=['season', 'team'])

In [472]:
rom94 = rom94xg13.mean()

In [473]:
# rom94

## 98

In [474]:
rom98year = rom_year.loc[rom_year["season"].isin(year1998)]

In [475]:
rom98xg = rom98year.sort_values(by=["goals_z"], ascending=False)

In [476]:
rom98xg13 = rom98xg.head(13)

In [477]:
rom98xg13 = rom98xg13.drop(columns=['season', 'team'])

In [478]:
rom98 = rom98xg13.mean()

In [479]:
# rom98

In [645]:
rom = pd.concat([rom90, rom94, rom98], axis=1).T

In [646]:
rom.rename(index={0: 'Romania90', 1: 'Romania94', 2: 'Romania98'}, inplace=True)

In [647]:
df2 = rom.assign(results=[12, 6, 11])

In [648]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Romania90,0.073846,0.256154,0.146154,0.057692,0.596923,0.017692,0.834615,1.092308,0.728462,0.707692,0.046923,0.174615,-0.264615,0.137692,0.330769,-0.057692,12
Romania94,0.368462,-0.026923,-0.383846,-0.043077,0.126154,-0.176923,0.286154,0.561538,-0.301538,-0.452308,0.283846,-0.136923,0.116154,0.088462,0.215385,-0.274615,6
Romania98,0.054615,-0.135385,-0.401538,-0.163077,0.260000,-0.050769,-0.020000,0.347692,-0.180000,0.280000,-0.091538,-0.179231,-0.249231,-0.203077,-0.152308,-0.345385,11

In [649]:
# df2.to_csv('Romania.csv')

In [484]:
# 90 - 12     B      Romania     4     1     2     1     4     3     +1     4
# 94 - 6      Romania     A     5     3     1     1     10     9     +1     10
# 98 - 11      Romania     G     4     2     1     1     4     3     +1     7

# Greece

In [485]:
gre = ['Greece']

In [486]:
gre_year = df.loc[df["team"].isin(gre)]

## 94

In [487]:
gre94year = gre_year.loc[gre_year["season"].isin(year1994)]

In [488]:
gre94xg = gre94year.sort_values(by=["goals_z"], ascending=False)

In [489]:
gre94xg13 = gre94xg.head(13)

In [490]:
gre94xg13 = gre94xg13.drop(columns=['season', 'team'])

In [491]:
gre94 = gre94xg13.mean()

In [492]:
# gre94

## 10

In [493]:
gre10year = gre_year.loc[gre_year["season"].isin(year2010)]

In [494]:
gre10xg = gre10year.sort_values(by=["goals_z"], ascending=False)

In [495]:
gre10xg13 = gre10xg.head(13)

In [496]:
gre10xg13 = gre10xg13.drop(columns=['season', 'team'])

In [497]:
gre10 = gre10xg13.mean()

In [498]:
# gre10

## 14

In [499]:
gre14year = gre_year.loc[gre_year["season"].isin(year2014)]

In [500]:
gre14xg = gre14year.sort_values(by=["goals_z"], ascending=False)

In [501]:
gre14xg13 = gre14xg.head(13)

In [502]:
gre14xg13 = gre14xg13.drop(columns=['season', 'team'])

In [503]:
gre14 = gre14xg13.mean()

In [504]:
# gre14

In [650]:
gre = pd.concat([gre94, gre10, gre14], axis=1).T

In [651]:
gre.rename(index={0: 'Greece94', 1: 'Greece10', 2: 'Greece10'}, inplace=True)

In [652]:
df2 = gre.assign(results=[24, 25, 14])

In [653]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Greece94,-0.390000,-0.233077,0.611538,-0.166923,-0.031538,-0.073846,0.014615,-0.071538,0.070769,0.356923,-0.239231,0.000769,-0.353846,-0.232308,0.316923,0.033846,24
Greece10,-0.044615,-0.088462,-0.243846,-0.145385,-0.483077,-0.300000,-0.387692,-0.223846,-0.335385,-0.536923,-0.061538,0.146154,-0.216923,-0.346154,-0.499231,-0.237692,25
Greece10,-0.079231,0.183077,-0.057692,-0.002308,-0.375385,-0.282308,0.193077,0.256154,-0.110000,-0.392308,-0.079231,-0.342308,0.273846,-0.100769,0.383846,-0.163077,14

In [654]:
# df2.to_csv('Greece.csv')

In [509]:
# 94 - 24      Greece     D     3     0     0     3     0     10     −10     0
# 10 - 25      Greece     B     3     1     0     2     2     5     −3     3
# 14 - 13      Greece     C     4     1     2     1     5     3     5     −2

# Honduras

In [510]:
hon = ['Honduras']

In [511]:
hon_year = df.loc[df["team"].isin(hon)]

## 82

In [512]:
hon82year = hon_year.loc[hon_year["season"].isin(year1982)]

In [513]:
hon82xg = hon82year.sort_values(by=["goals_z"], ascending=False)

In [514]:
hon82xg13 = hon82xg.head(13)

In [515]:
hon82xg13 = hon82xg13.drop(columns=['season', 'team'])

In [516]:
hon82 = hon82xg13.mean()

In [517]:
# hon82

## 10

In [518]:
hon10year = hon_year.loc[hon_year["season"].isin(year2010)]

In [519]:
hon10xg = hon10year.sort_values(by=["goals_z"], ascending=False)

In [520]:
hon10xg13 = hon10xg.head(13)

In [521]:
hon10xg13 = hon10xg13.drop(columns=['season', 'team'])

In [522]:
hon10 = hon10xg13.mean()

In [523]:
# hon10

## 14

In [524]:
hon14year = hon_year.loc[hon_year["season"].isin(year2014)]

In [525]:
hon14xg = hon14year.sort_values(by=["goals_z"], ascending=False)

In [526]:
hon14xg13 = hon14xg.head(13)

In [527]:
hon14xg13 = hon14xg13.drop(columns=['season', 'team'])

In [528]:
hon14 = hon14xg13.mean()

In [529]:
# hon14

In [655]:
hon = pd.concat([hon82, hon10, hon14], axis=1).T

In [656]:
hon.rename(index={0: 'Honduras82', 1: 'Honduras10', 2: 'Honduras14'}, inplace=True)

In [657]:
df2 = hon.assign(results=[18, 30, 14])

In [658]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Honduras82,-0.193846,-0.260769,-0.409231,-0.447692,-0.186923,-0.293846,0.176154,-0.303077,-0.043846,0.101538,0.713846,-0.113846,0.417692,-0.245385,-0.209231,-0.387692,18
Honduras10,-0.400000,-0.466923,-0.353846,-0.634615,-0.516923,-0.090769,-0.300769,-0.359231,-0.571538,-0.513846,0.177692,0.046154,-0.079231,-0.191538,-0.210769,-0.699231,30
Honduras14,-0.261538,-0.325385,-0.250000,-0.516154,-0.200769,-0.203846,-0.347692,-0.382308,-0.267692,0.140000,-0.116923,0.014615,0.049231,0.004615,0.135385,-0.274615,14

In [659]:
# df2.to_csv('Honduras.csv')

In [534]:
# 82 - 18      Honduras     5     3     0     2     1     2     3     −1     2
# 10 - 30      Honduras     H     3     0     1     2     0     3     −3     1
# 14 - 31      Honduras     E     3     0     0     3     0     1     8     −7

# Austria

In [535]:
aus = ['Austria']

In [536]:
aus_year = df.loc[df["team"].isin(aus)]

## 82

In [537]:
aus82year = aus_year.loc[aus_year["season"].isin(year1982)]

In [538]:
aus82xg = aus82year.sort_values(by=["goals_z"], ascending=False)

In [539]:
aus82xg13 = aus82xg.head(13)

In [540]:
aus82xg13 = aus82xg13.drop(columns=['season', 'team'])

In [541]:
aus82 = aus82xg13.mean()

In [542]:
# aus82

## 90

In [543]:
aus90year = aus_year.loc[aus_year["season"].isin(year1990)]

In [544]:
aus90xg = aus90year.sort_values(by=["goals_z"], ascending=False)

In [545]:
aus90xg13 = aus90xg.head(13)

In [546]:
aus90xg13 = aus90xg13.drop(columns=['season', 'team'])

In [547]:
aus90 = aus90xg13.mean()

In [548]:
# aus90

## 98

In [549]:
aus98year = aus_year.loc[aus_year["season"].isin(year1998)]

In [550]:
aus98xg = aus98year.sort_values(by=["goals_z"], ascending=False)

In [551]:
aus98xg13 = aus98xg.head(13)

In [552]:
aus98xg13 = aus98xg13.drop(columns=['season', 'team'])

In [553]:
aus98 = aus98xg13.mean()

In [554]:
# aus98

In [660]:
aus = pd.concat([aus82, aus90, aus98], axis=1).T

In [661]:
aus.rename(index={0: 'Austria82', 1: 'Austria90', 2: 'Austria98'}, inplace=True)

In [662]:
df2 = aus.assign(results=[8, 18, 23])

In [663]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Austria82,-0.041538,-0.217692,-0.228462,-0.214615,-0.070000,-0.189231,-0.183846,0.176154,0.179231,-0.228462,-0.302308,0.017692,-0.436154,-0.205385,-0.125385,-0.297692,8
Austria90,-0.063077,-0.063846,-0.247692,-0.251538,-0.394615,-0.180769,0.047692,0.385385,-0.243846,-0.183077,-0.096154,0.274615,-0.294615,-0.045385,0.120000,-0.253846,18
Austria98,0.055385,0.210769,0.176154,0.278462,-0.143846,-0.077692,-0.223077,-0.315385,0.083077,0.190769,-0.157692,0.073846,0.332308,0.466154,0.068462,0.133846,23

In [664]:
# df2.to_csv('Austria.csv')

In [559]:
# 82 - 8      Austria     2/D     5     2     1     2     5     4     +1     5
# 90 - 18     A      Austria     3     1     0     2     2     3     −1     2
# 98 - 23      Austria     B     3     0     2     1     3     4     −1     2

# Bulgaria

In [560]:
bul = ['Bulgaria']

In [561]:
bul_year = df.loc[df["team"].isin(bul)]

## 86

In [562]:
bul86year = bul_year.loc[bul_year["season"].isin(year1986)]

In [563]:
bul86xg = bul86year.sort_values(by=["goals_z"], ascending=False)

In [564]:
bul86xg13 = bul86xg.head(13)

In [565]:
bul86xg13 = bul86xg13.drop(columns=['season', 'team'])

In [566]:
bul86 = bul86xg13.mean()

In [567]:
# bul86

## 94

In [568]:
bul94year = bul_year.loc[bul_year["season"].isin(year1994)]

In [569]:
bul94xg = bul94year.sort_values(by=["goals_z"], ascending=False)

In [570]:
bul94xg13 = bul94xg.head(13)

In [571]:
bul94xg13 = bul94xg13.drop(columns=['season', 'team'])

In [572]:
bul94 = bul94xg13.mean()

In [573]:
# bul94

## 98

In [574]:
bul98year = bul_year.loc[bul_year["season"].isin(year1998)]

In [575]:
bul98xg = bul98year.sort_values(by=["goals_z"], ascending=False)

In [576]:
bul98xg13 = bul98xg.head(13)

In [577]:
bul98xg13 = bul98xg13.drop(columns=['season', 'team'])

In [578]:
bul98 = bul98xg13.mean()

In [579]:
# bul98

In [665]:
bul = pd.concat([bul86, bul94, bul98], axis=1).T

In [666]:
bul.rename(index={0: 'Bulgaria86', 1: 'Bulgaria94', 2: 'Bulgaria98'}, inplace=True)

In [667]:
df2 = bul.assign(results=[15, 4, 29])

In [668]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Bulgaria86,-0.159231,-0.316154,-0.133846,-0.500000,-0.189231,-0.000769,-0.259231,0.012308,-0.041538,-0.170000,0.316154,-0.077692,-0.181538,-0.102308,-0.233846,-0.372308,15
Bulgaria94,0.162308,0.212308,-0.172308,-0.227692,-0.071538,-0.029231,0.084615,-0.111538,-0.219231,-0.216154,-0.122308,-0.150000,-0.326923,-0.123846,0.288462,-0.202308,4
Bulgaria98,-0.261538,0.107692,-0.217692,0.312308,-0.184615,-0.025385,0.183077,0.118462,-0.144615,-0.084615,-0.217692,-0.243077,-0.112308,0.553077,0.363846,0.150769,29

In [669]:
# df2.to_csv('Bulgaria.csv')

In [584]:
# 86 - 15      Bulgaria     A     4     0     2     2     2     6     −4     2
# 94 - 4      Bulgaria     D     7     3     1     3     10     11     −1     10
# 98 - 29      Bulgaria     D     3     0     1     2     1     7     −6     1

# Ivory Coast

In [585]:
# 06 - 19      Ivory Coast     C     3     1     0     2     5     6     −1     3
# 10 - 17      Ivory Coast     G     3     1     1     1     4     3     +1     4
# 14 - 21      Ivory Coast     C     3     1     0     2     3     4     5     −1

In [586]:
listz = ['South Africa',
'Rep of Ireland','Czechoslovakia','Hungary','Egypt','Slovenia','Norway',                     
'Northern Ireland','Peru','New Zealand','Bosnia and Herzegovina',     
'Panama','Slovakia','Iraq','China PR','Jamaica','Turkey',                     
'Ukraine','Bolivia','Trinidad and Tobago','Togo','Czech Republic',             
'Angola','United Arab Emirates','Iceland','El Salvador','Kuwait','North Korea']

In [587]:
len(listz)

28