In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

import matplotlib.pyplot as pyplot
import seaborn as sns

In [2]:
years = [2018, 2014, 2010, 2006, 2002, 1998, 1994, 1990, 1986, 1982]

In [436]:
comparisons = pd.read_csv('world_cup_comparisons.csv')

In [437]:
comparisons.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,Cristian Pavón,2018,Argentina,-0.42,-0.55,0.08,-0.24,-0.61,-0.72,-0.05,0.15,0.30,-0.79,-0.80,-0.45,-0.23,-0.38,-0.91,-0.58
1,Eduardo Salvio,2018,Argentina,-0.42,-0.50,-0.51,0.64,0.02,-0.46,-0.05,0.48,0.61,0.67,0.32,-0.45,0.21,-1.11,0.68,-0.03
2,Enzo Pérez,2018,Argentina,-0.42,0.11,-0.51,-0.69,0.27,-0.65,-0.36,-0.34,0.35,-0.22,-0.80,-0.45,-0.89,0.72,0.04,-0.66
3,Federico Fazio,2018,Argentina,-0.42,-0.59,-0.51,-0.69,-0.97,-0.91,-0.67,-0.84,-0.82,-0.79,-0.64,-0.45,0.21,-1.11,-0.59,-0.77
4,Franco Armani,2018,Argentina,-0.42,-0.59,-0.51,-0.80,-0.67,0.64,-0.67,-0.67,-0.82,-0.79,-0.64,-0.45,-0.89,-1.11,-0.91,-0.77

In [438]:
all_teams = comparisons['team'].value_counts()

In [439]:
all_teams = all_teams.drop(labels=['West Germany', 'Netherlands', 'Senegal', 'Ecuador', 
                                   'England', 'USA', 'Iran', 'Argentina', 'Poland', 
                                   'Saudi Arabia', 'France', 'Denmark', 
                                   'Tunisia', 'Australia', 'Germany', 'Spain', 'Japan', 
                                   'Costa Rica', 'Belgium', 'Croatia', 'Canada', 'Morocco',
                                   'Brazil', 'Switzerland', 'Serbia', 'Cameroon', 
                                   'Portugal', 'Uruguay', 'Ghana'])

In [440]:
teams_all = ['Italy', 'South Korea', 'Nigeria','Colombia','Paraguay',
             'Sweden','Russia','Scotland','Algeria','Chile','Greece',
             'Honduras','Austria','Bulgaria','USSR','Ivory Coast',               
             'Romania','Yugoslavia','South Africa','Rep of Ireland',
             'Czechoslovakia','Hungary','Egypt','Slovenia','Norway',                     
             'Northern Ireland','Peru','New Zealand','Bosnia and Herzegovina',     
             'Panama','Slovakia','Iraq','China PR','Jamaica','Turkey',                     
             'Ukraine','Bolivia','Trinidad and Tobago','Togo','Czech Republic',             
             'Angola','United Arab Emirates','Iceland','El Salvador','Kuwait',
             'North Korea', 'Mexico']

In [441]:
comparisons = comparisons.loc[comparisons['team'].isin(teams_all)]

In [442]:
comparisons.shape

(2573, 19)

In [443]:
year1982 = [1982]
year1986 = [1986]
year1990 = [1990]
year1994 = [1994]
year1998 = [1998]

year2002 = [2002]
year2006 = [2006]
year2010 = [2010]
year2014 = [2014]
year2018 = [2018]

In [444]:
df = comparisons.drop(columns = ['player'])

In [445]:
comparisons['team'].value_counts()

Italy                     228
Mexico                    183
South Korea               149
Sweden                    131
Nigeria                   103
Bulgaria                  101
Scotland                   98
Chile                      94
USSR                       88
Colombia                   83
Paraguay                   83
Russia                     71
Hungary                    66
Austria                    65
Algeria                    65
Yugoslavia                 64
Peru                       63
Romania                    61
Greece                     58
Czechoslovakia             54
Honduras                   51
Ivory Coast                48
South Africa               46
Rep of Ireland             45
El Salvador                31
Slovenia                   31
Egypt                      31
Norway                     31
Northern Ireland           29
North Korea                29
New Zealand                27
Bosnia and Herzegovina     20
Panama                     19
Slovakia                   18
China PR                   17
Turkey                     17
Iraq                       17
Jamaica                    17
Ukraine                    17
Angola                     16
Bolivia                    16
Trinidad and Tobago        16
Togo                       16
Czech Republic             16
United Arab Emirates       15
Iceland                    15
Kuwait                     14
Name: team, dtype: int64

## 2018

In [13]:
#2018 - 4
# 1 italy
# 4 france
# 9 northern ireland
# 21 kuwait

#2014 - 4
# 6 mexico
# 14 poland
# 21 northern ireland

#2010 -3 
# 4 england
# 7 cameroon

#2006 - 3 
# 7 netherlands
# 13 saudi arabia

# 2002 - 4 
# 1 france
# 13 mexico
# 20 iran
# 30 south korea

# 1998 - 5 
# 5 spain
# 10 denmark
# 11 mexico
# 19 costa rica

# 1994 - 8
# 9 spain
# 15 mexico
# 23 angola
# 27 trinidad 
# 30 toga
# 31 costa rica
# 32 serbia

# 1990 - 6
# 9 japan
# 10 chile
# 14 mexico
# 20 south africa
# 32 north koreaf

# 1986 - 6
# 9 chile
# 13 greece
# 14 algeria
# 23 spain
# 31 honduras

# 1982 - 5
# 5 uruguay
# 10 spain
# 15 japan
# 23 germany

# missing 48 values

# South Korea

In [390]:
sko = ['South Korea']
sko_year = df.loc[df["team"].isin(sko)]
sko_year['season'].value_counts()
# 2018, 2014, 2010, 2006, 02, 98, 94, 90, 86, 82

1998    18
1990    18
2018    17
2006    17
2014    16
2002    16
1994    16
1986    16
2010    15
Name: season, dtype: int64

## 18

In [391]:
sko18year = sko_year.loc[sko_year["season"].isin(year2018)]
sko18xg = sko18year.sort_values(by=["goals_z"], ascending=False)
sko18xg13 = sko18xg.head(13)
sko18xg13 = sko18xg13.drop(columns=['season', 'team'])
sko18 = sko18xg13.mean()

In [393]:
# sko18

## 14

In [419]:
sko14year = sko_year.loc[sko_year["season"].isin(year2014)]
sko14xg = sko14year.sort_values(by=["goals_z"], ascending=False)
sko14xg13 = sko14xg.head(13)
sko14xg13 = sko14xg13.drop(columns=['season', 'team'])
sko14 = sko14xg13.mean()

In [421]:
# sko14

## 06

In [394]:
sko10year = sko_year.loc[sko_year["season"].isin(year2010)]
sko10xg = sko10year.sort_values(by=["goals_z"], ascending=False)
sko10xg13 = sko10xg.head(13)
sko10xg13 = sko10xg13.drop(columns=['season', 'team'])
sko10 = sko10xg13.mean()

In [396]:
# sko10

## 02

In [397]:
sko06year = sko_year.loc[sko_year["season"].isin(year2006)]
sko06xg = sko06year.sort_values(by=["goals_z"], ascending=False)
sko06xg13 = sko06xg.head(13)
sko06xg13 = sko06xg13.drop(columns=['season', 'team'])
sko06 = sko06xg13.mean()

In [399]:
# sko06

## 02

In [400]:
sko02year = sko_year.loc[sko_year["season"].isin(year2002)]
sko02xg = sko02year.sort_values(by=["goals_z"], ascending=False)
sko02xg13 = sko02xg.head(13)
sko02xg13 = sko02xg13.drop(columns=['season', 'team'])
sko02 = sko02xg13.mean()

In [402]:
# sko02

## 98

In [403]:
sko98year = sko_year.loc[sko_year["season"].isin(year1998)]
sko98xg = sko98year.sort_values(by=["goals_z"], ascending=False)
sko98xg13 = sko98xg.head(13)
sko98xg13 = sko98xg13.drop(columns=['season', 'team'])
sko98 = sko98xg13.mean()

In [405]:
# sko98

## 94

In [407]:
sko94year = sko_year.loc[sko_year["season"].isin(year1994)]
sko94xg = sko94year.sort_values(by=["goals_z"], ascending=False)
sko94xg13 = sko94xg.head(13)
sko94xg13 = sko94xg13.drop(columns=['season', 'team'])
sko94 = sko94xg13.mean()

In [409]:
# sko94

## 90

In [410]:
sko90year = sko_year.loc[sko_year["season"].isin(year1990)]
sko90xg = sko90year.sort_values(by=["goals_z"], ascending=False)
sko90xg13 = sko90xg.head(13)
sko90xg13 = sko90xg13.drop(columns=['season', 'team'])
sko90 = sko90xg13.mean()

In [412]:
# sko90

## 86

In [413]:
sko86year = sko_year.loc[sko_year["season"].isin(year1986)]
sko86xg = sko86year.sort_values(by=["goals_z"], ascending=False)
sko86xg13 = sko86xg.head(13)
sko86xg13 = sko86xg13.drop(columns=['season', 'team'])
sko86 = sko86xg13.mean()

In [415]:
# sko86

In [422]:
sko = pd.concat([sko18, sko14, sko10, sko06, sko02, sko98, sko94, sko90, sko86], axis=1).T
sko.rename(index={0: 'SouthKorea18', 1: 'SouthKorea14', 
                  2: 'SouthKorea10', 3: 'SouthKorea06', 4: 'SouthKorea02',
                 5: 'SouthKorea98', 6: 'SouthKorea94', 7: 'SouthKorea90',
                 8: 'SouthKorea86'}, inplace=True)

In [423]:
df2 = sko.assign(results=[19, 20, 22, 20, 30, 4, 17, 15, 27])

In [424]:
# df2.to_csv('SouthKorea.csv')

In [ ]:
# 18 - 19 south korea
# 14 - 20 south korea
# 10 - 22 south korea 
# 06 - 20 south korea
# 02 - 30 south korea
# 98 - 4 south korea
# 94 - 17 south korea
# 90 - 15 south korea
# 86 - 27 south korea

## Mexico

In [447]:
mex = ['Mexico']
mex_year = df.loc[df["team"].isin(mex)]
mex_year['season'].value_counts()
# 2018, 2014, 2006, 02, 98, 94, 86

2006    19
1978    19
2010    18
1998    18
1970    17
2018    16
2014    16
1994    16
1986    15
1966    15
2002    14
Name: season, dtype: int64

## 18

In [448]:
mex18year = mex_year.loc[mex_year["season"].isin(year2018)]
mex18xg = mex18year.sort_values(by=["goals_z"], ascending=False)
mex18xg13 = mex18xg.head(13)
mex18xg13 = mex18xg13.drop(columns=['season', 'team'])
mex18 = mex18xg13.mean()

In [450]:
# mex18

## 14

In [451]:
mex14year = mex_year.loc[mex_year["season"].isin(year2014)]
mex14xg = mex14year.sort_values(by=["goals_z"], ascending=False)
mex14xg13 = mex14xg.head(13)
mex14xg13 = mex14xg13.drop(columns=['season', 'team'])
mex14 = mex14xg13.mean()

In [453]:
# mex14

## 06

In [457]:
mex06year = mex_year.loc[mex_year["season"].isin(year2006)]
mex06xg = mex06year.sort_values(by=["goals_z"], ascending=False)
mex06xg13 = mex06xg.head(13)
mex06xg13 = mex06xg13.drop(columns=['season', 'team'])
mex06 = mex06xg13.mean()

In [460]:
# mex06

## 02

In [462]:
mex02year = mex_year.loc[mex_year["season"].isin(year2002)]
mex02xg = mex02year.sort_values(by=["goals_z"], ascending=False)
mex02xg13 = mex02xg.head(13)
mex02xg13 = mex02xg13.drop(columns=['season', 'team'])
mex02 = mex02xg13.mean()

In [481]:
# mex02

## 98

In [465]:
mex98year = mex_year.loc[mex_year["season"].isin(year1998)]
mex98xg = mex98year.sort_values(by=["goals_z"], ascending=False)
mex98xg13 = mex98xg.head(13)
mex98xg13 = mex98xg13.drop(columns=['season', 'team'])
mex98 = mex98xg13.mean()

In [479]:
mex98

goals_z            0.530000
xg_z               0.444615
crosses_z          0.113846
boxtouches_z       0.252308
passes_z          -0.113846
progpasses_z      -0.101538
takeons_z          0.063077
progruns_z         0.536154
tackles_z          0.023846
interceptions_z   -0.356154
clearances_z      -0.445385
blocks_z          -0.375385
aerials_z         -0.416154
fouls_z           -0.466154
fouled_z           0.090769
nsxg_z             0.223077
dtype: float64

## 94

In [468]:
mex94year = mex_year.loc[mex_year["season"].isin(year1994)]
mex94xg = mex94year.sort_values(by=["goals_z"], ascending=False)
mex94xg13 = mex94xg.head(13)
mex94xg13 = mex94xg13.drop(columns=['season', 'team'])
mex94 = mex94xg13.mean()

In [478]:
mex94

goals_z           -0.016923
xg_z              -0.025385
crosses_z         -0.333846
boxtouches_z      -0.298462
passes_z           0.441538
progpasses_z       0.140000
takeons_z         -0.039231
progruns_z         0.304615
tackles_z          0.371538
interceptions_z   -0.287692
clearances_z      -0.113846
blocks_z           0.166923
aerials_z         -0.164615
fouls_z            0.041538
fouled_z          -0.232308
nsxg_z            -0.163077
dtype: float64

## 86

In [471]:
mex86year = mex_year.loc[mex_year["season"].isin(year1986)]
mex86xg = mex86year.sort_values(by=["goals_z"], ascending=False)
mex86xg13 = mex86xg.head(13)
mex86xg13 = mex86xg13.drop(columns=['season', 'team'])
mex86 = mex86xg13.mean()

In [477]:
# mex86

In [474]:
mex = pd.concat([mex14, mex02, mex98, mex94], axis=1).T
mex.rename(index={0: 'Mexico14', 1: 'Mexico02', 3: 'Mexico98', 
                  4: 'Mexico94'}, inplace=True)
df2 = mex.assign(results=[6, 13, 11, 15])

In [475]:
# df2.to_csv('Mexico9.csv')

In [ ]:
# 2018, 2014, 2006, 02, 98, 94, 86

In [ ]:
# 14 - 6 mexico
# 02 - 13 mexico
# 98 - 11 mexico
# 94 -  15 mexico

# Sweden

In [14]:
swe = ['Sweden']

In [15]:
swe_year = df.loc[df["team"].isin(swe)]

In [16]:
swe_year['season'].value_counts()
# 2018, 2006, 2002, 1994, 1990,

2018    18
1974    18
1970    18
2006    16
1990    16
2002    15
1994    15
1978    15
Name: season, dtype: int64

## 18

In [17]:
swe18year = swe_year.loc[swe_year["season"].isin(year2018)]
swe18xg = swe18year.sort_values(by=["goals_z"], ascending=False)
swe18xg13 = swe18xg.head(13)
swe18xg13 = swe18xg13.drop(columns=['season', 'team'])
swe18 = swe18xg13.mean()

In [18]:
# swe18

## 06

In [19]:
swe06year = swe_year.loc[swe_year["season"].isin(year2006)]
swe06xg = swe06year.sort_values(by=["goals_z"], ascending=False)
swe06xg13 = swe06xg.head(13)
swe06xg13 = swe06xg13.drop(columns=['season', 'team'])
swe06 = swe06xg13.mean()

In [20]:
# swe06

## 02

In [21]:
swe02year = swe_year.loc[swe_year["season"].isin(year2002)]
swe02xg = swe02year.sort_values(by=["goals_z"], ascending=False)
swe02xg13 = swe02xg.head(13)
swe02xg13 = swe02xg13.drop(columns=['season', 'team'])
swe02 = swe02xg13.mean()

In [22]:
# swe02

## 94

In [23]:
swe94year = swe_year.loc[swe_year["season"].isin(year1994)]
swe94xg = swe94year.sort_values(by=["goals_z"], ascending=False)
swe94xg13 = swe94xg.head(13)
swe94xg13 = swe94xg13.drop(columns=['season', 'team'])
swe94 = swe94xg13.mean()

In [24]:
# swe94

## 90

In [25]:
swe90year = swe_year.loc[swe_year["season"].isin(year1990)]
swe90xg = swe90year.sort_values(by=["goals_z"], ascending=False)
swe90xg13 = swe90xg.head(13)
swe90xg13 = swe90xg13.drop(columns=['season', 'team'])
swe90 = swe90xg13.mean()

In [26]:
# swe90

In [27]:
swe = pd.concat([swe18, swe06, swe02, swe94, swe90], axis=1).T
swe.rename(index={0: 'Sweden18', 1: 'Sweden06', 
                  2: 'Sweden02', 3: 'Sweden94', 4: 'Sweden90'}, inplace=True)

In [28]:
df2 = swe.assign(results=[7, 14, 13, 3, 21])

In [29]:
# df2.to_csv('Sweden.csv')

# Ivory Coast

In [30]:
ivo = ['Ivory Coast']

In [31]:
ivo_year = df.loc[df["team"].isin(ivo)]

## 06

In [32]:
ivo06year = ivo_year.loc[ivo_year["season"].isin(year2006)]

In [33]:
ivo06xg = ivo06year.sort_values(by=["goals_z"], ascending=False)

In [34]:
ivo06xg13 = ivo06xg.head(13)

In [35]:
ivo06xg13 = ivo06xg13.drop(columns=['season', 'team'])

In [36]:
ivo06 = ivo06xg13.mean()

In [37]:
# ivo06

## 10

In [38]:
ivo10year = ivo_year.loc[ivo_year["season"].isin(year2010)]

In [39]:
ivo10xg = ivo10year.sort_values(by=["goals_z"], ascending=False)

In [40]:
ivo10xg13 = ivo10xg.head(13)

In [41]:
ivo10xg13 = ivo10xg13.drop(columns=['season', 'team'])

In [42]:
ivo10 = ivo10xg13.mean()

In [43]:
# ivo10

## 14

In [44]:
ivo14year = ivo_year.loc[ivo_year["season"].isin(year2014)]

In [45]:
ivo14xg = ivo14year.sort_values(by=["goals_z"], ascending=False)

In [46]:
ivo14xg13 = ivo14xg.head(13)

In [47]:
ivo14xg13 = ivo14xg13.drop(columns=['season', 'team'])

In [48]:
ivo14 = ivo14xg13.mean()

In [49]:
# ivo14

In [50]:
ivo = pd.concat([ivo06, ivo10, ivo14], axis=1).T

In [51]:
ivo.rename(index={0: 'IvoryCoast06', 1: 'IvoryCoast10', 2: 'IvoryCoast14'}, inplace=True)

In [52]:
df2 = ivo.assign(results=[19, 17, 21])

In [53]:
# df2

In [54]:
# df2.to_csv('IvoryCoast.csv')
# #

In [55]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
IvoryCoast06,0.542308,0.718462,-0.083077,0.223846,-0.131538,0.075385,-0.111538,-0.120769,-0.211538,-0.400769,-0.153077,-0.347692,-0.396923,-0.384615,0.010000,-0.026923,19
IvoryCoast10,0.310769,0.126154,0.637692,0.688462,0.377692,0.260000,0.221538,0.910769,0.053846,0.259231,-0.338462,-0.416923,-0.170769,0.368462,0.235385,0.597692,17
IvoryCoast14,0.243846,0.064615,0.097692,0.312308,0.330769,0.399231,0.216154,-0.051538,0.349231,0.529231,0.266923,0.176154,-0.012308,0.509231,-0.030769,0.190000,21

In [56]:
# 06 - 19      Ivory Coast     C     3     1     0     2     5     6     −1     3
# 10 - 17      Ivory Coast     G     3     1     1     1     4     3     +1     4
# 14 - 21      Ivory Coast     C     3     1     0     2     3     4     5     −1

## South Africa

In [57]:
sou = ['South Africa']

In [58]:
sou_year = df.loc[df["team"].isin(sou)]

## 98

In [59]:
sou98year = sou_year.loc[sou_year["season"].isin(year1998)]

In [60]:
sou98xg = sou98year.sort_values(by=["goals_z"], ascending=False)

In [61]:
sou98xg13 = sou98xg.head(13)

In [62]:
sou98xg13 = sou98xg13.drop(columns=['season', 'team'])

In [63]:
sou98 = sou98xg13.mean()

In [64]:
# sou98

## 02

In [65]:
sou02year = sou_year.loc[sou_year["season"].isin(year2002)]

In [66]:
sou02xg = sou02year.sort_values(by=["goals_z"], ascending=False)

In [67]:
sou02xg13 = sou02xg.head(13)

In [68]:
sou02xg13 = sou02xg13.drop(columns=['season', 'team'])

In [69]:
sou02 = sou02xg13.mean()

In [70]:
# sou02

## 10

In [71]:
sou10year = sou_year.loc[sou_year["season"].isin(year2010)]

In [72]:
sou10xg = sou10year.sort_values(by=["goals_z"], ascending=False)

In [73]:
sou10xg13 = sou10xg.head(13)

In [74]:
sou10xg13 = sou10xg13.drop(columns=['season', 'team'])

In [75]:
sou10 = sou10xg13.mean()

In [76]:
# sou10

In [77]:
sou = pd.concat([sou98, sou02, sou10], axis=1).T

In [78]:
sou.rename(index={0: 'SouthAfrica98', 1: 'SouthAfrica02', 2: 'SouthAfrica10'}, inplace=True)

In [79]:
df2 = sou.assign(results=[24, 17, 10])

In [80]:
# df2.to_csv('SouthAfrica.csv')

In [81]:
# 98 - 24      South Africa     C     3     0     2     1     3     6     −3     2
# 02 - 17     B      South Africa     3     1     1     1     5     5     0     4 
# 10 - 20      South Africa     A     3     1     1     1     3     5     −2     4

# Republic of Ireland

In [82]:
rep = ['Rep of Ireland']

In [83]:
rep_year = df.loc[df["team"].isin(rep)]

## 90

In [84]:
rep90year = rep_year.loc[rep_year["season"].isin(year1990)]

In [85]:
rep90xg = rep90year.sort_values(by=["goals_z"], ascending=False)

In [86]:
rep90xg13 = rep90xg.head(13)

In [87]:
rep90xg13 = rep90xg13.drop(columns=['season', 'team'])

In [88]:
rep90 = rep90xg13.mean()

In [89]:
# rep90

## 94

In [90]:
rep94year = rep_year.loc[rep_year["season"].isin(year1994)]

In [91]:
rep94xg = rep94year.sort_values(by=["goals_z"], ascending=False)

In [92]:
rep94xg13 = rep94xg.head(13)

In [93]:
rep94xg13 = rep94xg13.drop(columns=['season', 'team'])

In [94]:
rep94 = rep94xg13.mean()

In [95]:
# rep94

## 02

In [96]:
rep02year = rep_year.loc[rep_year["season"].isin(year2002)]

In [97]:
rep02xg = rep02year.sort_values(by=["goals_z"], ascending=False)

In [98]:
rep02xg13 = rep02xg.head(13)

In [99]:
rep02xg13 = rep02xg13.drop(columns=['season', 'team'])

In [100]:
rep02 = rep02xg13.mean()

In [101]:
# rep02

In [102]:
rep = pd.concat([rep90, rep94, rep02], axis=1).T

In [103]:
rep.rename(index={0: 'RepIreland90', 1: 'RepIreland94', 2: 'RepIreland02'}, inplace=True)

In [104]:
df2 = rep.assign(results=[8, 16, 12])

In [105]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
RepIreland90,-0.220000,-0.225385,0.125385,0.152308,-0.283846,-0.132308,-0.456154,-0.423846,-0.267692,-0.293077,0.036154,-0.273846,0.546923,0.280769,-2.153846e-01,0.232308,8
RepIreland94,-0.186923,-0.183846,0.225385,0.003077,0.051538,0.024615,-0.216154,-0.101538,-0.296154,0.285385,0.065385,-0.292308,0.878462,0.045385,2.600000e-01,-0.012308,16
RepIreland02,0.264615,0.394615,-0.094615,0.217692,0.290769,0.062308,0.100000,0.241538,-0.328462,-0.197692,-0.097692,-0.042308,-0.019231,-0.015385,8.540177e-17,0.094615,12

In [106]:
# df2.to_csv('RepIreland.csv')

In [107]:
# 90 - 8     F      Republic of Ireland     5     0     4     1     2     3     −1     4
# 94 - 16      Republic of Ireland     E     4     1     1     2     2     4     −2     4
# 02 - 12     E      Republic of Ireland     4     1     3     0     6     3     +3     6

# Slovenia

In [108]:
slo = ['Slovenia']

In [109]:
slo_year = df.loc[df["team"].isin(slo)]

## 02

In [110]:
slo02year = slo_year.loc[slo_year["season"].isin(year2002)]

In [111]:
slo02xg = slo02year.sort_values(by=["goals_z"], ascending=False)

In [112]:
slo02xg13 = slo02xg.head(13)

In [113]:
slo02xg13 = slo02xg13.drop(columns=['season', 'team'])

In [114]:
slo02 = slo02xg13.mean()

In [115]:
# slo02

## 10

In [116]:
slo10year = slo_year.loc[slo_year["season"].isin(year2010)]

In [117]:
slo10xg = slo10year.sort_values(by=["goals_z"], ascending=False)

In [118]:
slo10xg13 = slo10xg.head(13)

In [119]:
slo10xg13 = slo10xg13.drop(columns=['season', 'team'])

In [120]:
slo10 = slo10xg13.mean()

In [121]:
# slo10

In [122]:
slo = pd.concat([slo02, slo10], axis=1).T

In [123]:
slo.rename(index={0: 'Slovenia02', 1: 'Slovenia10'}, inplace=True)

In [124]:
df2 = slo.assign(results=[30, 18])

In [125]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Slovenia02,-0.085385,-0.213077,-0.380000,-0.016923,-0.389231,-0.367692,-0.119231,-0.159231,-0.056923,-0.278462,0.063077,0.243846,0.071538,-0.076923,0.061538,-0.301538,30
Slovenia10,0.133077,-0.218462,-0.078462,-0.189231,0.195385,0.424615,-0.125385,0.274615,-0.183077,0.304615,0.429231,-0.226923,0.151538,0.274615,0.583846,-0.084615,18

In [126]:
# df2.to_csv('Slovenia.csv')

In [127]:
# 02 - 30     B      Slovenia     3     0     0     3     2     7     −5     0
# 10 - 18      Slovenia     C     3     1     1     1     3     3     0     4

## Czechoslovakia

In [128]:
cze = ['Czechoslovakia']

In [129]:
cze_year = df.loc[df["team"].isin(cze)]

## 82

In [130]:
cze82year = cze_year.loc[cze_year["season"].isin(year1982)]

In [131]:
cze82xg = cze82year.sort_values(by=["goals_z"], ascending=False)

In [132]:
cze82xg13 = cze82xg.head(13)

In [133]:
cze82xg13 = cze82xg13.drop(columns=['season', 'team'])

In [134]:
cze82 = cze82xg13.mean()

In [135]:
# cze82

## 90

In [136]:
cze90year = cze_year.loc[cze_year["season"].isin(year1990)]

In [137]:
cze90xg = cze90year.sort_values(by=["goals_z"], ascending=False)

In [138]:
cze90xg13 = cze90xg.head(13)

In [139]:
cze90xg13 = cze90xg13.drop(columns=['season', 'team'])

In [140]:
cze90 = cze90xg13.mean()

In [141]:
# cze90

In [142]:
cze = pd.concat([cze82, cze90], axis=1).T

In [143]:
cze.rename(index={0: 'Czechoslovakia82', 1: 'Czechoslovakia90'}, inplace=True)

In [144]:
df2 = cze.assign(results=[19, 6])

In [145]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Czechoslovakia82,-0.193846,0.228462,-0.313846,-0.167692,-0.563077,-0.534615,0.062308,-0.100769,-0.315385,-0.446923,-0.064615,-0.349231,-0.193077,-0.331538,-0.135385,-0.362308,19
Czechoslovakia90,0.542308,0.893077,0.693077,0.540769,0.117692,0.225385,0.106923,0.390000,-0.222308,0.146923,0.000769,0.406923,0.220769,0.569231,0.236154,0.692308,6

In [146]:
df2.to_csv('Czechoslovakia.csv')

In [147]:
# 82 - 19      Czechoslovakia     4     3     0     2     1     2     4     −2     2
# 90 - 6     A      Czechoslovakia     5     3     0     2     10     5     +5     6

# Hungary

In [148]:
hun = ['Hungary']

In [149]:
hun_year = df.loc[df["team"].isin(hun)]

## 82

In [150]:
hun82year = hun_year.loc[hun_year["season"].isin(year1982)]

In [151]:
hun82xg = hun82year.sort_values(by=["goals_z"], ascending=False)

In [152]:
hun82xg13 = hun82xg.head(13)

In [153]:
hun82xg13 = hun82xg13.drop(columns=['season', 'team'])

In [154]:
hun82 = hun82xg13.mean()

In [155]:
hun82

goals_z            1.336923
xg_z               0.056154
crosses_z          0.210000
boxtouches_z       0.080000
passes_z          -0.177692
progpasses_z      -0.016923
takeons_z          0.033077
progruns_z         0.030769
tackles_z         -0.496923
interceptions_z   -0.477692
clearances_z      -0.114615
blocks_z          -0.206923
aerials_z         -0.243077
fouls_z           -0.417692
fouled_z          -0.010769
nsxg_z             0.020769
dtype: float64

## 86

In [156]:
hun86year = hun_year.loc[hun_year["season"].isin(year1986)]

In [157]:
hun86xg = hun86year.sort_values(by=["goals_z"], ascending=False)

In [158]:
hun86xg13 = hun86xg.head(13)

In [159]:
hun86xg13 = hun86xg13.drop(columns=['season', 'team'])

In [160]:
hun86 = hun86xg13.mean()

In [161]:
hun86

goals_z           -0.080769
xg_z              -0.243846
crosses_z         -0.133846
boxtouches_z      -0.276154
passes_z           0.096154
progpasses_z       0.124615
takeons_z         -0.200769
progruns_z         0.102308
tackles_z          0.060000
interceptions_z   -0.073077
clearances_z       0.062308
blocks_z          -0.343077
aerials_z         -0.007692
fouls_z           -0.325385
fouled_z          -0.152308
nsxg_z            -0.331538
dtype: float64

In [162]:
hun = pd.concat([hun86], axis=1).T

In [163]:
hun.rename(index={0:'Hungary86'}, inplace=True)

In [164]:
df2 = hun.assign(results=[18])

In [165]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Hungary86,-0.080769,-0.243846,-0.133846,-0.276154,0.096154,0.124615,-0.200769,0.102308,0.06,-0.073077,0.062308,-0.343077,-0.007692,-0.325385,-0.152308,-0.331538,18

In [166]:
df2.to_csv('Hungary.csv')

In [167]:
# 82 - 14      Hungary     3     3     1     1     1     12     6     +6     3
# 86 - 18      Hungary     C     3     1     0     2     2     9     −7     2

## Egypt

In [168]:
egy = ['Egypt']

In [169]:
egy_year = df.loc[df["team"].isin(egy)]

## 90

In [170]:
egy90year = egy_year.loc[egy_year["season"].isin(year1990)]

In [171]:
egy90xg = egy90year.sort_values(by=["goals_z"], ascending=False)

In [172]:
egy90xg13 = egy90xg.head(13)

In [173]:
egy90xg13 = egy90xg13.drop(columns=['season', 'team'])

In [174]:
egy90 = egy90xg13.mean()

In [175]:
egy90

goals_z           -0.241538
xg_z               0.032308
crosses_z         -0.363077
boxtouches_z      -0.252308
passes_z          -0.070769
progpasses_z      -0.200000
takeons_z          0.012308
progruns_z        -0.532308
tackles_z         -0.140000
interceptions_z   -0.213846
clearances_z       0.693077
blocks_z          -0.366923
aerials_z          0.386923
fouls_z            0.150769
fouled_z           0.195385
nsxg_z            -0.321538
dtype: float64

## 18

In [176]:
egy18year = egy_year.loc[egy_year["season"].isin(year2018)]

In [177]:
egy18xg = egy18year.sort_values(by=["goals_z"], ascending=False)

In [178]:
egy18xg13 = egy18xg.head(13)

In [179]:
egy18xg13 = egy18xg13.drop(columns=['season', 'team'])

In [180]:
egy18 = egy18xg13.mean()

In [181]:
egy18

goals_z           -0.066923
xg_z              -0.147692
crosses_z          0.028462
boxtouches_z      -0.050000
passes_z          -0.076154
progpasses_z       0.314615
takeons_z         -0.224615
progruns_z         0.122308
tackles_z         -0.207692
interceptions_z    0.190769
clearances_z       0.413846
blocks_z          -0.044615
aerials_z         -0.035385
fouls_z           -0.173846
fouled_z          -0.323846
nsxg_z            -0.006923
dtype: float64

In [182]:
egy = pd.concat([egy90, egy18], axis=1).T

In [183]:
egy.rename(index={0: 'Egypt90', 1: 'Egypt18'}, inplace=True)

In [184]:
df2 = egy.assign(results=[20, 31])

In [185]:
df2.to_csv('Egypt.csv')

In [186]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Egypt90,-0.241538,0.032308,-0.363077,-0.252308,-0.070769,-0.200000,0.012308,-0.532308,-0.140000,-0.213846,0.693077,-0.366923,0.386923,0.150769,0.195385,-0.321538,20
Egypt18,-0.066923,-0.147692,0.028462,-0.050000,-0.076154,0.314615,-0.224615,0.122308,-0.207692,0.190769,0.413846,-0.044615,-0.035385,-0.173846,-0.323846,-0.006923,31

In [187]:
# 90 - 20     F      Egypt     3     0     2     1     1     2     −1     2
# 18 - 31      Egypt     A     3     0     0     3     0     2     6     −4

In [188]:
nor = ['Norway']

In [189]:
nor_year = df.loc[df["team"].isin(nor)]

## 94

In [190]:
nor94year = nor_year.loc[nor_year["season"].isin(year1994)]

In [191]:
nor94xg = nor94year.sort_values(by=["goals_z"], ascending=False)

In [192]:
nor94xg13 = nor94xg.head(13)

In [193]:
nor94xg13 = nor94xg13.drop(columns=['season', 'team'])

In [194]:
nor94 = nor94xg13.mean()

In [195]:
# nor94

## 98

In [196]:
nor98year = nor_year.loc[nor_year["season"].isin(year1998)]

In [197]:
nor98xg = nor98year.sort_values(by=["goals_z"], ascending=False)

In [198]:
nor98xg13 = nor98xg.head(13)

In [199]:
nor98xg13 = nor98xg13.drop(columns=['season', 'team'])

In [200]:
nor98 = nor98xg13.mean()

In [201]:
# nor98

In [202]:
nor = pd.concat([nor94, nor98], axis=1).T

In [203]:
nor.rename(index={0: 'Norway94', 1: 'Norway98'}, inplace=True)

In [204]:
df2 = nor.assign(results=[17, 15])

In [205]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Norway94,-0.255385,-0.252308,-0.103846,0.160000,-0.468462,-0.230769,-0.443077,-0.484615,-0.531538,-0.543077,0.413846,-0.121538,0.877692,0.418462,-0.240769,-0.122308,17
Norway98,0.053846,0.193846,0.556154,0.261538,-0.200769,0.173077,-0.213846,-0.137692,-0.478462,-0.553077,0.149231,-0.236154,0.799231,-0.047692,-0.220769,0.576923,15

In [206]:
df2.to_csv('Norway.csv')

In [207]:
# 94 - 17      Norway     E     3     1     1     1     1     1     0     4
# 98 - 15      Norway     A     4     1     2     1     5     5     0     5

# Northern Ireland

In [208]:
nir = ['Northern Ireland']

In [209]:
nir_year = df.loc[df["team"].isin(nir)]

## 82

In [210]:
nir82year = nir_year.loc[nir_year["season"].isin(year1982)]

In [211]:
nir82xg = nir82year.sort_values(by=["goals_z"], ascending=False)

In [212]:
nir82xg13 = nir82xg.head(13)

In [213]:
nir82xg13 = nir82xg13.drop(columns=['season', 'team'])

In [214]:
nir82 = nir82xg13.mean()

In [215]:
# nir82

## 86

In [216]:
nir86year = nir_year.loc[nir_year["season"].isin(year1986)]

In [217]:
nir86xg = nir86year.sort_values(by=["goals_z"], ascending=False)

In [218]:
nir86xg13 = nir86xg.head(13)

In [219]:
nir86xg13 = nir86xg13.drop(columns=['season', 'team'])

In [220]:
nir86 = nir86xg13.mean()

In [221]:
# nir86

In [222]:
nir = pd.concat([nir82, nir86], axis=1).T

In [223]:
nir.rename(index={0: 'NorthernIreland82', 1: 'NorthernIreland86'}, inplace=True)

In [224]:
df2 = nir.assign(results=[9, 21])

In [225]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
NorthernIreland82,-0.040769,-0.080000,0.228462,0.070000,0.129231,-0.08,0.228462,0.196923,-0.052308,-0.171538,0.363846,-0.180769,0.694615,0.533077,0.036923,-0.096154,9
NorthernIreland86,-0.080769,-0.117692,0.041538,0.096154,0.186154,0.11,-0.368462,0.042308,-0.252308,-0.033077,0.213077,0.016154,0.684615,0.337692,0.056923,0.191538,21

In [226]:
df2.to_csv('NorthernIreland.csv')

In [227]:
# 82 - 9      Northern Ireland     5/D     5     1     3     1     5     7     −2     5
# 86 - 21      Northern Ireland     D     3     0     1     2     2     6     −4     1

## Peru

In [228]:
per = ['Peru']

In [229]:
per_year = df.loc[df["team"].isin(per)]

## 82

In [230]:
per82year = per_year.loc[per_year["season"].isin(year1982)]

In [231]:
per82xg = per82year.sort_values(by=["goals_z"], ascending=False)

In [232]:
per82xg13 = per82xg.head(13)

In [233]:
per82xg13 = per82xg13.drop(columns=['season', 'team'])

In [234]:
per82 = per82xg13.mean()

In [235]:
# per82


## 18

In [236]:
per18year = per_year.loc[per_year["season"].isin(year2018)]

In [237]:
per18xg = per18year.sort_values(by=["goals_z"], ascending=False)

In [238]:
per18xg13 = per18xg.head(13)

In [239]:
per18xg13 = per18xg13.drop(columns=['season', 'team'])

In [240]:
per18 = per18xg13.mean()

In [241]:
# per18

In [242]:
per = pd.concat([per82, per18], axis=1).T

In [243]:
per.rename(index={0: 'Peru82', 1: 'Peru18'}, inplace=True)

In [244]:
df2 = per.assign(results=[20, 20])

In [245]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Peru82,-0.193846,0.180000,-0.076154,0.155385,0.211538,0.376923,0.119231,-0.099231,0.183077,0.181538,0.133077,0.119231,0.113077,0.640000,0.833077,0.370000,20
Peru18,-0.066154,-0.143846,-0.150769,0.256154,0.185385,0.366923,-0.002308,0.240000,0.542308,0.206154,0.380769,0.153077,0.009231,-0.100769,0.133077,-0.080769,20

In [246]:
df2.to_csv('Peru.csv')

In [247]:
# 82 - 20      Peru     1     3     0     2     1     2     6     −4     2
# 18 - 20      Peru     C     3     1     0     2     3     2     2     0

# New Zealand

In [248]:
nze = ['New Zealand']

In [249]:
nze_year = df.loc[df["team"].isin(nze)]

## 82

In [250]:
nze82year = nze_year.loc[nze_year["season"].isin(year1982)]

In [251]:
nze82xg = nze82year.sort_values(by=["goals_z"], ascending=False)

In [252]:
nze82xg13 = nze82xg.head(13)

In [253]:
nze82xg13 = nze82xg13.drop(columns=['season', 'team'])

In [254]:
nze82 = nze82xg13.mean()

In [255]:
# nze82

## 10

In [256]:
nze10year = nze_year.loc[nze_year["season"].isin(year2010)]

In [257]:
nze10xg = nze10year.sort_values(by=["goals_z"], ascending=False)

In [258]:
nze10xg13 = nze10xg.head(13)

In [259]:
nze10xg13 = nze10xg13.drop(columns=['season', 'team'])

In [260]:
nze10 = nze10xg13.mean()

In [261]:
# nze10

In [262]:
nze = pd.concat([nze82, nze10], axis=1).T

In [263]:
nze.rename(index={0: 'NewZealand82', 1: 'NewZealand10'}, inplace=True)

In [264]:
df2 = nze.assign(results=[23, 22])

In [265]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
NewZealand82,-0.193846,-0.290769,-0.075385,-0.372308,-0.380000,-0.211538,-0.340000,-0.636923,-0.611538,-0.588462,0.342308,-0.099231,0.266154,-0.360000,-0.209231,-0.310000,23
NewZealand10,-0.044615,-0.314615,-0.078462,-0.232308,-0.153077,-0.076154,0.004615,-0.446154,-0.537692,-0.330000,0.531538,-0.081538,-0.033077,0.741538,0.106923,-0.129231,22

In [266]:
df2.to_csv('NewZealand.csv')

In [267]:
# 82 - 23      New Zealand     6     3     0     0     3     2     12     −10     0
# 10 - 22      New Zealand     F     3     0     3     0     2     2     0     3

## Bosnia and Herzegovina

In [268]:
bos = ['Bosnia and Herzegovina']

In [269]:

bos_year = df.loc[df["team"].isin(bos)]

## 14

In [270]:
bos14year = bos_year.loc[bos_year["season"].isin(year2014)]

In [271]:
bos14xg = bos14year.sort_values(by=["goals_z"], ascending=False)

In [272]:
bos14xg13 = bos14xg.head(13)

In [273]:
bos14xg13 = bos14xg13.drop(columns=['season', 'team'])

In [274]:
bos14 = bos14xg13.mean()

In [275]:
# bos14

In [276]:
bos = pd.concat([bos14], axis=1).T

In [277]:
bos.rename(index={0: 'Bosnia14'}, inplace=True)

In [278]:
df2 = bos.assign(results=[20])

In [279]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Bosnia14,0.243846,-0.005385,0.389231,0.218462,0.208462,0.049231,0.547692,0.053077,0.461538,0.222308,-0.291538,0.243846,-0.472308,-0.067692,-0.229231,0.299231,20

In [280]:
df2.to_csv('Bosnia.csv')

In [281]:
# 14 - 20      Bosnia and Herzegovina     F     3     1     0     2     3     4     4     0

# Panama

In [282]:
pan = ['Panama']
pan_year = df.loc[df["team"].isin(pan)]

## 18

In [283]:
pan16year = pan_year.loc[pan_year["season"].isin(year2018)]
pan16xg = pan16year.sort_values(by=["goals_z"], ascending=False)
pan16xg13 = pan16xg.head(13)
pan16xg13 = pan16xg13.drop(columns=['season', 'team'])
pan18 = pan16xg13.mean()

In [284]:
# pan18

In [285]:
pan = pd.concat([pan18], axis=1).T
pan.rename(index={0: 'Panama16'}, inplace=True)
df2 = pan.assign(results=[32])

In [286]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Panama16,-0.42,-0.23,-0.150769,-0.435385,-0.687692,-0.408462,-0.256923,-0.586154,-0.629231,-0.56,-0.145385,-0.404615,-0.509231,-0.173077,-0.193077,-0.369231,32

In [287]:
df2.to_csv('Panama.csv')

In [288]:
# 18 - 32      Panama     G     3     0     0     3     0     2     11     −9

# Slovakia

In [289]:
slo = ['Slovakia']
slo_year = df.loc[df["team"].isin(slo)]

In [290]:
slo10year = slo_year.loc[slo_year["season"].isin(year2010)]
slo10xg = slo10year.sort_values(by=["goals_z"], ascending=False)
slo10xg13 = slo10xg.head(13)
slo10xg13 = slo10xg13.drop(columns=['season', 'team'])
slo10 = slo10xg13.mean()

In [291]:
# slo10

In [292]:
slo = pd.concat([slo10], axis=1).T
slo.rename(index={0: 'Slovakia10'}, inplace=True)
df2 = slo.assign(results=[16])

In [293]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Slovakia10,0.264615,0.005385,-0.148462,-0.049231,-0.178462,-0.246923,-0.06,-0.232308,-0.256923,-0.500769,-0.033077,-0.042308,0.093846,0.049231,-0.100769,-0.183846,16

In [294]:
df2.to_csv('Slovakia.csv')

In [295]:
# 10 - 16      Slovakia     F     4     1     1     2     5     7     −2     4

# Iraq

In [296]:
ira = ['Iraq']
ira_year = df.loc[df["team"].isin(ira)]

In [297]:
ira86year = ira_year.loc[ira_year["season"].isin(year1986)]
ira86xg = ira86year.sort_values(by=["goals_z"], ascending=False)
ira86xg13 = ira86xg.head(13)
ira86xg13 = ira86xg13.drop(columns=['season', 'team'])
ira86 = ira86xg13.mean()

In [298]:
# ira86

In [299]:
ira = pd.concat([ira86], axis=1).T
ira.rename(index={0: 'Iraq86'}, inplace=True)
df2 = ira.assign(results=[23])

In [300]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Iraq86,-0.235385,-0.316154,-0.075385,-0.289231,-0.412308,-0.185385,0.102308,-0.061538,-0.443077,-0.187692,0.129231,-0.284615,0.338462,0.085385,-0.515385,-0.266923,23

In [301]:
df2.to_csv('Iraq.csv')

In [302]:
# 86 - 23      Iraq     B     3     0     0     3     1     4     −3     0

# Jamaica

In [303]:
jam = ['Jamaica']
jam_year = df.loc[df["team"].isin(jam)]

In [304]:
jam98year = jam_year.loc[jam_year["season"].isin(year1998)]
jam98xg = jam98year.sort_values(by=["goals_z"], ascending=False)
jam98xg13 = jam98xg.head(13)
jam98xg13 = jam98xg13.drop(columns=['season', 'team'])
jam98 = jam98xg13.mean()

In [305]:
# jam98

In [306]:
jam = pd.concat([jam98], axis=1).T
jam.rename(index={0: 'Jamaica98'}, inplace=True)
df2 = jam.assign(results=[22])

In [307]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Jamaica98,0.055385,-0.369231,-0.316154,-0.252308,0.173077,-0.048462,0.109231,-0.099231,-0.139231,-0.099231,0.245385,-0.062308,-0.303846,-0.032308,-0.196154,-0.378462,22

In [308]:
df2.to_csv('Jamaica.csv')

In [309]:
# 98 - 22      Jamaica     H     3     1     0     2     3     9     −6     3

# Kuwait

In [310]:
kuw = ['Kuwait']
kuw_year = df.loc[df["team"].isin(kuw)]

In [311]:
kuw82year = kuw_year.loc[kuw_year["season"].isin(year1982)]
kuw82xg = kuw82year.sort_values(by=["goals_z"], ascending=False)
kuw82xg13 = kuw82xg.head(13)
kuw82xg13 = kuw82xg13.drop(columns=['season', 'team'])
kuw82 = kuw82xg13.mean()

In [312]:
# kuw82

In [313]:
kuw = pd.concat([kuw82], axis=1).T
kuw.rename(index={0: 'Kuwait82'}, inplace=True)
df2 = kuw.assign(results=[22])

In [314]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Kuwait82,-0.193846,-0.124615,-0.123077,-0.243077,0.305385,-0.085385,0.033846,0.422308,0.286154,0.233077,-0.028462,-0.09,-0.446923,-0.216154,-0.06,-0.254615,22

In [315]:
df2.to_csv('Kuwait.csv')

In [316]:
# 82 - 21      Kuwait     4     3     0     1     2     2     6     −4     1

# El Salvador

In [317]:
els = ['El Salvador']
els_year = df.loc[df["team"].isin(els)]

In [318]:
els82year = els_year.loc[els_year["season"].isin(year1982)]
els82xg = els82year.sort_values(by=["goals_z"], ascending=False)
els82xg13 = els82xg.head(13)
els82xg13 = els82xg13.drop(columns=['season', 'team'])
els82 = els82xg13.mean()

In [319]:
# els82

In [320]:
els = pd.concat([els82], axis=1).T
els.rename(index={0: 'ElSalvador82'}, inplace=True)
df2 = els.assign(results=[24])

In [321]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
ElSalvador82,-0.346923,-0.306154,-0.266154,-0.436923,0.04,-0.158462,0.261538,-0.386154,-0.270769,-0.094615,0.442308,0.376923,-0.396154,0.183077,-0.26,-0.554615,24

In [322]:
df2.to_csv('ElSalvador.csv')

In [323]:
# 82 - 24      El Salvador     3     3     0     0     3     1     13     −12     0

# China

In [324]:
chi = ['China PR']
chi_year = df.loc[df["team"].isin(chi)]

In [325]:
chi02year = chi_year.loc[chi_year["season"].isin(year2002)]
chi02xg = chi02year.sort_values(by=["goals_z"], ascending=False)
chi02xg13 = chi02xg.head(13)
chi02xg13 = chi02xg13.drop(columns=['season', 'team'])
chi02 = chi02xg13.mean()

In [326]:
# chi02

In [327]:
chi = pd.concat([chi02], axis=1).T
chi.rename(index={0: 'China02'}, inplace=True)
df2 = chi.assign(results=[31])

In [328]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
China02,-0.41,-0.415385,-0.290769,-0.313077,-0.216154,-0.261538,-0.033846,-0.093077,-0.352308,-0.193846,-0.160769,-0.153846,-0.376923,-0.424615,-0.132308,-0.526923,31

In [329]:
df2.to_csv('China.csv')

In [330]:
# 02 - 31     C      China     3     0     0     3     0     9     −9     0

# Turkey

In [331]:
tur = ['Turkey']
tur_year = df.loc[df["team"].isin(tur)]

In [332]:
tur02year = tur_year.loc[tur_year["season"].isin(year2002)]
tur02xg = tur02year.sort_values(by=["goals_z"], ascending=False)
tur02xg13 = tur02xg.head(13)
tur02xg13 = tur02xg13.drop(columns=['season', 'team'])
tur02 = tur02xg13.mean()

In [333]:
# tur02

In [334]:
tur = pd.concat([tur02], axis=1).T
tur.rename(index={0: 'Turkey02'}, inplace=True)
df2 = tur.assign(results=[3])

In [335]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Turkey02,0.254615,-0.122308,0.118462,0.069231,0.006923,0.016154,0.01,-0.085385,0.282308,0.260769,-0.153846,-0.090769,-0.127692,-0.018462,-0.190769,0.105385,3

In [336]:
df2.to_csv('Turkey.csv')

In [337]:
# 02 - 3     C      Turkey     7     4     1     2     10     6     +4     13     3rd

# Ukraine

In [338]:
ukr = ['Ukraine']
ukr_year = df.loc[df["team"].isin(ukr)]

In [339]:
ukr06year = ukr_year.loc[ukr_year["season"].isin(year2006)]
ukr06xg = ukr06year.sort_values(by=["goals_z"], ascending=False)
ukr06xg13 = ukr06xg.head(13)
ukr06xg13 = ukr06xg13.drop(columns=['season', 'team'])
ukr06 = ukr06xg13.mean()

In [340]:
# ukr06

In [341]:
ukr = pd.concat([ukr06], axis=1).T
ukr.rename(index={0: 'Ukrain06'}, inplace=True)
df2 = ukr.assign(results=[8])

In [342]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Ukrain06,0.122308,0.143846,-0.026923,-0.242308,-0.064615,-0.245385,-0.09,-0.073846,0.261538,0.106154,-0.116154,0.056154,0.003077,0.16,0.063077,-0.229231,8

In [343]:
df2.to_csv('Ukraine.csv')

In [344]:
# 06 - 8      Ukraine     H     5     2     1     2     5     7     −2     7

# Bolivia

In [345]:
bol = ['Bolivia']
bol_year = df.loc[df["team"].isin(bol)]

In [346]:
bol94year = bol_year.loc[bol_year["season"].isin(year1994)]
bol94xg = bol94year.sort_values(by=["goals_z"], ascending=False)
bol94xg13 = bol94xg.head(13)
bol94xg13 = bol94xg13.drop(columns=['season', 'team'])
bol94 = bol94xg13.mean()

In [347]:
# bol94

In [348]:
bol = pd.concat([bol94], axis=1).T
bol.rename(index={0: 'Bolivia94'}, inplace=True)
df2 = bol.assign(results=[21])

In [349]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Bolivia94,-0.255385,-0.186923,-0.104615,-0.193846,-0.077692,-0.091538,-0.092308,0.160769,-0.179231,-0.326923,0.069231,-0.274615,-0.303077,-0.396154,0.679231,-0.465385,21

In [350]:
df2.to_csv('Bolivia.csv')

In [351]:
# 94 - 21      Bolivia     C     3     0     1     2     1     4     −3     1

# Trinidad and Tobago - NA

In [352]:
# 06 - 27      Trinidad and Tobago     B     3     0     1     2     0     4     −4     1

# Togo

In [353]:
tog = ['Togo']
tog_year = df.loc[df["team"].isin(tog)]

In [354]:
tog06year = tog_year.loc[tog_year["season"].isin(year2006)]
tog06xg = tog06year.sort_values(by=["goals_z"], ascending=False)
tog06xg13 =tog06xg.head(13)
tog06xg13 = tog06xg13.drop(columns=['season', 'team'])
tog06 = tog06xg13.mean()

In [355]:
# tog06

In [356]:
tog = pd.concat([tog06], axis=1).T
tog.rename(index={0: 'Togo06'}, inplace=True)
df2 = tog.assign(results=[30])

In [357]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Togo06,-0.227692,-0.22,-0.184615,-0.028462,-0.176154,-0.295385,0.466923,0.152308,-0.525385,-0.310769,0.198462,-0.053077,0.132308,0.158462,0.039231,-0.256923,30

In [358]:
df2.to_csv('Togo.csv')

In [359]:
# 06 - 30      Togo     G     3     0     0     3     1     6     −5     0

# Czech Republic

In [360]:
cze = ['Czech Republic']
cze_year = df.loc[df["team"].isin(cze)]

In [361]:
cze06year = cze_year.loc[cze_year["season"].isin(year2006)]
cze06xg = cze06year.sort_values(by=["goals_z"], ascending=False)
cze06xg13 =cze06xg.head(13)
cze06xg13 = cze06xg13.drop(columns=['season', 'team'])
cze06 = cze06xg13.mean()

In [362]:
# cze06

In [363]:
cze = pd.concat([cze06], axis=1).T
cze.rename(index={0: 'CzechRepublic06'}, inplace=True)
df2 = cze.assign(results=[20])

In [364]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
CzechRepublic06,0.157692,0.022308,0.17,0.022308,0.096923,0.046923,-0.333846,0.28,0.041538,0.373077,-0.199231,-0.138462,-0.019231,0.062308,0.13,0.022308,20

In [365]:
df2.to_csv('Togo.csv')

In [366]:
# 06 - 20      Czech Republic     E     3     1     0     2     3     4     −1     3

# Angola

In [367]:
ang = ['Angola']
ang_year = df.loc[df["team"].isin(ang)]

In [368]:
ang06year = ang_year.loc[ang_year["season"].isin(year2006)]
ang06xg = ang06year.sort_values(by=["goals_z"], ascending=False)
ang06xg13 =ang06xg.head(13)
ang06xg13 = ang06xg13.drop(columns=['season', 'team'])
ang06 = ang06xg13.mean()

In [369]:
# ang06

In [370]:
ang = pd.concat([ang06], axis=1).T
ang.rename(index={0: 'Angola06'}, inplace=True)
df2 = ang.assign(results=[23])

In [371]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Angola06,-0.227692,-0.166923,-0.387692,-0.362308,-0.344615,-0.163846,-0.155385,-0.520769,-0.423846,-0.303077,0.367692,-0.08,0.397692,0.669231,-0.140769,-0.572308,23

In [372]:
df2.to_csv('Angola.csv')

In [373]:
# 06 - 23      Angola     D     3     0     2     1     1     2     −1     2

# United Arab Emirates

In [374]:
uae = ['United Arab Emirates']
uae_year = df.loc[df["team"].isin(uae)]

In [375]:
uae90year = uae_year.loc[uae_year["season"].isin(year1990)]
uae90xg = uae90year.sort_values(by=["goals_z"], ascending=False)
uae90xg13 =uae90xg.head(13)
uae90xg13 = uae90xg13.drop(columns=['season', 'team'])
uae90 = uae90xg13.mean()

In [376]:
# uae90

In [377]:
uae = pd.concat([uae90], axis=1).T
uae.rename(index={0: 'UAE90'}, inplace=True)
df2 = uae.assign(results=[24])

In [378]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
UAE90,-0.063077,-0.180769,-0.305385,-0.201538,-0.146154,-0.009231,-0.426154,-0.299231,-0.556923,-0.299231,-0.013846,-0.165385,-0.370769,-0.016154,-0.032308,-0.256923,24

In [379]:
df2.to_csv('UAE.csv')

In [380]:
# 90 - 24     D      United Arab Emirates     3     0     0     3     2     11     −9     0

# Iceland

In [381]:
ice = ['Iceland']
ice_year = df.loc[df["team"].isin(ice)]

In [382]:
ice18year = ice_year.loc[ice_year["season"].isin(year2018)]
ice18xg = ice18year.sort_values(by=["goals_z"], ascending=False)
ice18xg13 =ice18xg.head(13)
ice18xg13 = ice18xg13.drop(columns=['season', 'team'])
ice18 = ice18xg13.mean()

In [383]:
# ice18

In [384]:
ice = pd.concat([ice18], axis=1).T
ice.rename(index={0: 'Iceland18'}, inplace=True)
df2 = ice.assign(results=[29])

In [385]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Iceland18,-0.066154,0.3,0.147692,0.244615,-0.453846,0.003846,0.029231,-0.213846,-0.634615,-0.443077,0.395385,-0.274615,0.235385,0.013846,-0.226154,0.127692,29

In [386]:
df2.to_csv('Iceland.csv')

In [387]:
# 18 - 29      Iceland     D     3     0     1     2     1     2     5     −3

# North Korea - NA