In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

import matplotlib.pyplot as pyplot
import seaborn as sns

In [2]:
years = [2018, 2014, 2010, 2006, 2002, 1998, 1994, 1990, 1986, 1982]

In [3]:
comparisons = pd.read_csv('world_cup_comparisons.csv')

In [4]:
comparisons.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,Cristian Pavón,2018,Argentina,-0.42,-0.55,0.08,-0.24,-0.61,-0.72,-0.05,0.15,0.30,-0.79,-0.80,-0.45,-0.23,-0.38,-0.91,-0.58
1,Eduardo Salvio,2018,Argentina,-0.42,-0.50,-0.51,0.64,0.02,-0.46,-0.05,0.48,0.61,0.67,0.32,-0.45,0.21,-1.11,0.68,-0.03
2,Enzo Pérez,2018,Argentina,-0.42,0.11,-0.51,-0.69,0.27,-0.65,-0.36,-0.34,0.35,-0.22,-0.80,-0.45,-0.89,0.72,0.04,-0.66
3,Federico Fazio,2018,Argentina,-0.42,-0.59,-0.51,-0.69,-0.97,-0.91,-0.67,-0.84,-0.82,-0.79,-0.64,-0.45,0.21,-1.11,-0.59,-0.77
4,Franco Armani,2018,Argentina,-0.42,-0.59,-0.51,-0.80,-0.67,0.64,-0.67,-0.67,-0.82,-0.79,-0.64,-0.45,-0.89,-1.11,-0.91,-0.77

In [5]:
all_teams = comparisons['team'].value_counts()

In [6]:
all_teams = all_teams.drop(labels=['West Germany', 'Netherlands', 'Senegal', 'Ecuador', 'England', 'USA', 'Iran', 'Argentina', 'Poland', 'Mexico', 'Saudi Arabia', 'France', 'Denmark', 'Tunisia', 'Australia', 'Germany', 'Spain', 'Japan', 'Costa Rica', 'Belgium', 'Croatia', 'Canada', 'Morocco', 'Brazil', 'Switzerland', 'Serbia', 'Cameroon', 'Portugal', 'Uruguay', 'Ghana'])

In [7]:
teams_all = ['Italy', 'South Korea', 'Nigeria','Colombia','Paraguay',
             'Sweden','Russia','Scotland','Algeria','Chile','Greece',
             'Honduras','Austria','Bulgaria','USSR','Ivory Coast',               
             'Romania','Yugoslavia','South Africa','Rep of Ireland',
             'Czechoslovakia','Hungary','Egypt','Slovenia','Norway',                     
             'Northern Ireland','Peru','New Zealand','Bosnia and Herzegovina',     
             'Panama','Slovakia','Iraq','China PR','Jamaica','Turkey',                     
             'Ukraine','Bolivia','Trinidad and Tobago','Togo','Czech Republic',             
             'Angola','United Arab Emirates','Iceland','El Salvador','Kuwait','North Korea']

In [8]:
comparisons = comparisons.loc[comparisons['team'].isin(teams_all)]

In [9]:
comparisons.shape

(2390, 19)

In [10]:
year1982 = [1982]
year1986 = [1986]
year1990 = [1990]
year1994 = [1994]
year1998 = [1998]

year2002 = [2002]
year2006 = [2006]
year2010 = [2010]
year2014 = [2014]
year2018 = [2018]

In [11]:
df = comparisons.drop(columns = ['player'])

In [12]:
comparisons['team'].value_counts()

Italy                     228
South Korea               149
Sweden                    131
Nigeria                   103
Bulgaria                  101
Scotland                   98
Chile                      94
USSR                       88
Paraguay                   83
Colombia                   83
Russia                     71
Hungary                    66
Algeria                    65
Austria                    65
Yugoslavia                 64
Peru                       63
Romania                    61
Greece                     58
Czechoslovakia             54
Honduras                   51
Ivory Coast                48
South Africa               46
Rep of Ireland             45
Egypt                      31
Norway                     31
El Salvador                31
Slovenia                   31
Northern Ireland           29
North Korea                29
New Zealand                27
Bosnia and Herzegovina     20
Panama                     19
Slovakia                   18
Jamaica                    17
Turkey                     17
China PR                   17
Ukraine                    17
Iraq                       17
Czech Republic             16
Bolivia                    16
Trinidad and Tobago        16
Togo                       16
Angola                     16
United Arab Emirates       15
Iceland                    15
Kuwait                     14
Name: team, dtype: int64

# Ivory Coast

In [13]:
ivo = ['Ivory Coast']

In [14]:
ivo_year = df.loc[df["team"].isin(ivo)]

## 06

In [15]:
ivo06year = ivo_year.loc[ivo_year["season"].isin(year2006)]

In [16]:
ivo06xg = ivo06year.sort_values(by=["goals_z"], ascending=False)

In [17]:
ivo06xg13 = ivo06xg.head(13)

In [18]:
ivo06xg13 = ivo06xg13.drop(columns=['season', 'team'])

In [19]:
ivo06 = ivo06xg13.mean()

In [20]:
# ivo06

## 10

In [21]:
ivo10year = ivo_year.loc[ivo_year["season"].isin(year2010)]

In [22]:
ivo10xg = ivo10year.sort_values(by=["goals_z"], ascending=False)

In [23]:
ivo10xg13 = ivo10xg.head(13)

In [24]:
ivo10xg13 = ivo10xg13.drop(columns=['season', 'team'])

In [25]:
ivo10 = ivo10xg13.mean()

In [26]:
# ivo10

## 14

In [27]:
ivo14year = ivo_year.loc[ivo_year["season"].isin(year2014)]

In [28]:
ivo14xg = ivo14year.sort_values(by=["goals_z"], ascending=False)

In [29]:
ivo14xg13 = ivo14xg.head(13)

In [30]:
ivo14xg13 = ivo14xg13.drop(columns=['season', 'team'])

In [31]:
ivo14 = ivo14xg13.mean()

In [32]:
# ivo14

In [33]:
ivo = pd.concat([ivo06, ivo10, ivo14], axis=1).T

In [34]:
ivo.rename(index={0: 'IvoryCoast06', 1: 'IvoryCoast10', 2: 'IvoryCoast14'}, inplace=True)

In [35]:
df2 = ivo.assign(results=[19, 17, 21])

In [36]:
# df2.to_csv('IvoryCoast.csv', index=False)

In [37]:
# 06 - 19      Ivory Coast     C     3     1     0     2     5     6     −1     3
# 10 - 17      Ivory Coast     G     3     1     1     1     4     3     +1     4
# 14 - 21      Ivory Coast     C     3     1     0     2     3     4     5     −1

## South Africa

In [38]:
sou = ['South Africa']

In [39]:
sou_year = df.loc[df["team"].isin(sou)]

## 98

In [40]:
sou98year = sou_year.loc[sou_year["season"].isin(year1998)]

In [41]:
sou98xg = sou98year.sort_values(by=["goals_z"], ascending=False)

In [42]:
sou98xg13 = sou98xg.head(13)

In [43]:
sou98xg13 = sou98xg13.drop(columns=['season', 'team'])

In [44]:
sou98 = sou98xg13.mean()

In [45]:
# sou98

## 02

In [46]:
sou02year = sou_year.loc[sou_year["season"].isin(year2002)]

In [47]:
sou02xg = sou02year.sort_values(by=["goals_z"], ascending=False)

In [48]:
sou02xg13 = sou02xg.head(13)

In [49]:
sou02xg13 = sou02xg13.drop(columns=['season', 'team'])

In [50]:
sou02 = sou02xg13.mean()

In [51]:
# sou02

## 10

In [52]:
sou10year = sou_year.loc[sou_year["season"].isin(year2010)]

In [53]:
sou10xg = sou10year.sort_values(by=["goals_z"], ascending=False)

In [54]:
sou10xg13 = sou10xg.head(13)

In [55]:
sou10xg13 = sou10xg13.drop(columns=['season', 'team'])

In [56]:
sou10 = sou10xg13.mean()

In [57]:
# sou10

In [58]:
sou = pd.concat([sou98, sou02, sou10], axis=1).T

In [59]:
sou.rename(index={0: 'SouthAfrica98', 1: 'SouthAfrica02', 2: 'SouthAfrica10'}, inplace=True)

In [60]:
df2 = sou.assign(results=[24, 17, 10])

In [61]:
# df2.to_csv('SouthAfrica.csv', index=False)

In [62]:
# 98 - 24      South Africa     C     3     0     2     1     3     6     −3     2
# 02 - 17     B      South Africa     3     1     1     1     5     5     0     4 
# 10 - 20      South Africa     A     3     1     1     1     3     5     −2     4

# Republic of Ireland

In [74]:
rep = ['Rep of Ireland']

In [75]:
rep_year = df.loc[df["team"].isin(rep)]

## 90

In [76]:
rep90year = rep_year.loc[rep_year["season"].isin(year1990)]

In [77]:
rep90xg = rep90year.sort_values(by=["goals_z"], ascending=False)

In [78]:
rep90xg13 = rep90xg.head(13)

In [79]:
rep90xg13 = rep90xg13.drop(columns=['season', 'team'])

In [80]:
rep90 = rep90xg13.mean()

In [82]:
# rep90

## 94

In [83]:
rep94year = rep_year.loc[rep_year["season"].isin(year1994)]

In [84]:
rep94xg = rep94year.sort_values(by=["goals_z"], ascending=False)

In [85]:
rep94xg13 = rep94xg.head(13)

In [86]:
rep94xg13 = rep94xg13.drop(columns=['season', 'team'])

In [87]:
rep94 = rep94xg13.mean()

In [89]:
# rep94

## 02

In [90]:
rep02year = rep_year.loc[rep_year["season"].isin(year2002)]

In [91]:
rep02xg = rep02year.sort_values(by=["goals_z"], ascending=False)

In [92]:
rep02xg13 = rep02xg.head(13)

In [93]:
rep02xg13 = rep02xg13.drop(columns=['season', 'team'])

In [94]:
rep02 = rep02xg13.mean()

In [95]:
# rep02

goals_z            2.646154e-01
xg_z               3.946154e-01
crosses_z         -9.461538e-02
boxtouches_z       2.176923e-01
passes_z           2.907692e-01
progpasses_z       6.230769e-02
takeons_z          1.000000e-01
progruns_z         2.415385e-01
tackles_z         -3.284615e-01
interceptions_z   -1.976923e-01
clearances_z      -9.769231e-02
blocks_z          -4.230769e-02
aerials_z         -1.923077e-02
fouls_z           -1.538462e-02
fouled_z           8.540177e-17
nsxg_z             9.461538e-02
dtype: float64

In [96]:
rep = pd.concat([rep90, rep94, rep02], axis=1).T

In [98]:
rep.rename(index={0: 'RepIreland90', 1: 'RepIreland94', 2: 'RepIreland02'}, inplace=True)

In [99]:
df2 = rep.assign(results=[8, 16, 12])

In [100]:
# df2.to_csv('RepIreland.csv', index=False)

In [63]:
# 90 - 8     F      Republic of Ireland     5     0     4     1     2     3     −1     4
# 94 - 16      Republic of Ireland     E     4     1     1     2     2     4     −2     4
# 02 - 12     E      Republic of Ireland     4     1     3     0     6     3     +3     6

# Slovenia

In [105]:
slo = ['Slovenia']

In [106]:
slo_year = df.loc[df["team"].isin(slo)]

## 02

In [108]:
slo02year = slo_year.loc[slo_year["season"].isin(year2002)]

In [109]:
slo02xg = slo02year.sort_values(by=["goals_z"], ascending=False)

In [110]:
slo02xg13 = slo02xg.head(13)

In [111]:
slo02xg13 = slo02xg13.drop(columns=['season', 'team'])

In [112]:
slo02 = slo02xg13.mean()

In [114]:
# slo02

## 10

In [115]:
slo10year = slo_year.loc[slo_year["season"].isin(year2010)]

In [116]:
slo10xg = slo10year.sort_values(by=["goals_z"], ascending=False)

In [117]:
slo10xg13 = slo10xg.head(13)

In [118]:
slo10xg13 = slo10xg13.drop(columns=['season', 'team'])

In [119]:
slo10 = slo10xg13.mean()

In [121]:
# slo10

In [122]:
slo = pd.concat([slo02, slo10], axis=1).T

In [123]:
slo.rename(index={0: 'Slovenia02', 1: 'Slovenia10'}, inplace=True)

In [124]:
df2 = slo.assign(results=[30, 18])

In [125]:
# df2.to_csv('Slovenia.csv', index=False)

In [ ]:
# 02 - 30     B      Slovenia     3     0     0     3     2     7     −5     0
# 10 - 18      Slovenia     C     3     1     1     1     3     3     0     4

## Czechoslovakia

In [126]:
cze = ['Czechoslovakia']

In [127]:
cze_year = df.loc[df["team"].isin(cze)]

## 82

In [128]:
cze82year = cze_year.loc[cze_year["season"].isin(year1982)]

In [129]:
cze82xg = cze82year.sort_values(by=["goals_z"], ascending=False)

In [130]:
cze82xg13 = cze82xg.head(13)

In [131]:
cze82xg13 = cze82xg13.drop(columns=['season', 'team'])

In [132]:
cze82 = cze82xg13.mean()

In [134]:
# cze82

## 90

In [135]:
cze90year = cze_year.loc[cze_year["season"].isin(year1990)]

In [136]:
cze90xg = cze90year.sort_values(by=["goals_z"], ascending=False)

In [137]:
cze90xg13 = cze90xg.head(13)

In [138]:
cze90xg13 = cze90xg13.drop(columns=['season', 'team'])

In [139]:
cze90 = cze90xg13.mean()

In [141]:
# cze90

In [142]:
cze = pd.concat([cze82, cze90], axis=1).T

In [143]:
cze.rename(index={0: 'Czechoslovakia82', 1: 'Czechoslovakia90'}, inplace=True)

In [144]:
df2 = cze.assign(results=[19, 6])

In [145]:
# df2.to_csv('Czechoslovakia.csv', index=False)

In [ ]:
# 82 - 19      Czechoslovakia     4     3     0     2     1     2     4     −2     2
# 90 - 6     A      Czechoslovakia     5     3     0     2     10     5     +5     6

# Hungary

In [148]:
hun = ['Hungary']

In [149]:
hun_year = df.loc[df["team"].isin(hun)]

## 82

In [151]:
hun82year = hun_year.loc[hun_year["season"].isin(year1982)]

In [152]:
hun82xg = hun82year.sort_values(by=["goals_z"], ascending=False)

In [153]:
hun82xg13 = hun82xg.head(13)

In [154]:
hun82xg13 = hun82xg13.drop(columns=['season', 'team'])

In [155]:
hun82 = hun82xg13.mean()

In [196]:
hun82

goals_z            1.336923
xg_z               0.056154
crosses_z          0.210000
boxtouches_z       0.080000
passes_z          -0.177692
progpasses_z      -0.016923
takeons_z          0.033077
progruns_z         0.030769
tackles_z         -0.496923
interceptions_z   -0.477692
clearances_z      -0.114615
blocks_z          -0.206923
aerials_z         -0.243077
fouls_z           -0.417692
fouled_z          -0.010769
nsxg_z             0.020769
dtype: float64

## 86

In [204]:
hun86year = hun_year.loc[hun_year["season"].isin(year1986)]

In [205]:
hun86xg = hun86year.sort_values(by=["goals_z"], ascending=False)

In [206]:
hun86xg13 = hun86xg.head(13)

In [207]:
hun86xg13 = hun86xg13.drop(columns=['season', 'team'])

In [208]:
hun86 = hun86xg13.mean()

In [209]:
hun86

goals_z           -0.080769
xg_z              -0.243846
crosses_z         -0.133846
boxtouches_z      -0.276154
passes_z           0.096154
progpasses_z       0.124615
takeons_z         -0.200769
progruns_z         0.102308
tackles_z          0.060000
interceptions_z   -0.073077
clearances_z       0.062308
blocks_z          -0.343077
aerials_z         -0.007692
fouls_z           -0.325385
fouled_z          -0.152308
nsxg_z            -0.331538
dtype: float64

In [216]:
hun = pd.concat([hun86], axis=1).T

In [217]:
hun.rename(index={0:'Hungary86'}, inplace=True)

In [218]:
df2 = hun.assign(results=[18])

In [219]:
df2

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,results
Hungary86,-0.080769,-0.243846,-0.133846,-0.276154,0.096154,0.124615,-0.200769,0.102308,0.06,-0.073077,0.062308,-0.343077,-0.007692,-0.325385,-0.152308,-0.331538,18

In [220]:
df2.to_csv('Hungary.csv', index=False)

In [ ]:
# 82 - 14      Hungary     3     3     1     1     1     12     6     +6     3
# 86 - 18      Hungary     C     3     1     0     2     2     9     −7     2

## Egypt

In [172]:
egy = ['Egypt']

In [173]:
egy_year = df.loc[df["team"].isin(egy)]

## 90

In [174]:
egy90year = egy_year.loc[egy_year["season"].isin(year1990)]

In [175]:
egy90xg = egy90year.sort_values(by=["goals_z"], ascending=False)

In [177]:
egy90xg13 = egy90xg.head(13)

In [178]:
egy90xg13 = egy90xg13.drop(columns=['season', 'team'])

In [179]:
egy90 = egy90xg13.mean()

In [193]:
egy90

goals_z           -0.241538
xg_z               0.032308
crosses_z         -0.363077
boxtouches_z      -0.252308
passes_z          -0.070769
progpasses_z      -0.200000
takeons_z          0.012308
progruns_z        -0.532308
tackles_z         -0.140000
interceptions_z   -0.213846
clearances_z       0.693077
blocks_z          -0.366923
aerials_z          0.386923
fouls_z            0.150769
fouled_z           0.195385
nsxg_z            -0.321538
dtype: float64

## 18

In [182]:
egy18year = egy_year.loc[egy_year["season"].isin(year2018)]

In [183]:
egy18xg = egy18year.sort_values(by=["goals_z"], ascending=False)

In [184]:
egy18xg13 = egy18xg.head(13)

In [185]:
egy18xg13 = egy18xg13.drop(columns=['season', 'team'])

In [186]:
egy18 = egy18xg13.mean()

In [194]:
egy18

goals_z           -0.066923
xg_z              -0.147692
crosses_z          0.028462
boxtouches_z      -0.050000
passes_z          -0.076154
progpasses_z       0.314615
takeons_z         -0.224615
progruns_z         0.122308
tackles_z         -0.207692
interceptions_z    0.190769
clearances_z       0.413846
blocks_z          -0.044615
aerials_z         -0.035385
fouls_z           -0.173846
fouled_z          -0.323846
nsxg_z            -0.006923
dtype: float64

In [188]:
egy = pd.concat([egy90, egy18], axis=1).T

In [189]:
egy.rename(index={0: 'Egypt90', 1: 'Egypt18'}, inplace=True)

In [190]:
df2 = egy.assign(results=[20, 31])

In [192]:
# df2.to_csv('Egypt.csv', index=False)

In [ ]:
# 90 - 20     F      Egypt     3     0     2     1     1     2     −1     2
# 18 - 31      Egypt     A     3     0     0     3     0     2     6     −4

In [221]:
nor = ['Norway']

In [222]:
nor_year = df.loc[df["team"].isin(nor)]

## 94

In [223]:
nor94year = nor_year.loc[nor_year["season"].isin(year1994)]

In [224]:
nor94xg = nor94year.sort_values(by=["goals_z"], ascending=False)

In [225]:
nor94xg13 = nor94xg.head(13)

In [226]:
nor94xg13 = nor94xg13.drop(columns=['season', 'team'])

In [227]:
nor94 = nor94xg13.mean()

In [229]:
# nor94

## 98

In [230]:
nor98year = nor_year.loc[nor_year["season"].isin(year1998)]

In [231]:
nor98xg = nor98year.sort_values(by=["goals_z"], ascending=False)

In [232]:
nor98xg13 = nor98xg.head(13)

In [233]:
nor98xg13 = nor98xg13.drop(columns=['season', 'team'])

In [234]:
nor98 = nor98xg13.mean()

In [236]:
# nor98

In [237]:
nor = pd.concat([nor94, nor98], axis=1).T

In [238]:
nor.rename(index={0: 'Norway94', 1: 'Norway98'}, inplace=True)

In [239]:
df2 = nor.assign(results=[17, 15])

In [240]:
# df2.to_csv('Norway.csv', index=False)

In [ ]:
# 94 - 17      Norway     E     3     1     1     1     1     1     0     4
# 98 - 15      Norway     A     4     1     2     1     5     5     0     5

# Northern Ireland

In [241]:
nir = ['Northern Ireland']

In [242]:
nir_year = df.loc[df["team"].isin(nir)]

## 82

In [244]:
nir82year = nir_year.loc[nir_year["season"].isin(year1982)]

In [245]:
nir82xg = nir82year.sort_values(by=["goals_z"], ascending=False)

In [248]:
nir82xg13 = nir82xg.head(13)

In [249]:
nir82xg13 = nir82xg13.drop(columns=['season', 'team'])

In [250]:
nir82 = nir82xg13.mean()

In [252]:
# nir82

## 86

In [253]:
nir86year = nir_year.loc[nir_year["season"].isin(year1986)]

In [254]:
nir86xg = nir86year.sort_values(by=["goals_z"], ascending=False)

In [255]:
nir86xg13 = nir86xg.head(13)

In [256]:
nir86xg13 = nir86xg13.drop(columns=['season', 'team'])

In [257]:
nir86 = nir86xg13.mean()

In [259]:
# nir86

In [260]:
nir = pd.concat([nir82, nir86], axis=1).T

In [261]:
nir.rename(index={0: 'NorthernIreland82', 1: 'NorthernIreland86'}, inplace=True)

In [262]:
df2 = nir.assign(results=[9, 21])

In [263]:
# df2.to_csv('NorthernIreland.csv', index=False)

In [ ]:
# 82 - 9      Northern Ireland     5/D     5     1     3     1     5     7     −2     5
# 86 - 21      Northern Ireland     D     3     0     1     2     2     6     −4     1

## Peru

In [264]:
per = ['Peru']

In [265]:
per_year = df.loc[df["team"].isin(per)]

## 82

In [267]:
per82year = per_year.loc[per_year["season"].isin(year1982)]

In [268]:
per82xg = per82year.sort_values(by=["goals_z"], ascending=False)

In [269]:
per82xg13 = per82xg.head(13)

In [270]:
per82xg13 = per82xg13.drop(columns=['season', 'team'])

In [271]:
per82 = per82xg13.mean()

In [273]:
# per82


## 18

In [276]:
per18year = per_year.loc[per_year["season"].isin(year2018)]

In [277]:
per18xg = per18year.sort_values(by=["goals_z"], ascending=False)

In [278]:
per18xg13 = per18xg.head(13)

In [279]:
per18xg13 = per18xg13.drop(columns=['season', 'team'])

In [280]:
per18 = per18xg13.mean()

In [282]:
# per18

In [283]:
per = pd.concat([per82, per18], axis=1).T

In [284]:
per.rename(index={0: 'Peru82', 1: 'Peru18'}, inplace=True)

In [285]:
df2 = per.assign(results=[20, 20])

In [287]:
# df2.to_csv('Peru.csv', index=False)

In [ ]:
# 82 - 20      Peru     1     3     0     2     1     2     6     −4     2
# 18 - 20      Peru     C     3     1     0     2     3     2     2     0

# New Zealand

## 82

In [ ]:
# 82 - 23      New Zealand     6     3     0     0     3     2     12     −10     0
# 10 - 22      New Zealand     F     3     0     3     0     2     2     0     3

In [302]:
listz = ['Bosnia and Herzegovina', 
         
'Panama','Slovakia','Iraq','China PR','Jamaica','Turkey',                     
'Ukraine','Bolivia','Trinidad and Tobago','Togo','Czech Republic',             
'Angola','United Arab Emirates','Iceland','El Salvador','Kuwait','North Korea']

In [303]:
len(listz)

18