In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

import matplotlib.pyplot as pyplot
import seaborn as sns

In [2]:
years = [2018, 2014, 2010, 2006, 2002, 1998, 1994, 1990, 1986, 1982]

In [3]:
comparisons = pd.read_csv('world_cup_comparisons.csv')

In [4]:
comparisons.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,Cristian Pavón,2018,Argentina,-0.42,-0.55,0.08,-0.24,-0.61,-0.72,-0.05,0.15,0.30,-0.79,-0.80,-0.45,-0.23,-0.38,-0.91,-0.58
1,Eduardo Salvio,2018,Argentina,-0.42,-0.50,-0.51,0.64,0.02,-0.46,-0.05,0.48,0.61,0.67,0.32,-0.45,0.21,-1.11,0.68,-0.03
2,Enzo Pérez,2018,Argentina,-0.42,0.11,-0.51,-0.69,0.27,-0.65,-0.36,-0.34,0.35,-0.22,-0.80,-0.45,-0.89,0.72,0.04,-0.66
3,Federico Fazio,2018,Argentina,-0.42,-0.59,-0.51,-0.69,-0.97,-0.91,-0.67,-0.84,-0.82,-0.79,-0.64,-0.45,0.21,-1.11,-0.59,-0.77
4,Franco Armani,2018,Argentina,-0.42,-0.59,-0.51,-0.80,-0.67,0.64,-0.67,-0.67,-0.82,-0.79,-0.64,-0.45,-0.89,-1.11,-0.91,-0.77

In [5]:
all_teams = comparisons['team'].value_counts()

In [6]:
all_teams = all_teams.drop(labels=['West Germany', 'Netherlands', 'Senegal', 'Ecuador', 'England', 'USA', 'Iran', 'Argentina', 'Poland', 'Mexico', 'Saudi Arabia', 'France', 'Denmark', 'Tunisia', 'Australia', 'Germany', 'Spain', 'Japan', 'Costa Rica', 'Belgium', 'Croatia', 'Canada', 'Morocco', 'Brazil', 'Switzerland', 'Serbia', 'Cameroon', 'Portugal', 'Uruguay', 'Ghana'])

In [7]:
teams_all = ['Italy', 'South Korea', 'Nigeria','Colombia','Paraguay',
             'Sweden','Russia','Scotland','Algeria','Chile','Greece',
             'Honduras','Austria','Bulgaria','USSR','Ivory Coast',               
             'Romania','Yugoslavia','South Africa','Rep of Ireland',
             'Czechoslovakia','Hungary','Egypt','Slovenia','Norway',                     
             'Northern Ireland','Peru','New Zealand','Bosnia and Herzegovina',     
             'Panama','Slovakia','Iraq','China PR','Jamaica','Turkey',                     
             'Ukraine','Bolivia','Trinidad and Tobago','Togo','Czech Republic',             
             'Angola','United Arab Emirates','Iceland','El Salvador','Kuwait','North Korea']

In [8]:
comparisons = comparisons.loc[comparisons['team'].isin(teams_all)]

In [9]:
comparisons.shape

(2390, 19)

In [10]:
year1982 = [1982]
year1986 = [1986]
year1990 = [1990]
year1994 = [1994]
year1998 = [1998]

year2002 = [2002]
year2006 = [2006]
year2010 = [2010]
year2014 = [2014]
year2018 = [2018]

In [11]:
df = comparisons.drop(columns = ['player'])

In [12]:
comparisons['team'].value_counts()

Italy                     228
South Korea               149
Sweden                    131
Nigeria                   103
Bulgaria                  101
Scotland                   98
Chile                      94
USSR                       88
Paraguay                   83
Colombia                   83
Russia                     71
Hungary                    66
Algeria                    65
Austria                    65
Yugoslavia                 64
Peru                       63
Romania                    61
Greece                     58
Czechoslovakia             54
Honduras                   51
Ivory Coast                48
South Africa               46
Rep of Ireland             45
Egypt                      31
Norway                     31
El Salvador                31
Slovenia                   31
Northern Ireland           29
North Korea                29
New Zealand                27
Bosnia and Herzegovina     20
Panama                     19
Slovakia                   18
Jamaica                    17
Turkey                     17
China PR                   17
Ukraine                    17
Iraq                       17
Czech Republic             16
Bolivia                    16
Trinidad and Tobago        16
Togo                       16
Angola                     16
United Arab Emirates       15
Iceland                    15
Kuwait                     14
Name: team, dtype: int64

# Italy

## 1982

In [13]:
df.head()

,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
72,2018,Colombia,-0.42,-0.59,-0.51,-0.80,-1.16,-1.04,-0.67,-0.68,-0.82,-0.79,-0.80,-0.45,-0.69,-1.11,-0.91,-0.77
73,2018,Colombia,-0.42,-0.35,-0.51,0.12,-1.01,-0.98,-0.67,-0.53,-0.26,-0.79,-0.80,-0.45,0.12,0.24,-0.62,-0.21
74,2018,Colombia,-0.42,-0.59,-0.51,-0.80,-0.37,-0.39,-0.67,-0.84,0.21,-0.50,-0.65,-0.45,-0.49,0.91,-0.62,-0.62
75,2018,Colombia,-0.42,-0.59,-0.51,-0.80,-0.36,1.10,-0.67,-0.84,-0.82,-0.79,-0.65,-0.45,-0.69,-1.11,-0.32,-0.77
76,2018,Colombia,-0.42,-0.41,-0.51,0.22,0.88,1.04,-0.67,-0.68,-0.52,0.91,3.19,2.92,1.14,-0.44,-0.32,-0.72

In [14]:
ita = ['Italy']

In [15]:
ita_year = df.loc[df["team"].isin(ita)]

In [16]:
ita82year = ita_year.loc[ita_year["season"].isin(year1982)]

In [17]:
ita82xg = ita82year.sort_values(by=["goals_z"], ascending=False)

In [18]:
ita82xg13 = ita82xg.head(13)

In [19]:
ita82xg13 = ita82xg13.drop(columns=['season', 'team'])

In [20]:
ita82 = ita82xg13.mean()

In [21]:
# ita82

## 1986

In [22]:
ita86year = ita_year.loc[ita_year["season"].isin(year1986)]

In [23]:
ita86xg = ita86year.sort_values(by=["goals_z"], ascending=False)

In [24]:
ita86xg13 = ita86xg.head(13)

In [25]:
ita86xg13 = ita86xg13.drop(columns=['season', 'team'])

In [26]:
ita86 = ita86xg13.mean()

In [27]:
# ita86

## 1990

In [28]:
ita90year = ita_year.loc[ita_year["season"].isin(year1990)]

In [29]:
ita90xg = ita90year.sort_values(by=["goals_z"], ascending=False)

In [30]:
ita90xg13 = ita90xg.head(13)

In [31]:
ita90xg13 = ita90xg13.drop(columns=['season', 'team'])

In [32]:
ita90 = ita90xg13.mean()

In [33]:
# ita90

## 1994

In [34]:
ita94year = ita_year.loc[ita_year["season"].isin(year1994)]

In [35]:
ita94xg = ita94year.sort_values(by=["goals_z"], ascending=False)

In [36]:
ita94xg13 = ita94xg.head(13)

In [37]:
ita94xg13 = ita94xg13.drop(columns=['season', 'team'])

In [38]:
ita94 = ita94xg13.mean()

In [39]:
# ita94

## 1998

In [40]:
ita98year = ita_year.loc[ita_year["season"].isin(year1998)]

In [41]:
ita98xg = ita98year.sort_values(by=["goals_z"], ascending=False)

In [42]:
ita98xg13 = ita98xg.head(13)

In [43]:
ita98xg13 = ita98xg13.drop(columns=['season', 'team'])

In [44]:
ita98 = ita98xg13.mean()

In [45]:
# ita98

## 2002

In [46]:
ita02year = ita_year.loc[ita_year["season"].isin(year2002)]

In [47]:
ita02xg = ita02year.sort_values(by=["goals_z"], ascending=False)

In [48]:
ita02xg13 = ita02xg.head(13)

In [49]:
ita02xg13 = ita02xg13.drop(columns=['season', 'team'])

In [50]:
ita02 = ita02xg13.mean()

In [51]:
# ita02

## 06

In [52]:
ita06year = ita_year.loc[ita_year["season"].isin(year2006)]

In [53]:
ita06xg = ita06year.sort_values(by=["goals_z"], ascending=False)

In [54]:
ita06xg13 = ita06xg.head(13)

In [55]:
ita06xg13 = ita06xg13.drop(columns=['season', 'team'])

In [56]:
ita06 = ita06xg13.mean()

In [57]:
# ita06

## 2010

In [58]:
ita10year = ita_year.loc[ita_year["season"].isin(year2010)]

In [59]:
ita10xg = ita10year.sort_values(by=["goals_z"], ascending=False)

In [60]:
ita10xg13 = ita10xg.head(13)

In [61]:
ita10xg13 = ita10xg13.drop(columns=['season', 'team'])

In [62]:
ita10 = ita10xg13.mean()

In [63]:
# ita10

## 2014

In [64]:
ita14year = ita_year.loc[ita_year["season"].isin(year2014)]

In [65]:
ita14xg = ita14year.sort_values(by=["goals_z"], ascending=False)

In [66]:
ita14xg13 = ita14xg.head(13)

In [67]:
ita14xg13 = ita14xg13.drop(columns=['season', 'team'])

In [68]:
ita14 = ita14xg13.mean()

In [69]:
ita14

goals_z           -0.093077
xg_z              -0.197692
crosses_z         -0.366923
boxtouches_z      -0.434615
passes_z           0.531538
progpasses_z       0.181538
takeons_z         -0.248462
progruns_z        -0.085385
tackles_z          0.169231
interceptions_z    0.879231
clearances_z      -0.082308
blocks_z           0.463077
aerials_z         -0.289231
fouls_z            0.077692
fouled_z           0.267692
nsxg_z            -0.443077
dtype: float64

In [70]:
ital = pd.concat([ita82, ita86, ita90, ita94, ita98, ita02, ita06, ita10, ita14], axis=1).T

In [71]:
ital

,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,0.286154,0.069231,0.013846,-0.040000,-0.095385,0.041538,0.054615,-0.230000,-0.101538,-0.220769,0.033846,0.198462,0.070000,0.350000,0.454615,-0.193846
1,0.073077,0.299231,0.304615,0.240000,0.406923,0.365385,0.016923,0.212308,-0.173077,0.320000,-0.068462,0.633846,-0.390000,0.300000,0.663846,0.102308
2,0.309231,0.330000,0.103846,0.147692,-0.000769,-0.311538,0.153846,0.121538,0.057692,0.213077,-0.199231,-0.313846,0.046923,-0.174615,0.493077,0.143077
3,0.032308,-0.028462,0.046154,0.052308,-0.147692,-0.115385,0.146923,-0.120000,-0.158462,-0.208462,-0.000769,-0.114615,0.080769,-0.066154,0.305385,0.050000
4,0.293846,0.176154,-0.355385,-0.112308,-0.164615,0.045385,-0.054615,-0.113846,-0.053846,-0.103077,0.309231,0.130000,0.074615,-0.010769,0.081538,-0.176923
5,0.153077,0.197692,0.030000,0.088462,-0.665385,-0.347692,-0.200000,-0.407692,-0.646154,-0.612308,-0.216154,-0.455385,-0.064615,-0.136923,0.095385,-0.118462
6,0.484615,0.213077,-0.103846,0.202308,-0.116154,-0.091538,-0.255385,-0.093077,-0.251538,-0.112308,0.109231,0.126923,0.100000,-0.377692,0.180000,0.180769
7,0.310769,0.424615,0.362308,0.256923,0.035385,0.073077,-0.039231,-0.240000,0.763846,0.315385,-0.299231,-0.280000,0.519231,-0.003077,0.360769,0.107692
8,-0.093077,-0.197692,-0.366923,-0.434615,0.531538,0.181538,-0.248462,-0.085385,0.169231,0.879231,-0.082308,0.463077,-0.289231,0.077692,0.267692,-0.443077

In [72]:
ital.rename(index={0: 'Italy82', 1: 'Italy86', 2: 'Italy90', 3: 'Italy94', 4: 'Italy98', 
                  5: 'Italy02', 6: 'Italy06', 7: 'Italy10', 8: 'Italy14'}, inplace=True)

In [73]:
df2 = ital.assign(results=[1, 12, 3, 2, 5, 15, 1, 26, 22])

In [74]:
# df2.to_csv('Italy.csv', index=False)

In [75]:
# 82 - 1      Italy     1/C     7     4     3     0     12     6     +6     11
# 86 - 12      Italy     A     4     1     2     1     5     6     −1     4
# 90 - 3     A      Italy     7     6     1     0     10     2     +8     13     3rd
# 94 - 2      Italy     E     7     4     2     1     8     5     +3     14
# 98 - 5      Italy     B     5     3     2     0     8     3     +5     11
# 02 - 15     G      Italy     4     1     1     2     5     5     0     4
# 06 - 1      Italy     E     7     5     2     0     12     2     +10     17
# 10 - 26      Italy     F     3     0     2     1     4     5     −1     2
# 14 - 22      Italy     D     3     1     0     2     3     2     3     −1

#  South Korea

## 86

In [76]:
sko = ['South Korea']

In [77]:
sko_year = df.loc[df["team"].isin(sko)]

In [78]:
sko86year = sko_year.loc[sko_year["season"].isin(year1986)]

In [79]:
sko86xg = sko86year.sort_values(by=["goals_z"], ascending=False)

In [80]:
sko86xg13 = sko86xg.head(13)

In [81]:
sko86xg13 = sko86xg13.drop(columns=['season', 'team'])

In [82]:
sko86 = sko86xg13.mean()

In [83]:
# sko86

## 90

In [84]:
sko90year = sko_year.loc[sko_year["season"].isin(year1990)]

In [85]:
sko90xg = sko90year.sort_values(by=["goals_z"], ascending=False)

In [86]:
sko90xg13 = sko90xg.head(13)

In [87]:
sko90xg13 = sko90xg13.drop(columns=['season', 'team'])

In [88]:
sko90 = sko90xg13.mean()

In [89]:
# sko90

## 94

In [90]:
sko94year = sko_year.loc[sko_year["season"].isin(year1994)]

In [91]:
sko94xg = sko94year.sort_values(by=["goals_z"], ascending=False)

In [92]:
sko94xg13 = sko94xg.head(13)

In [93]:
sko94xg13 = sko94xg13.drop(columns=['season', 'team'])

In [94]:
sko94 = sko94xg13.mean()

In [95]:
# sko94

## 98

In [96]:
sko98year = sko_year.loc[sko_year["season"].isin(year1998)]

In [97]:
sko98xg = sko98year.sort_values(by=["goals_z"], ascending=False)

In [98]:
sko98xg13 = sko98xg.head(13)

In [99]:
sko98xg13 = sko98xg13.drop(columns=['season', 'team'])

In [100]:
sko98 = sko98xg13.mean()

In [101]:
# sko98

## 02

In [102]:
sko02year = sko_year.loc[sko_year["season"].isin(year2002)]

In [103]:
sko02xg = sko02year.sort_values(by=["goals_z"], ascending=False)

In [104]:
sko02xg13 = sko02xg.head(13)

In [105]:
sko02xg13 = sko02xg13.drop(columns=['season', 'team'])

In [106]:
sko02 = sko02xg13.mean()

In [107]:
# sko02

## 06

In [108]:
sko06year = sko_year.loc[sko_year["season"].isin(year2006)]

In [109]:
sko06xg = sko06year.sort_values(by=["goals_z"], ascending=False)

In [110]:
sko06xg13 = sko06xg.head(13)

In [111]:
sko06xg13 = sko06xg13.drop(columns=['season', 'team'])

In [112]:
sko06 = sko06xg13.mean()

In [113]:
# sko06

## 10

In [114]:
sko10year = sko_year.loc[sko_year["season"].isin(year2010)]

In [115]:
sko10xg = sko10year.sort_values(by=["goals_z"], ascending=False)

In [116]:
sko10xg13 = sko10xg.head(13)

In [117]:
sko10xg13 = sko10xg13.drop(columns=['season', 'team'])

In [118]:
sko10 = sko10xg13.mean()

In [119]:
# sko10

## 14

In [120]:
sko14year = sko_year.loc[sko_year["season"].isin(year2014)]

In [121]:
sko14xg = sko14year.sort_values(by=["goals_z"], ascending=False)

In [122]:
sko14xg13 = sko14xg.head(13)

In [123]:
sko14xg13 = sko14xg13.drop(columns=['season', 'team'])

In [124]:
sko14 = sko14xg13.mean()

In [125]:
# sko14

## 2018

In [126]:
sko18year = sko_year.loc[sko_year["season"].isin(year2018)]

In [127]:
sko18xg = sko18year.sort_values(by=["goals_z"], ascending=False)

In [128]:
sko18xg13 = sko18xg.head(13)

In [129]:
sko18xg13 = sko18xg13.drop(columns=['season', 'team'])

In [130]:
sko18 = sko18xg13.mean()

In [131]:
# sko18

In [132]:
sko = pd.concat([sko86, sko90, sko94, sko98, sko02, 
                 sko06, sko10, sko14, sko18], axis=1).T

In [133]:
sko.rename(index={0: 'South_korea86', 1: 'South_korea90', 
                  2: 'South_korea94', 3: 'South_korea98', 
                  4: 'South_korea02', 5: 'South_korea06',
                 6: 'South_korea10', 7: 'South_korea14',
                 7: 'South_korea18'}, inplace=True)

In [134]:
df2 = sko.assign(results=[20, 22, 20, 30, 4, 17, 15, 27, 19])

In [135]:
# df2.to_csv('South_Korea.csv', index=False)

In [136]:
# 86 - 20      South Korea     A     3     0     1     2     4     7     −3     1
# 90 - 22     E      South Korea     3     0     0     3     1     6     −5     0
# 94 - 20      South Korea     C     3     0     2     1     4     5     −1     2
# 98 - 30      South Korea     E     3     0     1     2     2     9     −7     1
# 02 - 4     D      South Korea     7     3     2     2     8     6     +2     11     4th
# 06 - 17      South Korea     G     3     1     1     1     3     4     −1     4
# 10 - 15      South Korea     B     4     1     1     2     6     8     −2     4
# 14 - 27      South Korea     H     3     0     1     2     1     3     6     −3
# 18 - 19      South Korea     F     3     1     0     2     3     3     3     0

# Nigeria

## 94

In [137]:
nig = ['Nigeria']

In [138]:
nig_year = df.loc[df["team"].isin(nig)]

In [139]:
nig94year = nig_year.loc[nig_year["season"].isin(year1994)]

In [140]:
nig94xg = nig94year.sort_values(by=["goals_z"], ascending=False)

In [141]:
nig94xg13 = nig94xg.head(13)

In [142]:
nig94xg13 = nig94xg13.drop(columns=['season', 'team'])

In [143]:
nig94 = nig94xg13.mean()

In [144]:
# nig94

## 98

In [145]:
nig98year = nig_year.loc[nig_year["season"].isin(year1998)]

In [146]:
nig98xg = nig98year.sort_values(by=["goals_z"], ascending=False)

In [147]:
nig98xg13 = nig98xg.head(13)

In [148]:
nig98xg13 = nig98xg13.drop(columns=['season', 'team'])

In [149]:
nig98 = nig98xg13.mean()

In [150]:
# nig98

## 02

In [151]:
nig02year = nig_year.loc[nig_year["season"].isin(year2002)]

In [152]:
nig02xg = nig02year.sort_values(by=["goals_z"], ascending=False)

In [153]:
nig02xg13 = nig02xg.head(13)

In [154]:
nig02xg13 = nig02xg13.drop(columns=['season', 'team'])

In [155]:
nig02 = nig02xg13.mean()

In [156]:
# nig02

## 10

In [157]:
nig10year = nig_year.loc[nig_year["season"].isin(year2010)]

In [158]:
nig10xg = nig10year.sort_values(by=["goals_z"], ascending=False)

In [159]:
nig10xg13 = nig10xg.head(13)

In [160]:
nig10xg13 = nig10xg13.drop(columns=['season', 'team'])

In [161]:
nig10 = nig10xg13.mean()

In [162]:
# nig10

## 14

In [163]:
nig14year = nig_year.loc[nig_year["season"].isin(year2014)]

In [164]:
nig14xg = nig14year.sort_values(by=["goals_z"], ascending=False)

In [165]:
nig14xg13 = nig14xg.head(13)

In [166]:
nig14xg13 = nig14xg13.drop(columns=['season', 'team'])

In [167]:
nig14 = nig14xg13.mean()

In [168]:
# nig14

## 2018

In [169]:
nig18year = nig_year.loc[nig_year["season"].isin(year2018)]

In [170]:
nig18xg = nig18year.sort_values(by=["goals_z"], ascending=False)

In [171]:
nig18xg13 = nig18xg.head(13)

In [172]:
nig18xg13 = nig18xg13.drop(columns=['season', 'team'])

In [173]:
nig18 = nig18xg13.mean()

In [174]:
# nig18

In [175]:
nig = pd.concat([nig94, nig98, nig02, nig10, nig14, nig18], axis=1).T

In [176]:
nig.rename(index={0: 'Nigeria94', 1: 'Nigeria98', 2: 'Nigeria02', 
                  3: 'Nigeria10', 4: 'Nigeria14', 5: 'Nigeria18'}, inplace=True)

In [177]:
df2 = nig.assign(results=[9, 12, 27, 27, 16, 21])

In [178]:
# df2.to_csv('Nigeria.csv', index=False)

In [179]:
# 94 - 9      Nigeria     D     4     2     0     2     7     4     +3     6
# 98 - 12      Nigeria     D     4     2     0     2     6     9     −3     6
# 02 - 27     F      Nigeria     3     0     1     2     1     3     −2     1
# 10 - 27      Nigeria     B     3     0     1     2     3     5     −2     1
# 14 - 16      Nigeria     F     4     1     1     2     4     3     5     −2
# 18 - 21      Nigeria     D     3     1     0     2     3     3     4     −1

# Colombia

In [180]:
col = ['Colombia']

In [181]:
col_year = df.loc[df["team"].isin(col)]

## 90

In [182]:
col90year = col_year.loc[col_year["season"].isin(year1990)]

In [183]:
col90xg = col90year.sort_values(by=["goals_z"], ascending=False)

In [184]:
col90xg13 = col90xg.head(13)

In [185]:
col90xg13 = col90xg13.drop(columns=['season', 'team'])

In [186]:
col90 = col90xg13.mean()

In [187]:
# col90

## 94

In [188]:
col94year = col_year.loc[col_year["season"].isin(year1994)]

In [189]:
col94xg = col94year.sort_values(by=["goals_z"], ascending=False)

In [190]:
col94xg13 = col94xg.head(13)

In [191]:
col94xg13 = col94xg13.drop(columns=['season', 'team'])

In [192]:
col94 = col94xg13.mean()

In [193]:
# col94

## 98

In [194]:
col98year = col_year.loc[col_year["season"].isin(year1998)]

In [195]:
col98xg = col98year.sort_values(by=["goals_z"], ascending=False)

In [196]:
col98xg13 = col98xg.head(13)

In [197]:
col98xg13 = col98xg13.drop(columns=['season', 'team'])

In [198]:
col98 = col98xg13.mean()

In [199]:
# col98

## 14

In [200]:
col14year = col_year.loc[col_year["season"].isin(year2014)]

In [201]:
col14xg = col14year.sort_values(by=["goals_z"], ascending=False)

In [202]:
col14xg13 = col14xg.head(13)

In [203]:
col14xg13 = col14xg13.drop(columns=['season', 'team'])

In [204]:
col14 = col14xg13.mean()

In [205]:
# col14

## 18

In [206]:
col18year = col_year.loc[col_year["season"].isin(year2018)]

In [207]:
col18xg = col18year.sort_values(by=["goals_z"], ascending=False)

In [208]:
col18xg13 = col18xg.head(13)

In [209]:
col18xg13 = col18xg13.drop(columns=['season', 'team'])

In [210]:
col18 = col18xg13.mean()

In [211]:
# col18

In [212]:
col = pd.concat([col90, col94, col98, col14, col18], axis=1).T

In [213]:
col.rename(index={0: 'Colombia90', 1: 'Colombia94', 2: 'Colombia98',
                  3: 'Colombia14', 4: 'Colombia18'}, inplace=True)

In [214]:
df2 = col.assign(results=[14, 19, 21, 5, 9])

In [215]:
# df2.to_csv('Colombia.csv', index=False)

In [216]:
# 90 - 14     D      Colombia     4     1     1     2     4     4     0     3
# 94 - 19      Colombia     A     3     1     0     2     4     5     −1     3
# 98 - 21      Colombia     G     3     1     0     2     1     3     −2     3
# 14 - 5      Colombia     C     5     4     0     1     12     12     4     +8
# 18 - 9      Colombia     H     4     2     1     1     7     6     3     +3

# Paraguay

## 86

In [217]:
par = ['Paraguay']

In [218]:
par_year = df.loc[df["team"].isin(par)]

In [219]:
par86year = par_year.loc[par_year["season"].isin(year1986)]

In [220]:
par86xg = par86year.sort_values(by=["goals_z"], ascending=False)

In [221]:
par86xg13 = par86xg.head(13)

In [222]:
par86xg13 = par86xg13.drop(columns=['season', 'team'])

In [223]:
par86 = par86xg13.mean()

In [224]:
# par86

## 98

In [225]:
par98year = par_year.loc[par_year["season"].isin(year1998)]

In [226]:
par98xg = par98year.sort_values(by=["goals_z"], ascending=False)

In [227]:
par98xg13 = par98xg.head(13)

In [228]:
par98xg13 = par98xg13.drop(columns=['season', 'team'])

In [229]:
par98 = par98xg13.mean()

In [230]:
# par98

## 02

In [231]:
par02year = par_year.loc[par_year["season"].isin(year2002)]

In [232]:
par02xg = par02year.sort_values(by=["goals_z"], ascending=False)

In [233]:
par02xg13 = par02xg.head(13)

In [234]:
par02xg13 = par02xg13.drop(columns=['season', 'team'])

In [235]:
par02 = par02xg13.mean()

In [236]:
# par02

## 06

In [237]:
par06year = par_year.loc[par_year["season"].isin(year2006)]

In [238]:
par06xg = par06year.sort_values(by=["goals_z"], ascending=False)

In [239]:
par06xg13 = par06xg.head(13)

In [240]:
par06xg13 = par06xg13.drop(columns=['season', 'team'])

In [241]:
par06 = par06xg13.mean()

In [242]:
# par06

## 10

In [243]:
par10year = par_year.loc[par_year["season"].isin(year2010)]

In [244]:
par10xg = par10year.sort_values(by=["goals_z"], ascending=False)

In [245]:
par10xg13 = par10xg.head(13)

In [246]:
par10xg13 = par10xg13.drop(columns=['season', 'team'])

In [247]:
par10 = par10xg13.mean()

In [248]:
# par10

In [249]:
par = pd.concat([par86, par98, par02, par06, par10], axis=1).T

In [250]:
par.rename(index={0: 'Paraguay86', 1: 'Paraguay98', 2: 'Paraguay02',
                  3: 'Paraguay06', 4: 'Paraguay10'}, inplace=True)

In [251]:
df2 = par.assign(results=[13, 14, 16, 18, 8])

In [252]:
# df2.to_csv('Paraguay.csv', index=False)

In [253]:
# 86 - 13      Paraguay     B     4     1     2     1     4     6     −2     4
# 98 - 14      Paraguay     D     4     1     2     1     3     2     +1     5
# 02 - 16     B      Paraguay     4     1     1     2     6     7     −1     4
# 06 - 18      Paraguay     B     3     1     0     2     2     2     0     3
# 10 - 8      Paraguay     F     5     1     3     1     3     2     +1     6

# Sweden

## 90

In [254]:
swe = ['Sweden']

In [255]:
swe_year = df.loc[df["team"].isin(swe)]

In [256]:
swe90year = swe_year.loc[swe_year["season"].isin(year1990)]

In [257]:
swe90xg = swe90year.sort_values(by=["goals_z"], ascending=False)

In [258]:
swe90xg13 = swe90xg.head(13)

In [259]:
swe90xg13 = swe90xg13.drop(columns=['season', 'team'])

In [260]:
swe90 = swe90xg13.mean()

In [261]:
# swe90

## 94

In [262]:
swe94year = swe_year.loc[swe_year["season"].isin(year1994)]

In [263]:
swe94xg = swe94year.sort_values(by=["goals_z"], ascending=False)

In [264]:
swe94xg13 = swe94xg.head(13)

In [265]:
swe94xg13 = swe94xg13.drop(columns=['season', 'team'])

In [266]:
swe94 = swe94xg13.mean()

In [267]:
# swe94

## 02

In [268]:
swe02year = swe_year.loc[swe_year["season"].isin(year2002)]

In [269]:
swe02xg = swe02year.sort_values(by=["goals_z"], ascending=False)

In [270]:
swe02xg13 = swe02xg.head(13)

In [271]:
swe02xg13 = swe02xg13.drop(columns=['season', 'team'])

In [272]:
swe02 = swe02xg13.mean()

In [273]:
# swe02

## 06

In [274]:
swe06year = swe_year.loc[swe_year["season"].isin(year2006)]

In [275]:
swe06xg = swe06year.sort_values(by=["goals_z"], ascending=False)

In [276]:
swe06xg13 = swe06xg.head(13)

In [277]:
swe06xg13 = swe06xg13.drop(columns=['season', 'team'])

In [278]:
swe06 = swe06xg13.mean()

In [279]:
# swe06

## 18

In [280]:
swe18year = swe_year.loc[swe_year["season"].isin(year2018)]

In [281]:
swe18xg = swe18year.sort_values(by=["goals_z"], ascending=False)

In [282]:
swe18xg13 = swe18xg.head(13)

In [283]:
swe18xg13 = swe18xg13.drop(columns=['season', 'team'])

In [284]:
swe18 = swe18xg13.mean()

In [285]:
# swe18

In [286]:
swe = pd.concat([swe90, swe94, swe02, swe06, swe18], axis=1).T

In [287]:
swe.rename(index={0: 'Sweden90', 1: 'Sweden94', 2: 'Sweden02', 
                  3: 'Sweden06', 4: 'Sweden18'}, inplace=True)

In [288]:
df2 = swe.assign(results=[21, 3, 13, 14, 7])

In [289]:
# df2.to_csv('Sweden.csv', index=False)

In [290]:
# 90 - 21     C      Sweden     3     0     0     3     3     6     −3     0
# 94 - 3      Sweden     B     7     3     3     1     15     8     +7     12
# 02 - 13     F      Sweden     4     1     2     1     5     5     0     5
# 06 - 14      Sweden     B     4     1     2     1     3     4     −1     5
# 18 - 7      Sweden     F     5     3     0     2     9     6     4     +2

# Russia / USSR

In [291]:
rus = ['Russia']
## 90 and earlier
usr = ['USSR']

## 82

In [292]:
rus_year = df.loc[df["team"].isin(usr)]

In [293]:
rus82year = rus_year.loc[rus_year["season"].isin(year1982)]

In [294]:
rus82xg = rus82year.sort_values(by=["goals_z"], ascending=False)

In [295]:
rus82xg13 = rus82xg.head(13)

In [296]:
rus82xg13 = rus82xg13.drop(columns=['season', 'team'])

In [297]:
rus82 = rus82xg13.mean()

In [298]:
# rus82

## 86

In [299]:
rus86year = rus_year.loc[rus_year["season"].isin(year1986)]

In [300]:
rus86xg = rus86year.sort_values(by=["goals_z"], ascending=False)

In [301]:
rus86xg13 = rus86xg.head(13)

In [302]:
rus86xg13 = rus86xg13.drop(columns=['season', 'team'])

In [303]:
rus86 = rus86xg13.mean()

In [304]:
# rus86

## 90

In [305]:
rus90year = rus_year.loc[rus_year["season"].isin(year1990)]

In [306]:
rus90xg = rus90year.sort_values(by=["goals_z"], ascending=False)

In [307]:
rus90xg13 = rus90xg.head(13)

In [308]:
rus90xg13 = rus90xg13.drop(columns=['season', 'team'])

In [309]:
rus90 = rus90xg13.mean()

In [310]:
# rus90

## 94

In [311]:
rus_year = df.loc[df["team"].isin(rus)]

In [312]:
rus94year = rus_year.loc[rus_year["season"].isin(year1994)]

In [313]:
rus94xg = rus94year.sort_values(by=["goals_z"], ascending=False)

In [314]:
rus94xg13 = rus94xg.head(13)

In [315]:
rus94xg13 = rus94xg13.drop(columns=['season', 'team'])

In [316]:
rus94 = rus94xg13.mean()

In [317]:
# rus94

## 02

In [318]:
rus02year = rus_year.loc[rus_year["season"].isin(year2002)]

In [319]:
rus02xg = rus02year.sort_values(by=["goals_z"], ascending=False)

In [320]:
rus02xg13 = rus02xg.head(13)

In [321]:
rus02xg13 = rus02xg13.drop(columns=['season', 'team'])

In [322]:
rus02 = rus02xg13.mean()

In [323]:
# rus02

## 14

In [324]:
rus14year = rus_year.loc[rus_year["season"].isin(year2014)]

In [325]:
rus14xg = rus14year.sort_values(by=["goals_z"], ascending=False)

In [326]:
rus14xg13 = rus14xg.head(13)

In [327]:
rus14xg13 = rus14xg13.drop(columns=['season', 'team'])

In [328]:
rus14 = rus14xg13.mean()

In [329]:
# rus14

## 18

In [330]:
rus18year = rus_year.loc[rus_year["season"].isin(year2018)]

In [331]:
rus18xg = rus18year.sort_values(by=["goals_z"], ascending=False)

In [332]:
rus18xg13 = rus18xg.head(13)

In [333]:
rus18xg13 = rus18xg13.drop(columns=['season', 'team'])

In [334]:
rus18 = rus18xg13.mean()

In [335]:
# rus18

In [336]:
rus = pd.concat([rus82, rus86, rus90, rus94, rus02, rus14, rus18], axis=1).T

In [337]:
rus.rename(index={0: 'Russia82', 1: 'Russia86', 2: 'Russia90',
                  3: 'Russia94', 4: 'Russia02', 5: 'Russia14',
                 6: 'Russia18'}, inplace=True)

In [338]:
df2 = rus.assign(results=[7, 10, 17, 18, 22, 24, 8])

In [339]:
# df2.to_csv('Russia.csv', index=False)

In [340]:
# 82 - 7      Soviet Union     6/A     5     2     2     1     7     4     +3     6
# 86 - 10      Soviet Union     C     4     2     1     1     12     5     +7     5
# 90 - 17     B      Soviet Union     3     1     0     2     4     4     0     2 
# 94 - 18      Russia     B     3     1     0     2     7     6     +1     3
# 02 - 22     H      Russia     3     1     0     2     4     4     0     3
# 14 - 24      Russia     H     3     0     2     1     2     2     3     −1
# 18 - 8      Russia     A     5     2     2     1     8     11     7     +4

# Algeria

## 82

In [341]:
alg = ['Algeria']

In [342]:
alg_year = df.loc[df["team"].isin(alg)]

In [343]:
alg82year = alg_year.loc[alg_year["season"].isin(year1982)]

In [344]:
alg82xg = alg82year.sort_values(by=["goals_z"], ascending=False)

In [345]:
alg82xg13 = alg82xg.head(13)

In [346]:
alg82xg13 = alg82xg13.drop(columns=['season', 'team'])

In [347]:
alg82 = alg82xg13.mean()

In [348]:
# alg82

## 86

In [349]:
alg86year = alg_year.loc[alg_year["season"].isin(year1986)]

In [350]:
alg86xg = alg86year.sort_values(by=["goals_z"], ascending=False)

In [351]:
alg86xg13 = alg86xg.head(13)

In [352]:
alg86xg13 = alg86xg13.drop(columns=['season', 'team'])

In [353]:
alg86 = alg86xg13.mean()

In [354]:
# alg86

## 10

In [355]:
alg10year = alg_year.loc[alg_year["season"].isin(year2010)]

In [356]:
alg10xg = alg10year.sort_values(by=["goals_z"], ascending=False)

In [357]:
alg10xg13 = alg10xg.head(13)

In [358]:
alg10xg13 = alg10xg13.drop(columns=['season', 'team'])

In [359]:
alg10 = alg10xg13.mean()

In [360]:
# alg10

## 2014

In [361]:
alg14year = alg_year.loc[alg_year["season"].isin(year2014)]

In [362]:
alg14xg = alg14year.sort_values(by=["goals_z"], ascending=False)

In [363]:
alg14xg13 = alg14xg.head(13)

In [364]:
alg14xg13 = alg14xg13.drop(columns=['season', 'team'])

In [365]:
alg14 = alg14xg13.mean()

In [366]:
# alg14

In [367]:
alg = pd.concat([alg82, alg86, alg10, alg14], axis=1).T

In [368]:
alg.rename(index={0: 'Algeria82', 1: 'Algeria86', 2: 'Algeria10',
                  3: 'Algeria14'}, inplace=True)

In [369]:
df2 = alg.assign(results=[13, 22, 28, 14])

In [370]:
# df2.to_csv('Algeria.csv', index=False)

In [371]:
# 82 - 13      Algeria     2     3     2     0     1     5     5     0     4
# 86 - 22      Algeria     D     3     0     1     2     1     5     −4     1
# 10 - 28      Algeria     C     3     0     1     2     0     2     −2     1
# 14 - 14      Algeria     H     4     1     1     2     4     7     7     0

# Chile

In [377]:
## 82

In [379]:
chi = ['Chile']

In [380]:
chi_year = df.loc[df["team"].isin(chi)]

In [381]:
chi82year = chi_year.loc[chi_year["season"].isin(year1982)]

In [382]:
chi82xg = chi82year.sort_values(by=["goals_z"], ascending=False)

In [383]:
chi82xg13 = chi82xg.head(13)

In [384]:
chi82xg13 = chi82xg13.drop(columns=['season', 'team'])

In [385]:
chi82 = chi82xg13.mean()

In [387]:
# chi82

## 98

In [388]:
chi98year = chi_year.loc[chi_year["season"].isin(year1998)]

In [389]:
chi98xg = chi98year.sort_values(by=["goals_z"], ascending=False)

In [390]:
chi98xg13 = chi98xg.head(13)

In [391]:
chi98xg13 = chi98xg13.drop(columns=['season', 'team'])

In [392]:
chi98 = chi98xg13.mean()

In [394]:
# chi98

## 10

In [395]:
chi10year = chi_year.loc[chi_year["season"].isin(year2010)]

In [396]:
chi10xg = chi10year.sort_values(by=["goals_z"], ascending=False)

In [397]:
chi10xg13 = chi10xg.head(13)

In [398]:
chi10xg13 = chi10xg13.drop(columns=['season', 'team'])

In [399]:
chi10 = chi10xg13.mean()

In [401]:
# chi10

## 14

In [402]:
chi14year = chi_year.loc[chi_year["season"].isin(year2014)]

In [403]:
chi14xg = chi14year.sort_values(by=["goals_z"], ascending=False)

In [404]:
chi14xg13 = chi14xg.head(13)

In [405]:
chi14xg13 = chi14xg13.drop(columns=['season', 'team'])

In [406]:
chi14 = chi14xg13.mean()

In [408]:
# chi14

In [409]:
chi = pd.concat([chi82, chi98, chi10, chi14], axis=1).T

In [410]:
chi.rename(index={0: 'Chile82', 1: 'Chile98', 2: 'Chile10', 
                  3: 'Chile14'}, inplace=True)

In [411]:
df2 = chi.assign(results=[22, 16, 10, 9])

In [412]:
# df2.to_csv('Chile.csv', index=False)

In [ ]:
# 82 - 22      Chile     2     3     0     0     3     3     8     −5     0
# 98 - 16      Chile     B     4     0     3     1     5     8     −3     3
# 10 - 10      Chile     H     4     2     0     2     3     5     −2     6
# 14 - 9      Chile     B     4     2     1     1     7     6     4     +2

# Yugoslavia

## 82

In [413]:
yug = ['Yugoslavia']

In [414]:
yug_year = df.loc[df["team"].isin(yug)]

In [415]:
yug82year = yug_year.loc[yug_year["season"].isin(year1982)]

In [416]:
yug82xg = yug82year.sort_values(by=["goals_z"], ascending=False)

In [417]:
yug82xg13 = yug82xg.head(13)

In [418]:
yug82xg13 = yug82xg13.drop(columns=['season', 'team'])

In [419]:
yug82 = yug82xg13.mean()

In [421]:
# yug82

## 90

In [422]:
yug90year = yug_year.loc[yug_year["season"].isin(year1990)]

In [423]:
yug90xg = yug90year.sort_values(by=["goals_z"], ascending=False)

In [424]:
yug90xg13 = yug90xg.head(13)

In [425]:
yug90xg13 = yug90xg13.drop(columns=['season', 'team'])

In [426]:
yug90 = yug90xg13.mean()

In [428]:
# yug90

## 98

In [429]:
yug98year = yug_year.loc[yug_year["season"].isin(year1998)]

In [430]:
yug98xg = yug98year.sort_values(by=["goals_z"], ascending=False)

In [431]:
yug98xg13 = yug98xg.head(13)

In [432]:
yug98xg13 = yug98xg13.drop(columns=['season', 'team'])

In [433]:
yug98 = yug98xg13.mean()

In [435]:
# yug98

In [436]:
yug = pd.concat([yug82, yug90, yug98], axis=1).T

In [437]:
yug.rename(index={0: 'Yugoslavia82', 1: 'Yugoslavia90', 
                  2: 'Yugoslavia98'}, inplace=True)

In [438]:
df2 = yug.assign(results=[16, 5, 10])

In [439]:
# df2.to_csv('Yugoslavia.csv', index=False)

In [ ]:
# 82 - 16      Yugoslavia     5     3     1     1     1     2     2     0     3
# 90 - 5     D      Yugoslavia     5     3     1     1     8     6     +2     7 
# 98 - 10      FR Yugoslavia     F     4     2     1     1     5     4     +1     7

# Scotland

## 82

In [442]:
sco = ['Scotland']

In [443]:
sco_year = df.loc[df["team"].isin(sco)]

In [444]:
sco82year = sco_year.loc[sco_year["season"].isin(year1982)]

In [445]:
sco82xg = sco82year.sort_values(by=["goals_z"], ascending=False)

In [446]:
sco82xg13 = sco82xg.head(13)

In [447]:
sco82xg13 = sco82xg13.drop(columns=['season', 'team'])

In [448]:
sco82 = sco82xg13.mean()

In [450]:
# sco82

## 86

In [451]:
sco86year = sco_year.loc[sco_year["season"].isin(year1986)]

In [452]:
sco86xg = sco86year.sort_values(by=["goals_z"], ascending=False)

In [453]:
sco86xg13 = sco86xg.head(13)

In [454]:
sco86xg13 = sco86xg13.drop(columns=['season', 'team'])

In [455]:
sco86 = sco86xg13.mean()

In [457]:
# sco86

## 90

In [458]:
sco90year = sco_year.loc[sco_year["season"].isin(year1990)]

In [459]:
sco90xg = sco90year.sort_values(by=["goals_z"], ascending=False)

In [460]:
sco90xg13 = sco90xg.head(13)

In [461]:
sco90xg13 = sco90xg13.drop(columns=['season', 'team'])

In [462]:
sco90 = sco90xg13.mean()

In [464]:
# sco90

## 98

In [465]:
sco98year = sco_year.loc[sco_year["season"].isin(year1998)]

In [466]:
sco98xg = sco98year.sort_values(by=["goals_z"], ascending=False)

In [467]:
sco98xg13 = sco98xg.head(13)

In [468]:
sco98xg13 = sco98xg13.drop(columns=['season', 'team'])

In [469]:
sco98 = sco98xg13.mean()

In [471]:
# sco98

In [472]:
sco = pd.concat([sco82, sco86, sco90, sco98], axis=1).T

In [473]:
sco.rename(index={0: 'Scotland82', 1: 'Scotland86', 2: 'Scotland90',
                  3: 'Scotland98'}, inplace=True)

In [474]:
df2 = sco.assign(results=[15, 19, 18, 27])

In [475]:
# df2.to_csv('Scotland.csv', index=False)

In [ ]:
# 82 - 15      Scotland     6     3     1     1     1     8     8     0     3
# 86 - 19      Scotland     E     3     0     1     2     1     3     −2     1
# 90 - 18     C      Scotland     3     1     0     2     2     3     −1     2
# 98 - 27      Scotland     A     3     0     1     2     2     6     −4     1

In [440]:
listz = ['Greece','Honduras','Austria','Bulgaria',
'Ivory Coast', 'Romania','South Africa',
'Rep of Ireland','Czechoslovakia','Hungary','Egypt','Slovenia','Norway',                     
'Northern Ireland','Peru','New Zealand','Bosnia and Herzegovina',     
'Panama','Slovakia','Iraq','China PR','Jamaica','Turkey',                     
'Ukraine','Bolivia','Trinidad and Tobago','Togo','Czech Republic',             
'Angola','United Arab Emirates','Iceland','El Salvador','Kuwait','North Korea']

In [441]:
len(listz)

35