In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor

In [12]:
# df = pd.read_csv('encoded_cfb.csv')
df = pd.read_csv('cfb_with_teams.csv')

In [13]:
df

,Wk,Pts,Pts.1,home_results,loser_rank,winner_rank,winner,loser,date_time,win_new,lose_new
0,1,43.0,13.0,0,99,99,Florida Atlantic,Charlotte,2022-08-27 19:00:00,61,62
1,1,47.0,7.0,0,99,99,Florida State,Duquesne,2022-08-27 17:00:00,63,71
2,1,38.0,6.0,0,99,99,Illinois,Wyoming,2022-08-27 16:00:00,72,222
3,1,23.0,12.0,1,99,99,Nevada,New Mexico State,2022-08-27 10:00:00,103,141
4,1,52.0,21.0,0,99,99,Nevada-Las Vegas,Idaho State,2022-08-27 15:30:00,104,96
...,...,...,...,...,...,...,...,...,...,...,...
480,8,45.0,31.0,1,99,99,Tulane,South Florida,2022-10-15 17:30:00,147,177
481,8,43.0,42.0,0,7,20,Utah,Southern California,2022-10-15 15:30:00,25,181
482,8,17.0,13.0,1,99,99,Utah State,Colorado State,2022-10-15 19:30:00,150,68
483,8,49.0,39.0,0,99,99,Washington,Arizona,2022-10-15 19:30:00,154,36
484,8,35.0,17.0,1,99,99,Western Kentucky,Middle Tennessee State,2022-10-15 19:30:00,158,127

In [14]:
df = df.drop(columns=['date_time', 'winner', 'loser', 'win_new', 'lose_new'])

In [15]:
df

     Wk   Pts  Pts.1  home_results  loser_rank  winner_rank
0     1  43.0   13.0             0          99           99
1     1  47.0    7.0             0          99           99
2     1  38.0    6.0             0          99           99
3     1  23.0   12.0             1          99           99
4     1  52.0   21.0             0          99           99
..   ..   ...    ...           ...         ...          ...
480   8  45.0   31.0             1          99           99
481   8  43.0   42.0             0           7           20
482   8  17.0   13.0             1          99           99
483   8  49.0   39.0             0          99           99
484   8  35.0   17.0             1          99           99

[485 rows x 6 columns]

In [17]:
# lsus = [[9, 0, 7, 99]]
# lsu = pd.DataFrame(lsus, columns=['Wk', 'home_results', 'loser_rank', 'winner_rank'])
# lsu

um = [[9, 45, 0, 6, 99]]
ole_miss = pd.DataFrame(um, columns=['Wk', 'Pts', 'home_results', 'loser_rank', 'winner_rank'])
ole_miss

   Wk  Pts  home_results  loser_rank  winner_rank
0   9   45             0           6           99

In [18]:
y = df['Pts.1']
X = df.drop(columns=['Pts.1'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.01, random_state=2)

In [19]:
regr_1 = DecisionTreeRegressor(max_depth=4)

regr_2 = AdaBoostRegressor(
    DecisionTreeRegressor(max_depth=5), n_estimators=299, random_state=42
)

In [20]:
regr_1.fit(X_train, y_train)
regr_2.fit(X_train, y_train)

y_1 = regr_1.predict(X_train)
y_2 = regr_2.predict(X_train)

In [21]:
y_pred = regr_2.predict(ole_miss)

In [22]:
y_pred

array([38.])

# PREDICTION (LSU WIN)
## LSU 45 Ole Miss 38

-----

# Results
## LSU 45 Ole Miss 20

In [55]:
y_preds = []
for i in y_pred:
    y_preds.append(round(i))

In [56]:
y_pred = []
for i in y_preds:
    y_pred.append(round(i))

In [57]:
print('r2 score: '+str(r2_score(y_test, y_pred)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, y_pred))))
print('MSE: '+str(mean_squared_error(y_test, y_pred)))
print('MAE: '+str(mean_absolute_error(y_test, y_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, y_pred)))

ValueError: Found input variables with inconsistent numbers of samples: [5, 1]

In [58]:
data = {'y_test': y_test, 'y_pred': y_preds}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - (new_df['y_pred'])).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)
new_df

ValueError: array length 1 does not match index length 5

In [18]:
new_df['diff'].mean()

9.979591836734693

In [19]:
new_df['diff'].median()

9.0

In [16]:
new_df.shape

(49, 3)